<div class="checkbox-container">
  <div class="checkbox-content">
    <input type="checkbox" id="checkbox-alert{{ row }}1{{ counter }}{{ outer_counter }}" />
    <label for="checkbox-alert{{ row }}1{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
  </div>
  <div class="checkbox-content">
    <input type="checkbox" id="checkbox-alert{{ row }}2{{ counter }}{{ outer_counter }}" />
    <label for="checkbox-alert{{ row }}2{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
  </div>
  <div class="checkbox-content">
    <input type="checkbox" id="checkbox-alert{{ row }}3{{ counter }}{{ outer_counter }}" />
    <label for="checkbox-alert{{ row }}3{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
  </div>
</div> 
