<div class="data-prestamo content bg-secondary pdt-5">
    <div class="container">
        <ul class="separator">
            <li class="col-xs-3">
                <div class="title-information">
                    <h5>T.A.E.</h5>
                </div>
                <strong>
                    <span class="number-medium">6,5</span>
                    <span class="symbol-small">%</span>
                </strong>
            </li>
            <li class="col-xs-3">
                <div class="title-information">
                    <h5>Tipo de interés anual</h5>
                </div>
                <strong>
                    <span class="number-medium">9,17</span>
                    <span class="symbol-small">%</span>
                </strong>
            </li>
            <li class="col-xs-3">
                <div class="title-information">
                    <h5>Gastos <br />de formalización</h5>
                </div>
                <strong>
                    <span class="number-medium">20</span>
                    <span class="symbol-small">€</span>
                </strong>
            </li>
            <li class="col-xs-3">
                <div class="title-information">
                    <h5>Comisión de <br />cancelación anticipada</h5>
                </div>
                <strong>
                    <span class="number-medium">1,8</span>
                    <span class="symbol-small">%</span>
                </strong>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>