<div class="module submodule slideup">
    <div class="flip-container">
        <div class="flipper">
            <div class="module-content alerts-module-subcontent slidedown active">
                <div class="module-inner-content">
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Vivienda: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_house{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_house{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container padded-left">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Colegios y Enseñanza: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_school{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_school{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Tarjeta: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_card{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_card{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Seguros: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_assurance{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_assurance{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Cuotas y Préstamos: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_cuote{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_cuote{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Impuestos: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_tax{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_tax{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                    <div class="custom-alert-row">
                        <div class="text">
                            <span>Ocio y Deporte: avisarme si supera</span>
                        </div>
                        <div class="input-container">
                          <input id="over_sport{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                          <label class="label-money" for="over_sport{{ counter }}{{ outer_counter }}">350</label>
                        </div>
                        <div class="coin">
                          <span>€</span>
                        </div>
                        <div class="icon-container">
                          <i class="icon-edit edit-subalert"></i>
                          <i class="icon-check check-subalert" style="display:none;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
