<div id="divCookie" class="cookielegal" style="display: none;">
  <div class="negrita">Uso de cookies</div>
  <div>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continúa navegando, consideramos que acepta su uso. Puede obtener
    más información, o bien conocer cómo cambiar la configuración, en nuestra <a href="javascript:abreVentana();" style="text-decoration:underline;color:#000000;" title="Política de cookies. Abre ventana nueva">Política de cookies.</a><img alt="Abre ventana nueva"
    src="./COINC_files/linkext.v1.cache.gif" style="margin-left:0.4em;margin-right:1em;vertical-align: middle !important;"></div>
</div>
<div id="dashboard" class="container_general">
  <div class="header">
    <div class="container">
      <a href="./COINC_files/COINC.html" title="COINC. Ir a inicio">
        <img src="./legacy/img/logo_coinc_dashboard.png" class="logotipo_dashboard" width="116px" height="35px" alt="Logotipo COINC"></a>
      <div class="caja_usuario">
        <div class="marco_circular">
          <form novalidate="novalidate" id="j_idt23" name="j_idt23" method="post" action="./COINC_files/COINC.html" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="j_idt23" value="j_idt23">
            <img id="j_idt23:userImage" src="./COINC_files/dynamiccontent.xhtml" alt="Imagen de Pefil" width="59" height="59">
            <input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="-5347504213351762267:5107647643857774679" autocomplete="off">
          </form>
        </div>
        <div class="datos_usuario">
          <p>CORCOLES155</p>
          <button type="button" id="enter_toggle" class="botondashboard p head">Administrar</button>
          <input type="button" class="botondashboard p head margin10_l" onclick="location.href=&#39;/coinc/services/auth/logout?logout_back=/coinc&#39;;" value="Cerrar">
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width:100%; height:30px;" class="left"></div>
<form novalidate="novalidate" id="j_idt27" name="j_idt27" method="post" action="./COINC_files/COINC.html" class="formulario_admin" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="j_idt27" value="j_idt27">
  <div class="contenedor_caja_administracion">
    <div class="caja_administracion" id="caja_registro" style="display: none;">

      <div class="fila_enlace_caja_administracion tipo_14 black" style="width:100%;">
        <div class="cabecera_caja_administracion">ADMINISTRAR</div>
        <a id="cerrar_toggle1" href="javascript:#.html" style="float:right; text-decoration:none;">
          <img src="./legacy/img/ico_boxadministrar_cerrar.png">
        </a>
      </div>
      <div class="separacion_filas_caja_administracion"></div>
      <a id="j_idt27:cerrar_toggle2" href="https://localhost:8181/coinc-web/menu-inicio#" onclick="jsf.util.chain(this,event,&#39;cerrar_caja_admin();&#39;,&#39;mojarra.jsfcljs(document.getElementById(\&#39;j_idt27\&#39;),{\&#39;j_idt27:cerrar_toggle2\&#39;:\&#39;j_idt27:cerrar_toggle2\&#39;},\&#39;\&#39;)&#39;);return false">
        <div class="fila_entera_caja_administracion">
          <div class="separacion_filas_caja_administracion_arriba"></div>
          <div class="fila_enlace_caja_administracion">
            <div style="float:left"><img src="./legacy/img/ico_boxadministrar_persona.png"></div>
            <div style="float:left; font-size:1.7em; margin-left:20px; color: #000;">Mi perfil</div>
          </div>
          <div class="separacion_filas_caja_administracion"></div>
        </div>
      </a>
      <a id="j_idt27:cerrar_toggle3" href="https://localhost:8181/coinc-web/menu-inicio#" onclick="jsf.util.chain(this,event,&#39;cerrar_caja_admin();&#39;,&#39;mojarra.jsfcljs(document.getElementById(\&#39;j_idt27\&#39;),{\&#39;j_idt27:cerrar_toggle3\&#39;:\&#39;j_idt27:cerrar_toggle3\&#39;},\&#39;\&#39;)&#39;);return false">
        <div class="fila_entera_caja_administracion">
          <div class="separacion_filas_caja_administracion_arriba"></div>
          <div class="fila_enlace_caja_administracion">
            <div style="float:left"><img src="./legacy/img/ico_boxadministrar_coinc.png"></div>
            <div style="float:left; font-size:1.7em; margin-left:20px; color: #000;">Mi cuenta COINC</div>
          </div>
          <div class="separacion_filas_caja_administracion"></div>
        </div>
      </a>
      <a id="j_idt27:cerrar_toggle4" href="https://localhost:8181/coinc-web/menu-inicio#" onclick="jsf.util.chain(this,event,&#39;cerrar_caja_admin();&#39;,&#39;mojarra.jsfcljs(document.getElementById(\&#39;j_idt27\&#39;),{\&#39;j_idt27:cerrar_toggle4\&#39;:\&#39;j_idt27:cerrar_toggle4\&#39;},\&#39;\&#39;)&#39;);return false">
        <div class="fila_entera_caja_administracion">
          <div class="separacion_filas_caja_administracion_arriba"></div>
          <div class="fila_enlace_caja_administracion">
            <div style="float:left"><img src="./legacy/img/ico_boxadministrar_flechas.png"></div>
            <div style="float:left; font-size:1.7em; margin-left:20px; color: #000;">Movimientos de cuenta</div>
          </div>
          <div class="separacion_filas_caja_administracion"></div>
        </div>
      </a>
      <a id="j_idt27:cerrar_toggle5" href="https://localhost:8181/coinc-web/menu-inicio#" onclick="jsf.util.chain(this,event,&#39;cerrar_caja_admin();&#39;,&#39;mojarra.jsfcljs(document.getElementById(\&#39;j_idt27\&#39;),{\&#39;j_idt27:cerrar_toggle5\&#39;:\&#39;j_idt27:cerrar_toggle5\&#39;},\&#39;\&#39;)&#39;);return false">
        <div class="fila_entera_caja_administracion">
          <div class="separacion_filas_caja_administracion_arriba"></div>
          <div class="fila_enlace_caja_administracion">
            <div style="float:left"><img src="./legacy/img/ico_boxadministrar_ahorro.png"></div>
            <div style="float:left; font-size:1.7em; margin-left:20px; color: #000;">Ahorrar con mis hijos</div>
          </div>
          <div class="separacion_filas_caja_administracion"></div>
        </div>
      </a>
      <a href="https://localhost:8181/coinc-web/contratos-notificaciones" id="cerrar_toggle5">
        <div class="fila_entera_caja_administracion">
          <div class="separacion_filas_caja_administracion_arriba"></div>
          <div class="fila_enlace_caja_administracion">
            <div style="float:left"><img src="./legacy/img/ico_boxadministrar_contrato.png"></div>
            <div style="float:left; font-size:1.7em; margin-left:20px; color: #000;">Contratos y notificaciones</div>
          </div>
          <div class="separacion_filas_caja_administracion"></div>
        </div>
      </a>
    </div>
    <script type="text/javascript">
      gaCall();
    </script>
  </div>
  <input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="-5347504213351762267:5107647643857774679" autocomplete="off">
</form>

<div class="centralNewDash2" style="width:100% !important;overflow:inherit;">
  <div id="dashboard" class="container_general">
    <input type="hidden" name="j_idt53" value="64.114.340,33">
    <div class="zonaSaldos">
      <div class="imgFondo">
        <div class="opacidad">
          <div class="container">
            <div class="caja_saldo" style="text-align: center; padding: 100px 0 10px 0;">
              <div class="misaldo" style="width: 900px;">MI SALDO ES
              </div>
              <div class="precio" style="padding: 10px 0 10px 0;">
                <span class="precio_enteroDecimales"><span style="font-size: 60px;">64.114.340</span><span style="font-size: 25px;">,33</span>
                </span>
                <span class="euro">€
                    </span>
              </div>
            </div>
            <div class="botones" style="text-align: center; float:none;">
              <input name="ahorrar-ahora" type="button" class="botondashboard g verde js-boton-mostrar" value="Ahorrar ahora">
              <input name="amazon" type="button" class="botondashboard g verde js-boton-mostrar margin10_l" value="Cheque regalo">
            </div>
            <div class="vermovimiento" style="text-align: center; width: 99%;">
              <span class="ico_vermov">
                <form novalidate="novalidate" id="j_idt101" name="j_idt101" method="post" action="./COINC_files/COINC.html" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="j_idt101" value="j_idt101">
                  <a id="j_idt101:dashboard_vermovimientocuenta" href="https://localhost:8181/coinc-web/menu-inicio#" onclick="mojarra.jsfcljs(document.getElementById(&#39;j_idt101&#39;),{&#39;j_idt101:dashboard_vermovimientocuenta&#39;:&#39;j_idt101:dashboard_vermovimientocuenta&#39;},&#39;&#39;);return false">Ver movimientos</a><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="-5347504213351762267:5107647643857774679" autocomplete="off">
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="temporal" style="visibility:hidden"></div>
  <div id="temporal2" style="visibility:hidden"></div>
  <script type="text/javascript">
    var lastHover = null;
    $("body").mousemove(function(event) {
      if (lastHover != null) {
        lastHoverBlack.hide();
        lastHover = null;
        lastHoverBlack = null;
      }
    });
    $("body").click(function(event) {
      if (lastHover != null) {
        lastHoverBlack.hide();
        lastHover = null;
        lastHoverBlack = null;
      }
    });
  </script>
  <script type="text/javascript">
    gaCall();
  </script>
</div>
