@charset "UTF-8";
/* CSS Document */

ul li.cobertura-no-incluida,
ul li.cobertura-incluida {
	padding-left:40px;
	margin-bottom:0px!important;
	padding-bottom:5px!important;
}
.cobertura-incluida {
	background:url(/img/site_sanitas_movil/sprite.svg) -520px -80px no-repeat;
}

.cobertura-no-incluida {
	background:url(/img/site_sanitas_movil/sprite.svg) -520px -40px no-repeat;
}

 ul.coberturasIncluidas li a{
	 display:block;
	 float:left;
	 width:15px;
	 height:15px;
	 
	 }	
	
 ul.coberturasIncluidas li:first-child a{
	 background:url(/img/site_sanitas_movil/sprite.svg) -495px -68px no-repeat;
	 }	
 ul.coberturasIncluidas li:last-child  a{
	 background:url(/img/site_sanitas_movil/sprite.svg) -495px -50px no-repeat;
	 }

	
table	{
	
	}
th,
td{
	padding:10px;
	font-family: 'GothamLightRegular';
	font-weight:normal;
	text-align:center;
	}	
thead	{
	background:#5299cf;
	color:#fff;
	
	}
tbody{
	
	}
tfoot{
	color:#5299cf;
	
	}