footer {
    position: absolute;
    background: $black-900;
    bottom: 0;
    width: 100%;
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    p {
        float: left;
        margin: 14px 0;
        color: $white;
        @if($versionPhone) {
            font-size: 9px;
        }
    }
    .copyright {
        &:after {
            content: "\007c";
            padding-left: 6px;
            padding-right: 4px;
        }
    }
    a {
        &, &:hover, &:focus {
            color: $white;
            font-weight: $fontWeightLight;
            @if($versionDesktop) {
                font-size: 14px;
            }
            @if($versionPhone) {
                font-size: 9px;
            }
        }
    }
    p, a {
        font-family: $fontHelvetica;
        letter-spacing: 0;
        word-spacing: 0;
    }
    img {
        float: right;
        @if($versionDesktop) {
            height: 30px;
            margin: 9px 0;
        }
        @if($versionPhone) {
            height: 20px;
            margin: 9px 0;
        }
    }
}