.verisign {
    text-align: right;
    img {
        height: 48px;
        @if($versionPhone) {
            height: 35px;
        }
    }
}

.verisign__cmiddle {
    @if($versionDesktop) {
        @media(min-width: $screen-desktop) {
            margin-top: -30px;
        }
        @media(max-width: $screen-sm-max) {
            text-align: center;
            margin-top: 65px;
        }
    }
    @if($versionPhone) {
        text-align: center;
        margin-top: 45px;
    }
}

.verisign__csmall {
    @if($versionPhone) {
        text-align: center;
        margin-top: 65px;
    }
}