.dashboard {
  $gutter: 20px;
  @include make-row($gutter);
  &__item {
    &_col_1 {
      @include make-xs-column(4, $gutter);
    }
    &_col_2 {
      @include make-xs-column(8, $gutter);
    }
    &_card_coinc {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

}

.container_custom-dashboard {
  .caja_head {
    float: float;
    width: 100%;
    padding: 22px 0 13px 0;
    border-bottom: 1px solid #dedede;
    margin-bottom: 39px;
    h2 {
      width: 45%;
      float: left;
      font-size: 25px;
      margin: 0;
      margin-top: 5px;
    }
  }
}
