.modal-expenses {
  & .modal-body {
    padding: 0 30px;
  }
  &_width{
    width: 75%;
    margin: 0 auto;
    border-radius: 18px;
  }
  &__header {
    border-bottom: 0;
    padding: 3px;
    & button {
      font-size: 28px;
      &:focus {
        outline: none;
      }
    }
  }
  &__title {
    text-align: center;
    & h4 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 5px;
    }
    & p {
      font-size: 14px;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
.model-expenses__table {
  & .table {
    & th {
      color: #70a41c;
      border-top: 0;
      text-align: right;
      font-size: 12px;
      font-weight: 600;
    }
    & tr {
      text-align: right;
      font-size: 16px;
      font-weight: 600;
      & td {
        padding: 15px 0;
      }
      & td:first-child {
        text-align: left;
        font-size: 12px;
        font-weight: 100;
      }
      & td:last-child {
        text-align: right;
        width: 40%;
      }
      &:last-child {
        color: #70a41c;
        font-size: 24px;
        & td:first-child {
          font-size: 12px;
          font-weight: 100;
          color: #000;
        }
      }
    }
  }
}

.modal-terms {
  & .modal-body {
    padding: 0 30px;
  }
  &_width{
    width: 75%;
    margin: 0 auto;
    border-radius: 18px;
  }
  &__header {
    border-bottom: 0;
    padding: 3px;
    & button {
      font-size: 28px;
      &:focus {
        outline: none;
      }
    }
  }
  &__title {
    text-align: center;
    & h4 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 5px;
    }
    & p {
      font-size: 14px;
      text-decoration: none;
      font-weight: 600;
    }
  }
  &__lista {
    & li {
      float: none;
      padding: 10px 0;
      border-bottom: 1px solid $colorGray-325;
      & span {
        float: right;
        font-size: 15px;
        font-weight: 600;
      }
      & p {
        text-decoration: none;
        cursor:default;
        width: 100%;
        font-size: 12px;
      }
    }
    &_right {
      text-align: right;
      padding-top: 2px;
    }
  }
  &__footer {
    font-size: 11px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.modal-authorize {
  text-align: center;
  line-height: 1.5;
  color: #383838;
  .modal-content {
    width: 500px;
    margin: auto;
  }
  &__title {
    font-size: 24px;
    font-weight: $font-bold;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: $font-bold;
    padding: 0 60px;
  }
  &__description {
    font-size: 16px;
    padding: 0 40px;
    span {
      font-weight: $font-bold;
    }
  }
  &__buttons {
    .btn {
      min-width: 180px;
    }
  }
}

.modal-alert {
  text-align: center;
  line-height: 1.5;
  color: #383838;
  .modal-content {
    width: 450px;
    margin: auto;
    top: 180px;
    border-radius: 16px;
  }
  .modal-body {
    padding-top: 0;
  }
  &__title {
    font-size: 24px;
    font-weight: $font-bold;
  }
  &__description {
    font-size: 16px;
    padding: 0 30px;
  }
}
