.my-dashboard-section {
  &__header {
    margin-bottom: 35px;
    h2 {
      font-size: 29px;
      font-weight: 600;
      span {
        color: $colorGreen-500;
      }
    }
    p {
      font-size: 26px;
    }
  }
  &__body {
    position: relative;
    background-color: $colorWhite;
    .body {
      &__icon {
        position: absolute;
        top: 0;
        left: 0;
      }
      &__title {
        text-align: center;
        padding-top: 20px;
        h2 {
          font-size: 16px;
          span {
            color: $colorBlueGray-300;
            font-size: 16px;
            padding-right: 10px;
            padding-left: 12px;
          }
          img {
            padding-left: 20px;
            margin-top: -8px;
            cursor: pointer;
          }
        }
        span {
          color: $colorGreen-500;
          font-size: 43px;
          font-weight: 600;
        }
      }
      &__details {
        margin: 0 auto;
        width: 65%;
        height: 105px;
        margin-right: 100px;
        padding-top: 20px;
      }
    }
    .detail-text {
      color: $colorBlueGray-300;
      font-size: 16px;
      margin-bottom: 0;
      padding-left: 50px;
    }
    .detail-item {
      float: left;
      width: 25%;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      p {
        font-size: 26px;
        color: $colorGreen-500;
        font-weight: 600;
        margin-bottom: 0;
        span {
          font-size: 18px;
        }
      }
      span {
        font-size: 12px;
      }
    }
  }
  &__footer {
    background-color: $colorGray-50;
    border-top: 1px solid $colorGray-300;
    border-bottom: 1px solid $colorGray-300;
    height: 60px;
    position: relative;
    p {
      font-size: 14px;
      margin-left: 32px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .footer {
      &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &__date {
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;
        background-color: $colorGray-300;
        width: 140px;
        p {
          color: $colorBlueGray-300;
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          margin-left: 0;
        }
      }
    }
  }
}
