/*** HACKS PARA IE ***/
/* Si tienes la necesidad de aplicar alg�n hack para IE6 utiliza este selector: */
* html {

}

/* Si necesitas aplicarlo a IE7 utiliza este:*/
*:first-child+html {

}

/* hack para ie8 -  */
.className {
	color /*\**/: blue\9 */
}

/*** NEUTRALIZANDO ESTILOS:
elementos que queremos limpiar completamente: ***/
* {
	margin: 0;
	padding: 0;
	border: none;

}

/*----------------- 1EM=10px RST -----------------**/
body,html {
	font-size: 62.5%;
}

body {
	font-style: normal;
	font-size: 101%;
	background: url(../../images/global/back_content.png) repeat top left;
}

html>body {
	font-size: 100%;
}

*:first-child+html body {
	font-size: 101%;
}

/* ------------------------------------------------*/
body {
	text-align: left;
}

html {
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;

}

a:active, a:selected, a:visited {

    outline: none!important;
}

a:active, a:focus {
   outline:  none!important;
   ie-dummy: expression(this.hideFocus=true);
}


input:focus {outline:  none!important;}
input:active {outline:  none!important;}
input:hover {outline:  none!important;}

spam {
	font-family: Arial, Tahoma, Helvetica, Verdana, sans-serif;
}

/*** NEUTRALIZANDO ESTILOS:
elementos con margen vertical: ***/
h1,h2,h3,h4,h5,h6,p,pre,blockquote,ol,dl,address {
	font-weight: normal;
	margin: 0 0 0 0;
}

/*** Algunos ajustes basicos: ***/
sup {
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}

sub {
	position: relative;
	bottom: -0.2em;
	vertical-align: baseline;
}

li,dd,blockquote {
	margin-left: 0em;
	list-style: none;
	float: left;
}

/*** LINKS:
recuerda utilizar siempre la regla del LoVe-HAte ***/
/*
Si quisieramos eliminar la l�nea de puntos que aparece al pulsar un enlace, aplicar�amos la siguiente propiedad:
outline: 0;
Sin embargo no se recomienda, por temas de accesibilidad para navegaci�n con teclado (lo cual implica temas legales, un tema peliagudo).
*/
a,a:link,a:visited,a:hover,a:active { /*text-decoration: underline;*/

}

a:hover { /*text-decoration: underline;*/

}

a img {
	border: none;
	text-decoration: none;
}

img {
	border: none;
	text-decoration: none;
}

/*** FORMULARIOS: ***/
label,button {
	cursor: pointer;
	color: #FFF;
	background: none;
	font-size: 1.4em;
	padding: 7px 0px 0px 26px;
}

.button {
	cursor: pointer;
	color: #FFF;
	background: none;
	font-size: 1.4em;
	padding: 7px 0px 0px 7px;
	border: 0px;
}

fieldset {
	border: none;
}

/* FLOATS PARA LOS CONTENIDOS DE LA HOME; */
.left {
	float: left;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix {
	display: block;
}

/* End hide from IE Mac */
/* Correccion de png */
