
SPAN.texto {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; DISPLAY: inline; PADDING-TOP: 0em
}
SPAN.subrayado {
	PADDING-BOTTOM: 0em; MARGIN: 0em; PADDING-LEFT: 0em; PADDING-RIGHT: 0em; DISPLAY: inline; TEXT-DECORATION: underline; PADDING-TOP: 0em
}
SPAN.citaIzquierda {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: block; FLOAT: left; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0.5em
}
SPAN.citaDerecha {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0.5em; MARGIN: 0em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: block; FLOAT: right; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0.5em
}
SPAN.Negrita {
	DISPLAY: inline; FONT-WEIGHT: bold
}
SPAN.Cursiva {
	FONT-STYLE: italic; DISPLAY: inline
}
SPAN.textoJustificado {
	TEXT-ALIGN: justify
}
H2.textoTituloVerde {
	COLOR: #77aa38; FONT-SIZE: 1.5em
}
H2.textoTituloAzul {
	COLOR: #00aeef; FONT-SIZE: 1.5em
}
H3.textoTituloVerde {
	COLOR: #77aa38; FONT-SIZE: 1.2em
}
H3.textoTituloAzul {
	COLOR: #00aeef; FONT-SIZE: 1.2em
}
.Titulo {
	COLOR: #00aeef; FONT-SIZE: 1.2em
}
SPAN.Izquierda {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; FLOAT: left; PADDING-TOP: 0.5em
}
SPAN.Derecha {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; FLOAT: right; PADDING-TOP: 0.5em
}
SPAN.unaColumna {
	PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(iconGo.gif) no-repeat 4px 2px; PADDING-TOP: 0px
}
SPAN.unaColumnaCirculo {
	PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(PREPRO_015012.gif) no-repeat 2px 1px; PADDING-TOP: 0px
}
SPAN.dosColumnas {
	PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(iconGo.gif) no-repeat 4px 2px; FLOAT: left; PADDING-TOP: 0px
}
SPAN.dosColumnasCirculo {
	PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: inline-block; FLOAT: left; PADDING-TOP: 0px
}
.flechas LI {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 2px; BACKGROUND: url(ang_05hor.gif)  no-repeat scroll 0 3px transparent;
}
.flechasTextoRico {
	PADDING-LEFT: 0px
}
SPAN.flechasTextoRico {
	PADDING-LEFT: 14px; MARGIN-BOTTOM: 2px; PADDING-TOP: 8px; BACKGROUND: url(ang_05hor.gif) no-repeat 4px 12px
}
bulletSinPad {
	PADDING-LEFT: inherit
}
SPAN.bulletSinPad {
	PADDING-LEFT: 14px; MARGIN-BOTTOM: 2px; BACKGROUND: url(bullet_cuatro.gif) no-repeat 4px 12px
}
SPAN.justificado5 {
	TEXT-INDENT: 1em; DISPLAY: inline-block
}
SPAN.justificado10 {
	TEXT-INDENT: 3em; DISPLAY: inline-block
}
SPAN.justificado15 {
	TEXT-INDENT: 5em; DISPLAY: inline-block
}
SPAN.padding5 {
	PADDING-LEFT: 1em; DISPLAY: inline-block
}
SPAN.padding10 {
	PADDING-LEFT: 3em; DISPLAY: inline-block
}
SPAN.padding15 {
	PADDING-LEFT: 5em; DISPLAY: inline-block
}
.AlineadaIzquierda {
	FLOAT: left
}
.AlineadaDerecha {
	FLOAT: right
}
.AlineadaCentro {
	MARGIN: auto; DISPLAY: block
}
UL.ListaIzquierda {
	FLOAT: left
}
UL.ListaDerecha {
	FLOAT: right
}
UL.ListaCentro {
	MARGIN: auto; DISPLAY: block
}
.Negrita {
	FONT-WEIGHT: bold
}
.Cursiva {
	FONT-STYLE: italic
}
.bupaWhite {
	COLOR: #ffffff
}
.bupaBlack {
	COLOR: #000000
}
.bupaGrey {
	COLOR: #84868a
}
.bupaNavy {
	COLOR: #00335b
}
.bupaTeal {
	COLOR: #008789
}
.bupaPurple {
	COLOR: #68217a
}
.bupaViolet {
	COLOR: #af23a5
}
.bupaBurgundy {
	COLOR: #70193d
}
.bupaFuchsia {
	COLOR: #ea0f6b
}
.bupaPink {
	COLOR: #fc9bb2
}
.bupaRed {
	COLOR: #d81e05
}
.bupaOrange {
	COLOR: #ef8900
}
.bupaDarkGreen {
	COLOR: #234f33
}
.bupaGreen {
	COLOR: #007a3d
}
.bupaLime {
	COLOR: #939905
}
.bupaGold {
	COLOR: #ae9962
}
.bupaSilver {
	COLOR: #b1b3b4
}
.bupaBronze {
	COLOR: #c09b5b
}
.notaAclarativa {
	FONT-SIZE: 0.7em
}

.flecha_grande_izq {
background:url(bullet_04.gif) no-repeat scroll 0 0 transparent;
font-size:15px;
padding:0 0 17px 20px;
text-decoration:none;
}

.notaPequenna{
  color: #999999;
    font-size: 0.8em;
}

.TituloLink {
          list-style-type: none; 
          color: #00aeef;
          FONT-SIZE: 1em;
          text-decoration:none;
          font-weight:bold;
					}

/**Estilos para los superindices**/
.Superindice{
  	margin:0px;
		font-size:0.6em;
		font-family:Arial, Helvetica, sans-serif;
    vertical-align:super;
}
/**Estilos para los bullets sencillos**/

.p span.miniBullet{margin-top:-10px}

.miniBullet{
    margin: 11px 0;
    padding-left: 5px;
    background: url(bullet_cuatro.gif) no-repeat scroll 0 6px transparent;
    margin-bottom: 2px;
    padding-left: 10px;
}


.bulletFlecha {
    background: url("ICONLISTCAJAS-2.gif") no-repeat scroll -5px 0 transparent;
    border: 0 solid #666666;
    list-style: none outside none;
    margin-left: -10px;
    padding-left: 10px;
}
.bulletGris {
    background: url("ICONCONTACTO.gif") no-repeat scroll 0 2px transparent;
    list-style: none outside none;
    padding-left: 10px;
}

/**Estilos para alinear las imagenes a la izquierda a la derecha o en el medio. Dejando asï¿½ el texto acompaï¿½ando a la imagen en el lado contrario**/
.alineaIzquierdaResidencia {
    border: 0 solid #000000;
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
} 

.alineaCentroResidencia {
    display: block;
    margin: auto;
}

.alineaDerechaResidencia {
    float: right;
    padding: 10px 0 10px 10px;
}
/**Estilos para dar color a los subtitulos de los contenidos interiores**/

.Subtitulogranate {
	color: #942151; font-weight: bold; font-size: 15px;
}
.a Subtitulogranate:hover {
	color: #942151; font-weight: bold; font-size: 15px; text-decoration:underline;
}

.Subtituloazul {
	color: #0079C8; font-weight: bold; font-size: 15px;
}

.Subtituloverde {
	color: #678004; font-weight: bold; font-size: 15px;
}

.Subtitulomorado {
	color: #6A2CA1; font-weight: bold; font-size: 15px;
}

.Subtitulofucsia {
	color: #e60e68; font-weight: bold; font-size: 15px;
}
/**Estilos para separar las anclas en dos columnas, izq y der**/
.AnclaI {
    display: inline-table;
    font-size: 12px;
    width: 225px;
    color: #0055b1;
    text-decoration:underline !important;
    #display:inline;
    _display:inline;
    zoom:1;
    #cursor:hand;
    _cursor:hand;
}

.AnclaD {
    display: inline-table;
    text-decoration:underline !important;
    color: #0055b1;
     width: 200px;
    #display:inline;
    _display:inline;
    zoom:1; 
    #cursor:hand;
    _cursor:hand;
}

.enlaceSubir	{color:#0055b1; text-decoration: underline;}
