

$blueDark 	: 	#063a61;
$blue3		:	#1e7dc1;
$blue2 		: 	#1d3c54;
$blue 		: 	#5299CF;

$white 		:	#fff;


$boxLittle	: 50px;

@import "compass/css3/box-shadow";

//http://compass-style.org/reference/compass/css3/images/
@import "compass/css3/images";