/*********************** FONTS ***********************/

@font-face {
    font-family: "AkkuratStd";
    src: url('../fonts/akkrgpro1.eot');
    src: url("../fonts/akkrgpro1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/akkrgpro1.woff") format("woff"), 
    url("../fonts/akkrgpro1.ttf") format("truetype"), 
    url("../fonts/akkrgpro1.svg#AkkuratStd") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Conv_AkkuratStd-Light';
    src: url('../fonts/AkkuratStd-Light.eot');
    src: url('../fonts/AkkuratStd-Light.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AkkuratStd-Light.woff') format('woff'), 
    url('../fonts/AkkuratStd-Light.ttf') format('truetype'),
    url('../fonts/AkkuratStd-Light.svg#AkkuratStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratStd-Bold';
    src: url('../fonts/akkuratstdbold.eot');
    src: url('../fonts/akkuratstdbold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akkuratstdbold.woff') format('woff'),
    url('../fonts/akkuratstdbold.ttf') format('truetype'),
    url('../fonts/akkuratstdbold.svg#AkkuratStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: "fontello";
  margin-left: .6em;
}
 
.icon-up-open-big:before { content: '\e800'; } /* '' */
.icon-down-open-big:after { content: '\e801'; } /* '' */
.icon-down-open-big {
  font-family: 'fontello';
  font-size: 11px;
  position: relative;
  left: 4px;
    
}


/*********************** ESTILOS GENERALES ***********************/

body {
  font-family: AkkuratStd;
  font-style: normal;
  font-size: 101%;
}


/*___________margin left */
.margin0_l {margin-left: 0!important;clear: left;}
.margin10_l {margin-left: 10px;}
.margin15_l {margin-left: 15px;}
.margin20_l {margin-left: 20px;}

/*___________margin top */
.margin45_t {margin-top: 45px;}

/*___________margin bottom */
.margin20_b {margin-bottom: 20px;}

/*___________padding bottom */
.padding45_b {padding-bottom: 45px;}
.padding50_b {padding-bottom: 50px;}

/*___________position */
.floatL {float: left;}
.floatR {float: right;}

/*___________visibilidad */
.visible {display: block;  visibility: visible;}
.hidden {display: none;  visibility: hidden;}

/*___________botones - general */
.botondashboard {
  font-weight: normal;
  font-family: AkkuratStd;
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 1px #fff;
  cursor: pointer;
  width: auto;
  background-color: transparent;
}
#dashboard .zonaNotificaciones .caja_notificaciones .botondashboard{
  text-decoration:none;
  max-width: 67px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 2px 0px 2px;
  display: inline-block;
}

a.botondashboard {
  max-width: 210px !important;
  height: 16px;
  width: auto;
  line-height: 20px;
  margin: 0px 9px 2px 0px !important;
}

.centralNewDash2 {
  margin: -30px auto;
  float: left;
}

.central {
  margin: -10px auto 0 auto;
}

#dashboard .central {
  margin: 0px auto 0 auto;
}

.botondashboard:hover {background-color: #70A41C; border: 1px solid #70A41C;}
.botondashboard:active {background-color: transparent; border: 1px solid #FFF;}

/*___________boton verde */
.botondashboard.verde {border: solid 1px #70a41c; background-color: #70a41c;}
.botondashboard.verde:hover,
.botondashboard.verde.active,
.botondashboard.verde:active {border: solid 1px #FFF; background-color: #FFF; color: #030303;}

/*___________boton verde hover negro */
.botondashboard.verde.Hnegro:hover {border: solid 1px #171415; color: #FFF; background-color: #171415;}
.botondashboard.verde.Hnegro.active,
.botondashboard.verde.Hnegro:active {border: solid 1px #000; color: #FFF; background-color: #000;}

/*___________boton transparente */
.botondashboard.transparente {border: solid 1px #FFF; color: #FFF; background-color: transparent;}
.botondashboard.transparente:hover, 
.botondashboard.transparente.active,
.botondashboard.transparente:active {border: solid 1px #FFF; background-color: #FFF; color: #030303;}

/*___________boton blanco borde negro */
.botondashboard.negro {border: solid 1px #120d0e; color: #120d0e; background-color: #FFF;}
.botondashboard.negro:hover {border: solid 1px #000; background-color: #000; color: #FFF;}
.botondashboard.negro:active {border: solid 1px #120d0e; color: #120d0e; background-color: #FFF;}

/*___________boton head */
.botondashboard.head {border: 1px solid #c3c2b3; color: #FFF; text-transform: inherit;}
.botondashboard.head:hover {color: #313131!important; border: 1px solid #FFF; background-color: #FFF;}

/*___________boton notificaciones */
.botondashboard.notifacept {border: 1px solid #c3c2b3; color: #8a8574; text-transform: inherit;}
.botondashboard.notifacept:hover {color: #FFF; border: 1px solid #70a41c;}
.botondashboard.notifacept.active,
.botondashboard.notifacept:active {color: #FFF; border:1px solid #70a41c; background-color: #70a41c;}

.botondashboard.acciones {border:1px solid #c3c2b3; color: #8a8574; text-transform: inherit;}
.botondashboard.acciones:hover {color: #FFF; background-color: #e09126; border: 1px solid #E09126;}

/*___________botones de nueva meta */
.botondashboard.metaindividual {
  border: solid 1px #70a41c;
  background-color: #70a41c;
  width: 205px;
  padding:13px 10px 8px 10px!important;
}

.botondashboard.metacolectiva {
  border: solid 1px #1CB0D3;
  background-color: #1CB0D3;
  width: 205px;
  padding:13px 10px 8px 10px!important;
}

.botondashboard.metajunior {
  border: solid 1px #8E98E3;
  background-color: #8E98E3;
  width: 205px;
  padding:13px 10px 8px 10px!important;
}

.botondashboard.metaindividual:hover,
.botondashboard.metacolectiva:hover,
.botondashboard.metajunior:hover {border: solid 1px #000; background-color: #000;}

/*___________boton mover meta */
.botondashboard.movermeta {
  float: left;
  background-color: #FFF;
  color:#878474;
  height: 35px;
  text-transform: none;
  font-size: 13px;
  margin: 6px 20px 0 0;
}

.botondashboard.movermeta:hover {background-color: #171415; color:#FFF; border: solid 1px #171415;}
.botondashboard.movermeta:active {background-color: #FFF; color:#878474; border: solid 1px #FFF;}

/*___________boton tama�os */
.botondashboard.g {padding: 14px 20px;}
.botondashboard.m {font-size: 12.8px; padding: 10px 10px 7px 10px;}
.botondashboard.p {font-size: 12px; padding: 5px 10px 5px 10px;}

/*___________boton quitar recuadro */
.botondashboard:focus,
.botonanular:focus,
.boton-detalles:focus {
  outline: 0;
}

/*___________boton anular*/
.botonanular {
  font-weight: bold;
  font-family: arial,sans-serif;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: solid 1px #fff;
  cursor: pointer;
  width: auto;
  background-color: #a72f2a;
  padding: 7px 10px;
}

/*___________width */
.w108 {width: 108px!important;}
.w117 {width: 117px!important;}
.w153 {width: 153px!important;}
.w205 {width: 205px!important;}
.w257 {width: 257px!important;}
.w317 {width: 317px!important;}
.w100por {width: 100%!important;}
.wmitad {width: 49.83%!important;}
.w50por {width: 50%!important;}

/*___________dropdown */
.dropformulario {
  display: inline-block;
  min-width: 645px;
  margin-right: 13px;
}

.dropdownWrap {
  height: 25px;
  z-index: 2;
  width: 100%;
  min-width: 250px;
  position: relative;
}

.dropdown {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  width: 100%;
  max-height: 39px;
  background: #FFF;
  color:#949494;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  -webkit-transition: max-height 0.4s ease-in;
          transition: max-height 0.4s ease-in;
}

.dropdown > * {
  max-height: 0;
  width: 101%;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-in;
          transition: max-height 0.4s ease-in;
}

.dropdown .isCurrent {
  max-height: 39px;
}

.dropdown > * > * {
  display: block;
  width: 100%;
  height: 39px;
  box-sizing: border-box;
  padding: 13px 18px;
  border-bottom: 1px solid #d1d1d1;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
  -webkit-backface-visibility: hidden;
}

.dropdown > * > *:hover {background: #eaeaea; color:#313131;}

.ico-flecha-abajo:before {
  font-family: 'fontello';
  content: "\e801";
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 15px 0 13px;
  position: absolute;
  color:black;
  top: 0;
  right: 0;
  width: 44px;
  z-index: 2;
}

.ico-flecha-arriba:before {
  font-family: 'fontello';
  content: "\e800";
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 15px 0 13px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  z-index: 2;
}

.dropdown:hover {cursor: pointer;}

.dropdown.isOpen {
  max-height: 2000px;
  -webkit-transition: max-height 0.4s ease-in;
          transition: max-height 0.4s ease-in;
}
.dropdown.isOpen > * {
  max-height: 39px;
  -webkit-transition: max-height 0.4s ease-in;
          transition: max-height 0.4s ease-in;
}

.c-dropdown {
  text-align: center;
}

.c-dropdown__list {
  margin: 5px 0 0 0;
  padding: 6px 0;
  list-style: none;
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: opacity .25s linear, top .25s linear;
          transition: opacity .25s linear, top .25s linear;
}
.c-dropdown.is-open .c-dropdown__list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.c-dropdown__item {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #434A54;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background-color .25s linear;
          transition: background-color .25s linear;
}
.c-dropdown__item:hover {
  background-color: #E6E9ED;
}

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.c-button:hover, .c-button:focus {
  outline: none;
  text-decoration: none;
}
.c-button:not(:disabled) {
  cursor: pointer;
}

/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */
.c-button--dropdown {
  padding: 6px 34px 6px 12px;
  background-color: #967ADC;
  color: #E6E9ED;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  border-radius: 3px;
  -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
}
.c-button--dropdown:hover {
  background-color: #AC92EC;
}
.c-button--dropdown:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 11px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #E6E9ED;
}

.ico-mas-blanco:after {
  background-image: url(../images/ico_mas_blanco.png); 
  background-size: 100% 100%;
  z-index: 999999;
  content: " " ;
  width: 15px;
  height: 15px;
  float: right;
}

.ico-mas-blanco:hover:after{background: url(../images/ico_mas.png)no-repeat transparent; }
.dropdown > .isCurrent > .ico-mas-blanco:after {display: none;}
.dropdown.isOpen > .isCurrent > .ico-mas-blanco:after {display: block;}

/*___________contenedor general */
#dashboard.container_general {width: 100%;  margin: 0 auto;}

/*___________contenedor (960px) */
#dashboard .container {width: 920px; margin: 0 auto; padding: 0 20px;}
#dashboard .header, 
#dashboard .footer, 
#dashboard .zonaComercial, 
#dashboard .zonaSaldos, 
#dashboard .eligeMeta, 
#dashboard .zonaNotificaciones, 
#dashboard .zonaMetas, 
#dashboard .zonaBanner, 
#dashboard .zonaCajacoinc,
#dashboard .contenido-detalles {width: 100%; float: left; display: block;}

#dashboard .header, 
#dashboard .footer {background-color: #000;}
#dashboard .header {height: 80px;}
#dashboard .eligeMeta {
  position: relative; 
  background-color: #E1E1E1; 
  padding:24px 0 25px 0; 
  border-top: 1px solid #f6f6f3;}
#dashboard .zonaComercial {background-color: #F6F6F3; padding: 20px 0 20px 0;}
#dashboard .zonaNotificaciones {background-color: #F6F6F3; padding: 10px 0 13px 0;}
#dashboard .zonaMetas {background-color: #F6F6F3; margin-top: 45px;}
#dashboard .zonaBanner {margin: 23px 0 26px 0;}
#dashboard .zonaCajacoinc {margin-bottom:28px;}
#dashboard .contenido-detalles {margin-bottom: 15px;}


/*********************** COMPONENTES ***********************/

/*___________HEADER */

#dashboard .header img.logotipo_dashboard {float: left; padding: 23px 0 22px 0;}
#dashboard .header .caja_usuario {float: left; width: 804px;}

#dashboard .header .caja_usuario .datos_usuario {
  float:right; 
  width: auto;
  text-align: right;
  margin-top: 17px;
  margin-right: 13px;
}

#dashboard .header .caja_usuario .datos_usuario p {
  font-family: AkkuratStd; 
  font-size: 12px;
  color:white;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px
}

#dashboard .header .marco_circular {
  float: right;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 9999;
  border:2px solid #FFF;
  margin-top: 11px;
}

#dashboard .header .marco_circular img {z-index: 1; width: 55px; height: 55px; }

/*___________zona COMERCIAL */
#dashboard .zonaComercial a {color: #555558;}
#dashboard .zonaComercial .caja_comercial {
  float: left;
  width: 448px;
  min-height: 160px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 0px 0px #e9e9e7;
  -moz-box-shadow: 0px 4px 0px 0px #e9e9e7;
  box-shadow: 0px 4px 0px 0px #e9e9e7;
  border: 1px solid #dedede; 
}

#dashboard .zonaComercial .caja_comercial.club {background: url(../images/img_clubcoinc.png) left 22px no-repeat #FFF;}

#dashboard .zonaComercial .caja_comercial.amazon {background: url(../images/img_chequeamazon.png) right 22px no-repeat #FFF; }

#dashboard .zonaComercial .caja_comercial .texto {font-family: AkkuratStd; margin-top: 45px;}
#dashboard .zonaComercial .caja_comercial.club .texto {margin-left: 142px; margin-right: 30px;}
#dashboard .zonaComercial .caja_comercial.amazon .texto {margin-left: 20px; margin-right: 131px;}
#dashboard .zonaComercial .caja_comercial .texto h3 {font-size: 22px; text-transform: uppercase;}
#dashboard .zonaComercial .caja_comercial .texto span {
  font-size: 14px;
  line-height: 18px;
  margin-top: 3px;
  display: block;
}

/*___________zona SALDOS */
#dashboard .zonaSaldos {
  height: 410px;
  }

#dashboard .zonaSaldos .imgFondo {
  background: rgb(0, 0, 0) url("../images/img_saldo_fondo.jpg") no-repeat scroll center 23% / cover;
  width: 100%;
  height: 100%;
  }

#dashboard .zonaSaldos .imgFondo .opacidad {
  background-color: rgba(35, 35, 35, 0.7);
  width: 100%;
  height: 100%;
}


#dashboard .zonaSaldos .saldo-container {
  float: left;
  width: 400px;
  margin-top: 70px;
}

#dashboard .zonaSaldos .caja_saldo {
  padding: 20px 0 10px 0; 
  overflow: hidden;
}

#dashboard .zonaSaldos .caja_saldo .misaldo {
  font-family: AkkuratStd; 
  font-size: 18px; 
  color: #FFF;
}

#dashboard .zonaSaldos .caja_saldo .precio {
  font-family: AkkuratStd; ; 
  font-size: 60px; 
  font-weight: bold;
  color: #FFFFFF;
}

#dashboard .zonaSaldos .caja_saldo .precio .euro {font-size: 20px;}

#dashboard .zonaSaldos .botones {
  float: left;
  margin-top: 10px;
}
#dashboard .zonaSaldos .botones input.botondashboard {
  width: 180px;
  padding: 10px 20px;
  font-size: 14px;
}

#dashboard .zonaSaldos .vermovimiento {float: left; width: 170px; padding-top: 35px;}

#dashboard .zonaSaldos .vermovimiento .ico_vermov a {
  background: url(../images/ico_vermov.png ) 
  top left no-repeat transparent; 
  height: 24px;
  display: inline-block;
  font-family: AkkuratStd; 
  font-size: 14px; 
  color: #FFF;
  padding: 5px 0 0 32px;
  text-decoration: underline;
}


#dashboard .zonaSaldos .contratar-coinc{
  float: right;
  padding-bottom: 55px;
  width: 375px;
  background-color: #70a41c;
  margin-top: 30px;
  text-align: center;
}
#dashboard .zonaSaldos .contratar-coinc h2 {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 55px;
}
#dashboard .zonaSaldos .contratar-coinc p {
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 20px;
}

#dashboard .zonaSaldos .contratar-coinc p.small-text {
  color: #FFFFFF;
  font-size: 15px;
  margin-bottom: 10px;
}

#dashboard .zonaSaldos .contratar-coinc a.botondashboard {
  font-size: 14px;
  color: #70A41C;
  border: medium none;
  padding: 13px 50px;
}
#dashboard .zonaSaldos .contratar-coinc a.botondashboard:hover {
  color: #FFFFFF;
}


/*___________elige meta general */
#dashboard .eligeMeta .flecha {
  background: url(../images/eligeMeta_flecha.png) top center repeat-y transparent; 
  width: 24px;
  height: 12px;
  position: absolute;
  top:-12px;
  left:50%;
}

#dashboard .eligeMetaNotificaciones{
  display: inline-block;
}

#dashboard .eligeMetaNotificaciones.bajo{
  height: 40px;
}

#dashboard .eligeMetaNotificaciones.alto{
  height: 90px;
}

#dashboard .eligeMeta .flecha.saldos {left: 38.8%;}
#dashboard .eligeMeta .flecha.accion1 {left: 19.5%;}
#dashboard .eligeMeta .flecha.accion2 {left: 26.5%;}
#dashboard .eligeMeta .flecha.accion3 {left: 36.5%;}
#dashboard .eligeMeta .flecha.accion4 {left: 43.5%;}

#dashboard .eligeMeta .formulario {float: left;}
#dashboard .eligeMeta .formulario label {
  font-family: AkkuratStd;
  font-size: 14px;
  color:#313131;
  padding: 0px 15px 0px 0px;
  width: 88px;
  display: inline-block;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificaciones {
  width: 100%;
  height: 50px;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificacionesAbajo {
  position: absolute;
  margin-top: 50px;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificacionesAbajo.visible {
  display: inline-block;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificacionesAbajo.no-visible {
  display: none;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificaciones .no-mostrar-boton-elegirMeta{
  display: none;
}

#dashboard .eligeMeta .formulario .elementoFormularioNotificaciones .mostrar-boton-elegirMeta{
  display: inline-block;
}

#dashboard .eligeMeta .formulario select.selectMeta {
  font-family: AkkuratStd!important; 
  font-size: 14px!important; 
  color:#555;
  padding: 11px 10px 7px 10px;
  border: 1px solid #d1d1d1;
}

#dashboard .eligeMeta .icono_cerrar {
  float: right;
  background: url(../images/ico_cerrar.png) 0 0 no-repeat transparent; 
  width: 27px;
  height: 26px;
  margin-top: 8px;
}

#dashboard .eligeMeta.alto .icono_cerrar {
  margin-top: 57px;
}

/*___________elige meta caja coinc*/
#dashboard .eligeMeta.coinc {margin-top: 15px;}
#dashboard .eligeMeta.coinc .flecha {left: 72%;}
#dashboard .eligeMeta.coinc .icono_cerrar {float: left; margin: 8px 8px 0 11px;}
#dashboard .eligeMeta.coinc .dropformulario {min-width: 602px;}

/*___________zona NOTIFICACIONES */
.zonaNotificaciones .container .columnas {

}

#dashboard .zonaNotificaciones .caja_notificaciones {
  float: left;
  width: 288px;
  background-color: #FFF;
  border-left: 1px solid #F2F2EF;
  border-right: 1px solid #F2F2EF;
  border-bottom: 1px solid #D6D6D4;
  margin-left: 7px;
  margin-right: 8px;
  min-height: 170px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  background-image: none;
}

.ver-notificacion{
  display:inline-block;
}
.ocultar-notificacion{
  display: none;
}

#dashboard .zonaNotificaciones .caja_notificaciones .titular {height: 35px;}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.sinicono .titular {background: none; background-color: #70a41c;}

#dashboard .zonaNotificaciones .caja_notificaciones .titular span {
  display: none;
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva .titular span {
  float: right;
  font-family: AkkuratStd; 
  font-size: 11px; 
  color:#FFF;
  text-transform: uppercase;
  padding: 12px 20px 0 0;
  display: block;
}

#dashboard .zonaNotificaciones .caja_notificaciones.ok .titular {
  background: url(../images/ico_aceptado_v.png) 18px 6px no-repeat transparent; 
  width: 100%;
  height: 30px;
  border-top:4px solid #70a41c;
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.ok .titular {
  background: url(../images/ico_aceptado_b.png) 18px 10px no-repeat #70a41c; 
  display:inline-block;
  width: 100%;
  height: 35px;
  border-top: none;
}

#dashboard .zonaNotificaciones .caja_notificaciones.estrella .titular {
  background: url(../images/ico_estrella_b.png) 16px 1px no-repeat transparent;
  width: 100%;
  height: 30px;
  border-top:4px solid rgb(136, 120, 224);
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.estrella .titular {
  background: url(../images/ico_estrella_w.png) 16px 4px no-repeat rgb(136, 120, 224);;
  display:inline-block;
  width: 100%;
  height: 35px;
  border-top: none;
}

#dashboard .zonaNotificaciones .caja_notificaciones.error {
  border-top: none;
}

#dashboard .zonaNotificaciones .caja_notificaciones.error .titular {
  background: url(../images/ico_alerta.png) 18px 6px no-repeat transparent; 
  width: 100%;
  height: 30px;
  border-top:4px solid #E09126;
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.error .titular {
  background: url(../images/ico_alerta_nueva.png) 18px 5px no-repeat #E09126; 
  width: 100%;
  padding-top:0;
}

#dashboard .zonaNotificaciones .caja_notificaciones.aviso .titular {
  background: url(../images/ico_info.png) 18px 6px no-repeat transparent; 
  width: 100%;
  height: 30px;
  border-top: 4px solid #c1bdb1;
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.aviso .titular {
  background: url(../images/ico_info_b.png) 18px 5px no-repeat #c1bdb1; 
  width: 100%;
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.error .titular span,
#dashboard .zonaNotificaciones .caja_notificaciones.nueva.aviso .titular span {padding-top: 8px;}

#dashboard .zonaNotificaciones .caja_notificaciones .contenido {
  padding: 2px 19px 11px 19px;
  font-family: AkkuratStd;
  font-size: 13px;
  line-height: 20px;
  color: #120d0e;
  width: 251px;
  overflow: hidden;
}

#dashboard .zonaNotificaciones .caja_notificaciones .contenido.mostrar-todo {
  height: auto;
  padding-bottom: 35px;
  margin-bottom: 10px;
}

#dashboard .zonaNotificaciones .caja_notificaciones .contenido.mostrar-menos {
  height: 70px;
}

#dashboard .zonaNotificaciones .caja_notificaciones .botonera {
  float: right;
  padding: 9px 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 284px;
  text-align: center;
  height: 26px;
  overflow: hidden;
}

#dashboard .zonaNotificaciones .caja_notificaciones a {
  font-family: AkkuratStd; 
  font-size: 12px; 
  color:#616161;
  text-decoration: underline;
  display: inherit;
}

#dashboard .zonaNotificaciones .caja_notificaciones.aviso .enlace-notificacion {
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.no-underline{
  text-decoration: none;
}

.visible{
    visibility: visible;
}
.no-visible{
  visibility: hidden;
}

.acciones-formulario{
  width: 235px;
  float: left;
  height: 30px;
  overflow: hidden;
  text-align: right;
}

#dashboard .zonaNotificaciones .caja_notificaciones a:hover {color:#1A1A1A;}

#dashboard .zonaNotificaciones .mas {
  background: url(../images/ico_mas.png) 0 0 no-repeat transparent; 
  width: 15px;
  height: 15px;
  float: left;
  margin: 9px 7px 0px 7px;
}

#dashboard .zonaNotificaciones .mas-ok {
  margin: 14px 7px 0px 7px;
}

#dashboard .zonaNotificaciones .menos {
  background: url(../images/ico_menos.png) 0 0 no-repeat transparent; 
  width: 15px;
  height: 15px;
  float: left;
  margin: 9px 7px 0px 7px;
}

#dashboard .zonaNotificaciones .error .menos {
  margin-top: 5px;
}

.clear-left{
  clear:left;
}

#dashboard .zonaNotificaciones .cerrar-notificacion {
  background: url(../images/ico-cerrar-notificacion.png) 0 0 no-repeat transparent;
  width: 16px;
  height: 16px;
  float: right;
  margin: 5px 18px 0px 4px;
}

#dashboard .zonaNotificaciones .nueva .cerrar-notificacion {
  display: none;
}

#dashboard .zonaNotificaciones .mas:hover {
  background: url(../images/ico_mas_hover.png) 0 0 no-repeat transparent; 
}

#dashboard .zonaNotificaciones .menos:hover {
  background: url(../images/ico_menos_hover.png) 0 0 no-repeat transparent; 
}

#dashboard .zonaNotificaciones .cerrar-notificacion:hover{
  background: url(../images/ico-cerrar-notificacion-hover.png) 0 0 no-repeat transparent; 
}

#dashboard .zonaNotificaciones .vertodas {float:right; padding: 15px 8px 0px 8px; width: 100%;}

#dashboard .zonaNotificaciones .vertodas a.vermas {
  background: url(../images/ico_mas.png) right 0px no-repeat transparent;
  float: right;
  height: 15px;
}

.formulario_caja_coinc{
  display: inline-block;
}

#dashboard .zonaNotificaciones .vertodas a.vermas:hover {
  background: url(../images/ico_mas_hover.png) right 0px no-repeat transparent; 
}

#dashboard .zonaNotificaciones .vertodas a.vermenos {
  background: url(../images/ico_menos.png) right 0px no-repeat transparent; 
  float: right;
  height: 15px;  
}

#dashboard .zonaNotificaciones .vertodas a.vermenos:hover {
  background: url(../images/ico_menos_hover.png) right 0px no-repeat transparent;   
}

#dashboard .zonaNotificaciones .vertodas a span {
  padding-right:25px;
  font-size: 12px;
  color:#8a8574; 
}

#dashboard .zonaNotificaciones .vertodas a {
  color:#8a8574; 
}

#dashboard .zonaNotificaciones .vertodas a span:active,
#dashboard .zonaNotificaciones .vertodas a span:focus,
#dashboard .zonaNotificaciones .vertodas a span:visited {color:#8a8574;}

#dashboard .zonaNotificaciones .vertodas a:hover span {color:#060606;}
#dashboard .zonaNotificaciones .vertodas a:hover {color:#060606;}
#dashboard .zonaNotificaciones .vertodas a:active {color:#060606!important;}

/* Alternar Respuesta */
.leer-mas {display: none;}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  background: url(../images/ico_mas.png) 0 0 no-repeat transparent; 
  width: 15px;
  height: 15px;
  float: left;
  cursor:pointer;
}

/*___________zona METAS */
#dashboard .container .caja_head {
  float: left;
  width: 100%;
  padding: 22px 0 13px 0;
  border-bottom: 1px solid #dedede;
}

#dashboard .container .caja_head h2 {
  width: 45%;
  float: left;
  font-family: Conv_AkkuratStd-Light; 
  font-size: 25px; 
  color:#181516;
  margin-top: 5px;
}

#dashboard .container .caja_head h2 span {color:#70a41c;}
#dashboard .container .caja_head .movermetas {float: right; width: 23%;}
#dashboard .container .caja_contenido {
  padding: 39px 0 14px 0;
  border-bottom:1px solid #d6d6d4;
  width: 100%;
  float: left;
}

/*___________meta */
#dashboard .zonaMetas .caja_meta {
  width: 292px;
  float: left;
  border-left: 1px solid #F2F2EF;
  border-right: 1px solid #F2F2EF;
  border-bottom: 1px solid #D6D6D4;
  background-color: #FFF;
  margin-left: 18px;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 18px;
}

#dashboard .zonaMetas .caja_meta .titular {float: left; width: 86%; padding: 16px 20px 16px 20px;}

#dashboard .zonaMetas .caja_meta .titular .marco {
  float: left;
  width: 53px;
  height: 53px;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 9999;
}

#dashboard .zonaMetas .caja_meta .titular .marco img {z-index: 1; width: 53px; height: 53px;}

#dashboard .zonaMetas .caja_meta .titular .txt {
  float: left; 
  width: 186px;
  margin-left: 12px;
  padding-top: 4px;
}

#dashboard .zonaMetas .caja_meta .titular .txt h3 {
  font-family: AkkuratStd-Bold; 
  font-size: 16px; 
  line-height: 24px;
  color:#393939;
}

#dashboard .zonaMetas .caja_meta .central {
  float: left; width: 88%; 
  padding: 16px 19px 19px 19px;
  border-top: 1px solid #E8E7E3;
  border-bottom: 1px solid #E8E7E3;
}

#dashboard .zonaMetas .caja_meta .central .barra {width: 271px;}
#dashboard .zonaMetas .caja_meta .central .barra .gris {position: relative;}
#dashboard .zonaMetas .caja_meta .central .barra .gris .degradada {position: absolute; left: 0; top: 0px;}
#dashboard .zonaMetas .caja_meta .central .barra .gris .degradada img {float: left;}
#dashboard .zonaMetas .caja_meta .central .precio {float: left; width: 100%; font-family: AkkuratStd-Bold;}
#dashboard .zonaMetas .caja_meta.individual .central .precio {color:#70A41C;}
#dashboard .zonaMetas .caja_meta .central .precio {margin-top: 8px;}
#dashboard .zonaMetas .caja_meta.colectiva .central .precio {color:#1CB0D3;}
#dashboard .zonaMetas .caja_meta.junior .central .precio {color:#8E98E3;}
#dashboard .zonaMetas .caja_meta .central .precio .unidades,
#dashboard .zonaMetas .caja_meta .central .precio .euro {float: left; font-size: 30px;}
#dashboard .zonaMetas .caja_meta .central .precio .decimales {
  float: left;
  font-family: AkkuratStd-Bold; 
  font-size: 15px;
  padding-top: 13px; 
}

#dashboard .zonaMetas .caja_meta .central .precio .euro {padding-left:4px;}
#dashboard .zonaMetas .caja_meta .central .iconos {float: left; width: 100%; margin-top: 15px;}
#dashboard .zonaMetas .caja_meta .central .iconos li {
  background: url(../images/bolito_ico_meta.png) 0 7px no-repeat transparent; 
  display:inline-block;
  width: auto;
  float:left;
  margin-left: 8px;
}

#dashboard .zonaMetas .caja_meta .central .iconos li:first-child {background: none; margin-left: 0;}
#dashboard .zonaMetas .caja_meta .central .iconos li:first-child span.icometa {margin-left: 0!important;}
#dashboard .zonaMetas .caja_meta .central .iconos li span {float:left;}

#dashboard .zonaMetas .caja_meta .central .iconos li span.txt {
  margin-left: 15px;
  font-family: AkkuratStd-Bold; 
  font-size: 11px;
  color:#545454;
  margin-left:5px; 
  text-transform: uppercase;
  padding-top: 3px; 
}

#dashboard .zonaMetas .caja_meta .central .iconos li span.individual {
  background: url(../images/ico_individual.png) 0 3px no-repeat transparent; 
  width: 9px;
  height: 14px;
  margin-left:14px;
}

#dashboard .zonaMetas .caja_meta .central .iconos li span.colectiva {
  background: url(../images/ico_colectiva.png) 0 3px no-repeat transparent; 
  width: 19px;
  height: 14px;
  margin-left:14px;
}

#dashboard .zonaMetas .caja_meta .central .iconos li span.publica {
  background: url(../images/ico_publica.png) 0 4px no-repeat transparent; 
  width: 15px;
  height: 14px;
  margin-left:14px; 
}

#dashboard .zonaMetas .caja_meta .central .iconos li span.junior {
  background: url(../images/ico_junior.png) 0 0 no-repeat transparent; 
  width: 25px;
  height: 16px;
  margin-left:14px;
}

#dashboard .zonaMetas .caja_meta .central .iconos li span.mes {
  background: url(../images/ico_calendario.png) 0 3px no-repeat transparent; 
  width: 11px;
  height: 14px;
  margin-left:14px; 
}

#dashboard .zonaMetas .caja_meta .enlaces {
  float: left; 
  width: 100%; 
  background-color:#e8e7e3;
}

#dashboard .zonaMetas .caja_meta .enlaces .ver {
  float: left;
  font-family: AkkuratStd; 
  font-size: 11px;
  color:#545454;
  text-transform: uppercase;
  text-align: center; 
  padding: 15px 0px;
}

#dashboard .zonaMetas .caja_meta .enlaces .ver:active {color:#545454; background-color:#e8e7e3;}
#dashboard .zonaMetas .caja_meta .enlaces .ver.parte {border-left: 1px solid #CECECE;}
#dashboard .zonaMetas .caja_meta.individual .enlaces .ver:hover {background-color: #70A41C; color:#FFF;}
#dashboard .zonaMetas .caja_meta.colectiva .enlaces .ver:hover {background-color: #1CB0D3; color:#FFF;}
#dashboard .zonaMetas .caja_meta.junior .enlaces .ver:hover {background-color: #8E98E3; color:#FFF;}

#dashboard .zonaMetas .caja_meta.nuevameta {
  border: 1px dashed #C7C7C7;
  padding: 77px 0 74px 0;
  text-align: center;
  background-color: transparent;
}

#dashboard .zonaMetas .caja_meta.nuevameta:hover {border: 1px dashed #70a41c;}
#dashboard .zonaMetas .caja_meta.nuevameta a {text-decoration: none;} 
#dashboard .zonaMetas .caja_meta.nuevameta img {margin: 0 auto;} 
#dashboard .zonaMetas .caja_meta.nuevameta h4 {
  font-family: AkkuratStd; 
  font-size: 14px;
  color:#70a41c;
  text-transform: uppercase; 
  margin-top: 25px;
}


#dashboard .zonaMetas .caja_meta.meta_coinc {
  padding: 35px 0 30px;
  text-align: center;
  background-color: #70a41c;
  color:#FFFFFF !important;
}
#dashboard .zonaMetas .caja_meta.meta_coinc h2 {
  font-size: 20px;
}
#dashboard .zonaMetas .caja_meta.meta_coinc p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
#dashboard .zonaMetas .caja_meta.meta_coinc p.small-text {
  font-size: 14px;
  line-height: 0;
  padding: 25px 0 15px;
}
#dashboard .zonaMetas .caja_meta.meta_coinc .botondashboard {
  font-size: 14px;
  color: #70a41c;
  border: none;
  padding: 13px 50px;
}
#dashboard .zonaMetas .caja_meta.meta_coinc .botondashboard:hover {
  color: #FFFFFF;
}


#dashboard .zonaMetas .caja_meta.nuevactivada {padding-bottom: 25px; display: none;}
#dashboard .zonaMetas .caja_meta.nuevactivada a {
  text-decoration:none;
  width: 205px;
  display: block;
  margin: 12px auto;
  height: 40px;
}
#dashboard .zonaMetas .caja_meta.nuevactivada h4 {
  font-family: AkkuratStd; 
  font-size: 14px;
  color:#393939;
  text-transform: uppercase; 
  margin: 30px 0 27px 0;
  text-align: center;
}

#dashboard .zonaMetas .caja_meta.nuevactivada input {
  display: block;
  margin: 12px auto;
}

/*___________caja COINC */
#dashboard .container.metas .caja_footer {float: left; width: 100%; padding: 28px 0 36px 0;}
#dashboard .container.metas .caja_footer .cajacoinc {
  float: left;
  width: 918px; 
  border-left: 1px solid #F2F2EF;
  border-right: 1px solid #F2F2EF;
  border-bottom: 1px solid #D6D6D4;
  background-color: #FFF;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  border-radius: 3px;
  padding: 25px 0;
  position:relative;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido {
  float:left; 
  width: 45%;
  margin-left: 20px;
  margin-bottom: 25px;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt {float:left; margin-top: 10px;}
#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt h2 {
  font-family: Conv_AkkuratStd-Light; 
  font-size: 25px;
  color:#181516;
  text-transform: uppercase;
  margin-left:15px;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt h2 span {
  background: url(../images/flechas_cajacoinc.png) 5px 0 no-repeat transparent; 
  width: 20px;
  height: 15px;
  display: inline-block;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt .precio {
  margin-left:15px;
  font-family: AkkuratStd-Bold; 
  color:#70a41c;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt .precio .unidades {
  float: left;
  font-size: 33px;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt .precio .decimales {
  float: left;
  font-size: 15px;
  padding-top: 16px;
}

#dashboard .container.metas .caja_footer .cajacoinc .contenido .txt .precio .euro {
  float: left;
  font-size: 30px;
  padding-top: 3px;
  margin-left: 3px;
}

#dashboard .container.metas .caja_footer .cajacoinc .botonera {
  float: right; 
  width: 38%;
  margin-top: 41px; 
}

.aviso .botonera{
  line-height: 15px;
}


#dashboard .container.metas .caja_footer .cajacoinc .informacion {
  float:left;
  clear: both; 
  width: 95.2%; 
  border-top: 1px solid #e8e7e3;
  padding: 23px 23px 0 23px;
}

#dashboard .container.metas .caja_footer .cajacoinc .informacion a.icoinfo {
  background: url(../images/ico_infocoinc.png) 0 0 no-repeat transparent; 
  width: 19px;
  height: 19px;
  display: inline-block;
}

#dashboard .container.metas .caja_footer .cajacoinc .informacion a.icoinfo:hover {
  background: url(../images/ico_infocoinc_hover2.png) 0 0px no-repeat transparent; 
  width: 19px;
  height: 19px;
}

#dashboard .container.metas .caja_footer .cajacoinc .informacion .icoinfo span {
  display: inline-block;
  width: 500px;
  font-family: AkkuratStd; 
  font-size: 11px;
  color:#878474;
  text-transform: uppercase;
  margin-left: 27px;
  height: 20px;
  line-height: 20px;
}

#dashboard .container.metas .caja_footer .cajacoinc .informacion .icoinfo:hover span {
  color:#1A1A1A;
}

#dashboard .container.metas .caja_footer .caja_detalleinfo {
  display: none;
  float: left;
  width: 871px;
  border-top:none;
  border-bottom: 1px solid #D6D6D4;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 13px 19px 19px 28px;
}

#dashboard .container.metas .caja_footer .caja_detalleinfo .txt {
  float:left;
  width: 94%;
  margin: 15px 0 10px 0;
}

#dashboard .container.metas .caja_footer .caja_detalleinfo .txt p  {
  font-family: AkkuratStd; 
  font-size: 13px;
  line-height: 20px;
  color:#555555;
}

#dashboard .container.metas .caja_footer .caja_detalleinfo img {
  float: right; 
  width: 27px; 
  margin-right: 4px;
}

/*___________CAJA COINC PAGINA DETALLE */
#dashboard .zonaCajacoinc .cajacoinc {
  background-color: #70a41c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 25px 20px 25px;
  overflow: hidden;
}

#dashboard .zonaCajacoinc .cajacoinc img.caja {float: left; margin-top: 13px;}

#dashboard .zonaCajacoinc .cajacoinc .texto {
  float: left;
  width: 245px;
  padding-left:20px;
}

#dashboard .zonaCajacoinc .cajacoinc .texto h2 {
  float: left;
  font-family: AkkuratStd-Bold; 
  color:#FFF;
  font-size: 42px;
  text-transform: uppercase;
  padding: 25px 0 10px 0;
}

#dashboard .zonaCajacoinc .cajacoinc .texto .precio {
  float: left;
  font-family: AkkuratStd; 
  color:#FFF;
}

#dashboard .zonaCajacoinc .cajacoinc .texto .precio .unidades {float:left; font-size: 40px;}

#dashboard .zonaCajacoinc .cajacoinc .texto .precio .decimales {
  float:left; 
  font-size: 30px; 
  margin-top: 9px;
}

#dashboard .zonaCajacoinc .cajacoinc .texto .precio .euro {
  float:left;
  font-size: 30px; 
  margin-left: 11px; 
  padding-top: 9px;
}

#dashboard .zonaCajacoinc .cajacoinc .grafico {
  float: left;
  width: 480px;
  height: 159px;
}

/*___________ULTIMOS MOVIMIENTOS */
#dashboard .ultimosMovi {float: left; width: 670px}
#dashboard .ultimosMovi h2 {
  font-family: Conv_AkkuratStd-Light; 
  color:#000;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

#dashboard .ultimosMovi .caja_ultimosMovi {
  float: left;
  width: 610px;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  border-radius: 10px;
    -webkit-box-shadow: 0px 4px 0px 0px #e5e5e5;
    -moz-box-shadow: 0px 4px 0px 0px #e5e5e5;
    box-shadow: 0px 4px 0px 0px #e5e5e5;
  border: 1px solid #eaeae8;
  border-bottom:1px solid #b1b1b0; 
  padding: 30px;
  background-color: #fff; 
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento {
  background: url(../images/linea_puntos.png) bottom left repeat-x transparent;
  font-family: arial,sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 9px;
  min-height: 77px;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido {
  float:left;
  width: 334px;
  margin-left:20px;
  padding-top: 6px;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido .tipomovi {
  font-size: 16px;
  color:#181516;
  font-weight: bold;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido .fechamovi {
  font-size: 12px;
  color:#181516;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido .meta{
  font-size: 14px; 
  color:#878474;
  padding-top: 8px;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido .meta a {
  font-size: 12px; 
  color:#181516;
  padding-top: 8px;
  text-decoration: underline;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .contenido .meta a:hover {color:#a72f2a;}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .detalle {
  float: left;
  width: 155px;
  text-align: right; 
  margin-right: 35px;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .detalle .precio {
  color:#181516;
  font-size: 18px;
  margin-top: 6px;
  font-weight: bold;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .detalle .precio.rojo {color:#a72f2a;}
#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .detalle .precio.gris {color:#878474;}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .detalle .estado {
  font-size: 12px;
  text-transform: uppercase;
  color:#878474;
  padding-bottom: 6px;
}

#dashboard .ultimosMovi .caja_ultimosMovi .movimiento .icono {
  float:right;
  width: 24px;
  margin-top:9px;
}


/* Breadcrumb */
.breadcrumb {
  font-family: AkkuratStd; 
  font-size: 14px;
  color: #878474;
}

.breadcrumb a {color:#393939; font-weight: 600;}
.breadcrumb a:hover {text-decoration: none;}
.breadcrumb li {display: inline-block; margin: 35px auto;}
.breadcrumb li:after {
    content: " \e800 ";
    font-family: 'fontello';
    font-size: 14px;
    margin: auto 6px;
    padding-top: 4px;
    display: inline-block;
    transform: rotate(90deg);
}

.breadcrumb li:last-child:after {display: none;}

/* Sidebar Detalles */
.sidebar-detalles {
    width: 230px;
    float: left;  
    margin-right: 20px;
}

/* Botones Detalles Caja Coinc */
button.boton-detalles {
  font-family: AkkuratStd!important; 
  border-radius: 30px;
  width: 230px;
  display: block;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  padding: 10px 20px;
  text-align: left;
}

button.btn-ahorrar {
    background: rgba(110,161,29,1);
    background: -moz-linear-gradient(top, rgba(110,161,29,1) 0%, rgba(110,161,29,1) 26%, rgba(87,128,34,1) 86%, rgba(61,89,41,1) 96%, rgba(61,89,41,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(110,161,29,1)), color-stop(26%, rgba(110,161,29,1)), color-stop(86%, rgba(87,128,34,1)), color-stop(96%, rgba(61,89,41,1)), color-stop(100%, rgba(61,89,41,1)));
    background: -webkit-linear-gradient(top, rgba(110,161,29,1) 0%, rgba(110,161,29,1) 26%, rgba(87,128,34,1) 86%, rgba(61,89,41,1) 96%, rgba(61,89,41,1) 100%);
    background: -o-linear-gradient(top, rgba(110,161,29,1) 0%, rgba(110,161,29,1) 26%, rgba(87,128,34,1) 86%, rgba(61,89,41,1) 96%, rgba(61,89,41,1) 100%);
    background: -ms-linear-gradient(top, rgba(110,161,29,1) 0%, rgba(110,161,29,1) 26%, rgba(87,128,34,1) 86%, rgba(61,89,41,1) 96%, rgba(61,89,41,1) 100%);
    background: linear-gradient(to bottom, rgba(110,161,29,1) 0%, rgba(110,161,29,1) 26%, rgba(87,128,34,1) 86%, rgba(61,89,41,1) 96%, rgba(61,89,41,1) 100%);
}
button.btn-ahorrar:before {
  content: " ";
  background-image: url("../images/ico_btn_ahorrar.png");
  background-size: 100% 100%;
  width: 23px;
  height: 23px;
  margin: 2px;
  float: left;    
}

button.boton-detalles span {
  position: relative;
  top: 3px;
  padding-left: 10px;
}

button.btn-retirar {
background: rgba(81,78,80,1);
background: -moz-linear-gradient(top, rgba(81,78,80,1) 0%, rgba(81,78,80,1) 26%, rgba(59,55,57,1) 86%, rgba(36,33,34,1) 96%, rgba(36,33,34,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,78,80,1)), color-stop(26%, rgba(81,78,80,1)), color-stop(86%, rgba(59,55,57,1)), color-stop(96%, rgba(36,33,34,1)), color-stop(100%, rgba(36,33,34,1)));
background: -webkit-linear-gradient(top, rgba(81,78,80,1) 0%, rgba(81,78,80,1) 26%, rgba(59,55,57,1) 86%, rgba(36,33,34,1) 96%, rgba(36,33,34,1) 100%);
background: -o-linear-gradient(top, rgba(81,78,80,1) 0%, rgba(81,78,80,1) 26%, rgba(59,55,57,1) 86%, rgba(36,33,34,1) 96%, rgba(36,33,34,1) 100%);
background: -ms-linear-gradient(top, rgba(81,78,80,1) 0%, rgba(81,78,80,1) 26%, rgba(59,55,57,1) 86%, rgba(36,33,34,1) 96%, rgba(36,33,34,1) 100%);
background: linear-gradient(to bottom, rgba(81,78,80,1) 0%, rgba(81,78,80,1) 26%, rgba(59,55,57,1) 86%, rgba(36,33,34,1) 96%, rgba(36,33,34,1) 100%);
}

button.boton-detalles:hover {opacity: .93;}

button.btn-retirar:active{
    background: rgba(34,32,33,1);
    background: -moz-linear-gradient(top, rgba(34,32,33,1) 0%, rgba(34,32,33,1) 4%, rgba(53,49,51,1) 14%, rgba(75,72,74,1) 74%, rgba(75,72,74,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,32,33,1)), color-stop(4%, rgba(34,32,33,1)), color-stop(14%, rgba(53,49,51,1)), color-stop(74%, rgba(75,72,74,1)), color-stop(100%, rgba(75,72,74,1)));
    background: -webkit-linear-gradient(top, rgba(34,32,33,1) 0%, rgba(34,32,33,1) 4%, rgba(53,49,51,1) 14%, rgba(75,72,74,1) 74%, rgba(75,72,74,1) 100%);
    background: -o-linear-gradient(top, rgba(34,32,33,1) 0%, rgba(34,32,33,1) 4%, rgba(53,49,51,1) 14%, rgba(75,72,74,1) 74%, rgba(75,72,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,32,33,1) 0%, rgba(34,32,33,1) 4%, rgba(53,49,51,1) 14%, rgba(75,72,74,1) 74%, rgba(75,72,74,1) 100%);
}

button.btn-ahorrar:active {
    background: rgba(57,83,35,1);
    background: -moz-linear-gradient(top, rgba(57,83,35,1) 0%, rgba(57,83,35,1) 5%, rgba(79,116,26,1) 31%, rgba(95,138,25,1) 74%, rgba(95,138,25,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(57,83,35,1)), color-stop(5%, rgba(57,83,35,1)), color-stop(31%, rgba(79,116,26,1)), color-stop(74%, rgba(95,138,25,1)), color-stop(100%, rgba(95,138,25,1)));
    background: -webkit-linear-gradient(top, rgba(57,83,35,1) 0%, rgba(57,83,35,1) 5%, rgba(79,116,26,1) 31%, rgba(95,138,25,1) 74%, rgba(95,138,25,1) 100%);
    background: -o-linear-gradient(top, rgba(57,83,35,1) 0%, rgba(57,83,35,1) 5%, rgba(79,116,26,1) 31%, rgba(95,138,25,1) 74%, rgba(95,138,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(57,83,35,1) 0%, rgba(57,83,35,1) 5%, rgba(79,116,26,1) 31%, rgba(95,138,25,1) 74%, rgba(95,138,25,1) 100%);
}

button.btn-retirar:before {
  content: " ";
  background-image: url("../images/ico_btn_retirar.png");
  background-size: 100% 100%;
  width: 23px;
  height: 27px;
  float: left;
}

button.btn-ultimos-movimientos {
  font-size: 14px;
  text-transform: none;
  background-color: #edeada;
  padding: 10px;
  margin: 30px 0 0;
}

button.btn-ultimos-movimientos span {
  position: relative;
  top: 5px;
  padding-left: 7px;
  color:#000;
}

button.btn-ultimos-movimientos:before {
  content: " ";
  background-image: url("../images/ico_btn_cargar.png");
  background-size: 100% 100%;
  width: 28px;
  height: 27px;
  float: left;
}

button.btn-ultimos-movimientos:hover {background-color: #dcdace;}
button {cursor: pointer; text-decoration: none;}

/* Info Caja COINC */
.info-coinc {width: 230px; margin-top: 30px;}

.info-coinc p {
  padding: 12px 10px 12px 0;
  font-size: 14px;
  line-height: 25px;
  color: #878474;
}

.info-coinc h3 {
  font-size: 11px;
  text-transform: uppercase;
  color: #878474!important;
  padding: 12px;
  border-bottom: 1px solid #878474;
}

.ico-detalle-caja-coinc:after {
  content: " ";
  background-image: url("../images/ico_info_detallecajacoinc.png");
  background-size: 100% 100%;
  width: 19px;
  height: 19px;
  float: left;
  margin: 10px 10px 10px 0;
}


#dashboard .box_viaje,
#dashboard .box_biciymoto,
#dashboard .box_formacion,
#dashboard .box_casa,
#dashboard .box_bebe,
#dashboard .box_boda,
#dashboard .box_coche,
#dashboard .box_cumpleanos,
#dashboard .box_diversion ,
#dashboard .box_electrodomestico,
#dashboard .box_electronica_j,
#dashboard .box_moda,
#dashboard .box_modaza,
#dashboard .box_musica,
#dashboard .box_regalo,
#dashboard .box_videojuegos,
#dashboard .box_ahorro,
#dashboard .box_nadadeeso{
  width:53px;
  height:53px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#dashboard .box_viaje {background: url(../images/iconos_metas/viajes.png);}
#dashboard .box_regalo{background: url(../images/iconos_metas/regalos.png);}
#dashboard .box_electronica_j{background: url(../images/iconos_metas/electronica.png);}
#dashboard .box_casa{background: url(../images/iconos_metas/vivienda.png);}
#dashboard .box_boda{background: url(../images/iconos_metas/boda.png);}
#dashboard .box_ahorro{background: url(../images/iconos_metas/ahorro.png);}
#dashboard .box_bebe{background: url(../images/iconos_metas/bebe.png);}
#dashboard .box_formacion{background: url(../images/iconos_metas/formacion.png);}
#dashboard .box_coche{background: url(../images/iconos_metas/coche.png);}
#dashboard .box_moda{background: url(../images/iconos_metas/moda.png);}

#dashboard .box_diversion{background-image: url(../images/iconos_metas/diversion.png);}
#dashboard .box_modaza{background-image: url(../images/iconos_metas/moda2.png);}
#dashboard .box_biciymoto{background-image: url(../images/iconos_metas/moto.png);}
#dashboard .box_musica{background-image: url(../images/iconos_metas/musica.png);}
#dashboard .box_nadadeeso{background-image: url(../images/iconos_metas/nadadeeso.png);}
#dashboard .box_videojuegos{background-image: url(../images/iconos_metas/videojuegos.png);}
#dashboard .box_cumpleanos{background-image: url(../images/iconos_metas/boda.png);}
#dashboard .box_electrodomestico{background-image: url(../images/iconos_metas/electronica.png);}

#dashboard .caja_meta .titular .marco div{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 6px;
}

#dashboard .caja_meta.individual .titular .marco div{
  background-color: #70A41C;
}

#dashboard .caja_meta.junior .titular .marco div{
  background-color: #8E98E3;
}

#dashboard .caja_meta.colectiva .titular .marco div{
  background-color: #1CB0D3;
}

#dashboard .zonaNotificaciones .caja_notificaciones.estrella .titular {
    background: url(../images/ico_estrella_b2.png) 16px 4px no-repeat transparent;
    width: 100%;
    height: 30px;
    border-top: 4px solid rgb(136, 120, 224);
}

#dashboard .zonaNotificaciones .caja_notificaciones.nueva.estrella .titular {
    background: url(../images/ico_estrella_w2.png) 16px 9px no-repeat rgb(136, 120, 224);;
    display:inline-block;
    width: 100%;
    height: 35px;
    border-top: none;
}
.ok{
text-align: left;
} 

#dashboard .zonaMetas .caja_meta .central .iconos li {
    margin-left: 7px;
}

.wrapper_precio{
    width: auto;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

.wrapper_precio .decimales{
    float: left;
    height: 96px;
    line-height: 122px;
}

.wrapper_precio .euro{
    float: left;
}

.puntos_suspensivos{
  position: absolute;
  right: 21px;
  color: black;
  top: 99px;
  background-color: white;
  display: none;
  font-size: 13px;
}

.puntos_suspensivos.no-visible{
  display: none;
}

.puntos_suspensivos.visible{
  display: inline-block;
}

.acciones-doble-boton{
	width: 241px;
}

#dashboard .zonaNotificaciones .acciones-doble-boton .botondashboard {
	font-size: 9px;
}
#dashboard .zonaNotificaciones .acciones-doble-boton .botondashboard:hover{
  background-color: #C1BDB1;
  border: 1px solid #C1BDB1;
}

a.botondashboard{
	display: inline-block;
	text-align: center;
}
.caja_coinc_boton_ahorrar {
    width: 170px !important;
}
