.boton-cabecera-landing{
	margin-top: 0px;
	margin-left: 0px;
}
.botones-landingpage-cabecera{
	width: 440px;
}
.bt_entrar_cab .boton-cabecera-landing{
	width: 120px;
}
.navbar-brand{
	margin-top: 17px;
}