{% macro data(doc_name, num_of_docs=3) %}
    <div class="panel-attachements">
      <div class="container container_custom">
        <div class="row">
          {% for num in range(num_of_docs) %}
          <div class="col-xs-4">
            <div class="uploaded-doc">
              <div class="uploaded-doc__thumbnail">
                <img src="images/receipt-example.png" alt="document">
              </div>
              <div class="uploaded-doc__actions">
                <h3>{{ doc_name }}</h3>
                <a href="#" class="action-edit">
                  <span class="icon">Editar</span>
                </a>
                <a href="#" class="action-delete">&nbsp;</a>
              </div>
              <div class="divider"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endmacro %}
