{% macro content(options, selectOption, title, messageError, classError) %}
<div class="form-group {{classError}}">
  {% if title %}
  <label class="form-control-title control-label">{{title}}</label>
  {% endif %}

  <div class="select-dropdown">
    <select class="dropdown__options form-control">
      {%- for option in options %}
      <option value="" disabled selected hidden>{{selectOption}}</option>
      <option>{{option}}</option>
      {%- endfor %}
    </select>
  </div>
  <span class="message-error">{{messageError}}</span>
</div>

{% endmacro %}
