{% macro content(options, selectOption, title, messageError, classModDropdown, classModTitle) %}

{% if title %}
  <label class="form-control-title {{classModTitle}}">{{title}}</label>
{% endif %}

<div class="select-dropdown {{classModDropdown}}">
  <select class="dropdown__options">
    {%- for option in options %}
    <option value="" disabled selected hidden>{{selectOption}}</option>
    <option>{{option}}</option>
    {%- endfor %}
  </select>
</div>

{% if messageError %}
  <span class="message-error">{{messageError}}</span>
{% endif %}

{% endmacro %}
