{% macro content(title, contentInput, simbol, disabled, classMod, textSmall) %}
  <div class="input-simbol">
    {% if textSmall %}
    <div class="input-simbol__header">
      <label class="form-control-title">{{title}}</label>
      <span>{{textSmall}}</span>
    </div>
    {% else %}
    <label class="form-control-title">{{title}}</label>
    {% endif %}
    <div class="input-simbol__input {{classMod}}">

      {% if disabled %}
      <input type="text" placeholder='{{contentInput}}' disabled><span>{{simbol}}</span>
      {% else %}
      <input type="text" placeholder='{{contentInput}}'><span>{{simbol}}</span>
      {% endif %}

    </div>
  </div>
{% endmacro %}
