
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

dl.dl-tiempoDeEspera
{
	display: inline-block;
	width:230px;
	margin:0px;

	dt,
	dd {
		display: inline-block;
		color: $textcolor-grey;
		line-height: 12px;
	}

	dt {
		width: 120px;
	}

	dd{
		margin-left: 0px;
	}
}

//
//	div.tiempoDeEspera
//
div.tiempoDeEspera
{
	margin:0px;
	padding:0px;
	span.tiempoDeEspera-data
	{
		font-size:  $fontSize;
		display: inline-block;
		background-color:$grey;
		padding: 0px 0px 5px 0px;
		margin-top: 1px; // pixel-perfection
		vertical-align: top;
		width: 293px; //ancho fijo. diseño
		font-style:normal;

		dl
		{
			@extend dl.dl-tiempoDeEspera;
			margin-left: 10px;
			color: $textcolor-grey;

			dt:first-child
			{
				margin-top: 0px;
			}
		}

		p
		{
			@include clearfix();
			margin: 0px 0 0 0px;
			font-size: inherit;

			span:nth-last-child(1)
			{
				display: block;
				float: left;
			}

			span:nth-last-child(2)
			{
				display: block;
				width: 110px;
				float: left;
			}
		}

		p:nth-last-child(1)
		{
			margin-top: 0px;
		}

		span {
			font-size: inherit;
			color: $textcolor-blue2;
		}

		strong.header
		{
			display: block;
			line-height: 15px;
			vertical-align: top;
			color: $textcolor-blueTitle;
			font-size: inherit;
			padding: 5px 10px;
		}

		i.icon-espera
		{
			@include background(image-url("espera.png"));
			@include background-size(25px 25px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 25px;
			height: 25px;
			background-repeat:no-repeat;
			background-position: center;
		}

		a{
		text-decoration:underline;
		}
	}

	span.tiempoDeEspera-image
	{
		display: inline-block;
		padding:0px 8px 0px 10px;
		vertical-align: top;

		i.icon-espera-web
		{
			@include background(image-url("espera-2.png"));
			@include background-size(60px 60px);
			display: inline-block;
			width: 60px;
			height: 60px;
			background-repeat:no-repeat;
		}
	}

	span.tiempoDeEspera-data > p:nth-of-type(2)
	{
		margin-bottom: 10px;
	}

	////Styles especialidades
	span.tiempoDeEspera-data-especialidades
	{
		@extend span.tiempoDeEspera-data;
		width: 440px !important; //ancho fijo. diseño

		dl.dl-tiempoDeEspera-especialidades
		{
			@extend span.tiempoDeEspera-data;
			width:240px !important;

		}
		span.link-vermas{
			a{
			vertical-align: bottom;
			}
		}

	}

	span.tiempoDeEspera-image-especialidades
	{
		@extend span.tiempoDeEspera-image;
		padding:0px 8px 0px 0px !important;//width: 440px !important; //ancho fijo. diseño
	}

	//Styles Hospitales
	span.tiempoDeEspera-image-unhospital
	{
		@extend span.tiempoDeEspera-image;
		width: 60px !important;
		i.icon-espera-40
		{
			@include background(image-url("espera-2.png"));
			@include background-size(40px 40px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 40px;
			height: 40px;
			background-repeat:no-repeat;
			background-position:50% 50%;
		}
		span
		{
			width: 58px;
			display: inherit;
			a{
				color: $textcolor-blueUnder !important;
				font-size: $fontSizeUrl;
				font-weight:  bold;

			}
			i.icon-flecha-a
			{
				@include background(image-url("iconListCajas.gif"));
				@include background-size(8px 8px);
				display: inline-block;
				width: 8px;
				height: 8px;
				background-repeat:no-repeat;
			}
		}
	}

	//Styles Listado Hospitales
	span.tiempoDeEspera-data-listado
	{
		font-size: $fontSizeSmall !important;
		@extend span.tiempoDeEspera-data;
		width: 293px !important; //ancho fijo. diseño
		padding: 0px 0px 3px 0px;
		strong.header
		{
			display: inline-block !important;
			padding: 2px 0px 2px 10px !important;
		}
		a{
			color: $textcolor-blueUnder !important;
		}
	}

	span.tiempoDeEspera-image-listado
	{
		@extend span.tiempoDeEspera-image;
		i.icon-espera-web-50
		{
			@include background(image-url("espera-2.png"));
			@include background-size(50px 50px);
			display: inline-block;
			padding: 0px !important;
			width: 50px;
			height: 50px;
			background-repeat:no-repeat;
			background-position-y:top;
			background-position-x:50%;
		}
	}

	//Styles Hospitales
	span.tiempoDeEspera-data-hospitales
	{
		@extend span.tiempoDeEspera-data;
		width: 293px !important; //ancho fijo. diseño
		margin-top: 10px !important;
		strong.header
		{
			display: inline-block !important;
			padding: 10px 10px 0px 0px !important;
		}
		a{
			color: $textcolor-blueUnder !important;
		}
	}

	span.tiempoDeEspera-data-unhospital
	{
		@extend span.tiempoDeEspera-data;
		padding: 0px 0px 4px 0px !important;
		margin: 6px 0px 11px 0px !important;


		strong.header
		{
			display: inline-block !important;
			padding: 0px 10px !important;
		}
	}

	//Styles Hospitales
	span.tiempoDeEspera-data-unhospital-2
	{
		@extend span.tiempoDeEspera-data;
		padding: 10px 10px 11px 10px !important;
		margin: 6px 0px 6px 0px !important;
		font-style:normal;

		strong.header
		{
			display: inline-block !important;
			padding: 0px 10px 5px 10px !important;
		}
	}

	//Styles Hospitales
	span.tiempoDeEspera-image-unhospital-2
	{
		@extend span.tiempoDeEspera-image;
		width: 60px !important;
		font-style:normal;
		i.icon-espera-60
		{
			@include background(image-url("espera-2.png"));
			@include background-size(60px 60px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 60px;
			height: 60px;
			background-repeat:no-repeat;
			background-position:50% 50%;
		}
		span
		{
			width: 60px;
			display: inherit;
			margin-top: 55px;
			font-style:normal;
			a{
				color: $textcolor-blueUnder !important;
				font-size: $fontSizeUrl;
				font-weight:  bold;

			}
			i.icon-flecha-a
			{
				@include background(image-url("iconListCajas.gif"));
				@include background-size(8px 8px);
				display: inline-block;
				width: 8px;
				height: 8px;
				background-repeat:no-repeat;
			}
		}
	}
} //EO div.tiempoDeEspera

//chartContent
.chartContent
{
	.imgBox
	{
		@include clearfix();
		margin:auto;
		img {
			height: 170px;
			padding-right: 5px;
		}
	}

	h3
	{
		color: $textcolor-green !important;
	}
	span.tiempoDeEspera-image-vermas
	{
		display: inline-block;
		margin-top: -30px;
		i.icon-espera-vermas
		{
			@include background(image-url("espera-2.jpg"));
			@include background-size(70px 70px);
			display: inline-block;
			width: 70px;
			height: 70px;
			background-repeat:no-repeat;
			border: white 3px solid;
		}

	}

	form {
		margin: 10px 0;
	}

	canvas {
		margin: 10px 0;
	}

	i.icon-calendar
	{
		@include background(image-url("calendar.png"));
		@include background-size(32px 32x);
		display: inline-block;
		width: 32px;
		height: 32px;
		padding-left:40px;
		background-repeat:no-repeat;
	}

	.positionhack
	{
		color: $textcolor-blueUnder;
		font-weight: bold;
		margin-top: -33px;
		margin-left: 78px;
		font-size: $fontSizeLarge;
	}

	.filterchart
	{
		span{
			padding:10px;
		}
		select{
			margin:10px 10px 10px 0px;
		}
	}

	.otroscentros
	{
			span{
				padding:10px 10px 10px 0px;
			}
			select{
				margin: 10px 10px 10px 12px;
			}
	}

} //EO chartContent

.cajasDestacadas
{
	@include clearfix();
	width: 423px !important;
	display:inline-block !important;
	border:0px !important;
	div.cajaDereHospitales
	{
		display:inline-block !important;
		border:0px !important;
	}
}

.cajasDereHospitales {
	display:inline-block !important;
	border:0px !important;
}

.includeExternal{
	@include clearfix();
}

.dobleAnchoEspera{
	width: 408px !important;
	//border-radius: 6px;
	@include border-radius(6px);
	border: #89969F 1px solid;
	margin: 3px 0px 3px 0px;
	padding: 5px 5px 3px 5px;
}

//borderExtra
div.borderExtra
{
	border-radius: 5px;
	border: #89969F 1px solid;
	padding: 10px 10px 5px 10px;

	div.bannerHomeHospitales
	{
		a
		{
		 	img
		 	{
		 		width: 95% !important;
		 	}
		}
	}

}

//Cambios 21/08/2013
.hospitalSeo
{
	min-height:250px !important;
}


.fichaTiemposEspera
{
	clear: both;
	display: inline-block;
	color: #333;
	font-size: 1.0em;
	@include border-radius(6px);
	border: #89969F 1px solid;
	@include background(image-url("son094305-3.png"));
	background-repeat: no-repeat;
	overflow: hidden;

	.fichaTiemposEsperaText
	{
		color: #8E908F;
		padding-left: 200px;
		overflow: hidden;
		margin: 10px;
		h4
		{
			color: inherit;
			font-size: 1em;
			font-weight: normal;
		}

		dl.dl-tiempoDeEspera
		{
			@include clearfix();
		    line-height: 14px;
		    font-size: $fontSizeLarge;
			margin: 0px 0px 10px 0px;
			padding: 0px;
			display: inline-block;
			width: 100%;

			dt, dd
			{
			    font-weight: bold;
			    line-height: 1.7em;
			    display: inline-block;
			}

			dt
			{
			    width: 125px;
				color: $greydark;
				padding-left: 20px;
				@include background(image-url("reloj-azul.png"));
				@include background-size(14px 14px);
				background-repeat: no-repeat;
				background-position-y: 50%;
			}

			dd
			{
				margin: 0px;
				padding: 10px 0 0 0px;
				width: 160px;
			    color: $greydark;
			    strong
			    {
			    	font-size: 1.6em;
			    	color: $greydark;
			    }
			}
		}
	}

}

//Modificaciones 11/09/2013
//used in: tiempoDeEspera-unhospital
.contentCajasHospitales
{
	margin-top: 25px;
}

//used in: tiempoDeEspera-unhospital
.tiempoDeEsperaList
{
	.Maps {
		margin-left: 0px;
		padding-left: 3px;

		img {
			width: 207px;
		}
	}

	h3 {
		@include background(image-url("icon-timeBig.png"));
		background-repeat: no-repeat;
		line-height: 2em;
		color: $textcolor-blueTitle;
		font-size: 1em;
		padding-left: 24px;
		width: 200px;
		margin: 5px 0 0 0;
	}

	.dl-tiempoDeEspera
	{
		width: 100%;
		margin-bottom: 5px;

		dt,dd {
			line-height: 2em;

		}
		dt {
			color: $black;
			font-size: 0.9em;
			font-weight: bold;
			width: 100px;
			padding-left: 3px;
		}
		dd {
			font-size: 0.9em;
			color: $textcolor-greyLight;
			@include background(image-url("reloj-azul.png"));
			background-repeat: no-repeat;
			padding-left: 20px;
			background-position-y: 3px;
		}
		hr {
			border-bottom: 1px solid $grey;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			margin: 0px;
		}
	}

}

//used in: tiempoDeEspera-unhospital
.tiempoDeEsperaContent
{
	margin-left: 0px;

	.footer
	{
		margin-left: 3px;
		a {
			text-decoration: none;
			color: $textcolor-blueUnder;
			font-weight: bold;
			font-size: 0.9em;

			&:hover {
				color: $textcolor-blueTitle;
			}
		}
	}
}












