@charset "UTF-8";
/* CSS Document */

body.fancy{
	background:#fff;
	height:500px;
	}

body.misanitas{
	background:url(../images/fondo-manzanas-blue.jpg);
	
	}


header .misanitas	{
	float:right;
	background:url(../images/sprite.svg) 0px -200px no-repeat;
	display:inline-block;
	text-indent:-2000px;
	border-left:1px solid #0f5f9a;
	color:#fff;
	
	
	}  
header .misanitas a{
		color:#fff!important;
		}

/*misanitas*/

section.nav.full-width.misanitas{
	width:100%;
	margin-top:0;
	}
	
.misanitasNav ul {

	display:inline-block;
	width:100%;
	background:url(../images/line.gif)  50% repeat-x;
	}	
.misanitasNav ul li{
	display:block;
	float:left;
	background:#87b7db;
	width:21%;
	margin:1%;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	padding:1%;	
	}	
.misanitasNav ul li:first-child{
	margin-left:0%;
	width:22%;
	}	
.misanitasNav ul li:last-child{
	margin-right:0%;
	width:22%;
	}		
.misanitasNav ul li.activa{
	background:#1879be;
		}
section.misanitasContent{
	width:60%;
	float:left;
	
	}	
section.misanitasContent.full-width{
	width:98%;
	float:none;	
	padding:1%;	
	}
	
.misanitasContent .caja-busqueda.total{
	width:96%;
	padding:2%
	}
	
.misanitasContent .contentListado select{
	float:left;
	width:auto;
	background:#FFF;
	border:1px #CCC solid;
	
	}	
.misanitasContent ul.tipo-seguro.resultado	{
	display:inline-block;
	margin-top:0;
	}	
.misanitasContent ul.tipo-seguro.resultado	li{
	display:block;
	float:left;
	width:48%;
	padding:1%;
	margin:0;
	clear:none;
	border:0;
	
	}	
	
.misanitasContent h2	{
	border-bottom:1px solid #000;
	
	}
.misanitasContent label{
	width:18%;
	display:block;
	padding-left:2%;
	float:left;
	color:#1977b7;
	}	
	

.misanitasContent select{
	width:70%;
	border:1px solid #bcbcbc;
	/*padding:1%;*/
	float:right;
	}	
.misanitasContent input[type="text"]{
	border:0;

	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0 1px 00px rgba(0,0,0,0);	
	
		}	
	
.misanitasContent input[type="button"]{
background: #dedadb; /* Old browsers */
background: -moz-linear-gradient(top,  #dedadb 0%, #eae6e7 50%, #f1edee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedadb), color-stop(50%,#eae6e7), color-stop(100%,#f1edee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dedadb 0%,#eae6e7 50%,#f1edee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dedadb 0%,#eae6e7 50%,#f1edee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dedadb 0%,#eae6e7 50%,#f1edee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dedadb 0%,#eae6e7 50%,#f1edee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedadb', endColorstr='#f1edee',GradientType=0 ); /* IE6-9 */
border:0;
text-transform:uppercase;
padding:5px;	
	}	
.misanitasContent ul{
	padding-top:10px;
	padding-bottom:10px;
	}

.misanitasContent li{
	display:inline-block;
	clear:both;
	width:100%;
	margin-top:1%;
	margin-bottom:1%;
	
	}
	
		
	
li.citaMisanitas span{
	background:url(../images/sprite_misanitas.svg) 0px 0px no-repeat;
	width:8%;
	max-width:30px;
	height:30px;
	display:block;
	float:left;
	}
li.buscarCentro span{
	background:url(../images/sprite_misanitas.svg) 0px -65px no-repeat;
	width:8%;
	max-width:30px;
	height:30px;
	display:block;
	float:left;
		}	
li.especialidad span{
	background:url(../images/sprite_misanitas.svg) 0px -130px no-repeat;
	width:8%;
	max-width:30px;
	height:30px;
	display:block;
	float:left;	
	}	
li.tipoVisita span{
	background:url(../images/sprite_misanitas.svg) 0px -195px no-repeat;
	width:8%;
	max-width:30px;
	height:30px;
	display:block;
	float:left;
		}	
li.centroMisanitas span{
	background:url(../images/sprite_misanitas.svg) -90px 0px no-repeat;
	width:10%;
	max-width:40px;
	height:30px;
	display:block;
	float:left;
		}	
li.medicoCentro span{
	background:url(../images/sprite_misanitas.svg) -90px -65px no-repeat;
	width:10%;
	max-width:40px;
	height:30px;
	display:block;
	float:left;
		}		
li.fechaMisanitas span{
	background:url(../images/sprite_misanitas.svg) -90px -130px no-repeat;
	width:10%;
	max-width:40px;
	height:30px;
	display:block;
	float:left;
		}
li.horaMisanitas span{
	background:url(../images/sprite_misanitas.svg) -90px -202px no-repeat;
	width:10%;
	max-width:40px;
	height:30px;
	display:block;
	float:left;
		}									
		
a.addContact span{
	background:url(../images/sprite_misanitas.svg) -262px -5px no-repeat!important;
	height:30px;
	background-size:100%;
	}	
a.addFavorite span{
	background:url(../images/sprite_misanitas.svg) -262px -50px no-repeat!important;
	height:30px;
	background-size:100%;
	}			
			
.contentField	{
	border:1px solid #bcbcbc;
	width:69.5%;
	float:right;
	padding:0;
	
	}	
		
.misanitasContent .contentField input[type="text"]{
	width:70%;
	}		
.misanitasContent .contentField input[type="button"]{
	width:25%;
	float:right!important;
	margin:1%;
	}	
	
	
section.duda.contratacion.misanitas{
	width:34%;
	float:right;
	margin-top:0;
	background:none;
	padding:0;
	
	}	
.misanitas section h2	{
	font-weight:normal;
	font-size:15px;
	color:#828081;
	
	}		
.misanitas h2.info{
	min-height:40px;
	}	
.misanitas div h2{
	min-height:auto;
	font-size:18px;
	}	
	
.misanitasContent form{
	position:relative;
	}
.misanitasContent a.button-destacado{
	/*bottom:-70px;
	position:absolute;
	width:40%;
	right:0;*/
	
	}	
.misanitasNav ul li span:after{
	content:" - ";
	}	
	
section.misanitasContent hgroup.todos.centros.listado article li div	{
	background:none;
	padding-top:.0;
	padding-bottom:0;
margin-top:0;
	margin-bottom:0;
	
	}
section.misanitasContent hgroup.todos.centros.listado article li div div{
	width:58%;
	background: url("../images/sep-location.png") repeat-y scroll right center transparent;
	padding:1%;
	}	
section.misanitasContent .todos article ul li{
	border-bottom:0;
	
	}	
	
/*estilos carrusel fecha*/

section.misanitasContent #wrapper{
	height:auto;
	padding:0;
	width:90%;
	margin-left:5%;
	}
	
section.misanitasContent #scroller{
	width:2700px;
	background:#fff;

	}	

section.misanitasContent #scroller ul{
	width:auto;
	height:66px;
	padding-top:10px;
	padding-bottom:10px;
	

	
	}

section.misanitasContent #scroller li	{
-moz-box-sizing: border-box;
    clear: none;
    display: block;
    float: left;
    position: relative;
    width: 1.7%;
    margin: 15px;
	margin-top:0;
	margin-bottom:0;
	top:-7px;
	}
section.misanitasContent #scroller li:first-child	{
	margin-left:0;
	}


section.misanitasContent #scroller li div.slide{
	 left: 0px;
    padding: 10px;
    position: relative;
    top: 0px;
    width: 100%;
	text-align:left;
	min-height:auto;

	
	}

section.misanitasContent #indicator {
	display:none;
	
	}
	
section.misanitasContent #scroller li,	
section.misanitasContent div.slide {
	width:65px!important;


	}
section.misanitasContent div.slide {
	padding-right:15px!important;	
	}
section.misanitasContent div.slide strong,
section.misanitasContent div.slide span {
	border-right: 1px solid #CCCCCC;
	}	
section.misanitasContent div.slide strong	{
	font-size:28px;


	}
section.misanitasContent #scroller ul#thelist{
	padding-right:30px;
	
	}
	
.slide.inactivo strong,
.slide.inactivo span{
	color:#b9b9b9!important;
	}
.slide.seleccionado strong,
.slide.seleccionado span{
	color:#1879be!important;
	}			
section.misanitasContent .slide strong,
section.misanitasContent .slide span{
	color:#5a5a5a;
	}		
	
section.misanitasContent .slide{	
	   box-shadow: 2px 0px 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0);
	border:0;
}
section.misanitasContent #nav{
	margin-top:-116px;
	top:0;
	left:0;
	background:none;
	padding:0;
	width:100%;
	z-index:0;
	
	}
section.misanitasContent #prev,
section.misanitasContent #next	{
	display:block!important;
	background:#176daa;
	width:5%;
	height:76px;

	}	
section.misanitasContent #prev img,
section.misanitasContent #next img	{
	width:35px;
	margin-top:45%;
	
	}	
/*estilos carrusel fecha*/	
		
ul.citasDisponibles {
	width:38%;
	float:right;
	margin-left:2%;
	}	


ul.citasDisponibles li{
	display:block;
	float:left;
	width:31%!important;
	clear:none;
	text-align:center;
	margin-left:.5%;
	}
	
ul.citasDisponibles li a.button-destacado{
	width:100%!important;
	padding:0;
	margin:0;
	display:block!important;
	float:none;

	}	
ul.citasDisponibles li.more a.button-destacado:after{
	content:" >";
	white-space:nowrap;
	
	}	
ul.citasDisponibles li.more{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	}	
		
.dudas	{
	background:#9dc6e4;
	color:#fff;
	padding:2%;
	width:96%;
	margin-top:10px;
	display:none;
	
	}	
.dudas h3{
	color:#fff!important;
	
	}	
	
.wrapperButtons.citas a.button-destacado.white{
	width:30%;
	float:left;
}	
.wrapperButtons.citas a.button-destacado.white span{
	
	}
.wrapperButtons.citas a.button-destacado.blueSanitas{
	width:40%;
	float:right;
	
	}	
.misanitasContent input[type="date"]{
	border: 1px solid #BCBCBC;
    float: right;
    padding: 0;
    width: 70%;
	padding-top:.5%;
	padding-bottom:.5%;
	
	}	
	
	
/*citas paso4*/	
.datosUser	{
	display:inline-block;
	width:100%;
	}
.datosUser div{
	width:59%;
	float:left;
	margin-left:1%;
	}
.datosUser div.wrapperButtons	{
	width:50%;
	
	}
.datosUser ul li{
	margin-top:2px;
	margin-bottom:2px;
	}

.datosUser	img{
	float:right;
	width:39%;
	margin-left:0%;
	margin-top:1%;
	margin-right:1%;

	}	
.datosUser h2{
	border-bottom:0;
	}	
	
.datosUser a.button-destacado {
	width:auto;
	clear:both;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	text-transform:none;
	color:#1872b0;
	right:0;
	position:relative;
	padding-left:5px;
	}	
.datosUser a.button-destacado span{
	position:relative;
	border:0px solid #000;
	left:0;
	margin-right:5px;
	float:left;
	}	
	
.contentListadoCitas	{
	padding:0!important;
	width:100%!important;
	}

.contentListadoCitas div{
	
	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0)!important;
	border:0!important;
	}
.contentListadoCitas ul.citasDisponibles{
	width:100%;
	float:none;
	display:inline-block;
	background:none;
	
	}	
.contentListadoCitas ul.citasDisponibles li{
	width:15.2%!important;
	
	}	
	
.caja-busqueda strong{
		
		color:#1977b7;
		}		
/*citas paso4*/	
	
	
/*home*/	
.homeMiSanitas .box-white 	{
	width: 95%;
	
	}

.box-blue.alert{
	background:#8abcdf;
	color:#fff;
	
	}

.homeMiSanitas .box-white.inside{
	padding:2%;
	width:96%;
	clear:both;
	margin-bottom:10px;
	margin-top:10px;
	}
.homeMiSanitas .box-white h3{
	text-transform:none;
	color:#4d4b4c;
	
	}	
.homeMiSanitas .box-white.inside h3{
	padding-top:5px;
	}	
.homeMiSanitas .box-white.inside img{
	width:30%;
	float:left;
	margin-right:1%;	
	margin-top:0px;
	}	
.homeMiSanitas .box-white.inside img.totalSize{
	width:100%;
}
.homeMiSanitas .box-white.inside span.addedText{
	margin-top:10px;
	display:inline-block;
	
	}	
.homeMiSanitas .box-white a.button-destacado {
	float:right!important;
	
	}	

.alert span{
	width:85%;
	display:block;
	}	
	
span.date{
	color:#257eba;
	}	
span.dateConsulta{
	color:#4D4B4C;
	}		

span.icon-alert{
	width:40px;
	height:40px;
	float:left;
	display:block;	
	margin-right:10px;
	margin-top:-5px;
	background:url(../images/sprite_misanitas.svg) -250px -125px no-repeat;
	
		}
	
.alert span.arrow-white{
	width:20px;
	height:20px;
	position:absolute;
	display:block;	
	right:30px;
	top:45%;
	background:url(../images/sprite.svg) -10px -50px no-repeat;
	}

a.story span{
	width:20px;
	height:20px;	
	float:left;
	margin-right:2px;
	background:url(../images/sprite_misanitas.svg) -265px -90px no-repeat;
	margin-top:-3px;
	}
	
	
.homeMiSanitas .box-white.inside ul.misanitasInfo {
	padding:0;
	}
.homeMiSanitas .box-white.inside ul.misanitasInfo li{
	width:48%;
	padding:0;
	margin:1%;
}
.homeMiSanitas .box-white.inside ul.misanitasInfo li img{
	width:100%;
	display:block;
	}	
.homeMiSanitas .box-white.inside ul.misanitasInfo li span{
	max-height:70px;
	
	}	
.homeMiSanitas .box-white.inside ul.misanitasInfo li a.button-destacado{
	margin-left:0;
	margin-right:0;
	margin-top:10px;
	width:90%;
	clear:both;
	}
	
.homeMiSanitas .box-white h2{
	color:#217fbf;
	margin-bottom:10px;
	}	

hr.separator{
	border:0;
	width:10px;
	background:#FFF;
	
	}	
	
.box-lateralMisanitas{
	background:#bcc9d2;
	display:block;
	 padding:10px;
	 margin: 0 0 0 -1.5%;
	 width: 96%;
	 margin-bottom:10px;
	}	
.box-lateralMisanitas a.button-destacado{
	text-transform:none;
	font-size:14px;
		
	}
.box-lateralMisanitas h2{
	color:#67686c;
	font-size:14px;
	margin-bottom:10px;
	}
.box-lateralMisanitas div{
	background:#fff;
	padding:10px;
	}	
	
	
ul.citasActivas	{
	padding:0!important;
	width:100%;
	}

ul.citasActivas li{
	width:100%!important;
	display:block;
	border-bottom:4px solid #f0eced;
	margin-left:-1%;
	position:relative;
	}	
ul.citasActivas li span.arrow{
	position:absolute;
	width:20px;
	height:20px;
 background: url("../images/sprite.svg") no-repeat scroll -50px top transparent;	
	}	
.day	{
	display:block;
	height:30%;
	min-height:60px;
	max-width:120px;
	width:30%;
	background:#177abe;
	color:#fff;
	text-align:center;
	float:left;
	margin-right:1%;
	padding-top:20px;
	}	
.day strong{
	color:#fff;
	font-size:18px;
	display:block;
	}	
	
.infoCita {
	float:left;
	width:65%;
	}	
.infoCita h2{
	text-transform:none;
	color:#4c4c4c!important;
	font-size:14px;
	
	}	
	
.infoCita h3{
    font-family: 'GothamLightRegular';
	font-size:12px;	
	padding-bottom:10px;
	}
.infoCita h3:last-child{
	padding-bottom:0px;
	}		
.homeMiSanitas .box-white a.button-destacado span{
	right:10px;
	top:30%;
	}	
/*home*/	
	
.fancyListadoEspecialidades ul	{
	border:4px solid #f0eced;
	
	}

.fancyListadoEspecialidades ul li{
	
	border-bottom:2px solid #f0eced;
	display:block;
	width:100%;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	background:url(../images/left-arrow.svg) right no-repeat;
	
	}	
	
	
	
.formFancy a.button-destacado {
    padding-bottom: 8px;
    padding-top: 8px;
	float:right;
	width:30%;
	margin-top:-20px;
}	
body.fancy h2{
	font-size:14px;
	margin-top:10px;
	margin-bottom:10px;
	
	}	
/*misanitas*/

.homeMiSanitas .cajasCuerpo	{
	margin-bottom:10px;
	
	}	

@media screen and (max-width : 320px) {
	
.misanitasNav	{
	display:block;
	width:98%;
	margin:auto;
	
	
	}	
	.homeMiSanitas .box-lateralMisanitas{
		width:92%!important;
		margin-bottom:5px!important;
		margin-top:5px;

		}
	.homeMiSanitas div div.box-grey	{
		width:92.5%;
		
		}
.misanitasNav ul li{
	margin-left:0%;
	width:24.8%!important;
	}	
li.horaMisanitas span,
li.fechaMisanitas span,	
li.medicoCentro span,	
li.centroMisanitas span,	
li.tipoVisita span,	
li.buscarCentro span,	
li.especialidad span,	
li.citaMisanitas span	{
	 width: 50px;
	
	}	
	
	}



@media screen and (max-width : 480px) {
.misanitasNav	{
	display:block;
	width:99.5%;
	margin:auto;
	
	
	}		
.misanitasNav ul li:first-child{
	margin-left:0%;
	width:24%;
	}	
.misanitasNav ul li:last-child{
	margin-right:0%;
	width:23.2%;
	float:right;
	}		
	
.misanitasNav ul li{
	margin-left:0%;
	width:24.3%!important;
	}		
.misanitasContent .contentListado select {
    float: none;
    width: auto!important;
}	
	
.wrapperButtons.citas a.button-destacado.white{
	width:30%;
	float:left;
	margin:0;
	padding-bottom: 8px;
    padding-top: 12px;
	margin-top:10px;
	height:14px;
	}
	
a.button-destacado.back span	{
  left: -15px;
    top: -3px!important;	
	}	
	
	
.misanitasContent li span	{
	/*width:90px!important;*/
	
	}	
	
.misanitasContent li.opc1 span	{
	width:auto!important;
	
	}	
		

.misanitasContent li span.arrow-grey	{
	width:25px!important;
	
	}	
	
.misanitasContent .slide li span	{
	width:auto!important;
	
	}	
.misanitasNav ul li {
	font-size:8px!important;
	width:24%;
	padding:.2%!important;
	margin:.5%;
	}	
	
/*ajustes seleccion cita*/
section.misanitasContent #prev, section.misanitasContent #next {
    background: none repeat scroll 0 0 #176DAA;
    display: block !important;
    height: 76px;
    width: 10%;
}
section.misanitasContent #prev img,
section.misanitasContent #next img{
	width:70%;
	margin-top:70%;
	
	}
section.misanitasContent #nav{
	margin-top:-90px;
	z-index:1;
	
	}
.misanitasContent .contentListado select{
	float:none;
	width:100%;
	
	}	
section.misanitasContent hgroup.todos.centros.listado article li div div{
	width:68%
	
	}	
section.misanitasContent hgroup.todos.centros.listado article li div div h3,
section.misanitasContent hgroup.todos.centros.listado article li div div h2{
	width:85%
	
	}	
section.misanitasContent .todos.centros.listado article li div span.arrow-grey{
	right:10px;
	
	}	
ul.citasDisponibles {
    width: 28%;
}	
	
ul.citasDisponibles li{
	display:block;
	width:100%!important;
	
	}	
	
ul.citasDisponibles li:nth-child(3),
ul.citasDisponibles li:nth-child(4),
ul.citasDisponibles li:nth-child(5) {
	display:none;
	
	}
	
ul.citasDisponibles li:last-child{
	display:block;
	
	}	
/*ajustes seleccion cita*/
	
/*misanitas*/
.dudas	{
	display:block;
	}
section.duda.contratacion.misanitas{
	width:96%;
    float: none;
	padding:2%;
	}	
section.misanitasContent {
    float: none;
	width:96%;
}	
.misanitasContent label{
	  width: 100%;
	  float:none;
	  margin-bottom:10px;
	  display:block;
	  height:15px;
	  padding-left:10%;
	  padding-top:5px;
	}
.misanitasContent select{
	 width: 100%;
	  float:none;
	
	}
.contentField{
 width: 100%;
	  float:none;
	  padding-bottom:10px;	
	}

.misanitasNav ul li {
	font-size:10px;
	}
.misanitasNav ul li span{
	display:block;
	
	}	
.misanitasNav ul li span:after{
	content:"";
	}	
	
.misanitasContent a.button-destacado{
	bottom: 0px;
    position: relative;
    right: 0;
    width: 92%;	
	}	
/*misanitas*/	
/*home mi sanitas*/

.cajasLaterales{
		display:none;
	}

.box-lateralMisanitas{
	margin:auto;
	width: 94%;
	margin-top:5px;
	
	}
.homeMiSanitas .box-white a.button-destacado {
    float: none!important;
	width:94%;
	margin-top:10px;
}	
.homeMiSanitas .box-white.inside ul.misanitasInfo li {
   width:98%;
   float:none;
}
.homeMiSanitas .box-white.inside ul.misanitasInfo li img{
	
	
	}
	
.misanitasContent .caja-busqueda a.button-destacado	{
	width:84%;
	
	}	
	
.misanitasContent .caja-busqueda a.button-destacado.change	{
	width:20%;
	float:right;
	text-align:center;
	padding-right:4%;
	padding-left:4%;

	}		
	
	
/*home mi santas*/
.datosUser div.wrapperButtons {
    width: 98%;
}
.datosUser div.wrapperButtons a {
   padding-bottom:10px;
}
.datosUser img{
	width:99%;
	
	}
.datosUser div {
	width:99%;
	}	

.homeMiSanitas .box-white div div a.button-destacado{	
	width: 89%;
	}	

}


@media screen 
and (min-width : 480px) 
and (max-width : 768px) {
	

.misanitasNav ul li span{
	
	display:block;

	}		
	
.homeMiSanitas .box-white a.button-destacado{	
	width: 94%;
	}	
	
	
.cajasLaterales{
		display:none;
	}

.box-lateralMisanitas{
	margin:0;
	width: 97%;
	margin-top:5px;
	margin-bottom:5px;
	padding: 1%;
	}
.homeMiSanitas .box-white a.button-destacado{
	
		padding-right: 3%!important;
}		
	
	}
@media only screen and (min-width: 600px) { 
	

	
}	
	
	
@media only screen and (min-width: 768px) { 
.homeMiSanitas .box-white a.button-destacado{
	width: 41%;
	float:right;
	max-width:200px;
	}
.box-lateralMisanitas{
	margin-left:1%;
	padding:10px;
	}
.cajasLaterales{
	display:none;
	}

.cajasCuerpo	{
	width:30%;
	float:right;
	
	
	}
.contenidoMisanitas	{
	width:70%;
	float:left;	
	}
.homeMiSanitas .box-white.inside ul.misanitasInfo li a.button-destacado{
	max-width:300px;
	}
}


@media only screen and (min-width: 1024px) {

.cajasLaterales{
	display:block;
	}


.cajasCuerpo	{display:none;}
.contenidoMisanitas	{
	width:100%;
	float:none;	
	}




}


/*borrar*/


nav li.on span.dot	{
	bottom:-37%;
	}


/*borrar*/