.alert {
  width: 325px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  border-top: 4px solid $colorGreen-500;
  border-bottom: 2px solid $colorGray-300;
  &__image {
    &-check {
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      background: transparent url(../images/icons/check-green-strong.png) center center no-repeat;
    }
  }
  img {
    width: 22px;
    right: 28px;
    top: 15px;
    position: absolute;
  }
  &__details {
    padding-top: 25px;
    p {
      font-size: 12px;
      color: $colorBlack;
    }
  }
  &__link {
    padding: 20px 0px;
    a {
      color: $colorBlack;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
