.simulation-form {
  h3 {
    font-size: 16px;
    color: $colorGray-450;
    margin-bottom: 26px;
    font-weight: $font-bold;
    display: block;
  }
  .radio-toggle {
    margin-bottom: 27px;
  }
  .dropdown__options {
    margin-bottom: 37px;
  }
}
