.simulation-form {
  h3 {
    font-size: 16px;
    color: $colorGray-450;
    margin-bottom: 26px;
    font-weight: $font-bold;
    display: block;
  }
  .radio-toggle {
    margin-bottom: 27px;
  }
  .select-dropdown {
    width: 200px;
    margin: 0 10px;
    display: inline-block;
  }
  .dropdown__options {
    margin: 5px 0;
    color: $colorGray-750;
    font-weight: 600;
    padding: 0 15px;
  }
}
