// Mixins
// --------------------------------------------------
// usage: @include breakpoint(large-desktop) { ... }
// usage: @include breakpoint(short-desktop) { ... }
// usage: @include breakpoint(min-desktop) { ... }
@mixin breakpoint($point) {
  @if $point == large-desktop {
    @media all and (max-width: 1850px) { @content; }
  }
  @else if $point == short-desktop {
    @media all and (max-width: 1280px) { @content; }
  }
  @else if $point == min-desktop {
    @media all and (max-width: 1024px)  { @content; }
  }
}

//Estructura utilizada para los articles
@mixin estructureArticles()
{
  @include clearfix();

  .container-article
  {
    @include clearfix();

    padding-top: 5px;

    .image-container-article {
      margin: 0px 20px 20px 0;
    }

    p {
      text-align: justify;
    }

    .dataContainer {
      width: 100%;
    }

    .image-article img {
      padding: 0 10px 10px 10px;
    }

    .text-article p {
     text-align: left;
    }

    .indexElement {
      @include clearfix();
      margin: 10px 0;
      min-height: 50px;
    }
  }

  .imgContainer
  {
    // width: 11%;
    // margin-right: 3%;
    img {
      max-width: 200%;
    }
  }

  .dataContainer
  {
    //  width: 86%;
    margin-bottom: 15px;
    a
    {
        color: $textColor;
        text-decoration: none;

        &:visited{
            color: $textColor;
        }
        &:hover{
            color: $grayDarkest;
        }
        &:active{
            color: $textColor;
        }
    }

    dl
    {
      margin-bottom: 0px;
      dd {
        margin-left: 0;
      }
    }
  }

}