<div id="sidr" class="sidr right">

  <ul>
    <li>
      <a class="sidrClassCoinc coinc" href="#">QUÉ ES COINC<span class="arrowDownMenu sidr-class-animatedArrowCoinc"></span></a>
      <ul style="display:none" class="menuUser toogleClass sidrMenuCoinc">
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/que-es-coinc">QUÉ ES COINC</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-ahorrar-mas-rapido">CÓMO LLEGAR MÁS RÁPIDO</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/tu-dinero-siempre-disponible">TU DINERO CUANDO QUIERAS</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-funciona-coinc">TUTORIALES</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/preguntas-frecuentes">PREGUNTAS FRECUENTES</a></li>
      </ul>
    </li>
    <li>
      <a class="sidrClassMetas comparte-metas" href="#">METAS<span class="arrowDownMenu sidr-class-animatedArrowMetas"></span></a>
      <ul style="display:none" class="menuUser toogleClass sidrMenuMetas">
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/que-es-una-meta-coinc">METAS</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-comparto-una-meta">COMO COMPARTO UNA META</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/donde-puedo-compartir-una-meta">DONDE PUEDO COMPARTIR UNA META</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-crear-un-bote-comun-o-meta-colectiva">COMO CREAR UN BOTE COMÚN</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/participar-en-un-bote-comun-o-meta-colectiva">PARTICIPAR EN UN BOTE COMÚN</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/administrar-un-bote-comun-o-meta-colectiva">ADMINISTRAR UN BOTE COMÚN</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/seguir-el-progreso-del-bote-comun-o-meta-colectiva">SEGUIR EL PROGRESO DEL BOTE COMÚN</a></li>
      </ul>
    </li>
    <li>
      <a class="sidrClassAhorradores club-ahorradores" href="#">DESCUENTOS EN COMERCIOS<span class="arrowDownMenu sidr-class-animatedArrowAhorradores"></span></a>
      <ul style="display:none" class="menuUser toogleClass sidrMenuAhorradores">
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/descuentos-en-comercios">DESCUENTOS EN COMERCIOS</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-funciona-el-club-de-ahorradores">CÓMO FUNCIONA EL CLUB</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-acceder-al-club-de-ahorradores">CÓMO ACCEDER AL CLUB</a></li>
        <li><a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/cheque-regalo-amazon">CHEQUE REGALO AMAZON</a></li>
      </ul>
    </li>
    <li><a class="contacta" href="/coinc/contacta-con-nosotros">CONTACTO</a></li>
    <li><a class="aviso_legal" href="/coinc/información-legal">LEGAL</a></li>
  </ul>
</div>

<header class="dev-public-header">
  <nav class="navbar navbar-default nav-ie8-1" role="navigation">
    <form novalidate="novalidate" id="j_id1552386531_3afb6fbd" name="j_id1552386531_3afb6fbd" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
      <div class="navbar-header">
        <button id="right-menuss" type="button" class="navbar-toggle">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="/coinc/menu-inicio" title="Logotipo" style="height:3em;" class="navbar-brand"></a>
      </div><input type="hidden" name="j_id1552386531_3afb6fbd_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03Lqh1jIbpFO3L5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH2Qzun9DsIFlGmQA6+CBISbwp5YSRl51EJzOU7O3Qf+NzAsNaA=="
      /></form>
    <form novalidate="novalidate" id="j_id1552386531_3afb6e7e" name="j_id1552386531_3afb6e7e" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
      <div class="logo_white">
        <a href="/coinchttps://ahorrador.coinc.es/que-es-coinc" title="COINC. Ir a inicio"></a>
      </div><input type="hidden" name="j_id1552386531_3afb6e7e_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03Lqh1jIbpFO3L5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH2Qzun9DsIFlGmQA6+CBISbwp5YSRl51EJzOU7O3Qf+NzAsNaA=="
      />
    </form>
    <form novalidate="novalidate" id="j_id1552386531_3afb6f00" name="j_id1552386531_3afb6f00" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right pull-right">
          <li class="hidden-xs"><input formnovalidate="formnovalidate" id="j_id1552386531_3afb6f00:j_id1552386531_3afb6ec2" name="j_id1552386531_3afb6f00:j_id1552386531_3afb6ec2" type="submit" value="Registrarse" onclick="var cf = function(){trackEvent(this, 'Cabecera','Registrarse', idtext)};var oamSF = function(){};return (cf.apply(this, [])==false)? false : oamSF.apply(this, []); "
              style="margin-top:5px" class="btn btn-default" />
          </li>
          <li class="hidden-xs">
            <div class="container-btn">
              <div class="botonera_top_est" id="boton_entrar">
                <div class="bt_entrar_cab">
                  <button type="button" class="btn btn-default" href="javascript:#.html" id="enter_toggle" onclick="trackEvent(this, 'Cabecera','Entrar', idtext)">Entrar
  			</button>
                </div>
              </div>
            </div>
          </li>
          <li class="hidden-xs logo pull-right">Una idea<br />
            <span class="hidden-xs logo pull-right"></span>
          </li>
          <li class="visible-xs">QUÉ ES COINC</li>
          <li class="visible-xs">DESCUENTOS EN COMERCIOS</li>
          <li class="visible-xs">COMPARTE TUS METAS</li>
        </ul>
      </div>
      <input type="hidden" name="j_id1552386531_3afb6f00_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03Lqh1jIbpFO3L5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH2Qzun9DsIFlGmQA6+CBISbwp5YSRl51EJzOU7O3Qf+NzAsNaA=="
      />
    </form>
    <form novalidate="novalidate" id="formHeader" name="formHeader" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
      <script>
        <!--
        idtext = "Registrarse";
        //-->
      </script>
      <!-- <div class="caja_registro_no_home" id="caja_registro">
        <div class="registro_content">
          <div class="registro_top_no_home left"></div>
          <div class="registro_back left">
            <div class="tipo_14 black">E-mail
            </div>
            <div class="tipo red">
              <div id="formHeader:j_id1381508193_2e946bdd"></div>
            </div><input id="formHeader:login" name="formHeader:login" type="text" value="" onfocus="document.getElementById('formHeader:login').value=''" size="24" class="caja_text_black rounded" />

            <div class="tipo_14 black">Contraseña
            </div>
            <div id="formHeader:j_id1381508193_2e946b1e"></div><input type="password" id="formHeader:password" name="formHeader:password" maxlength="12" size="24" class="caja_text_black rounded" />
            <br /><br />
            <div class="tipo_14 black">
              <a href="#" class="contr_olv_neww" style="color:black; " id="remember_toggle">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="botonera_top left">
              <div class="bt_entrar_reg"><input id="formHeader:enter_map" name="formHeader:enter_map" type="submit" value="Entrar" class="btn btn-default" />
              </div>
            </div>
          </div>
          <div class="registro_bottom left"></div>
        </div>
      </div>

      <div class="caja_registro_no_home" id="caja_registro2">

        <div class="registro_content">
          <div class="registro_top left"></div>
          <div class="registro_back left">
            <div class="content_mensaje left">
              <div class="tipo_14 black">
                <span>E-mail</span>
              </div><input id="formHeader:emailForRecover" name="formHeader:emailForRecover" type="text" value="" size="27" class="caja_text_black rounded" />
            </div>
            <div class="box_content_7 left">
              <div class=" ico_registro2" style="float:left">
                <img src="images/ico_barra_blue_3line_trans.png" alt="info" />
              </div>
              <div class="barra_blue_back_2line_mod">
                <span><span class="tipo_13 blueTexto bold">Sigue las instrucciones en el correo</span><span class="tipo_13 blueTexto"> que enviaremos a la dirección indicada.</span>
                </span>
              </div>
            </div>
            <div id="formHeader:divBtRecuperarContra">
              <div class="content_mensaje left">
                <div class="bt_recuperar_contra"><input id="formHeader:recoverBtn" name="formHeader:recoverBtn" type="submit" value="Recuperar contraseña" onclick="return myfaces.oam.submitForm('formHeader','formHeader:recoverBtn',null,[['originPage','map']]);" class="btn btn-default"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="registro_bottom left"></div>

      </div>

      <div class="caja_registro" id="caja_registro3">

        <div class="registro_content">
          <div class="registro_top left"></div>
          <div class="registro_back left">
            <div class="content_mensaje tipo_14 black left">¡Gracias! Por favor mira tu e-mail.
            </div>
            <div class="box_content_7 left">
              <div class=" ico_registro2 left">
                <img src="images/iconos/ico_barra_blue_5line_trans.png" alt="info" />
              </div>
              <div class="barra_blue_back_2line_mod" style="height: 151px;width: 170px;"><span class="tipo_13 blueTexto">Te hemos enviado un correo que te permitirá recuperar tu contraseña fácilmente. Sigue las instrucciones que encontrarás en este mensaje.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="registro_bottom left"></div>

      </div> -->

      <script>
        <!--

        /*
        # {loginBB.manglerBodyFunction}
        function farfulloPassword(pLogin,pPassw,pSpyke){
        $('#formHeader\\:password').val((pLogin,pPassw,pSpyke));
        }
        var psi = new copper.Psyspy().bind(document);
        var ctrl = new jari.Handler('formHeader', 'formHeader:password');
        var fLog = 'formHeader';

        $('#formHeader').submit(function() {
        farfulloPassword(jari.getInput(fLog,'formHeader:password').value, ctrl.getValue(), psi.encodedActions() );
        return true;
        });
        */

        //-->
      </script>

      <script type="text/javascript">
        <!--

        gaCall();

        //-->
      </script>
      <input type="hidden" name="formHeader_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03Lqh1jIbpFO3L5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH2Qzun9DsIFlGmQA6+CBISbwp5YSRl51EJzOU7O3Qf+NzAsNaA=="
      />
    </form>
  </nav>


  <nav class="login navbar visible-xs col-xs-12 nav-ie8-2">
    <form novalidate="novalidate" id="j_id1552386531_3afb6d7a" name="j_id1552386531_3afb6d7a" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
      <div class="col-xs-6 text-center"><input formnovalidate="formnovalidate" id="j_id1552386531_3afb6d7a:j_id1552386531_3afb6d44" name="j_id1552386531_3afb6d7a:j_id1552386531_3afb6d44" type="submit" value="Registrarse" onclick="var cf = function(){trackEvent(this, 'Cabecera','Registrarse', idtext)};var oamSF = function(){};return (cf.apply(this, [])==false)? false : oamSF.apply(this, []); "
          class="btn btn-default btn-block" />
      </div>
      <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-block" href="javascript:#.html" id="enter_toggle2" onclick="trackEvent(this, 'Cabecera','Entrar', idtext)">Entrar</button>
      </div>
      <input type="hidden" name="j_id1552386531_3afb6d7a_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03Lqh1jIbpFO3L5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH2Qzun9DsIFlGmQA6+CBISbwp5YSRl51EJzOU7O3Qf+NzAsNaA=="
      />
    </form>
  </nav>




  <nav class="navbar navbar-default hidden-xs" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    </div>
  </nav>


</header>

<header class="dev-private-header" style="display: none;">
  <div id="dashboard" class="container_general">

    <div class="header">
      <div class="container">
        <a href="/coinc/menu-inicio" title="COINC. Ir a inicio">
          <img src="images/logo_coinc_dashboard.png" class="logotipo_dashboard" width="116px" height="35px" alt="Logotipo COINC" /></a>
        <div class="caja_usuario">
          <div class="marco_circular">
            <form novalidate="novalidate" id="j_id2108824186_64fde6ba" name="j_id2108824186_64fde6ba" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded"><img id="j_id2108824186_64fde6ba:userImageUrl" src="images/foto_perfil/ico_mujer.png" alt="Imagen de Pefil" width="59" height="59" /><input type="hidden" name="j_id2108824186_64fde6ba_SUBMIT" value="1"
              /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03trqFOBc8fvnL5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH6dw1jbN5pxeGmQA6+CBISbLYPsJOVmxzdfEux1IcRHbyw6LEg=="
              /></form>
          </div>
          <div class="datos_usuario">
            <p>IRIA PINTOS</p>
            <button type="button" id="enter_toggle" class="botondashboard p head">Administrar</button>
            <input type="button" class="botondashboard p head margin10_l" onclick="location.href='/coinc/services/auth/logout?logout_back=/coinc';" value="Cerrar" />
          </div>

        </div>
      </div>
    </div>
  </div>
  <div style="width:100%; height:30px;" class="left"></div>
</header>

<script>
  // usage
  var publicHeader = document.querySelector(".dev-public-header"),
      privateHeader = document.querySelector(".dev-private-header");

  if ( location.hash.indexOf("private") >= 0 ) {
    publicHeader.style.display = "none";
    privateHeader.style.display = "block";
  }
</script>
