
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}



dl.dl-tiempoDeEspera
{
	display: inline-block;	
	width:225px;
	margin:0px;

	dt,
	dd {
		display: inline-block;
		color: $textcolor-grey;
		line-height: 12px;
	}

	dt {
		width: 120px;
	}

	dd{
		margin-left: 0px;
	}
}

/*
*
*	div.tiempoDeEspera
*
*/


div.tiempoDeEspera
{
	margin:0px;
	padding:0px;	
	span.tiempoDeEspera-data
	{
		font-size:  $fontSize;
		display: inline-block;
		background-color:$grey;
		padding: 0px 0px 5px 0px;	
		margin-top: 1px; // pixel-perfection
		vertical-align: top;
		width: 293px; //ancho fijo. diseño
		font-style:normal;			

		dl
		{
			@extend dl.dl-tiempoDeEspera;
			margin-left: 10px;
			color: $textcolor-grey;	

			dt:first-child
			{
				margin-top: 0px;
			}
		}

		p
		{
			@include clearfix();
			margin: 0px 0 0 0px;
			font-size: inherit;

			span:nth-last-child(1)
			{
				display: block;
				float: left;
			}

			span:nth-last-child(2)
			{
				display: block;
				width: 110px;
				float: left;
			}
		}

		p:nth-last-child(1)
		{
			margin-top: 0px;
		}

		span {
			font-size: inherit;
			color: $textcolor-blue2;
		}

		strong.header 
		{
			display: block;
			line-height: 15px;
			vertical-align: top;
			color: $textcolor-blueTitle;	
			font-size: inherit;
			padding: 5px 10px;					
		}
		i.icon-espera
			{
			@include background(image-url("espera.png"));
			@include background-size(25px 25px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 25px;
			height: 25px;
			background-repeat:no-repeat;
			background-position: center;
			}	

		
		a{
		text-decoration:underline;		
		}
		
	}

	
	span.tiempoDeEspera-image{
		display: inline-block;
		padding:0px 8px 0px 10px;
		vertical-align: top;
		i.icon-espera-web
		{
			@include background(image-url("espera-2.png"));
			@include background-size(60px 60px);
			display: inline-block;
			width: 60px;
			height: 60px;
			background-repeat:no-repeat;
		}		
	
	}
	span.tiempoDeEspera-data > p:nth-of-type(2)
	{
		margin-bottom: 10px;
	}

	////Styles especialidades
	span.tiempoDeEspera-data-especialidades
	{
		@extend span.tiempoDeEspera-data;
		width: 440px !important; //ancho fijo. diseño
	}
	
	span.tiempoDeEspera-image-especialidades
	{
		@extend span.tiempoDeEspera-image;
		padding:0px 8px 0px 0px !important;//width: 440px !important; //ancho fijo. diseño
	}

	//Styles Hospitales
	span.tiempoDeEspera-image-unhospital
	{
		@extend span.tiempoDeEspera-image;
		width: 60px !important;
		i.icon-espera-40
		{
			@include background(image-url("espera-2.png"));
			@include background-size(40px 40px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 40px;
			height: 40px;
			background-repeat:no-repeat;
			background-position:50% 50%;
		}
		span
		{
			width: 58px;
			display: inherit;
			a{
				color: $textcolor-blueUnder !important;
				font-size: $fontSizeUrl;
				font-weight:  bold;

			}
			i.icon-flecha-a
			{
				@include background(image-url("iconListCajas.gif"));			
				@include background-size(8px 8px);
				display: inline-block;			
				width: 8px;
				height: 8px;			
				background-repeat:no-repeat;		
			}
		}
	}



}

.cajasDestacadas {
	@include clearfix();
	width: 423px ;
	display:inline-block !important;
	border:0px !important;	
	div.cajaDereHospitales {
		display:inline-block !important;
		border:0px !important;
	}


}
.cajasDereHospitales {
	display:inline-block !important;
	border:0px !important;
}
.includeExternal{
	@include clearfix();
}
.dobleAnchoEspera{
	width: 408px !important;
	border-radius: 6px;
	border: #89969F 1px solid;
	margin: 3px 0px 3px 0px;
	padding: 5px 5px 3px 5px;
}
//Styles Hospitales
	span.tiempoDeEspera-data-hospitales
	{
		@extend span.tiempoDeEspera-data;
		width: 293px !important; //ancho fijo. diseño
		margin-top: 10px !important;
		strong.header 
		{
			display: inline-block !important;	
			padding: 10px 10px 0px 0px !important;			
		}
		a{
			color: $textcolor-blueUnder !important;		
		}
	}


	//Styles Hospitales
	span.tiempoDeEspera-data-unhospital
	{
		@extend span.tiempoDeEspera-data;	
		padding: 0px 0px 4px 0px !important;
		margin: 6px 0px 11px 0px !important;

		
		strong.header 
		{
			display: inline-block !important;	
			padding: 0px 10px !important;			
		}
	}

	//Styles Hospitales
	span.tiempoDeEspera-data-unhospital-2
	{
		@extend span.tiempoDeEspera-data;	
		padding: 10px 10px 11px 10px !important;
		margin: 6px 0px 6px 0px !important;
		font-style:normal;
		
		strong.header 
		{
			display: inline-block !important;	
			padding: 0px 10px 5px 10px !important;			
		}
	}

	//Styles Hospitales
	span.tiempoDeEspera-image-unhospital-2
	{
		@extend span.tiempoDeEspera-image;
		width: 60px !important;
		font-style:normal;
		i.icon-espera-60
		{
			@include background(image-url("espera-2.png"));
			@include background-size(60px 60px);
			display: inline-block;
			padding: 10px 0px 0px 1px;
			width: 60px;
			height: 60px;			
			background-repeat:no-repeat;
			background-position:50% 50%;
		}
		span
		{
			width: 60px;
			display: inherit;
			margin-top: 55px;
			font-style:normal;						
			a{
				color: $textcolor-blueUnder !important;
				font-size: $fontSizeUrl;
				font-weight:  bold;

			}
			i.icon-flecha-a
			{
				@include background(image-url("iconListCajas.gif"));			
				@include background-size(8px 8px);
				display: inline-block;			
				width: 8px;
				height: 8px;			
				background-repeat:no-repeat;		
			}
		}
	}



//borderExtra
div.borderExtra
{
		border-radius: 5px;
		border: #89969F 1px solid;
		padding: 10px 10px 5px 10px;

		div.bannerHomeHospitales
		{
			a
			{
			 img 
			 {
			 	width: 95% !important;
			 }
			}
		}

}

	