/* line 2, ../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 10, ../sass/_tiempoDeEspera.scss */
span.arrow-grey {
  right: 0px;
}
@media screen and (max-width: 480px) {
  /* line 10, ../sass/_tiempoDeEspera.scss */
  span.arrow-grey {
    margin-right: 0 !important;
    top: 18%;
  }
}

/* line 21, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, .box-tiempoDeEspera .container-tiempoDeEspera dl {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 245px;
}
/* line 27, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt,
dl.dl-tiempoDeEspera dd,
.box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  display: inline-block;
  margin-top: 9px;
  color: #177abe;
}
/* line 33, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
  width: 120px;
}
/* line 37, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  margin-left: 0px;
}

/*
*
*	div.tiempoDeEspera
*
*/
/* line 51, ../sass/_tiempoDeEspera.scss */
hgroup.todos.centros.listado article li div div.tiempoDeEspera {
  width: 90%;
}
@media screen and (max-width: 480px) {
  /* line 51, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 90%;
    font-size: 10px;
  }
  /* line 58, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span.tiempoDeEspera-data {
    font-size: 10px;
  }
  /* line 63, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span:nth-last-child(2) {
    width: 100px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  /* line 51, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 99%;
  }
}

/* line 80, ../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px 0 0 0;
  padding: 0;
  border: none;
  width: 50%;
}
@media screen and (max-width: 480px) {
  /* line 80, ../sass/_tiempoDeEspera.scss */
  .todos article ul li div.tiempoDeEspera {
    width: 60%;
  }
}

/* line 101, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data {
  margin-top: 5px;
  font-size: 12px;
}
/* line 106, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:before, div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  clear: both;
}
/* line 112, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 118, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 126, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:nth-last-child(1) {
  margin-top: 5px;
}
/* line 130, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data span {
  font-size: inherit;
  color: #5078be;
}
/* line 135, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data strong.header {
  display: block;
  line-height: 26px;
  vertical-align: top;
  color: #50b3ec;
  font-size: inherit;
}
/* line 144, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data i.icon-espera {
  background: url('../images/espera.png?1375983164');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
/* line 154, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data > p:nth-of-type(2) {
  margin-bottom: 10px;
}

/*
*
*	.box-tiempoDeEspera
*
*/
/* line 167, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera {
  background: #a8cce6 !important;
  padding: 0 !important;
  width: 98% !important;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 0;
  display: inline-block;
  position: relative;
}
/* line 177, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera {
  background-color: #FFF;
  margin: 0 3% 3% 3% !important;
  padding: 10px 2% !important;
  display: block !important;
  float: none !important;
  width: 90% !important;
}
/* line 185, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera p {
  width: 60%;
}
/* line 190, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera > p {
  margin-top: 0px;
}
/* line 194, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera span.arrow.right {
  display: inline-block;
  float: right;
}
/* line 199, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl {
  padding-left: 65px;
  background: url('../images/espera.png?1375983164');
  background-repeat: no-repeat;
  *zoom: 1;
  width: 300px;
  min-height: 60px;
}
/* line 8, ../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:before, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  clear: both;
}
/* line 212, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera h2 {
  color: #255072;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 0 8px 0;
  text-indent: 3%;
}
