/* line 2, ../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 10, ../sass/_tiempoDeEspera.scss */
span.arrow-grey {
  right: 0px;
}
@media screen and (max-width: 480px) {
  /* line 10, ../sass/_tiempoDeEspera.scss */
  span.arrow-grey {
    margin-right: 0 !important;
    top: 18%;
  }
}

/* line 20, ../sass/_tiempoDeEspera.scss */
#chartSanitas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

/* line 27, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, .todos article ul li div.tiempoDeEspera dl, div.tiempoDeEspera span.tiempoDeEspera-data dl, .box-tiempoDeEspera .container-tiempoDeEspera dl {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 90%;
  max-width: 700px;
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
dl.dl-tiempoDeEspera:before, .todos article ul li div.tiempoDeEspera dl:before, div.tiempoDeEspera span.tiempoDeEspera-data dl:before, .box-tiempoDeEspera .container-tiempoDeEspera dl:before, dl.dl-tiempoDeEspera:after, .todos article ul li div.tiempoDeEspera dl:after, div.tiempoDeEspera span.tiempoDeEspera-data dl:after, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
dl.dl-tiempoDeEspera:after, .todos article ul li div.tiempoDeEspera dl:after, div.tiempoDeEspera span.tiempoDeEspera-data dl:after, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  clear: both;
}
/* line 36, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .todos article ul li div.tiempoDeEspera dl dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt,
dl.dl-tiempoDeEspera dd,
.todos article ul li div.tiempoDeEspera dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd,
.box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  display: inline-block;
  color: #177abe;
}
/* line 43, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .todos article ul li div.tiempoDeEspera dl dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
  width: 120px;
  margin-top: 9px;
}
@media screen and (max-width: 480px) {
  /* line 50, ../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera dt:empty, .todos article ul li div.tiempoDeEspera dl dt:empty, div.tiempoDeEspera span.tiempoDeEspera-data dl dt:empty, .box-tiempoDeEspera .container-tiempoDeEspera dl dt:empty {
    margin-top: 0px;
    display: none;
  }
}
/* line 56, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  margin-left: 0px;
}
/* line 60, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  width: 70%;
}
@media screen and (max-width: 480px) {
  /* line 60, ../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    margin-top: 9px;
    padding-left: 20px;
  }
}

/* line 74, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime, .todos article ul li div.tiempoDeEspera dl.iconTime, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime, .tiempoDeEspera-detalle dl {
  width: 100%;
}
/* line 77, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dt, .todos article ul li div.tiempoDeEspera dl.iconTime dt, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dt, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dt, .tiempoDeEspera-detalle dl dt {
  padding-left: 20px;
  background: url('../images/reloj-azul.png?1376472309');
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 140px;
}
/* line 84, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dt span, .todos article ul li div.tiempoDeEspera dl.iconTime dt span, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dt span, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dt span, .tiempoDeEspera-detalle dl dt span {
  display: none;
}
/* line 89, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dd, .todos article ul li div.tiempoDeEspera dl.iconTime dd, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dd, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dd, .tiempoDeEspera-detalle dl dd {
  width: 70%;
}
@media screen and (max-width: 480px) {
  /* line 89, ../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera.iconTime dd, .todos article ul li div.tiempoDeEspera dl.iconTime dd, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dd, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dd, .tiempoDeEspera-detalle dl dd {
    padding-left: 40px;
  }
}

/*
*
*	div.tiempoDeEspera
*
*/
/* line 108, ../sass/_tiempoDeEspera.scss */
hgroup.todos.centros.listado article li div div.tiempoDeEspera {
  width: 90%;
}
@media screen and (max-width: 480px) {
  /* line 108, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 90%;
    font-size: 10px;
  }
  /* line 117, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span.tiempoDeEspera-data {
    font-size: 10px;
  }
  /* line 122, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span:nth-last-child(2) {
    width: 100px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  /* line 108, ../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 99%;
  }
}

/* line 139, ../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px 0 0 0;
  padding: 0;
  border: none;
  width: 60%;
  /*@media screen and (max-width: 480px)
  {
  	width: 60%;
  }*/
}
/* line 153, ../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera dl {
  width: 100%;
}
/* line 157, ../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera dl dd {
  width: 65%;
}

/* line 168, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data {
  margin-top: 5px;
  font-size: 12px;
}
/* line 173, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl {
  margin-left: 30px;
}
/* line 179, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dt:first-child,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd:first-child {
  margin-top: 0px;
}
/* line 183, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dd {
  width: 60%;
}
/* line 189, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:before, div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  clear: both;
}
/* line 195, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 201, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 209, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:nth-last-child(1) {
  margin-top: 5px;
}
/* line 213, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data span {
  font-size: inherit;
  color: #5078be;
}
/* line 218, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data strong.header {
  display: block;
  line-height: 23px;
  vertical-align: top;
  color: #50b3ec;
  font-size: inherit;
}
/* line 227, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data i.icon-espera {
  background: url('../images/espera.png?1376472309');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
/* line 237, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data > p:nth-of-type(2) {
  margin-bottom: 10px;
}

/*
*
*	.box-tiempoDeEspera
*
*/
/* line 250, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera {
  background: #a8cce6 !important;
  padding: 0 !important;
  width: 98% !important;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 0;
  display: inline-block;
  position: relative;
}
/* line 260, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera {
  background-color: #FFF;
  margin: 0 3% 3% 3% !important;
  padding: 10px 2% !important;
  display: block !important;
  float: none !important;
  width: 90% !important;
}
/* line 268, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera p {
  width: 60%;
}
@media screen and (max-width: 480px) {
  /* line 268, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera p {
    width: 93%;
  }
}
/* line 278, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera > p {
  margin-top: 0px;
}
/* line 282, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera span.arrow.right {
  display: inline-block;
  float: right;
}
/* line 287, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl {
  padding-left: 65px;
  background: url('../images/espera.png?1376472309');
  background-repeat: no-repeat;
  *zoom: 1;
  width: 75%;
  min-height: 60px;
}
/* line 8, ../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:before, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  clear: both;
}
@media screen and (max-width: 480px) {
  /* line 287, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl {
    width: 250px;
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    background-size: 25px 25px;
    padding-left: 30px;
    min-height: 35px;
  }
  /* line 305, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
    width: 110px;
  }
  /* line 309, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt:first-child {
    margin-top: 0px;
  }
  /* line 314, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt,
  .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) {
  /* line 260, ../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera {
    background-image: url('../images/medicos.jpg?1376477474');
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
/* line 330, ../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera h2 {
  color: #255072;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 0 8px 0;
  text-indent: 3%;
}

/*
*
*	.tiempoDeEspera-detalle
*
*/
/* line 346, ../sass/_tiempoDeEspera.scss */
.box-advice {
  margin: 2% 10%;
  width: 78%;
  border: 1px solid black;
  background-color: white;
}
/* line 352, ../sass/_tiempoDeEspera.scss */
.box-advice p {
  margin: 15px;
  padding-right: 0;
  color: #104c71;
  text-align: center;
}

/* line 360, ../sass/_tiempoDeEspera.scss */
.container-article {
  margin-left: 15px;
}

/* line 371, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle dl dt, .tiempoDeEspera-detalle dl dd {
  color: #636363;
  margin-top: 9px;
}
/* line 379, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle h2 {
  font-family: 'GothamMediumRegular';
  text-transform: none;
  font-size: 13px;
  margin-bottom: 10px;
}
/* line 387, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images {
  width: 98%;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
.tiempoDeEspera-detalle .container-images:before, .tiempoDeEspera-detalle .container-images:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.tiempoDeEspera-detalle .container-images:after {
  clear: both;
}
/* line 393, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img {
  display: inline-block;
}
/* line 398, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img:nth-last-child(2) {
  width: 100%;
  max-width: 300px;
}
/* line 404, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img:nth-last-child(1) {
  width: 100%;
  max-width: 300px;
}
/* line 411, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia {
  margin-top: 15px;
}
/* line 413, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia .grafico {
  width: 90%;
}
/* line 419, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle i.icon-calendar {
  background: url('../images/calendar.png?1376472347');
  -webkit-background-size: 32px 32x;
  -moz-background-size: 32px 32x;
  -o-background-size: 32px 32x;
  background-size: 32px 32x;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-left: 33px;
  background-repeat: no-repeat;
}
/* line 429, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .filterchart {
  clear: both;
  text-align: center;
  padding: 5px 10px;
}
/* line 433, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .filterchart label {
  text-align: right;
  width: 200px;
  padding-right: 25px;
}
