.dropdown {
  &__options {
    width: 215px;
    height: 36px;
    background-color: $colorGray-200;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-color: $colorGray-325;
  }
}
