.input-group {
  & input {
    border: 1px solid $colorGray-325;
    background-color: #f7f7f7;
    box-shadow: none;
    margin-bottom: 5px;
    height: 40px;
    &:hover {
      border: 1px solid #70a41c;
    }
    &:focus {
      box-shadow: none;
      border-color: #70a41c;
    }
  }
}
