{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_title-multicolor.html" as titleMulticolor %}
{% extends "/base/_page.html" %}

{% block content %}
{{ titleMulticolor.title('Listado de', 'páginas','') }}
<section class="pdb-30">
  {{ textBlock.text('', 'Configuración Hipoteca') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="mortgage-config.html">
        <span>Configuración Hipoteca <span class="label label-danger">Ko</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="mortgage-config-2.html">
        <span>Configuración Hipoteca <span class="label label-danger">Ko</span></span>
        <span class="badge">Paso 2</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
