{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_title-multicolor.html" as titleMulticolor %}
{% extends "/base/_page.html" %}

{% block content %}
{{ titleMulticolor.title('Listado de', 'páginas','') }}
<section class="pdb-30">
  {{ textBlock.text('', 'Simulación Hipoteca') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="mortgage-config.html">
        <span>Configuración Hipoteca <span class="label label-primary">OK</span></span>
        <span class="badge">Caso 1</span>
      </a>
      <a class="list-group-item" href="mortgage-config-2.html">
        <span>Configuración Hipoteca con Alerta <span class="label label-primary">OK</span></span>
        <span class="badge">Caso 2</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Contratación Hipoteca') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="mortgage-contract.html">
        <span>Contratación Hipoteca <span class="label label-primary">OK</span></span>
        <span class="badge">Caso 1</span>
      </a>
      <a class="list-group-item" href="mortgage-contract-2.html">
        <span>Contratación Hipoteca - Alerta media <span class="label label-primary">OK</span></span>
        <span class="badge">Caso 2</span>
      </a>
      <a class="list-group-item" href="mortgage-contract-3.html">
        <span>Contratación Hipoteca - Alerta alta <span class="label label-primary">OK</span></span>
        <span class="badge">Caso 3</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Documentación Hipoteca') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="mortgage-documentation.html">
        <span>Documentación Hipoteca <span class="label label-danger">KO</span></span>
        <span class="badge">Paso 0</span>
      </a>
      <a class="list-group-item" href="upload-receipt.html">
        <span>Subir Documentación <span class="label label-danger">KO</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="upload-receipt-2.html">
        <span>Documentación subida <span class="label label-danger">KO</span></span>
        <span class="badge">Paso 2</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
