{% import "/components/_section-title.html" as title %}
{% import "/components/_progress-step-bar.html" as progress %}
{% import "/components/_dropdown.html" as dropdown %}
{% import "/components/_paginator.html" as paginator %}


{% extends "/base/_base.html" %}

{% block content %}
   {{ progress.bar(3, 1)}}
   {{ title.content('Configura tu', 'Hipoteca COINC', 'COINC te ayuda a conseguir tu vivienda') }}
   {% include 'includes/_simulation-form.html' %}
   <div class="container container_custom pdt-40 pdb-70">
     <div class="row">
       <div class="col-xs-6">
         {% include "includes/_details-mortgage-variable.html" %}
       </div>
       <div class="col-xs-6">
         {% include "includes/_details-mortgage-fixed-alert.html" %}
       </div>
     </div>
   </div>
   {% include "includes/_section-documentation.html" %}
   <div class="mt-50">
     {{ paginator.set(1, 3) }}
   </div>
   <div class="container container_custom text-center">
      <div class="clearfix">
        <div class="halfcol">
          <button class="btn btn-default pull-right" type="reset" name="button">Cancelar</button>
        </div>
        <div class="halfcol">
          <button class="btn btn-primary pull-left" type="submit" name="button">Solicitar hipoteca variable</button>
        </div>
      </div>
    </div>
    <div class="clarification">
      <p>Los cálculos ofrecidos tienen carácter orientativo y, en cualquier caso, la operación está sujeta a la aprobación posterior, por lo que no constituye una oferta de contratación que vincule al Banco.</p>
    </div>

    {% include "includes/_modal-mortgage-expenses.html" %}
    {% include "includes/_modal-mortgage-terms.html" %}

{% endblock %}
