{% import "/components/_title-text-multicolor.html" as title %}
{% import "/components/_progress-step-bar.html" as progress %}
{% import "/components/_effort-alert.html" as alert %}
{% import "/components/_input-disabled.html" as input %}
{% import "/components/_download-doc.html" as download %}
{% import "/components/_input.html" as input %}
{% import "/components/_dropdown.html" as dropdown %}


{% extends "/base/_base.html" %}

{% block content %}
   {{ progress.bar(3, 2)}}
   {{ title.text('Datos necesarios para el estudio', '', 'Lee', 'y ', 'completa', 'los siguientes datos') }}

   {% include 'includes/_contract-data.html' %}

   {{ input.content('Introduce el Código Postal', 'Código Postal','Debes introducir el Código Postal', 'input-group_error', 'form-control-title_error') }}

   {{ dropdown.content(['Barcelona', 'Madrid', 'Valencia'], 'Selecciona localidad', 'Localidad', 'Debes seleccionar la localidad', 'select-dropdown_error') }}

   {{ alert.data('Bajo') }}
   <div class="container container_custom pdt-30">
     <div class="row">
       <div class="col-xs-4">
         {{ download.doc('Información precontractual')}}
       </div>
       <div class="col-xs-4">
         {{ download.doc('Indice documentación de entrega perceptiva')}}
       </div>
       <div class="col-xs-4">
         {{ download.doc('Documento de información precontractual complementaria')}}
       </div>
     </div>
     <div class="row mt-40 mb-40 text-center">
       <p class="document-download-clarification">Los documentos se guardaran en tu zona de Administrar</p>
     </div>
   </div>
{% endblock %}
