.alerts-container {
  color: $colorFontTimeline;
  .check-money, .check-subalert {
    vertical-align: middle;
  }
  .check-money.icon-hover,
  .check-subalert.icon-hover {
    // old -> @extend .icon-check-green;
  	background: transparent url("../images/sprite.png") no-repeat scroll -439px -224px;
  	padding: 6px 7px;
  	&.small {
  		background: transparent url("../images/sprite.png") no-repeat scroll -460px -205px;
  		padding: 4px 4px;
  	}
  }

  .alerts-module-content {
    font-size: 13px;
    & > div {
      padding-left: 20px;
      padding-right: 20px;
    }
    .top-alert-container {
      padding-top: 27px;
      padding-bottom: 20px;
      border-bottom: 2px solid $colorGray-250;
      height: 165px;
      & > div, .text-container > span {
        float: left;
        width: 100%;
      }

      .title {
        font-size: 17px;
        font-weight: $font-bold;
      }
      .text {
        color: $colorModPenta;
        margin-top: 17px;
      }
      .header-table-container {
        color: $colorModPrimary;
        font-weight: $font-bold;
        margin-top: 33px;
        & > div {
          display: inline-block;
        }
        .pull {
          width: 60%;
        }
        .app {
          margin-left: 22px;
        }
        .mail {
          margin-left: 22px;
        }
        .sms {
          float: right;
        }
      }
    }

    .icon-container {
        margin-left: 5px;
        &.submodule-button {
            margin-left: 0;
        }
        i {
            cursor: pointer;
            display: inline-block;
        }
        i.icon-edit {
            display: inline-block;
            padding-top: 5px;
            float: none;
            padding: 10px 12px;
        }
    }


    .body-container {
      padding-top: 16px;
      padding-bottom: 10px;
      display: inline-block;
      border-bottom: 1px solid $colorModBorder;
      .table-container {
        display: inline-block;
        .fila-alert {
          display: table;
          height: 25px;
          width: 100%;
          display: inline-block;
          position: relative;
          margin-bottom: 1px;
          &.height-100 .text-container > div {
            height: 100%;
          }
          & > div {
            display: inline-block;
            float: left;
          }
          .text-container {
            width: 65%;
            display: table;
            text-align: left;
            font-size: 12px;
            & > div {
              display: inline-block;
              vertical-align: middle;
            }
            &.float {
                & > div {
                    float: left;
                }
                .input-container {
                    padding-top: 2px;
                }
                .label-money {
                    padding-top: 2px;
                }
            }
          }
          .text.sized {
            width: 174px;
          }
          .text > span, .text > div {
            float: left;
          }
          .padded {
            padding-top: 4px;
          }
          .input-container {
            margin-left: 5px;
          }
          .input-container label {
            cursor: default;
            color: $colorModPrimary;
            font-size: 12px;
            padding: 0;
            vertical-align: middle;
            display: table-cell;
            padding-top: 1px;
          }
          input {
            height: 20px;
            width: 50px;
            text-align: center;
            font-weight: $font-bold;
            color: $colorModPrimary;
            padding-top: 2px;
            padding-top: 2px;
            border: 1px solid $colorModBorderInput;
          }
          .coin {
            padding-top: 5px;
            padding-left: 2px;
            font-weight: $font-bold;
          }

          div.submodule-button {
            height: 25px;
          }
          .checkbox-container {
            width: 32.3%;
            margin-left: 8px;
            .checkbox-content {
              float: left;
              width: 20px;
              height: 20px;
              background-color: $colorWhite;
              border: 1px solid $colorModBorder;
            }
            .checkbox-content:nth-child(n+2) {
              margin-left: 25%;
            }
          }
        }
      }
    }

    .submodule.module {
        left: 0;
        width: 390px;
        top: 21px;
        left: 3px;
        margin-top: 0;
        padding-left: 1px;
        .flip-container {
            &::before {
                left: 172px;
                right: auto;
            }
            &::after {
                left: 173px;
                right: auto;
            }
        }
        &.slidedown {
            height: 215px;
        }
        .module-content {
            height: 100%;
        }
        .module-inner-content {
            padding: 10px;
            display: table;
        }
        .custom-alert-row {
            display: table;
            float: left;
            height: 26px;
            & > div {
                display: table-cell;;
                vertical-align: middle;
                height: 100%;
                padding-top: 4px;
                float: left;
                @include after-first(1) {
                    padding-left: 3px;
                }
            }
            .input-container {
                padding-top: 2px;
                margin-left: 0;
                label.label-money {
                    padding-top: 2px;
                }
            }
            div.icon-container {
                margin-left: 0;
                padding-left: 3px;
            }
            .coin {
                padding-top: 4px;
            }
        }
        .text {
            font-size: 12px;
        }
    }

    .bottom-container {
      height: 80px;
      padding-top: 20px;
      .button-container {
        width: 50%;
        float: left;
        &:nth-child(1) {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }
    .label-checkbox {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    input[type="checkbox"] + .label-checkbox {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      margin-bottom: 0;
    }
    input[type="checkbox"]:checked + .label-checkbox {
      // old -> @extend .icon-check-green.small;
  		background: transparent url("../images/sprite.png") no-repeat scroll -460px -205px;
  		padding: 4px 4px;
    }

  }
}
