@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-Bold/AkkuratPro-Bold.eot') format('embedded-opentype');
  src:  url('../fonts/AkkuratPro-Bold/AkkuratPro-Bold.otf')  format('opentype'),
         url('../fonts/AkkuratPro-Bold/AkkuratPro-Bold.woff') format('woff'),
         url('../fonts/AkkuratPro-Bold/AkkuratPro-Bold.ttf')  format('truetype'),
         url('../fonts/AkkuratPro-Bold/AkkuratPro-Bold.svg#AkkuratPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-Light/AkkuratPro-Light.eot') format('embedded-opentype');
  src:  url('../fonts/AkkuratPro-Light/AkkuratPro-Light.otf')  format('opentype'),
         url('../fonts/AkkuratPro-Light/AkkuratPro-Light.woff') format('woff'),
         url('../fonts/AkkuratPro-Light/AkkuratPro-Light.ttf')  format('truetype'),
         url('../fonts/AkkuratPro-Light/AkkuratPro-Light.svg#AkkuratPro-Bold') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AkkuratPro';
  src: url('../fonts/AkkuratPro-Regular/AkkuratPro-Regular.eot') format('embedded-opentype');
  src:  url('../fonts/AkkuratPro-Regular/AkkuratPro-Regular.otf')  format('opentype'),
         url('../fonts/AkkuratPro-Regular/AkkuratPro-Regular.woff') format('woff'),
         url('../fonts/AkkuratPro-Regular/AkkuratPro-Regular.ttf')  format('truetype'),
         url('../fonts/AkkuratPro-Regular/AkkuratPro-Regular.svg#AkkuratPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
