h1,
h2,
h3 {
	font-family: "BBVA Web Light";
	font-weight: normal;
	color: $blueText;
}


h1.headerPage,
h2.headerPage,
h3.headerPage {
	border-bottom: 1px solid $borderGray;
	margin-bottom: $margin-bottom-block;
}

