.section-page {
	.header-section {
		border-bottom: 1px solid $borderGray;
		margin-bottom: $margin-bottom-block;
	}

}

.eventList {

	padding: 10px;
	border: 1px solid $borderGray;
	margin-bottom: 20px;

	@include clearfix();
	h1 {
		font-size: $fontSizeLargest;
	}

	p {
		text-align: justify;
	}

	small {
		margin-bottom:  10px;
	}

	.contentEventList {
		img {
			width:40%;
			margin: 0px 10px 10px 0;
		}
	}
}