.section-page
{
	.header-section
	{
		border-bottom: 1px solid $borderGray;
		margin-bottom: $margin-bottom-block;

		h1 {
			a {
				&:hover {
					text-decoration: none;
				}
				small {
					font-size: 50%;
				}
			}
		}
	}
}

.eventList
{
	padding: 10px;
	border: 1px solid $borderGray;
	margin-bottom: 20px;
	min-height: 220px;

	@include clearfix();

	h1
	{
		font-size: $fontSizeLargest;
		line-height: $fontSizeLargest+2;

		a {
			color: $blueText;
			&:hover
			{
				text-decoration: none;
				color: $linkColorHover;
			}
		}
	}

	p {
		text-align: justify;
	}

	small {
		font-size: 100%;
	}

	.contentEventList
	{
		margin-top: 10px;
		img {
			width:40%;
			margin: 0px 10px 10px 0;
		}
	}
}

ul.decorated-list,
ol.decorated-list
{
	@include clearfix();
	list-style-type: disc;
	list-style-image: url(/img/bullet-square.png);
	list-style-position: outside;
	margin: 10px 0 10px 0;
	padding-left: 20px;

	li
	{
		a{
			line-height: 20px;
		}
	}
}

.map_canvas
{
	width: 100%;
	height: 360px;
	margin-bottom: 20px;
}

.map_canvas_list
{
	height: 500px !important;
}

/* Flexible iFrame */
.Flexible-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.Flexible-container iframe,.Flexible-container object,.Flexible-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#map_canvas {
	width: 100%;
	height: 480px;
}

//li:nth-child(2n+1)
.list-events-home
{
	.span12:nth-child(2n+1)
	{
		margin-left: 0;
	}
}

.conference-listing
{
	.date-listing
	{
		border-top: 5px solid #B9D1EC;
		padding-top: 0.5em;
		margin-top: 1em;
		position: relative;

		h3
		{
			margin-top: 0;
			text-transform: uppercase;
			color: #3C80CA;
			padding-right: 3em;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 2.1em;

			.year {
				display: block;
				color: #B9D1EC;
			}
		}
	}

	ol
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

}

.conference
{
	.startday
	{
		position: relative;
		top: 0.1em;
		border: 1px solid #8CB4E0;
		width: 24px;
		height: 24px;
		font-size: 14px;
		display: block;
		float: left;
		margin-left: -3em;
		padding: 2px;
		text-align: center;
		font-weight: bold;
		color: #3C80CA;
		background-color: #FFF;
	}

	.icon-scrach
	{
		display: block;
		width: 100%;
		height: 4px;
		background-color: #B9D1EC;
		margin-bottom: 3px;

		.ick
		{
			background-color: #8CB4E0;
			width: 0.25em;
			height: 0.35em;
			position: absolute;
			left: 0.3em;
			top: -0.3em;
		}

		.uck
		{
			left: 1.5em;
		}
	}

	p {
		font-size: 12px;
	}
}

.interactive-listing
{
	padding-right: 8em;
	position: relative;
	zoom: 1;

	.mini-actions
	{
		position: absolute;
		right: 0;
		top: 0;
		margin: 0.2em 0 0 0;
		text-align: right;
		width: 8em;
		zoom: 1;
	}
}

ul.inline-tags
{
	@include clearfix();
	padding-top: 0.5em;
	margin: 5px 0 0 0;

	li {
		float: left;
		margin-right: 0.4em;
		margin-bottom: 0.8em;
		white-space: nowrap;
	}
}

.icon,
a.icon,
a.icon:link,
a.icon:visited,
a.icon:hover,
a.icon:focus,
a.icon:active {
	border: none;
	background-repeat: no-repeat;
	position: relative;
	line-height: 20px;
}

.icon.google {
	background-image: url(/img/google-32x32.png);
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 23px;
}

.icon.cal {
	background-image: url(/img/datego-32x32.png);
	background-size: 14px;
	background-repeat: no-repeat;
	padding-left: 23px;
}

ul.users {
	li {
		background-image: url(/img/default_user_icon.png);
		background-size: 30px;
		background-repeat: no-repeat;
		padding-left: 40px;
		margin-bottom: 15px;
		line-height: 30px;
	}
}

//[ng\:cloak], [ng-cloak],
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
