.section-page {
	.header-section {
		border-bottom: 1px solid $borderGray;
		margin-bottom: $margin-bottom-block;
	}

}

.eventList {
	h1 {
		font-size: $fontSizeLargest;
	}

	small {
		margin-bottom:  10px;
	}

	.contentEventList {
		img {
			width:40%;
			margin: 0px 10px 10px 0;
		}
	}
}