.videoLayout{
.progress{
margin-top: 1%;
}
.hide_bar{
display:none;
}
.show_bar{
display:block;
}

.successOff{
display:none;
}
.successOn{
display:block;
width: 91%;
margin-top: 1%;
}

.well{
width:77% !important;
}

.verVideos{
width:20%;
}

.carousel .item {
height: 320px !important;
text-align: center !important;
}
}