/* line 2, ../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 12, ../sass/_tiempoDeEspera.scss */
.fontLarge {
  font-size: 1.2em;
}

/* line 18, ../sass/_tiempoDeEspera.scss */
.continuar {
  background: url('../images/flechaContinuar.gif?1379058430');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 10px;
}

/* line 26, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, .tiempoDeEspera-data dl, .tiempoDeEspera-data-unhospital dl {
  display: inline-block;
  width: 230px;
  margin: 0px;
}
/* line 32, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .tiempoDeEspera-data dl dt, .tiempoDeEspera-data-unhospital dl dt,
dl.dl-tiempoDeEspera dd,
.tiempoDeEspera-data dl dd,
.tiempoDeEspera-data-unhospital dl dd {
  display: inline-block;
  color: #666666;
  line-height: 12px;
}
/* line 38, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .tiempoDeEspera-data dl dt, .tiempoDeEspera-data-unhospital dl dt {
  width: 120px;
}
/* line 42, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .tiempoDeEspera-data dl dd, .tiempoDeEspera-data-unhospital dl dd {
  margin-left: 0px;
}

/* line 48, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera {
  margin: 0px;
  padding: 0px;
}
/* line 54, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera .tiempoDeEspera-image, .tiempoDeEspera .tiempoDeEspera-image-especialidades, .tiempoDeEspera .tiempoDeEspera-image-listado, .tiempoDeEspera .tiempoDeEspera-image-unhospital {
  display: inline-block;
  padding: 0px 8px;
  vertical-align: top;
}
/* line 60, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera .tiempoDeEspera-image i.icon-espera-web, .tiempoDeEspera .tiempoDeEspera-image-especialidades i.icon-espera-web, .tiempoDeEspera .tiempoDeEspera-image-listado i.icon-espera-web, .tiempoDeEspera .tiempoDeEspera-image-unhospital i.icon-espera-web {
  background: url('../images/espera-2.png?1379058430');
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  -o-background-size: 60px 60px;
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
/* line 72, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera .tiempoDeEspera-image-especialidades {
  padding: 0px 8px 0px 0px !important;
}
/* line 83, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera .tiempoDeEspera-image-listado i.icon-espera-web-50 {
  background: url('../images/espera-2.png?1379058430');
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
  display: inline-block;
  padding: 0px !important;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 50%;
}

/* line 101, ../sass/_tiempoDeEspera.scss */
.chartContent h3, .formChartContent h3 {
  color: #155577 !important;
}
/* line 105, ../sass/_tiempoDeEspera.scss */
.chartContent form, .formChartContent form {
  margin: 30px 0;
}
/* line 109, ../sass/_tiempoDeEspera.scss */
.chartContent canvas, .formChartContent canvas {
  margin: 10px 0;
}
/* line 114, ../sass/_tiempoDeEspera.scss */
.chartContent .imgBox, .formChartContent .imgBox {
  *zoom: 1;
  margin: auto;
}
/* line 8, ../sass/_mixins.scss */
.chartContent .imgBox:before, .formChartContent .imgBox:before, .chartContent .imgBox:after, .formChartContent .imgBox:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.chartContent .imgBox:after, .formChartContent .imgBox:after {
  clear: both;
}
/* line 117, ../sass/_tiempoDeEspera.scss */
.chartContent .imgBox img, .formChartContent .imgBox img {
  height: 170px;
  padding-right: 5px;
}
/* line 124, ../sass/_tiempoDeEspera.scss */
.chartContent .positionhack, .formChartContent .positionhack {
  color: #00aeef;
  font-weight: bold;
  margin-top: -33px;
  margin-left: 78px;
  font-size: 1.1em;
}
/* line 134, ../sass/_tiempoDeEspera.scss */
.chartContent .filterchart span, .formChartContent .filterchart span {
  padding: 10px;
}
/* line 137, ../sass/_tiempoDeEspera.scss */
.chartContent .filterchart select, .formChartContent .filterchart select {
  margin: 10px 10px 10px 0px;
}
/* line 144, ../sass/_tiempoDeEspera.scss */
.chartContent .otroscentros span, .formChartContent .otroscentros span {
  padding: 10px 10px 10px 0px;
}
/* line 147, ../sass/_tiempoDeEspera.scss */
.chartContent .otroscentros select, .formChartContent .otroscentros select {
  margin: 10px 10px 10px 12px;
}

/* line 155, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas {
  *zoom: 1;
  width: 423px !important;
  display: inline-block !important;
  border: 0px !important;
}
/* line 8, ../sass/_mixins.scss */
.cajasDestacadas:before, .cajasDestacadas:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.cajasDestacadas:after {
  clear: both;
}
/* line 162, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas .cajaDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 168, ../sass/_tiempoDeEspera.scss */
.cajasDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 173, ../sass/_tiempoDeEspera.scss */
.includeExternal {
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
.includeExternal:before, .includeExternal:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.includeExternal:after {
  clear: both;
}

/* line 178, ../sass/_tiempoDeEspera.scss */
.hospitalSeo {
  min-height: 250px !important;
}

/* line 188, ../sass/_tiempoDeEspera.scss */
.contentCajasHospitales {
  margin-top: 10px;
}

/* line 193, ../sass/_tiempoDeEspera.scss */
.cajaHospitales ul {
  padding-top: 6px !important;
}

/* line 204, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .Maps {
  margin-left: 0px;
  padding-left: 3px;
}
/* line 208, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .Maps img {
  width: 207px;
}
/* line 213, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList.hr {
  border-top: 2px solid #e6e6e6;
  padding-top: 10px;
}
/* line 219, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList h3 {
  background: url('../images/icon-timeBig.png?1379058430');
  background-repeat: no-repeat;
  line-height: 2em;
  color: #155577;
  font-size: 1em;
  padding-left: 24px;
  min-width: 200px;
  margin: 5px 0 0 0;
}
/* line 229, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList h3.no-bg {
  background: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 3px;
  line-height: 1.4em;
}
/* line 239, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera {
  width: 100%;
  margin-bottom: 5px;
}
/* line 243, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera dt, .tiempoDeEsperaList .dl-tiempoDeEspera dd {
  line-height: 2em;
}
/* line 248, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera dt {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  width: 115px;
  padding-left: 3px;
}
/* line 255, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera dt.large {
  width: 150px;
}
/* line 260, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera dd {
  font-size: 0.9em;
  color: #999999;
  background: url('../images/reloj-azul.png?1379058430');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: 3px;
  width: 75px;
}
/* line 268, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera dd.large {
  width: 115px;
}
/* line 273, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaList .dl-tiempoDeEspera hr {
  border-bottom: 1px solid #e6e6e6;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 0px;
}

/* line 288, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaContent {
  margin-left: 0px;
  display: inline-block;
}
/* line 293, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaContent .footer {
  margin-left: 3px;
}
/* line 296, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaContent .footer a {
  text-decoration: none;
  color: #00aeef;
  font-weight: bold;
  font-size: 0.9em;
}
/* line 302, ../sass/_tiempoDeEspera.scss */
.tiempoDeEsperaContent .footer a:hover {
  color: #155577;
}

/* line 311, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera {
  clear: both;
  display: inline-block;
  font-size: 1.0em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: #89969F 1px solid;
  background: url('../images/son094305-3.png?1379058430');
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 323, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent {
  padding-left: 200px;
  overflow: hidden;
  margin: 10px;
}
/* line 329, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent p {
  margin: 0;
  color: #999999;
}
/* line 335, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent h3 {
  line-height: 2em;
  color: #155577 !important;
  font-size: 1.2em;
  background: none;
  padding: 0;
  margin: 5px 0 5px 0;
}
/* line 345, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent {
  display: block;
}
/* line 349, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl.dl-tiempoDeEspera, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data dl, .tiempoDeEspera-data .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data-unhospital dl, .tiempoDeEspera-data-unhospital .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl {
  width: 315px;
  margin-bottom: 0;
}
/* line 353, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl.dl-tiempoDeEspera dd, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data dl dd, .tiempoDeEspera-data .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dd, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data-unhospital dl dd, .tiempoDeEspera-data-unhospital .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dd, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl.dl-tiempoDeEspera dt, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data dl dt, .tiempoDeEspera-data .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dt, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data-unhospital dl dt, .tiempoDeEspera-data-unhospital .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dt {
  font-size: 1em;
  line-height: 2.4em;
}
/* line 357, ../sass/_tiempoDeEspera.scss */
.fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl.dl-tiempoDeEspera dd, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data dl dd, .tiempoDeEspera-data .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dd, .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent .tiempoDeEspera-data-unhospital dl dd, .tiempoDeEspera-data-unhospital .fichaTiemposEspera .fichaTiemposEsperaContent.tiempoDeEsperaContent dl dd {
  width: 125px;
  background-position-y: 6px;
}

/* line 375, ../sass/_tiempoDeEspera.scss */
.dobleAnchoEspera {
  width: 408px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: #89969F 1px solid;
  margin: 3px 0px 3px 0px;
  padding: 5px 5px 3px 5px;
}

/* line 385, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-unhospital {
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
.tiempoDeEspera-unhospital:before, .tiempoDeEspera-unhospital:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.tiempoDeEspera-unhospital:after {
  clear: both;
}

/* line 391, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-image-unhospital {
  width: 60px !important;
  display: inline-block;
}
/* line 397, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-image-unhospital i.icon-espera-40 {
  background: url('../images/espera-2.png?1379058430');
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 408, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-image-unhospital span {
  width: 58px;
  display: inherit;
}
/* line 411, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-image-unhospital span a {
  color: #00aeef !important;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 418, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-image-unhospital span i.icon-flecha-a {
  background: url('../images/iconListCajas.gif?1379058430');
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  -o-background-size: 8px 8px;
  background-size: 8px 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
}

/* line 431, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data, .tiempoDeEspera-data-unhospital {
  font-size: 1em;
  display: inline-block;
  padding: 0px 0px 5px 0px;
  margin-top: 1px;
  vertical-align: top;
  width: 293px;
  font-style: normal;
}
/* line 441, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data dl, .tiempoDeEspera-data-unhospital dl {
  margin-left: 10px;
  color: #666666;
}
/* line 447, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data dl dt:first-child, .tiempoDeEspera-data-unhospital dl dt:first-child {
  margin-top: 0px;
}
/* line 453, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data p, .tiempoDeEspera-data-unhospital p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../sass/_mixins.scss */
.tiempoDeEspera-data p:before, .tiempoDeEspera-data-unhospital p:before, .tiempoDeEspera-data p:after, .tiempoDeEspera-data-unhospital p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.tiempoDeEspera-data p:after, .tiempoDeEspera-data-unhospital p:after {
  clear: both;
}
/* line 459, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data p span:nth-last-child(1), .tiempoDeEspera-data-unhospital p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 465, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data p span:nth-last-child(2), .tiempoDeEspera-data-unhospital p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 473, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data p:nth-last-child(1), .tiempoDeEspera-data-unhospital p:nth-last-child(1) {
  margin-top: 0px;
}
/* line 477, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data span, .tiempoDeEspera-data-unhospital span {
  font-size: inherit;
  color: #5078be;
}
/* line 483, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data strong.header, .tiempoDeEspera-data-unhospital strong.header {
  display: block;
  line-height: 15px;
  vertical-align: top;
  color: #155577;
  font-size: inherit;
  padding: 5px 10px;
}
/* line 492, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data i.icon-espera, .tiempoDeEspera-data-unhospital i.icon-espera {
  background: url('../images/espera.png?1379058430');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 503, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data a, .tiempoDeEspera-data-unhospital a {
  text-decoration: underline;
}

/* line 511, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data-unhospital {
  padding: 0px 0px 4px 0px !important;
  margin: 6px 0px 11px 0px !important;
}
/* line 517, ../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-data-unhospital strong.header {
  display: inline-block !important;
  padding: 0px 10px !important;
}

/* line 527, ../sass/_tiempoDeEspera.scss */
.formChartContent .selectHospital {
  margin-top: 0px !important;
}
