/* line 2, ../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 11, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, div.tiempoDeEspera span.tiempoDeEspera-data dl, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl {
  display: inline-block;
  width: 230px;
  margin: 0px;
}
/* line 17, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl dt, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl dt, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl dt,
dl.dl-tiempoDeEspera dd,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-listado dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl dd,
div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl dd,
.chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl dd {
  display: inline-block;
  color: #666666;
  line-height: 12px;
}
/* line 23, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl dt, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl dt, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl dt {
  width: 120px;
}
/* line 27, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl dd, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl dd, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl dd {
  margin-left: 0px;
}

/* line 39, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera {
  margin: 0px;
  padding: 0px;
}
/* line 43, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades, div.tiempoDeEspera span.tiempoDeEspera-data-listado, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas {
  font-size: 1em;
  display: inline-block;
  background-color: #e6e6e6;
  padding: 0px 0px 5px 0px;
  margin-top: 1px;
  vertical-align: top;
  width: 293px;
  font-style: normal;
}
/* line 54, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades dl, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl {
  margin-left: 10px;
  color: #666666;
}
/* line 60, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-listado dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 dl dt:first-child, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas dl dt:first-child, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas dl dt:first-child {
  margin-top: 0px;
}
/* line 66, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades p, div.tiempoDeEspera span.tiempoDeEspera-data-listado p, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:before, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:before, div.tiempoDeEspera span.tiempoDeEspera-data-listado p:before, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:before, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p:before, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p:before, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p:before, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p:before, div.tiempoDeEspera span.tiempoDeEspera-data p:after, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:after, div.tiempoDeEspera span.tiempoDeEspera-data-listado p:after, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:after, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p:after, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p:after, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p:after, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:after, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:after, div.tiempoDeEspera span.tiempoDeEspera-data-listado p:after, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:after, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p:after, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p:after, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p:after, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p:after {
  clear: both;
}
/* line 72, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-listado p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p span:nth-last-child(1), div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p span:nth-last-child(1), .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 78, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-listado p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p span:nth-last-child(2), div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p span:nth-last-child(2), .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 86, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-listado p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 p:nth-last-child(1), div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas p:nth-last-child(1), .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas p:nth-last-child(1) {
  margin-top: 0px;
}
/* line 90, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data span, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades span, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades span, div.tiempoDeEspera span.tiempoDeEspera-data-listado span, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales span, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital span, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 span, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas span, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas span {
  font-size: inherit;
  color: #5078be;
}
/* line 96, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-listado strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 strong.header, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas strong.header, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas strong.header {
  display: block;
  line-height: 15px;
  vertical-align: top;
  color: #155577;
  font-size: inherit;
  padding: 5px 10px;
}
/* line 105, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-listado i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 i.icon-espera, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas i.icon-espera, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas i.icon-espera {
  background: url('../images/espera.png?1378132643');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 117, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data a, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades a, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades a, div.tiempoDeEspera span.tiempoDeEspera-data-listado a, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales a, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital a, div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 a, div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas a, .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas a {
  text-decoration: underline;
}
/* line 124, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image, div.tiempoDeEspera span.tiempoDeEspera-image-especialidades, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital, div.tiempoDeEspera span.tiempoDeEspera-image-listado, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 {
  display: inline-block;
  padding: 0px 8px 0px 10px;
  vertical-align: top;
}
/* line 129, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-especialidades i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-listado i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 i.icon-espera-web {
  background: url('../images/espera-2.png?1378132643');
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  -o-background-size: 60px 60px;
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
/* line 140, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-listado > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 > p:nth-of-type(2), div.tiempoDeEspera .chartContent .tiempoDeEspera-data-vermas > p:nth-of-type(2), .chartContent div.tiempoDeEspera .tiempoDeEspera-data-vermas > p:nth-of-type(2) {
  margin-bottom: 10px;
}
/* line 146, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades {
  width: 440px !important;
}
/* line 151, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl.dl-tiempoDeEspera-especialidades {
  width: 240px !important;
}
/* line 157, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades span.link-vermas a {
  vertical-align: bottom;
}
/* line 165, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-especialidades {
  padding: 0px 8px 0px 0px !important;
}
/* line 172, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital {
  width: 60px !important;
}
/* line 176, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital i.icon-espera-40 {
  background: url('../images/espera-2.png?1378132643');
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 187, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital span {
  width: 58px;
  display: inherit;
}
/* line 190, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital span a {
  color: #00aeef !important;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 197, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital span i.icon-flecha-a {
  background: url('../images/iconListCajas.gif?1378132643');
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  -o-background-size: 8px 8px;
  background-size: 8px 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
}
/* line 210, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-listado {
  font-size: 0.8em !important;
  width: 293px !important;
  padding: 0px 0px 3px 0px;
}
/* line 216, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-listado strong.header {
  display: inline-block !important;
  padding: 2px 0px 2px 10px !important;
}
/* line 220, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-listado a {
  color: #00aeef !important;
}
/* line 229, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-listado i.icon-espera-web-50 {
  background: url('../images/espera-2.png?1378132643');
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
  display: inline-block;
  padding: 0px !important;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 50%;
}
/* line 244, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-hospitales {
  width: 293px !important;
  margin-top: 10px !important;
}
/* line 249, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-hospitales strong.header {
  display: inline-block !important;
  padding: 10px 10px 0px 0px !important;
}
/* line 253, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-hospitales a {
  color: #00aeef !important;
}
/* line 261, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital {
  padding: 0px 0px 4px 0px !important;
  margin: 6px 0px 11px 0px !important;
}
/* line 268, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital strong.header {
  display: inline-block !important;
  padding: 0px 10px !important;
}
/* line 276, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 {
  padding: 10px 10px 11px 10px !important;
  margin: 6px 0px 6px 0px !important;
  font-style: normal;
}
/* line 283, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-unhospital-2 strong.header {
  display: inline-block !important;
  padding: 0px 10px 5px 10px !important;
}
/* line 291, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 {
  width: 60px !important;
  font-style: normal;
}
/* line 296, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 i.icon-espera-60 {
  background: url('../images/espera-2.png?1378132643');
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  -o-background-size: 60px 60px;
  background-size: 60px 60px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 307, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 span {
  width: 60px;
  display: inherit;
  margin-top: 55px;
  font-style: normal;
}
/* line 312, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 span a {
  color: #00aeef !important;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 319, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital-2 span i.icon-flecha-a {
  background: url('../images/iconListCajas.gif?1378132643');
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  -o-background-size: 8px 8px;
  background-size: 8px 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
}

/* line 335, ../sass/_tiempoDeEspera.scss */
.chartContent .imgBox {
  *zoom: 1;
  margin: auto;
}
/* line 8, ../sass/_mixins.scss */
.chartContent .imgBox:before, .chartContent .imgBox:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.chartContent .imgBox:after {
  clear: both;
}
/* line 338, ../sass/_tiempoDeEspera.scss */
.chartContent .imgBox img {
  height: 170px;
  padding-right: 5px;
}
/* line 345, ../sass/_tiempoDeEspera.scss */
.chartContent h3 {
  color: #78aa39 !important;
}
/* line 349, ../sass/_tiempoDeEspera.scss */
.chartContent span.tiempoDeEspera-image-vermas {
  display: inline-block;
  margin-top: -30px;
}
/* line 353, ../sass/_tiempoDeEspera.scss */
.chartContent span.tiempoDeEspera-image-vermas i.icon-espera-vermas {
  background: url('../images/espera-2.jpg?1378132643');
  -webkit-background-size: 70px 70px;
  -moz-background-size: 70px 70px;
  -o-background-size: 70px 70px;
  background-size: 70px 70px;
  display: inline-block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  border: white 3px solid;
}
/* line 368, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas {
  *zoom: 1;
  width: 533px;
  background-color: #E6E6E6;
  font-style: normal;
  margin: 5px 0 15px 0;
}
/* line 8, ../sass/_mixins.scss */
.chartContent .tiempoDeEspera-data-vermas:before, .chartContent .tiempoDeEspera-data-vermas:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.chartContent .tiempoDeEspera-data-vermas:after {
  clear: both;
}
/* line 377, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart {
  *zoom: 1;
  line-height: 14px;
  font-size: 1.1em;
  margin: 10px 10px 20px 10px;
  padding: 0px;
  display: inline-block;
}
/* line 8, ../sass/_mixins.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart:before, .chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart:after {
  clear: both;
}
/* line 391, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart dt, .chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart dd {
  font-weight: bold;
  line-height: 1.7em;
  display: inline-block;
}
/* line 398, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart dt {
  width: 150px;
  color: #585858;
  padding-left: 20px;
}
/* line 409, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart dd {
  margin: 0px;
  padding: 10px 0 0 0px;
  width: 320px;
  color: black;
}
/* line 415, ../sass/_tiempoDeEspera.scss */
.chartContent .tiempoDeEspera-data-vermas dl.dl-tiempoDeEspera-chart dd strong {
  font-size: 2em;
}
/* line 422, ../sass/_tiempoDeEspera.scss */
.chartContent form {
  margin: 10px 0;
}
/* line 426, ../sass/_tiempoDeEspera.scss */
.chartContent canvas {
  margin: 10px 0;
}
/* line 431, ../sass/_tiempoDeEspera.scss */
.chartContent i.icon-calendar {
  background: url('../images/calendar.png?1378132643');
  -webkit-background-size: 32px 32x;
  -moz-background-size: 32px 32x;
  -o-background-size: 32px 32x;
  background-size: 32px 32x;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-left: 40px;
  background-repeat: no-repeat;
}
/* line 442, ../sass/_tiempoDeEspera.scss */
.chartContent .positionhack {
  color: #00aeef;
  font-weight: bold;
  margin-top: -33px;
  margin-left: 78px;
  font-size: 1.1em;
}
/* line 452, ../sass/_tiempoDeEspera.scss */
.chartContent .filterchart span {
  padding: 10px;
}
/* line 455, ../sass/_tiempoDeEspera.scss */
.chartContent .filterchart select {
  margin: 10px 10px 10px 0px;
}
/* line 462, ../sass/_tiempoDeEspera.scss */
.chartContent .otroscentros span {
  padding: 10px;
}
/* line 465, ../sass/_tiempoDeEspera.scss */
.chartContent .otroscentros select {
  margin: 10px 10px 10px 50px;
}

/* line 473, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas {
  *zoom: 1;
  width: 423px !important;
  display: inline-block !important;
  border: 0px !important;
}
/* line 8, ../sass/_mixins.scss */
.cajasDestacadas:before, .cajasDestacadas:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.cajasDestacadas:after {
  clear: both;
}
/* line 479, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas div.cajaDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 485, ../sass/_tiempoDeEspera.scss */
.cajasDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 490, ../sass/_tiempoDeEspera.scss */
.includeExternal {
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
.includeExternal:before, .includeExternal:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.includeExternal:after {
  clear: both;
}

/* line 494, ../sass/_tiempoDeEspera.scss */
.dobleAnchoEspera {
  width: 408px !important;
  border-radius: 6px;
  border: #89969F 1px solid;
  margin: 3px 0px 3px 0px;
  padding: 5px 5px 3px 5px;
}

/* line 504, ../sass/_tiempoDeEspera.scss */
div.borderExtra {
  border-radius: 5px;
  border: #89969F 1px solid;
  padding: 10px 10px 5px 10px;
}
/* line 514, ../sass/_tiempoDeEspera.scss */
div.borderExtra div.bannerHomeHospitales a img {
  width: 95% !important;
}

/* line 524, ../sass/_tiempoDeEspera.scss */
.hospitalSeo {
  min-height: 250px !important;
}
