
footer	{
	
	background:url(../images/footer.png) right 10px #A2CEEE no-repeat;
	
	
	}

 
 a.add-user	{
	 
	 background:url(../images/sprite.png) -520px -12px no-repeat;
	
	 }  
   

  
header .call	{
	background:url(../images/sprite.png) 0px -160px no-repeat;
	
	}   
header .call	{
	 width:60px;
	 height:60px;
	background-position:11px -153px;
	}		
	
header .misanitas	{
	background:url(../images/sprite.png) 0px -200px no-repeat;
	
	
	
	}   	

	
section.elige aside h2	{
	background:url(../images/sprite.png) 0px -78px #f0eced no-repeat;
	
	}	
	

nav span.dot,
header span.dot,	
h2 span.dot	{
	background:url(../images/sprite.png) -10px 0px no-repeat;
		
}

	
	
	
a.button-destacado	span	{
	
	background:url(../images/sprite.png) -10px -50px no-repeat;
	


	}


a.button-destacado.back	span	{
	
		background:url(../images/sprite.png) -50px -50px no-repeat;
	}


a.button-destacado	span.blue	{
	
	
	background:url(../images/sprite.png) -50px top no-repeat;
	
	
	}
	
a.fb{
	background:url(../images/sprite.png) -80px 0px;

	
	}
a.tw{
	background:url(../images/sprite.png) -120px 0px;
	
	
	}	
a.tb{
	background:url(../images/sprite.png) -160px 0px;
	
	
	}	
a.apple{
	background:url(../images/sprite.png) -200px 0px;
	
	
	}
a.android{
	background:url(../images/sprite.png) -240px 0px;
	
	
	}				

	
span.arrow.left	{
	
	background:url(../images/sprite.png) no-repeat;
	}	
	
span.arrow.right	{

	background:url(../images/sprite.png) -50px top no-repeat;
	}	
	
	
.doctore {
	background:url(../images/sprite.png) 0px bottom;
	}	
	
.precio {
	background:url(../images/sprite.png) -80px bottom;
	}		
.diente {
	background:url(../images/sprite.png) -160px bottom;
	}		
.otros {
	background:url(../images/sprite.png) -240px bottom;
	}		
.residencias {
	background:url(../images/sprite.png) -320px bottom;
	}	
/*Otros servicios*/


#toggleAutoPlayBtn	{
	
	background:url(../images/sprite.png) -12px -292px;
	
	}


.coberturas ul li,
.recomendamos ul li{

	background:url(../images/sprite.png) -520px -80px no-repeat;
	}	
.coberturas ul li.error,
.recomendamos ul li.error{
	background:url(../images/sprite.png) -520px -40px no-repeat;
	
	}	
/*Seguros de salud*/	

/*todos seguros*/	

.mobile nav{
	background:url(../images/sprite.png) -500px bottom #E4E4E4 no-repeat;
		
	}	
	
		
/*todos seguros*/	

/*seguros detalle*/



/*seguros detalle*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */      
   


a.tel-centro	{
	
	background:url(../images/sprite.png) -538px -396px no-repeat;
	
	}
a.location{


	background:url(../images/sprite.png) -535px -365px no-repeat #FFF;
	
	
	}	
a.location:hover{
	
	background:url(../images/sprite.png) -535px -365px no-repeat #bdc9d5;

	}	

	
a.map	{
	background:url(../images/sprite.png) -282px 5px no-repeat;



}	

	
span.arrow-grey	{

	background:url(../images/sprite.png) -45px 5px no-repeat;

	}	

article.hospitales .box-grey.accordeon  li h3	span{

	background:url(../images/sprite.png) -530px -225px #fff no-repeat!important;
	
}
article.hospitales .box-grey.accordeon  li.activa h3	span{

	background:url(../images/sprite.png) -530px -180px #EAEAEA no-repeat!important;

}

.button-destacado.phone{
	background:url(../images/sprite.png) left -430px #EAEAEA no-repeat!important;

	}
.button-destacado.rute{
	background:url(../images/sprite.png) left bottom #EAEAEA no-repeat!important;

	}	

	
	
article .box-grey.accordeon	li.activa li li:nth-child(2){
	background:url(../images/sprite.png) -535px -317px #fff no-repeat!important;
	
	}
article .box-grey.accordeon	li.activa li li:nth-child(3){
	background:url(../images/sprite.png) -535px -275px #fff no-repeat!important;
	
	}	


.modoTrayecto	ul li a.coche.on{
	background:url(../images/sprite.png) -155px -332px #4679bc no-repeat;
	
	
	
	}	
.modoTrayecto	ul li a.bus.on{
	background:url(../images/sprite.png) -230px -333px #4679bc no-repeat;
	
	
	
	}
.modoTrayecto	ul li a.pasos.on{
	background:url(../images/sprite.png) -305px -330px #4679bc no-repeat;
	}			
		
.modoTrayecto	ul li a.coche{
	background:url(../images/sprite.png) -155px -278px no-repeat;
	
	
	}	
.modoTrayecto	ul li a.bus{
	background:url(../images/sprite.png) -230px -278px no-repeat;
	
	
	
	}
.modoTrayecto	ul li a.pasos{
	background:url(../images/sprite.png) -305px -278px no-repeat;
	}			
	
	

/*social*/

.content.comparador table td.nodisp{
	background:url(../images/error.png) center no-repeat;
	}	
.content.comparador table td.disp{
	background:url(../images/acierto.png) center no-repeat;
	}	
a.out,
.boton-white.out	{
	background:url(../images/sprite.png) -38px -390px #FFFFFF no-repeat;
	}


/*comparador*/
li.ok span{
	background:url("../images/sprite.png") no-repeat scroll -520px -88px transparent;
	}	
	
li.no span{
	background:url("../images/sprite.png") no-repeat scroll -520px -47px transparent;
	}	
	
	
a.recalculate	{

	background:url(../images/sprite.png) left -242px no-repeat;
	}	
/*comparador*/

.navigationBottom ul li span.mail{
	 background:url(../images/sprite.png) -229px -465px no-repeat;
	
	}	
.navigationBottom ul li span.phone{
	 background:url(../images/sprite.png) -269px -463px no-repeat;
	
	}
.navigationBottom ul li span.presupuesto{
	 background:url(../images/sprite.png) -302px -463px no-repeat;
	
	}		


@media screen and (max-width : 480px) {
	/*social*/

.button-destacado.phone{
	background:url(../images/sprite.png) -535px -395px #EAEAEA no-repeat!important;
	}	
	

nav ul li {
	
	background: url("../images/left-arrow.png") right #E4E4E4 no-repeat;
	
	}	
	
nav	div strong{

	background: url("../images/sprite.png") no-repeat scroll -500px bottom #E4E4E4;

	}	
	
	
	
hgroup.todos.centros.listado article li div{
	width:95%;
	background:url(../images/sep-location.png) 70% repeat-y;
	min-height:90px;
	
	}
	
/*ajutes hospitales*/
.button-destacado.phoneHospital span{
	background:url(../images/sprite.png)  -6px -435px #EAEAEA no-repeat!important;
	}	
.button-destacado.ruteHospital span{
	background:url(../images/sprite.png)  -6px  -470px #EAEAEA no-repeat!important;
	}	
}

@media screen 
and (min-width : 480px) 
and (max-width : 768px) {

	
nav ul li	{
	background: url("../images/left-arrow.png") right #E4E4E4 no-repeat;
	
	}

nav	div strong{
	
	background: url("../images/sprite.png") no-repeat scroll -500px bottom #E4E4E4;
  
	}		

	
hgroup.todos.centros.listado article li div{
	background:url(../images/sep-location.png) 75% repeat-y;
	
	}
	
}
	
@media only screen and (min-width: 768px) {    /* Style adjustments for viewports that meet the condition */

nav span.dot,
header span.dot,
h2 span.dot	{
	background:url(../images/sprite.png) -10px 0px no-repeat;

		
		
}



hgroup.todos.centros.listado article li div{
	background:url(../images/sep-location.png) 85% repeat-y;
	
	}
	
/*ajustes buscador listado*/

}
@media only screen and (min-width: 1024px) {	
/*Ajustes resumen servicios salud*/


/*Ajustes buscador*/
hgroup.todos.centros.listado article li div{
	background:url(../images/sep-location.png) 82% repeat-y;
	
	}

}


@media only screen and (min-width: 1280px) {	
	
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
	
}

@media screen and (-webkit-device-pixel-ratio: 2) { 




 }

