.container-card {
  margin-bottom: 0;
  background-color: $colorGray-200;
  .credit-card {
    &__icon {
      margin-right: 18px;
    }
    &__details {
      font-weight: $font-bold;
      line-height: 18px;
      padding-top: 3px;
      .account-holder {
        color: $colorGreen-500;
        font-size: 18px;
      }
      .number-account {
        font-size: 18px;
      }
    }
  }

  h1 {
    font-size: 24px;
    color: $color-brand;
    font-weight: $font-bold;
    margin: 0;
    margin-right: 60px;
  }
}
