.credit-card {
  &__icon {
    margin-right: 10px;
  }
  &__details {
    font-weight: $font-bold;
    .account-holder {
      color: $color-brand;
    }
    .number-account {
      font-size: 16px;
    }
  }
}

.activate-card{
  color: $color-brand;
  font-weight: $font-bold;
  margin: 0;
}
