.chart-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  .chart {
    height: 300px;
    &__data {
      display: none;
    }
  }
  .chart .tooltip-box {
    @include css3-prefix(filter, drop-shadow(1px 1px 1px rgba(0,0,0,0.5)));
    padding:5px;
    background-color: $colorGray-200;
    text-align:center;
    line-height:20px;
    opacity:0.9;
    z-index:9999;
    border-radius: 2px;
    .triangle {
      @include triangle(6px, 0, 6px, 6px, $colorGray-200);
      position: absolute;
      top: 50px;
      left: calc(50% - 6px);
      margin: 0;
      padding: 0;
      width: 0;
      height: 0;
    }
    .border-triangle {
      top: 51px;
      border-top-color: $colorGreen-500;
      border-bottom-color: $colorGreen-500;
    }
    &.under-point {
      .triangle {
        @include triangle(0, 6px, 6px, 6px, $colorGray-200);
        top: auto;
        bottom: 50px;
      }
      .border-triangle {
        top: auto;
        bottom: 51px;
        border-top-color: transparent;
      }
      &.presupuestos-mensuales .border-triangle {
        border-bottom-color: $colorGray-350;
      }
      &.gasto-real .border-triangle {
        border-bottom-color: $colorGreen-500;
      }
      &.prevision-futuro .border-triangle {
        border-bottom-color: $colorGray-350;
      }
    }
  }
}
