.content-success-message {
  background-color: $colorGreen-500;
  color: $colorWhite;
  text-align: center;
  h1 {
    font-size: 33px;
    font-weight: $font-bold;
  }
  p {
    margin: 0 auto;
    font-size: 15px;
  }
}
