.content-success-operation {
  background-color: $colorGreen-500;
  color: $colorWhite;
  text-align: center;
  &__width {
    min-width: 740px;
    max-width: 740px;
  }
  h1 {
    font-size: 28px;
    font-weight: $font-bold;
    margin-bottom: 8px;
  }
  p {
    margin: 0;
    color: $colorWhite;
    font-size: 18px;
  }
  .halfcol {
    padding-left: 94px;
    &:last-child {
      padding-left: 24px;
    }
    span {
      font-size: 24px;
    }
  }
}
