.block-info-card-payment {
  width: 64%;
  background-color: $colorGreen-500;
  color: $colorWhite;
  padding: 40px 40px 20px 40px;
  font-size: 15px;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: -40px;
  dd {
    line-height: 27px;
    text-align: left;
    width: 50%;
    float: left;
  }
  dt {
    float: left;
    text-align: right;
    line-height: 25px;
    width: 50%;
    padding-right: 17px;
  }
}
