input {
  &.form-control {
    @include dialog-placeholder(13px, $gray-dark, 5px, 5px);
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba($colorBlack, 0.3);

    &:focus {
      box-shadow: 0px 1px 2px 0px rgba($colorBlack, 0.3);
    }
  }
}
