.select-reason {
  text-align: center;
  padding: 65px 0;
  &__bg {
    display: inline-block;
    padding: 35px 30px;
    background-color: $colorWhite;
  }
  &__option {
    display: inline-block;
    padding-left: 0;
    position: relative;
    padding: 30px 70px;
    &_stolen {
      padding-left: 25px;
    }
    &_lost {
      padding-right: 100px;
    }
    &_others {
      padding-left: 60px;
    }
    &:before {
      content: '';
      position: absolute;
      background-color: $colorGray-500;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
    }
    &:last-child {
      &:before {
        content: none;
      }
    }
  }
}
