<div class="module-inner-content alerts-module-content">
  <div class="top-alert-container">
    <div class="text-container">
      <span class="title">Configurar alertas</span>
      <span class="text">Si está activada esta configuración sobreescribe la configuración general de alertas</span>
    </div>
    <div class="header-table-container">
      <div class="pull">
        <span>Recibir alerta si:</span>
      </div>
      <div class="app">
        <span>APP</span>
      </div>
      <div class="mail">
        <span>mail</span>
      </div>
      <div class="sms">
        <span>SMS</span>
      </div>
    </div>
  </div>

  <div class="body-container">
    <div class="table-container">
      <div class="fila-alert">
        <div class="text-container">
          <div class="text">
            <span>Tu recibo supera</span>
          </div>
          <div class="input-container">
            <input class="input-money" type="text" value="350"/>
          </div>
          <div class="coin">
            <span>€</span>
          </div>
        </div>
        <div class="checkbox-container">
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert11{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert11{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert12{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert12{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert13{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert13{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
        </div>
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text">
            <span>Tu recibo supera el</span>
          </div>
          <div class="input-container">
            <input class="input-percent" type="text" value="60"/>
          </div>
          <div class="text">
            <span>% del total anual</span>
          </div>
        </div>
        <div class="checkbox-container">
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert21{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert21{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert22{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert22{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert23{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert23{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
        </div>
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text">
            <span>Se cobra un recibo</span>
          </div>
        </div>
        <div class="checkbox-container">
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert31{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert31{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert32{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert32{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert33{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert33{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
        </div>
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text">
            <span>Se devuelve un recibo</span>
          </div>
        </div>
        <div class="checkbox-container">
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert41{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert41{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert42{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert42{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert43{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert43{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
        </div>
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text">
            <span>Se duplica un recibo</span>
          </div>
        </div>
        <div class="checkbox-container">
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert51{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert51{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert52{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert52{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
          <div class="checkbox-content">
            <input type="checkbox" id="checkbox-alert53{{ counter }}{{ outer_counter }}" />
            <label for="checkbox-alert53{{ counter }}{{ outer_counter }}" class="label-checkbox"></label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bottom-container">
    <div class="button-container">
      <button class="btn button-module">Volver</button>
    </div>
    <div class="button-container">
      <button class="btn button-module">Guardar</button>
    </div>
  </div>
</div>
