<div class="module-inner-content alerts-module-content">
  <div class="top-alert-container">
    <div class="text-container">
      <span class="title">Configurar alertas</span>
      <span class="text">Si está activada esta configuración sobreescribe la configuración general de alertas</span>
    </div>
    <div class="header-table-container">
      <div class="pull">
        <span>Recibir alerta si:</span>
      </div>
      <div class="app">
        <span>APP</span>
      </div>
      <div class="mail">
        <span>mail</span>
      </div>
      <div class="sms">
        <span>SMS</span>
      </div>
    </div>
  </div>

  <div class="body-container">
    <form action="javascript:void(null);" method="post">
    <div class="table-container">
      <div class="fila-alert">
        <div class="text-container padded">
          <div class="text">
            <span>Se cobra un recibo</span>
          </div>
        </div>
        {% with row = 1 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container padded">
          <div class="text">
            <span>Se devuelve un recibo</span>
          </div>
        </div>
        {% with row = 2 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container padded">
          <div class="text">
            <span>Se duplica un recibo</span>
          </div>
        </div>
        {% with row = 3 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container padded">
          <div class="text">
            <span>Previsión de gastos del mes siguiente</span>
          </div>
        </div>
        {% with row = 4 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container padded">
          <div class="text">
            <span>Presupuesto mensual superado</span>
          </div>
        </div>
        {% with row = 5 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text sized">
            <span>Límite por categoria superado:</span>
          </div>
          <div class="icon-container submodule-button">
            <i class="icon-gear-round"></i>
          </div>
        </div>
        <div class="module submodule slideup">
            <div class="flip-container">
                <div class="flipper">
                    <div class="module-content alerts-module-subcontent slidedown active">
                        <div class="module-inner-content">
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Vivienda: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_house{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_house{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Colegios y Enseñanza: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_school{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_school{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Tarjeta: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_card{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_card{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Seguros: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_assurance{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_assurance{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Cuotas y Préstamos: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_cuote{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_cuote{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Impuestos: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_tax{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_tax{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                            <div class="custom-alert-row">
                                <div class="text">
                                    <span>Ocio y Deporte: avisarme si supera</span>
                                </div>
                                <div class="input-container">
                                  <input id="over_sport{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
                                  <label class="label-money" for="over_sport{{ counter }}{{ outer_counter }}">350</label>
                                </div>
                                <div class="coin">
                                  <span>€</span>
                                </div>
                                <div class="icon-container">
                                  <i class="icon-edit edit-subalert"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% with row = 6 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text padded">
            <span>Algún recibo supera</span>
            <div class="input-container over">
              <input id="over_receipt{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="350" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
              <label class="label-money" for="over_receipt{{ counter }}{{ outer_counter }}">350</label>
            </div>
            <div class="coin">
              <span>€</span>
            </div>
          </div>
          <div class="icon-container">
            <i class="icon-edit edit-money"></i>
          </div>
        </div>
        {% with row = 7 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
      <div class="fila-alert">
        <div class="text-container">
          <div class="text padded">
            <span>Tus gastos del mes superan</span>
            <div class="input-container over">
              <input id="over_spent{{ counter }}{{ outer_counter }}" style="display:none;" class="input-money" type="text" value="1.500" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true"/>
              <label class="label-money" for="over_spent{{ counter }}{{ outer_counter }}">1.500</label>
            </div>
            <div class="coin">
              <span>€</span>
            </div>
          </div>
          <div class="icon-container">
            <i class="icon-edit edit-money"></i>
          </div>
        </div>
        {% with row = 8 %}
        {% include '/components/_checkbox_list.html' %}
        {% endwith %}
      </div>
    </div>
    </form>
  </div>


  <div class="bottom-container">
    <div class="button-container">
      <button type="button" class="btn button-module">Volver</button>
    </div>
    <div class="button-container">
      <button type="button" class="btn button-module">Guardar</button>
    </div>
  </div>
</div>
