{% extends "/includes/_popup.html" %}

<!-- Inicio modulo "login" -->
{% block header %}
  <div class="call-us-header">
    <img class="logo-coinc" src="images/logo-coinc.png" alt="..." >
  </div>
{% endblock %}

{% block content %}
  <div class="call-us-popup">
    <span class="text">Por favor, introduce</span>
    <span class="text2">902 88 30 15</span>
    <span class="text">Te atenderemos de lunes a viernes</span>
    <span class="text">de 9:00 a 18:00.</span>
    <div class="contact-button-wrapper">
      <input type="button" class="contact-button" value="Entendido" />
    </div>
  </div>
{% endblock %}
<!-- Fin modulo "login" -->
