<div class="module-inner-content devolver-baja-module-content {% if type=='baja' %} baja {% endif %}">
  <div class="top-devolver-baja-container {% if type=='baja' %} baja {% endif %}">
    <div class="text-container">
      {% if type == "devolver" %}
        <span class="title">Vas a devolver el recibo</span>
      {% else %}
        <span class="title">Vas a dar de baja el proveedor</span>
      {% endif %}

      <span class="subtitle">{{ texto }}</span>

      {% if type == "devolver" %}
        <div class="money-container">
          <span class="number">{{ number }},</span><span class="decimal">{{ decimal }}</span><span class="coin">€</span>
        </div>
      {% endif %}
    </div>
  </div>

  {% if type != "devolver" %}
      <div class="warning-container">
        <div class="icon-container">
          <i class="icon-warning-yellow"></i>
        </div>
        <span class="text">Al dar de baja a un proveedor todos sus <a>recibos futuros</a> serán devueltos y <a>no se cargarán en su cuenta.</a> Tampoco serán considerados para el calculo de presupuestos.</span>
      </div>
  {% endif %}
  <div class="body-container">
    <div class="text-sms-container">
      <span class="text">Introduce el código SMS<br> que te hemos enviado a tu móvil</span>
    </div>
    <div class="input-sms-container">
      <input type="text" class="input-sms" placeholder="Introduce el código"/>
    </div>
    <div class="link-container">
      <div class="icon-container">
        <i class="icon-sms"></i>
      </div>
      <div class="link-content">
        <a class="link">Si no ha llegado el SMS</a>
      </div>
    </div>
  </div>


  <div class="bottom-container">
    <div class="button-container">
      <button class="btn button-module cancel">Cancelar</button>
    </div>
    <div class="button-container">
      {% if type == "devolver" %}
        <button class="btn button-module confirm">Devolver</button>
      {% else %}
        <button class="btn button-module confirm">Baja</button>
      {% endif %}
    </div>
  </div>
</div>
