<!-- Inicio módulo "links" -->
<div class="links_wrapper_l1">
  <nav>
    <ul>
      <li><a href="">CONTACTO</a></li>
      <li><a href="">HISTÓRICO DE CONVERSACIONES</a>
        <ul>
          <li><a href="" class="folder-wrapper"><i class="folder-ico"></i><span class="element">Consultas Resultas</span></a></li>
          <li><a href="" class="folder-wrapper"><i class="folder-ico"></i><span class="element">Consultas Pendientes</span></a></li>
          <li><a href="" class="folder-wrapper"><i class="folder-ico"></i><span class="element">Consultas Contestadas</span> </a>
            <ul>
              <li><a href=""><i class="sms-ico"></i><i class="clip-ico"></i><span class="element">Duda sobre operativa (30/10/16)</span></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="">TUTORIAL</a></li>
      <li><a href="">PREGUNTAS FREQUENTES</a></li>
    </ul>
  </nav>
</div>
<!-- Fin módulo "links" -->
