<div class="module-inner-content prestamo-detail-content">
  <div class="top-container">
    <div class="text-container">
      <span class="title">{{ texto }}</span>
    </div>
    <div class="icon-container">
      <a href="#"><i class="icon-pdf icon-blue"></i></a>
    </div>
  </div>

  <div class="element-container slideup">
    <div class="icon-container">
      <i class="icon-hand-blue"></i>
    </div>
    <div class="name-container">
      <span class="name">Prestamo</span>
    </div>
    <div class="triangle-container">
      <span class="triangle slideup"></span>
    </div>
  </div>
    <div class="subelement-container slideup">
      <div class="content">
        <div class="icon-container">
          <i class="icon-hand-blue"></i>
        </div>
        <div class="name-container">
          <span class="name">Prestamo</span>
        </div>
        <div class="check-container">
          <i class="icon-check check"></i>
        </div>
      </div>
    </div>

  <div class="element-container slideup">
    <div class="icon-container">
      <i class="icon-calendar-new small"></i>
    </div>
    <div class="name-container">
      <span class="name">Mensual</span>
    </div>
    <div class="triangle-container">
      <span class="triangle slideup"></span>
    </div>
  </div>
    <div class="subelement-container slideup">
      <div class="content">
        <div class="icon-container">
          <i class="icon-calendar-gray small"></i>
        </div>
        <div class="name-container">
          <span class="name">Trimestral</span>
        </div>
        <div class="check-container">
          <i class="icon-check check"></i>
        </div>
      </div>
    </div>

  <div class="element-container-alerts">
    <div class="switch-container">
      <input id="cmn-toggle-{{ count }}{{ outer_count }}" class="cmn-toggle cmn-toggle-round-flat" type="checkbox"/>
      <label for="cmn-toggle-{{ count }}{{ outer_count }}"></label>
    </div>
    <div class="name-container">
      <span class="name">Alertas</span>
    </div>
    <div class="icon-container">
      <i class="icon-gear-round"></i>
    </div>
  </div>

  <div class="bottom-container">
    <div class="button-container">
      <button class="btn button-module prestamo">Amortizar</button>
    </div>
  </div>
</div>
