{% extends "/includes/_user_prompt.html" %}

<!-- Inicio modulo "sms" -->
{% block content %}
  <div class="sms">
    <span class="title">Código SMS</span>
    <label>Acabamos de enviarlo a tu móvil</label>
    <div class="phone-group">
      <input type="text" class="inputs-border phone-input"/>
      <a href="">
        <i class="question-ico"></i>
        <span class="text">No ha llegado el SMS</span>
      </a>
    </div>
    <span class="feedback">El código no es correcto</span>
    <div class="contact-button-wrapper">
      <input type="submit" class="contact-button" value="ENVIAR" />
      <i class="contact-button-arrow-icon"></i>
    </div>
  </div>
{% endblock %}
<!-- Fin modulo "sms" -->
