{% extends "/includes/_user_prompt.html" %}

<!-- Inicio módulo "subscribe" -->
{% block content %}
  <form class="send-message-form">

    <div class="username-group">
      <label >Tu nombre</label><br />
      <input type="text" class="line-input inputs-border"/>
    </div>

    <div class="email-group">
      <label >Tu dirección de correo electrónico</label><br />
      <input type="email" class="line-input inputs-border"/>
    </div>

    <div class="related-group">
      <label>Asunto</label><br />
      <select class="inputs-border">
        <option>Otros</option>
      </select>

      <div class="name-group">
        <input type="text" class="line-input inputs-border" placeholder="Escribe el nombre del asunto"/>
      </div>
    </div>

    <div class="textarea-group">
      <label>Tu consulta</label><br />
      <textarea rows="5" cols="50"  class="inputs-border" placeholder="Cuéntanos en que podemos ayudarte"></textarea>
    </div>

    <div class="left-radio-group">
      <input type="radio" id="subscribe-accept">
      <label for="subscribe-accept">Acepto la <a href="">Política de Privacidad</a></label>
    </div>

    <div class="left-radio-group">
      <input type="radio" id="subscribe-promos">
      <label for="subscribe-promos">No quiero aprovechar las promociones de Coinc</label>
    </div>

    <div class="submit-button-subscribe">
      <div class="contact-button-wrapper">
        <input type="submit" class="contact-button" value="ENVIAR" />
        <i class="contact-button-arrow-icon"></i>
      </div>
    </div>
  </form>
{% endblock %}
<!-- Fin módulo "subscribe" -->
