.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &.slider-horizontal {
    width: 280px;
    height: 20px;

    .slider-track {
      height: 8px;
      width: 100%;
      margin-top: -5px;
      top: 50%;
      left: 0;
      position: absolute;
      cursor: pointer;
      background-color: $colorGray-300;
      background-image: none;
      @include box-shadow-mixin(0, 1px, 2px, rgba($colorBlack, 0.1), "inset");
      @include border-radius(4px);
    }

    .slider-selection {
      height: 8px;
      top: 0;
      bottom: 0;
      position: absolute;
      background: $colorGreen-500;
      @include box-shadow-mixin(0, -1px, 0, rgba($colorBlack, 0.15), "inset");
      @include box-sizing(border-box);
      @include border-radius(4px);
    }

    .slider-handle {
      margin-left: -10px;
      margin-top: -5px;
      position: absolute;
      top: 5px;
      width: 15px;
      height: 15px;
      background: $colorWhite;
      @include box-shadow-mixin(0, 4px, 3px, $colorGray-400);
      border: 0 solid transparent;

      .round {
        @include border-radius(20px);
      }
    }
  }

  input {
    display: none;
  }

  .tooltip-inner {
    white-space: nowrap;
  }
}

.alert-percentage {
  display: none;
  text-align: center;
  margin-top: 20px;

  .alert {
    width: 18px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    background-image: url('../images/icons/alert-icon.png');
    background-repeat: no-repeat;
  }
  p {
    margin: 0;
    font-size: 12px;
    color: $colorDanger;
  }
}

.input-slider {
  text-align: center;
  font-family: $font-akkurat;

  .number-slider {
    position: relative;
    color: $colorGray-450;
    width: 60px;
    margin: 0 auto 14px;

    > input {
      color: $colorGray-450;
      width: 60px;
      height: 36px;
      padding: 0;
      margin: 1px;
      font-weight: bold;
      background-color: transparent;
      font-size: 25px;
      text-align: center;
      border: 1px solid $colorGray-400;
    }

    .symbol-medium {
      position: absolute;
      top: 8px;
      right: -22px;
      font-size: 18px;
    }
  }

  .top-value {
    padding: 0 10px;
    font-size: 14px;
    color: $colorGray-450;
  }
}

.slider-percentage {
  height: 50px;
  width: 385px;
  text-align: center;
  border: 2px solid $colorGreen-500;
  color: $colorGray-400;
  background-color: $colorGray-200;
  margin: 30px 0 35px;
}

.final-prestamo {
  display: none;

  i {
    padding-top: 15px;
  }
}
