.radio-square {
  display: none;
  + label {
    font-size: 18px;
    font-weight: $font-bold;
    padding: 0;
    padding-left: 26px;
    text-indent: -26px;
    color: $colorDarkGray;
    &:before {
      content: "";
      position: relative;
      display: inline-block;
      background-image: url("../images/icons/checkform/square.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    &:hover {
      &:before {
        background-image: url("../images/icons/checkform/square-check.png") !important;
      }
    }
  }
  &:checked {
    + label {
      &:before {
        background-image: url("../images/icons/checkform/square-check-green.png") !important;
      }
    }
  }
  &_extrasmall {
    + label {
      font-size: 12px;
      font-weight: 300;
      line-height: 1.8;
      &:before {
        margin-bottom: -3px;
      }
    }
  }
}
