<article class="mycard-information">
  <header>
    <h2>Mi <span>tarjeta</span></h2>
    <p>Tu <span>visa oro</span> para los gastos del día a día</p>
  </header>
  <div class="mycard-information__container alternate-bg">
    <div class="mycard-information__card">
      <img src="images/card.png" alt="coinccard" class="img-responsive" />
    </div>
    <div class="mycard-information__data clearfix">
      <p class="halfcol"><strong><span class="number">2%</span><br /> de devolución</strong><br /> del importe de todas tus compras(*)</p>
      <div class="halfcol">
        <p><strong>Paga como más te<br/> convenga</strong></p>
        <p>Pago al contado (cuota gratis primer año)<br/> pago aplazado (sin cuota)</p>
      </div>
      <button class="btn btn-primary"><strong>Pide ya</strong> tu tarjeta</button>
    </div>
  </div>
</article>