<article class="mycard-information">
  <header>
    <h2>Mi <span>tarjeta</span></h2>
    <p>Tu <span>visa oro</span> para los gastos del día a día</p>
  </header>
  <div class="mycard-information__container alternate-bg">
    <div class="mycard-information__card">
      <img src="images/card.png" alt="coinccard" class="img-responsive" />
    </div>
    <div class="mycard-information__data clearfix">
      <p class="halfcol"><strong><span class="number">2%</span><br /> de devolución</strong><br /> del importe de todas tus compras(*)</p>
      <div class="halfcol">
        <p><strong>Paga como más te<br/> convenga</strong></p>
        <p>Pago al contado (cuota gratis primer año)<br/> pago aplazado (sin cuota)</p>
      </div>
      <button class="btn btn-primary"><strong>Pide ya</strong> tu tarjeta</button>
    </div>
  </div>
  <footer>
    <p class="mycard-information__conditions">Condiciones de devolución de tus compras (*)</p>
    <div class="mycard-information__conditions-description">
      <button
        data-close=".mycard-information__conditions-description"
        class="mycard-information__conditions-description-close btn-link"
      >
        <img src="images/icons/close-gray-circle.png" alt="close" />
      </button>
      <p class="font-small">
        Devolución anual. T.A.E. del 25,34% aplicado sobre todas las compras aplazadas.
        Tipo de interés nominal 22,80%. Para una compra por importe de 500€ realizada con pago
        aplazado a través de 11 cuotas de 46,99€ y 1 cuota final de 48,13€ importe total adeudado 565,02€.
      </p>
    </div>
  </footer>
</article>
