<article class="detail-progressbar">
  <header>
    <img src="images/icons/visa-white.png" alt="">
    <h2><span>Visa oro</span> marzo</h2>
  </header>
  <p class="detail-progressbar__amount">1200<span>€</span></p>
  <button class="detail-progressbar__btn btn btn-default btn-default_color_reverse">Bloquear</button>
  <div class="progress progress_size_45 progress_start_right progress_radius_none">
    <div class="progress-bar" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%;">
      <span class="progress__caret progress__caret_type_triangle"></span>
    </div>
  </div>
  <div class="detail-progressbar__data clearfix">
    <p class="detail-progressbar__data-all pull-left">550 €</p>
    <p class="detail-progressbar__data-used pull-right">650 €</p>
  </div>
</article>
