<article class="detail-progressbar">
  <header>
    <img src="images/icons/visa-white.png" alt="">
    <h2><span>Visa oro</span> marzo</h2>
    <p class="detail-progressbar__amount">1200<span>€</span></p>
    <button class="detail-progressbar__btn btn btn-default btn-default_color_reverse">Bloquear</button>
  </header>
  <div class="detail-progressbar__content">
    <div class="progress progress_size_45 progress_start_right progress_radius_none">
      <div class="progress-bar" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%;">
        <span class="progress__caret progress__caret_type_triangle"></span>
      </div>
    </div>
    <div class="detail-progressbar__data clearfix">
      <p class="detail-progressbar__data-all pull-left">550 €</p>
      <p class="detail-progressbar__data-used pull-right">650 €</p>
    </div>
  </div>
  <img src="images/card.png" alt="coninc card" class="detail-progressbar__card" />
  <footer class="btn-group">
    <button class="detail-progressbar__btn detail-progressbar__btn_change btn btn-default btn-default_color_reverse">Cambiar límite y forma de pago</button>
    <button class="detail-progressbar__btn detail-progressbar__btn_pin btn btn-default btn-default_color_reverse">Consultar pin</button>
    <button class="detail-progressbar__btn detail-progressbar__btn_card btn btn-default btn-default_color_reverse">Mi tarjeta no funciona</button>
    <button class="detail-progressbar__btn detail-progressbar__btn_wallet btn btn-default btn-default_color_reverse">Wallet</button>
    <button class="detail-progressbar__btn detail-progressbar__btn_shops btn btn-secondary">Financiar compras</button>
  </footer>
</article>
