<form class="address-form">
  <div class="address-form__row">
    <div class="address-form__col-30">
      <span class="underline-select">
        <select>
          <option value="" disabled selected>Tipo de vía</option>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </span>
    </div>
    <div class="address-form__col-40">
      <input type="text" name="" placeholder="Nombre de la vía" class="form-control-line error" />
    </div>
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Número" class="form-control-line" />
    </div>
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Bloque" class="form-control-line" />
    </div>
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Portal" class="form-control-line error" />
    </div>
  </div>
  <div class="address-form__row">
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Escalera" class="form-control-line" />
    </div>
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Planta" class="form-control-line" />
    </div>
    <div class="address-form__col-10">
      <input type="text" name="" placeholder="Puerta" class="form-control-line" />
    </div>
    <div class="address-form__col-30">
      <span class="underline-select">
        <select>
          <option value="" disabled selected>Localidad</option>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </span>
    </div>
    <div class="address-form__col-20">
      <input type="text" name="" placeholder="Código postal" class="form-control-line" />
    </div>
    <div class="address-form__col-20">
      <span class="underline-select">
        <select>
          <option value="" disabled selected>Provincia</option>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </span>
    </div>
  </div>
  <div class="messages">
    <p><i class="alert"></i>Hay campos obligatorios sin rellenar</p>
    <p><i class="alert"></i>El campo no tiene un formato válido</p>
  </div>
  <p>Los datos de esta dirección solo se utilizarán para este envío y no se guardarán para otros procesos.</p>
  <div class="btn-group">
    <button class="btn btn-default">Cancelar</button>
    <button class="btn btn-default">Confirmar dirección</button>
  </div>
</form>
