<section class="paid-form secundary-bg">
  <div class="container paid-form__container">
    <h4 class="text-left title pdb-20">Forma de pago</h4>
    <div class="paid-form__option paid-form__option_cash">
      <input id="cash" type="radio" name="payform" class="radio-square" value="cash">
      <label for="cash" class="radio-inline">Al contado</label>
      <p class="paid-form__explanation">Paga lo dispuesto a fin de mes</br>&nbsp;</p>
    </div>
    <div class="paid-form__option paid-form__option_percentage">
      <input id="percentage" type="radio" name="payform" class="radio-square" value="percentage">
      <label for="percentage" class="radio-inline">Porcentaje fijo</label>
      <p class="paid-form__explanation">Paga a plazos eligiendo </br> % fijo al mes</p>
    </div>
    <div class="paid-form__option paid-form__option_quantity">
      <input id="quantity" type="radio" name="payform" class="radio-square" value="quantity">
      <label for="quantity" class="radio-inline">Cantidad fija</label>
      <p class="paid-form__explanation">Elige cuánto quieres </br> pagar al mes</p>
    </div>
  </div>
</section>
