<section class="select-payment">
  <div class="select-payment__container">
    <div class="select-payment__option select-payment__option_percentage">
      <input id="percentage" type="radio" name="optradio" class="radio-square">
      <label for="percentage" class="radio-inline">Porcentaje fijo</label>
      <p class="select-payment__explanation">Paga a plazos eligiendo </br> % fijo al mes</p>
    </div>
    <div class="select-payment__option select-payment__option_quantity">
      <input id="quantity" type="radio" name="optradio" class="radio-square">
      <label for="quantity" class="radio-inline">Cantidad fija</label>
      <p class="select-payment__explanation">Elige cuánto quieres </br> pagar al mes</p>
    </div>
  </div>
</section>
