<div class="select-reason">
  <div class="select-reason__bg">
    <div class="select-reason__option select-reason__option_stolen">
      <input id="stolen" type="radio" name="optradio" class="radio-square">
      <label for="stolen" class="radio-inline">Me la han robado</label>
    </div>
    <div class="select-reason__option select-reason__option_lost">
      <input id="lost" type="radio" name="optradio" class="radio-square">
      <label for="lost" class="radio-inline">La he perdido</label>
    </div>
    <div class="select-reason__option select-reason__option_others">
      <input id="other-reason" type="radio" name="optradio" class="radio-square">
      <label for="other-reason" class="radio-inline">Otros motivos</label>
    </div>
  </div>
</div>
