{% import "/components/_tile.html" as tile %}

<div class="container container_custom">
  <div class="row space-between-rows">
    <div class="col-xs-4">
      {{ tile.content(true, 'Devolución del 2%', 'del importe de todas tus compras aplazadas. (*)', 'images/icons/hand-money.png', 'Monedas en mano' ) }}
    </div>
    <div class="col-xs-4">
      {{ tile.content(true, 'Retirada sin comisión', 'de efectivo a débito, en más de 8.600 cajeros', 'images/icons/cash-icon.png', 'Dinero efectivo') }}
    </div>
    <div class="col-xs-4">
      {{ tile.content(false, 'Seguro accidente gratuito', 'de hasta 600.000 euros', 'images/icons/default-user.png', 'Cliente') }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      {{ tile.content(true, 'Seguro de asistencia', 'gratis en viajes.', 'images/icons/plain-icon.png', 'Avión') }}
    </div>
    <div class="col-xs-4">
      {{ tile.content(false, 'Servicio de notificaciones', 'para controlar tus gastos', 'images/icons/bell-icon.png', 'Campana') }}
    </div>
  </div>
</div>
