.advantages {
  &__title {
    font-size: 36px;
    font-weight: $font-bold;
    text-align: center;
    margin-bottom: 63px;
  }
  &__clarification {
    max-width: 900px;
    margin: auto;
    margin-top: 143px;
    margin-bottom: 18px;
    padding-left: 17px;
    line-height: 1.6;
    font-size: 14px;
    color: $colorDarkGray;
  }
  &__legal {
    max-width: 900px;
    margin: auto;
    font-size: 11px;
    padding-left: 17px;
    line-height: 1.6;
  }
}
.space-between-rows {
  margin-bottom: 56px;
}
