.dashboard {
  $gutter: 20px;
  @include make-row($gutter);
  &__item {
    &_col_1 {
      @include make-xs-column(4, $gutter);
    }
    &_col_2 {
      @include make-xs-column(8, $gutter);
    }
    &_card_coinc {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
