.detail-progressbar {
  display: inline-block;
  max-width: 545px;
  width: 100%;
  header {
    display: inline-block;
    h2 {
      display: inline-block;
      padding-left: 5px;
      font-size: 18px;
      font-weight: $font-bold;
      text-transform: uppercase;
      color: $colorWhite;
      margin: 0;
      vertical-align: middle;
      span {
        display: block;
        color: $colorGreen-500;
      }
    }
  }
  .progress {
    background-color: $colorWhite;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  &__amount {
    display: inline-block;
    font-size: 49px;
    font-weight: $font-bold;
    color: $colorWhite;
    vertical-align: middle;
    margin-left: 16px;
    span {
      font-size: 20px;
      font-weight: normal;
    }
  }
  &__btn {
    float: right;
    min-width: 158px;
    padding-left: 30px;
    padding-right: 10px;
    margin: 20px 0;
    font-size: 12px;
    background: url("../images/icons/lock-open-white.png") no-repeat 28px center;
  }
  &__data {
    font-weight: $font-bold;
    &-all {
      font-size: 15px;
      color: $colorWhite;
    }
    &-used {
      font-weight: 20px;
      color: $colorGreen-500;
    }
  }
}
