.pdt-30 {
  padding-top: 30px;
}

.pdt-70 {
  padding-top: 70px;
}

.pdb-30 {
  padding-bottom: 30px;
}

.pdb-70 {
  padding-bottom: 70px;
}
.pdt-55 {
  padding-top: 55px;
}
.pdb-55 {
  padding-bottom: 55px;
}
.pdt-45 {
  padding-top: 45px;
}

.pdb-45 {
  padding-bottom: 45px;
}

.mt-70 {
  margin-top: 70px;
}
.mt-57 {
  margin-top: 57px;
}
.mb-70 {
  margin-bottom: 70px;
}
.pd-75 {
  padding: 75px !important;
}

.ml--50 {
  margin-left: -50px !important;
}
.mb--35 {
  margin-bottom: -35px !important;
}
