.pdt-30 {
  padding-top: 30px;
}

.pdt-70 {
  padding-top: 70px;
}

.pdb-30 {
  padding-bottom: 30px;
}

.pdb-70 {
  padding-bottom: 70px;
}
.pdt-45 {
  padding-top: 45px;
}

.pdb-45 {
  padding-bottom: 45px;
}
