// PADDING TOP

.pdt-0 {
  padding-top: 0 !important;
}
.pdt-5 {
  padding-top: 5px !important;
}
.pdt-10 {
  padding-top: 10px !important;
}
.pdt-15 {
  padding-top: 15px !important;
}
.pdt-20 {
  padding-top: 20px !important;
}
.pdt-25 {
  padding-top: 25px !important;
}
.pdt-30 {
  padding-top: 30px !important;
}
.pdt-35 {
  padding-top: 35px !important;
}
.pdt-40 {
  padding-top: 40px !important;
}
.pdt-45 {
  padding-top: 45px !important;
}
.pdt-50 {
  padding-top: 50px !important;
}
.pdt-55 {
  padding-top: 55px !important;
}
.pdt-60 {
  padding-top: 60px !important;
}
.pdt-65 {
  padding-top: 65px !important;
}
.pdt-70 {
  padding-top: 70px !important;
}
.pdt-75 {
  padding-top: 75px !important;
}
.pdt-80 {
  padding-top: 80px !important;
}
.pdt-85 {
  padding-top: 85px !important;
}
.pdt-90 {
  padding-top: 90px !important;
}
.pdt-95 {
  padding-top: 95px !important;
}
.pdt-100 {
  padding-top: 100px !important;
}


// PADDING BOTTOM

.pdb-0 {
  padding-bottom: 0 !important;
}
.pdb-5 {
  padding-bottom: 5px !important;
}
.pdb-10 {
  padding-bottom: 10px !important;
}
.pdb-15 {
  padding-bottom: 15px !important;
}
.pdb-20 {
  padding-bottom: 20px !important;
}
.pdb-25 {
  padding-bottom: 25px !important;
}
.pdb-30 {
  padding-bottom: 30px !important;
}
.pdb-35 {
  padding-bottom: 35px !important;
}
.pdb-40 {
  padding-bottom: 40px !important;
}
.pdb-45 {
  padding-bottom: 45px !important;
}
.pdb-50 {
  padding-bottom: 50px !important;
}
.pdb-55 {
  padding-bottom: 55px !important;
}
.pdb-60 {
  padding-bottom: 60px !important;
}
.pdb-65 {
  padding-bottom: 65px !important;
}
.pdb-70 {
  padding-bottom: 70px !important;
}
.pdb-75 {
  padding-bottom: 75px !important;
}
.pdb-80 {
  padding-bottom: 80px !important;
}
.pdb-85 {
  padding-bottom: 85px !important;
}
.pdb-90 {
  padding-bottom: 90px !important;
}
.pdb-95 {
  padding-bottom: 95px !important;
}
.pdb-100 {
  padding-bottom: 100px !important;
}


// MARGIN TOP

.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-55 {
  margin-top: 55px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-65 {
  margin-top: 65px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-75 {
  margin-top: 75px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-85 {
  margin-top: 85px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-95 {
  margin-top: 95px !important;
}
.mt-100 {
  margin-top: 100px !important;
}


// MARGIN BOTTOM

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-55 {
  margin-bottom: 55px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-65 {
  margin-bottom: 65px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-85 {
  margin-bottom: 85px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-95 {
  margin-bottom: 95px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}


// OTHERS

.pd-25 {
  padding: 25px !important;
}
.pd-75 {
  padding: 75px !important;
}
.ml--50 {
  margin-left: -50px !important;
}
.mb--35 {
  margin-bottom: -35px !important;
}

.pd-reset {
  padding: 0 !important;
}

.m-reset {
  margin: 0 !important;
}

.halfcol {
  float: left;
  width: 50%;
}

.primary-bg {
  background-color: $colorGreen-500;
}

.secundary-bg {
  background-color: $colorGray-200;
}

.alternate-bg {
  background-color: $colorWhite;
}

.dark-bg {
  background-color: $colorBlueGray-800;
}
