.mycard-information {
  min-height: 200px;
  > header {
    margin-bottom: 23px;
    h2,
    p {
      font-size: 28px;
      color: $colorBlueGray-300;
      font-weight: $font-regular;
      span {
        font-weight: $font-bold;
        text-transform: capitalize;
      }
    }
    h2 {
      margin-bottom: 0px;
      span {
        color: $colorGreen-500;
      }
    }
  }
  &__container {
    position: relative;
    padding-left: 310px;
    text-align: center;
    border: 1px solid $colorGray-150;
    border-bottom: 0;
  }
  &__card,
  &__data {
  }
  &__card {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    img {
      max-width: 260px;
    }
  }
  &__data {
    padding: 22px 30px 35px 0;
    .halfcol {
      padding: 0 10px;
    }
    p {
      font-weight: $font-light;
      color: $colorBlack;
      margin-bottom: 0;
      strong {
        font-size: 20px;
        font-weight: $font-regular;
        line-height: 22px;
        color: $colorGreen-500;
      }
      .number {
        font-size: 24px;
      }
    }
    button {
      font-size: 14px;
      margin-top: 20px;
      padding: 10px 30px;
    }
  }
  &__conditions {
    border: 1px solid $colorGray-250;
    background: $colorGray-50 url("../images/icons/info-gray.png") no-repeat 25px center;
    margin: 0;
    padding: 22px 60px 18px;
  }
  &__conditions-description {
    position: relative;
    background-color: $colorGray-225;
    color: $colorGray-600;
    padding: 20px 80px 20px 30px;
    p {
      margin: 0;
    }
  }
  &__conditions-description-close {
    position: absolute;
    top: 13px;
    right: 15px;
  }
}
