//DETALLES DE PRESUPUESTO

$showDesktop: true;
$showPhone: false;

// $showDesktop: false;
// $showPhone: true;

// $sizeDesktop: 551px;
// $sizePhone: 550px;

$containerDesktop: 768px;
$containerPhone: 360px;

.overflow-visible {
    overflow: visible!important;
}
