// Colors
$white            : #FFFFFF;
$black            : #000000;
$black-900: #120D0E;
$black-800: #4a4a4a;

$gold-100: #f2f2f2;

$green500: #5cc600;

$grey600: #979797;
$grey550: #9b9b9b;
$grey300: #ededed;

// Fonts
$fontCoincBold: 'AkkuratStd-Bold', Helvetica, Arial, sans-serif;
$fontCoinc: 'AkkuratStd', Helvetica, Arial, sans-serif;
$fontCoincLight: 'AkkuratStd-Light', Helvetica, Arial, sans-serif
