// Colors
$white            : #FFFFFF;
$black            : #000000;

$green500         : #70a41c;

$purple500        : #8f99e3;

$blueSky          : #1cb0d3;

$orange800		    : #924a00;
$orange500        : #cb7a10;
$orange300        : #e5c59b;

$gray990          : #f7f7f7;
$grey950          : #f3f3f3;
$grey900          : #f0f0f0;
$grey850          : #e8e7e3;
$grey830          : #dfe1e3;
$gray820          : #dadddf;
$grey800          : #d7d7d7;
$gray600          : #b5b9be;
$grey500          : #aeb5bc;
$grey300          : #556270;

//Font
$font             : AkkuratStd;
$fontLight        : AkkuratStd-Light;
$fontBold         : AkkuratStd-Bold;

//Metas
$colorMetaPrimary : $green500;

//Presupuestos
$colorPresPrimary : $orange500;
$colorPresSecond  : $orange300;
$colorPresTer	    : $orange800;
