/* Custom css*/

.jqplot-highlighter-tooltip,.jqplot-canvasOverlay-tooltip {
	background-color: #ffffff;
	border:solid 2px #0178C8 !important;
	padding: 5px;
	z-index: 100;
}

.flexible {
	max-width: 80% !important;
	min-width: 320px !important;
}
.chartTiempoDeEspera{	
	width: 100%;
}
.jqplot-base-canvas{
   width: 100% !important;	
}
.chartContent{
	margin: auto;
	width: 80%;
	border: 
}