<!-- include /src/views/events/front/events-list-home.html -->
<div ng-cloak class="row-fluid list-events-home" ng-controller="appController" ng-show="is_backend_ready">
	<div class="span12" ng-repeat="obj in events.slice(0,4) | filter:query | orderBy:orderField:orderReverse">
		<article class="eventList">
		   	<h1><a href="events.jsp#/event-detail/{{obj.id}}" title="Ver detalle del evento">{{obj.title}}</a></h1>
		   	<small>{{obj.dateStart}}</small>
		   	<div class="contentEventList">
		    	<img src="{{obj.urlImg}}" class="pull-left" ng-show="imgLoaded"/>
		    	<p>{{obj.description | limitTo:200 }}...</p>
		    	<a class="pull-right" href="events.jsp#/event-detail/{{obj.id}}" title="Ver detalle del evento">[m&aacute;s informaci&oacute;n]</a>
		  	</div>
		</article>
	</div>
</div>
<!-- EO include /src/views/events/front/events-list-home.html -->