<!-- include src/views/events/front/events-list.html -->
<div class="span16">
    <div class="row-fluid">
    	<div class="span24">
			<tabset>
			    <tab heading="Pr&oacute;ximos eventos" active="tab.active" disabled="tab.disabled" select='filterCriteria.eventPast="false"'>Pr&oacute;ximos eventos {{eventosProximos}}</tab>
			    <tab heading="Eventos pasados" select='filterCriteria.eventPast="true"'>Eventos pasados {{eventosPasados}}</tab>
			    <tab heading="Todos los eventos ({{eventosTodos}})" select='filterCriteria={}'>Todos los eventos <small>({{eventosTodos}})</tab>
			</tabset>
		</div>

		<div class="row-fluid span24 conference-listing">



	        <div class="row-fluid date-listing conference-listing interactive-listing-container" ng-repeat="eventPerMonth in eventsToFilter() | filter:filterEvents">
	        	<div class="span8 day-label">
	        		<h3>{{eventPerMonth.datesArray[2]}}<span class="year">{{eventPerMonth.datesArray[3]}}</span></h3>
	        	</div>
	        	<div class="span16 day-schedule">
		        	<ol ng-repeat="event in events | filter:eventsPerMonth(eventPerMonth.datesArray[2])">
		        		<li>{{event.title}}</li>
		        	</ol>
		        </div>
	    	</div>
	    </div>



  	</div>
</div>

<div class="span8">
    <div class="row-fluid">
    </div>
</div>



<!-- EO include src/views/events/front/events-list.html -->