<!-- include /content/events/events-list-home.html -->
<div class="row-fluid list-events-home" ng-app="app" ng-controller="appController">
	<div class="span12" ng-repeat="obj in events.slice(0,4) | filter:query | orderBy:orderField:orderReverse">
		<article class="eventList">
		   	<h1>{{obj.title}}</h1>
		   	<small>{{obj.dateStart}}</small>
		   	<div class="contentEventList">
		    	<img src="{{ obj.urlImg | checkImg }}" class="pull-left" />
		    	<p>{{obj.description | limitTo:200 }}...</p>
		    	<a class="pull-right" href="content/events/events.jsp#/event-detail/{{obj.id}}" title="Ver detalle del evento">[m&aacute;s info]</a>
		  	</div>
		</article>
	</div>
</div>


<!-- EO include /content/events/events-list-home.html -->