
    <input type="hidden" id="addres" name="addres" ng-model="event.address[4]"   />
    <input type="hidden" id="latitud" name="latitud" ng-model="sharedService.latitud"   />
    <input type="hidden" id="longitud" name="longitud" ng-model="sharedService.longitud"   />

    <div class="control-group">
        <label class="control-label" for="title">Titulo Evento</label>
        <div class="controls">
            <input type="text" id="title" name="title" ng-model="event.title"   />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dateStart">Fecha y Hora de Inicio</label>
        <div class="controls">
            <input id="dateStart" data-format="dd/MM/yyyy hh:mm" placeholder="dd/MM/yyyy hh:mm" type="text" ng-model="event.dateStart"></input>
            <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dateEnd">Fecha y Hora de Fin</label>
        <div class="controls">
            <input id="dateEnd" data-format="dd/MM/yyyy hh:mm" placeholder="dd/MM/yyyy hh:mm" type="text"  ng-model="event.dateEnd" ></input>
            <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
            </span>
        </div>
    </div>

    <fieldset>
        <legend>Localización del evento</legend>
         <div class="control-group">
            <label class="control-label" for="address">Dirección</label>
            <div class="controls">
                <input type="text" id="street" name="street" placeholder="" ng-model="event.address[0]" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="zipcode">Código Postal</label>
            <div class="controls">
                <input type="text" id="zipcode" name="zipcode" placeholder=""  ng-model="event.address[1]">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">Ciudad</label>
            <div class="controls">
                <input type="text" id="city" name="city" placeholder="" ng-model="event.address[2]">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">País</label>
            <div class="controls">
                <input type="text" id="country" name="country" placeholder="" ng-model="event.address[3]" >
            </div>
        </div>

         <div class="control-group">

            <div class="controls form-action">
                 <!--<button type="button" class="btn btn-success btn-small" ng-click="calcLatLon(event.address[0],event.address[1],event.address[2],event.address[3])">Ubicar</button>-->
                 <button type="button" class="btn btn-success btn-small" ng-click="handleClick(event.address[5],event.address[6],event.address[0],event.address[1],event.address[2],event.address[3])">Ubicar en Google Maps</button>
            </div>
        </div>
    </fieldset>

    <div class="control-group">
        <label class="control-label" for="description">Descripción</label>
        <div class="controls">
            <textarea rows="4" cols="30" name="description" id="description" ng-model="event.description" ng-model="event.description" ></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="urlEvent">URL Evento</label>
        <div class="controls">
            <input type="text" id="urlEvent" name="urlEvent" placeholder="" ng-model="event.urlEvent" >
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="urlImg">URL Imagen</label>
        <div class="controls">
            <input type="text" id="urlImg" name="urlImg" placeholder="" ng-model="event.urlImg">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="audience">Asistentes(separados por comas)</label>
        <div class="controls">
            <input type="text" id="audience" name="audience" placeholder="" ng-model="event.audience" >
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tags">Etiquetas(separadas por comas)</label>
        <div class="controls">
            <input type="text" id="tags" name="tags" placeholder="" ng-model="event.tags" >
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary ">Actualizar Evento</button>
        </div>
    </div>

    <pre>event -> {{event | json}}</pre>

    <pre>events -> {{events | json}}</pre>

    <div modal="eventModal" close="closeModal()" options="optsModal">
        <div class="modal-header" ng-hide="hideInfoModal">
            <h2>Evento: {{event.id}}</h2>
        </div>
        <div class="modal-body" >
            <p ng-hide="hideInfoModal">El evento ha sido actualizado correctamente.</p>
            <h2 ng-show="hideInfoModal" ng-class="{error:errorModal}">
                {{textStatusModal}}
            </h2>
        </div>
        <div class="modal-footer" ng-hide="hideInfoModal">
            <a href="/backend/events-app.jsp" class="btn btn-primary">Aceptar</a>
        </div>
    </div>
