<!--
<div ng-controller="productsCtrl">
        <form method="POST" ng-controller="productsCtrl">
        <label>Add New Product:</label>
            <input type="text" name="keywords" ng-model="rs.name" placeholder="enter name..." value="{{rs.name}}">
            <input type="text" name="desc" ng-model="rs.description" placeholder="enter description..." value="{{rs.description}}">
            <button type="submit" ng-click="save(rs.product_id)">Save</button>
</form>
</div>-->


<form class="form-horizontal" id="edit-form" data-ng-init="iniMap()">
    <!-- hiddden fields -->
    <input type="hidden" id="idEvent">
    <input type="hidden" id="host" value="<%=user.getEmail()%>">
    <!-- End -->
    <div class="control-group">
        <label class="control-label" for="title">Titulo Evento</label>
        <div class="controls">
            <input type="text" id="title" name="title" value="{{events.title}}"  />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dateStart">Fecha y Hora de Inicio</label>
        <div class="controls">
            <input id="dateStart" data-format="dd/MM/yyyy hh:mm" placeholder="dd/MM/yyyy hh:mm" type="text" value="{{events.dateStart}}"></input>
            <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="dateEnd">Fecha y Hora de Fin</label>
        <div class="controls">
            <input id="dateEnd" data-format="dd/MM/yyyy hh:mm" placeholder="dd/MM/yyyy hh:mm" type="text"  value="{{events.dateEnd}}"></input>
            <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
            </span>
        </div>
    </div>

    <fieldset>
        <legend>Localización del evento</legend>
         <div class="control-group">
            <label class="control-label" for="address">Dirección</label>
            <div class="controls">
                <input type="text" id="street" name="street" placeholder="" value="{{events.address[0]}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="zipcode">Código Postal</label>
            <div class="controls">
                <input type="text" id="zipcode" name="zipcode" placeholder=""  value="{{events.address[1]}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">Ciudad</label>
            <div class="controls">
                <input type="text" id="city" name="city" placeholder="" value="{{events.address[2]}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">País</label>
            <div class="controls">
                <input type="text" id="country" name="country" placeholder="" value="{{events.address[3]}}">
            </div>
        </div>

         <div class="control-group">

            <div class="controls form-action">
                 <a class="btn btn-success btn-small" href="javascript:previewMap(events);">Ubicar en Google Maps</a>
            </div>
        </div>



    </fieldset>


    <div class="control-group">
        <label class="control-label" for="description">Descripción</label>
        <div class="controls">
            <textarea rows="4" cols="30" name="description" id="description" ng-model="event.description" value="event.description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="urlEvent">URL Evento</label>
        <div class="controls">
            <input type="text" id="urlEvent" name="urlEvent" placeholder="" value="{{events.urlEvent}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="urlImg">URL Imagen</label>
        <div class="controls">
            <input type="text" id="urlImg" name="urlImg" placeholder="" value="{{events.urlImg}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="audience">Asistentes(separados por comas)</label>
        <div class="controls">
            <input type="text" id="audience" name="audience" placeholder="" value="{{events.audience}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tags">Etiquetas(separadas por comas)</label>
        <div class="controls">
            <input type="text" id="tags" name="tags" placeholder="" value="{{events.tags}}">
        </div>
    </div>


<!---->
    <div class="control-group">
        <div class="controls">
<a class="btn btn-success btn-small" href="#" ng-click="showJson()">showjson</a>
            <a class="btn btn-success btn-small" href="#" ng-click="upDateEvent()">Actualizar
    Evento</a>
    <button type="submit" class="btn btn-primary ">Guardar Evento</button>
        </div>
    </div>
</form>
<pre>   {{json}}</pre>
<pre>event = {{event | json}}</pre>
    <pre>events = {{events | json}}</pre>

