<!--
<a href="#/event/{{obj.urlEvent}}"><img ng-src="{{obj.urlImg}}" width="95" height="150"></a>

<p><a href="#/event/{{obj.id}}">{{obj.title}}</h4></a><br /><br />
<strong>{{obj.dateStart}}</strong><br />
{{obj.description}}</p>-->

<article class="eventList">
   <h1><a href="#/event/{{obj.urlEvent}}">{{obj.title}}</a></h1>
   <small>{{obj.dateStart}}</small>
   <div class="contentEventList">
    <img src="{{obj.urlImg}}" class="pull-left" />
    <p>{{obj.description}}</p>
  </div>
</article>

