

<div class="row-fluid">

    <div class="span9" >

		<!--ejecutamos el formulario con ng-submit utilizando la función upDateEvent()
		e incluímos el formulario con la directiva ng-include, en este caso el archivo
		que está en '/src/views/events/_event-form.html-->

		<form class="form-horizontal" id="edit-form" ng-submit="upDateEvent()" ng-include="'/src/views/events/_event-form.html'"></form>

	</div>

	<div class="span15">


		<div ng-app='maptesting'>
			<div ng-controller="MapCtrl">

				<div id="map_canvas" ui-map="myMap"
				style="height:300px;width:400px;border:2px solid #777777;margin:3px; border:1px solid"
				ui-options="mapOptions"
				ui-event="{'map-idle' : 'onMapIdle()'}"
				>
				</div>

	        	<!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
				<div ng-repeat="marker in myMarkers"
					ui-map-marker="myMarkers[$index]"
					ui-event="{'map-click': 'markerClicked(marker)'}">
				</div>

	    	</div>
		</div>


<!--
        <div class="mapWrapper">
            <div id="map-canvas"></div>
        </div>-->
<!--
        <div>

	        <section id="map" ng-controller="MapCtrl" class="mapWrapper">
			  <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
			</section>

			<section id="map" ng-controller="MapCtrl" class="mapWrapper">
			  <div ui-map="myMap"ui-options="mapOptions" class="map-canvas"
			        ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
			  ></div>
			</section>


		</div>-->

         <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=72o4s6adl0uhbebjssl4dpraeo%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Europe%2FMadrid" style=" border-width:0 " width="100%" height="400px" frameborder="0" scrolling="no"></iframe>
    </div>

</div>


<script>
/*angular.element(document).ready(function()
{
    angular.bootstrap(document.getElementById('appMaps'), ['ui.map']);
});*/
</script>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&.js"></script>
 <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>-->





