


<div class="row-fluid">
    <div class="span9" ng-include src=" '/src/views/events/_event-form.html' ">

    </div>

    <div class="span15">
        <div class="mapWrapper">
            <div id="map-canvas"></div>
        </div>
         <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=72o4s6adl0uhbebjssl4dpraeo%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Europe%2FMadrid" style=" border-width:0 " width="100%" height="400px" frameborder="0" scrolling="no"></iframe>

    </div>
</div>