<!DOCTYPE html>
<html>
<head>
  <title>COINC</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href='css/global.css' />
  <link rel="stylesheet" href='css/coinc.css' />
  <link rel="stylesheet" href='css/dashboard.css' />
  <link rel="stylesheet" href='css/coincgoals.css' />
  <link rel="stylesheet" href='css/jquery.cluetip.css' />
  <link rel="stylesheet" href='css/layout.css' />
  <link rel="stylesheet" href='css/caja_admin.css' />
  <link rel="stylesheet" href='css/gesGastos.css' />
  <script src="js/vendor.js"></script>
  <script src="js/gesGastos.js"></script>
</head>
<body>
  <div class="content-presupuestos">
    {% block content %} {% endblock %}
  </div>
</body>
</html>
