<!DOCTYPE>

<html>
<head>

  <title>COINC</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="COINC">
  <meta name="description">
  <meta name="language" content="es">



  <!--  -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='css/app.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



  <!--  -->
  <script src="js/vendor.min.js"></script>
  <script src="js/app.js"></script>

</head>

<body>

  {% block content %} {% endblock %}

</body>
</html>
