<!DOCTYPE html>
    <html>
    <head>
        <title>COINC</title>
        <!--[if IE ]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->
        <meta charset="UTF-8">
        <link rel="stylesheet" href='css/styles.css' />

        <script src="js/vendor.js"></script>
        <script src="js/scripts-app.js"></script>
        <!--[if lt IE 9]>
            <script src="js/old_browsers_support/es5-shim.min.js"></script>
            <script src="js/old_browsers_support/htm5shiv-printshiv.min.js"></script>
            <script src="js/old_browsers_support/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="header__logo">
                <img src="images/logo.png" alt="coinc" />
            </div>
            <div class="header__title">
                <h1>{{title}}</h1>
            </div>
        </header>
        <div class="container">
            contenido
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p><span class="copyright">@ COINC. Todos los derechos reservados.</span> <a href="#">Legal</a></p>
            <img src="images/bankinter.png" alt="bankinter">
        </footer>
        <script src="js/old_browsers_support/modernizr.js"></script>
    </body>
</html>
