<div class="container container_custom">
  <div class="block-info-card-payment">
    <dl class="dl-horizontal">
      <dt>Forma de pago</dt>
      <dd>Al Contado</dd>

      <dt>Cuenta asociada</dt>
      <dd>ES42 8717 17626 18727 0921</dd>

      <dt>Comisión</dt>
      <dd>8€</dd>

      <dt>Límites en disposiciones a crédito</dt>
      <dd>600€</dd>

      <dt>Límites en disposiciones a débito</dt>
      <dd>300€</dd>

      <dt>Límite en cajero</dt>
      <dd>1000€</dd>
    </dl>
  </div>
</div>
