<div class="input-slider">
  <div class="number-slider">
    <input type="text"
           value="2.5"
           class="value-percentage"
           data-inputmask="'alias': 'integer', 'groupSeparator': ',', 'autoGroup': true">
           <span class="symbol-medium">%</span>
  </div>
  <span class="top-value">2,5%</span>
  <input type="text"
         class="slider-percentage"
         value=""
         data-slider-value="2.5"
         data-slider-step="0.1"
         data-slider-tooltip="hide"
         data-slider-min="2.5"
         data-slider-max="99">
  <span class="top-value">99%</span>
  <div class="alert-percentage">
    <div class="messages">
      <p><i class="alert"></i>La cantidad debe estar comprendida entre <strong>2,5% y 99%</strong>.</p>
    </div>
  </div>
</div>
