<form class="input-code-form form-inline">
  <div class="gray-bg text-center">
    <div class="form-group container-fluid">
      <input class="form-control" type="text" placeholder="Introduce el código">
      <div class="icon-group">
        <img class="icon-sms" src="images/icons/comment-alert.png" alt="SMS"><a href="" >Si no ha llegado el SMS</a>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <button class="btn btn-default" type="reset" name="button">Atrás</button>
    <button class="btn btn-primary" type="submit" name="button">Activar</button>
  </div>
</form>
