<div class="container">
  <div class="select-reason">
    <div class="select-reason__option">
      <input id="stolen" type="radio" name="optradio" class="radio-square">
      <label for="stolen" class="radio-inline">Me la han robado</label>
    </div>
    <div class="select-reason__option">
      <input id="lost" type="radio" name="optradio" class="radio-square">
      <label for="lost" class="radio-inline">La he perdido</label>
    </div>
    <div class="select-reason__option">
      <input id="other-reason" type="radio" name="optradio" class="radio-square">
      <label for="other-reason" class="radio-inline">Otros motivos</label>
    </div>
  </div>
</div>
