<div class="container block-reason">
  <div class="block-reason__center">
    <div class="">
      <input id="stolen" type="radio" name="optradio">
      <label for="stolen" class="radio-inline">Me la han robado</label>
    </div>
    <div class="">
      <input id="lost" type="radio" name="optradio">
      <label for="lost" class="radio-inline">La he perdido</label>
    </div>
    <div class="">
      <input id="other-reason" type="radio" name="optradio">
      <label for="other-reason" class="radio-inline">Otros motivos</label>
    </div>
  </div>
</div>
