{% macro text(class, title, contentParagraph, textQuantityFormPaid, sign) %}
<div class="content-success-operation {{class}}">
  <div class="container container_custom text-center">
    <h1>{{title}}</h1>
    <p class="pdt-25">{{contentParagraph}}</p>
    <div class="clearfix pdt-55 content-success-operation__width">
      <div class="halfcol">
        <p>El límite de tu tarjeta a</p>
        <span>0000 €</span>
      </div>
      <div class="halfcol">
        <p>{{textQuantityFormPaid}}</p>
        <span>0000 {{sign}} / mes</span>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
