{% import "/components/_input-disabled.html" as inputDisabled %}
{% import "/components/_dropdown.html" as dropdown %}
{% import "/components/_input.html" as input %}
{% import "components/_radio-toggle.html" as radio %}
{% import "/components/_tooltip-info.html" as tooltip %}

<div class="container container_custom mt-20 mb-35 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS DE TU HIPOTECA VARIABLE</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      {{ inputDisabled.content('Importe solicitado', '180.000', '€', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Plazo', '30', 'Años', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Cuota primer año', '511,85', '€', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Cuota resto de años', '488,85', '€', 'true', 'input-simbol_disabled') }}
      <p class="contract-data__text">Sujeto a cambios de euribor</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      {{ inputDisabled.content('T.I.N primer año', '1,50', '%', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Resto años', 'Euribor + 1,20', '%', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('T.A.E variable', '2,05', '%', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3 contract-data__dropdown">
      <label class="form-control-title">Provincia donde se firma</label>
      {{ dropdown.content(['Madrid', 'Valencia', 'Barcelona'], 'Selecciona localidad') }}
    </div>
  </div>

  <div class="row mt-30">
    <div class="col-xs-12">
      <img src="/images/icons/info-gray.png" class="pull-left">
      <p class="contract-data__info">Los cálculos ofrecidos tienen carácter orientativo y, en cualquier caso, la operación está sujeta a la aprobación posterior, por lo que no constituye una oferta de contratación que vincule al Banco.</p>
    </div>
  </div>
</div>

<div class="container container_custom mb-35 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS DE LA VIVIENDA</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      {{ inputDisabled.content('Valor estimado', '200.000', '€', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      <label class="form-control-title">Vivienda nueva</label>
      <div class="pull-left">
        {{ radio.toggle('', 'Si', 'No', 'new', 'radio-toggle__boxes_opacity', 'true') }}
      </div>
    </div>
    <div class="col-xs-3">
      <label class="form-control-title">Residencia habitual</label>
      <div class="pull-left">
        {{ radio.toggle('', 'Si', 'No', 'habitual', 'radio-toggle__boxes_opacity', 'true') }}
      </div>
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Valor de compra', '200.000', '€', 'true', 'input-simbol_disabled') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      {{ inputDisabled.content('Provincia', 'Madrid') }}
    </div>
    <div class="col-xs-3">
      {{ input.content('Introduce el Código Postal', 'Código Postal','Debes introducir el Código Postal', 'has-error') }}
    </div>
    <div class="col-xs-3">
      {{ dropdown.content(['Barcelona', 'Madrid', 'Valencia'], 'Selecciona localidad', 'Localidad', 'Debes seleccionar la localidad', 'has-error') }}
    </div>
    <div class="col-xs-3">
      {{ input.content('Introduce la dirección', 'Dirección') }}
    </div>
  </div>
</div>

<div class="container container_custom mb-35 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS PERSONALES</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {{ inputDisabled.content('Nombre completo', 'Rubén Gutierrez', '', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('DNI', '99999999 A', '', 'true', 'input-simbol_disabled') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Fecha de nacimiento', '22/11/1979', '', 'true', 'input-simbol_disabled') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      {{ dropdown.content(['Soltero/a', 'Casado/a'], 'Selecciona estado', 'Estado civil') }}
    </div>
    <div class="col-xs-6">
      <label class="form-control-title">Regimen económico</label>
      {{ radio.toggle('', 'Gananciales', 'Separación de bienes', 'regimen', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3 contract-data__dropdown">
      {{ dropdown.content(['0', '1', '2', '3', '4', '5', '6', '7'], 'Selecciona hijos', 'Hijos a tu cargo') }}
    </div>
  </div>
</div>

<div class="container container_custom mb-35 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS PROFESIONALES</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label class="form-control-title">Trabajo por cuenta</label>
      {{ radio.toggle('', 'Ajena', 'Propia', 'cuenta', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-6">
      {{ input.content('Indica tu profesión', 'Profesión') }}
    </div>
    <div class="col-xs-3">
      <label class="form-control-title">Contrato fijo</label>
      {{ radio.toggle('', 'Si', 'No', 'fijo', 'radio-toggle__boxes_size') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      {{ inputDisabled.content('Antiguedad', 'Indica antigüedad', 'Meses') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Salario Neto mensual', 'Introduce cantidad', '€') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Nº de pagas', 'Indica número') }}
    </div>
    <div class="col-xs-3">
      <div class="pull-right">
        {{ tooltip.content('Indica el IRPF')}}
      </div>
      {{ inputDisabled.content('Base imponible', 'Indica el IRPF') }}
    </div>
  </div>
</div>

<div class="container container_custom mb-35 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS ECONÓMICOS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      {{ dropdown.content(['En propiedad'], 'Selecciona regimen', 'Regimen de vivienda actual') }}
    </div>
    <div class="col-xs-3">
      <div class="pull-right">
        {{ tooltip.content('Indica el IRPF')}}
      </div>
      <label class="form-control-title">¿Tienes varios inmuebles?</label>
      {{ radio.toggle('', 'Si', 'No', 'inmuebles', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3">
      <label class="form-control-title">¿Inmuebles alquilados?</label>
      {{ radio.toggle('', 'Si', 'No', 'alquilados', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Importe percibido mensual', 'Introduce cantidad', '€') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="contract-data__section-element">
        <div class="pull-right">
          {{ tooltip.content('Indica el IRPF')}}
        </div>
        <label class="form-control-title form-control-title_margin">¿Activos?</label>
        <span>En entidades ajenas a COINC</span>

      </div>
      {{ radio.toggle('', 'Si', 'No', 'activos', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3">
      <div class="contract-data__section-element">
        <div class="pull-right">
          {{ tooltip.content('Indica el IRPF')}}
        </div>
        <label class="form-control-title form-control-title_margin">¿Prestamos o créditos?</label>
        <span>En entidades ajenas a COINC</span>
      </div>
      {{ radio.toggle('', 'Si', 'No', 'prestamos', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3">
      {{ inputDisabled.content('Importe mensual', 'Introduce cantidad', '€', '', '', 'Sumando todas las cuotas') }}
    </div>
  </div>
</div>

<div class="container container_custom mb-100 contract-data">
  <div class="row">
    <div class="col-xs-12 contract-data__title mb-10">
      <h2>DATOS HIPOTECARIOS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="pull-right">
        {{ tooltip.content('Indica el IRPF')}}
      </div>
      <label class="form-control-title">Forma de pago</label>
      {{ radio.toggle('', 'Desde Bankinter', 'Desde otro banco', 'pago', 'radio-toggle__boxes_size') }}
    </div>
    <div class="col-xs-3">
      {{ input.content('Indica el nombre del banco', 'Nombre del banco') }}
    </div>
    <div class="col-xs-3">
      <div class="pull-right">
        {{ tooltip.content('Indica el IRPF')}}
      </div>
      {{ dropdown.content(['Otros'], 'Selecciona origen', 'Origen del ahorro') }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ inputDisabled.content('Origen del ahorro aportado', 'Indica el origen del ahorro', '', '', '', 'Explica el origen del ahorro') }}
    </div>
  </div>
</div>
