<div class="details-mortgage_variable">
  <div class="details-mortgage_variable__header">
    <h3>HIPOTECA VARIABLE</h3>
    <p>Cuota mensual</p>
  </div>
  <div class="details-mortgage_variable__body">
    <div class="details-mortgage_variable__body__prices">
      <div>
        <h4>PRIMER AÑO</h4>
        <p class="details-mortgage_variable__body__prices_price">511,85<span>€</span></p>
      </div>
      <div>
        <h4>RESTO DE AÑOS</h4>
        <p class="details-mortgage_variable__body__prices_price">488,85<span>€</span></p>
        <p class="details-mortgage_variable__body__prices_text">Sujeto a cambios del euribor</p>
      </div>
    </div>

    <ul class="details-mortgage_variable__body__list">
      <li>T.I.N. <span>1,50 %</span></li>
      <li>T.A.E. <span>1,95 %</span></li>
      <li>Euribor <span>1,20 %</span></li>
      <li>Comisión apertura <span>500 €<div class="details-mortgage_variable__body__list__icon"><img src="images/iconos/ico_duda2.png" alt=""></div></span></li>
      <li>Gastos asociados <span>22.000 € <p>Ver desglose</p></span></li>
    </ul>
  </div>
  <div class="details-mortgage_variable__footer">
    <p>VER CONDICIONES</p>
  </div>
</div>
