<div class="modal fade modal-terms" id="modal-mortgage-terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-terms_width">
      <div class="modal-header modal-terms__header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-terms__title mt-15 mb-40">
          <h4>HIPOTECA FIJA</h4>
          <p>Condiciones</p>
        </div>

        <ul class="modal-terms__lista">
          <li>Duración de la hipoteca<span>20 años</span></li>
          <li>
            Tipo de interés <span>1,50 % T.I.N</span>
            <p>12 primeros meses</p>
          </li>
          <li>
            Tipo de interés <span>Euribor año + 1,20 %</span>
            <p>Años sucesivos</p>
          </li>
          <li>
            T.A.E. <span>2,27 %</span>
          </li>
          <li>
            Cuota constante <span>579,05 €/mes</span>
            <p>12 primeros meses</p>
          </li>
          <li>
            Cuota constante <span>575,05 €/mes</span>
            <p>Años sucesivos</p>
            <p class="modal-terms__lista_right">Calculada en base al Euribor<br> (-0,11% BOE 04/04/2017) + 1,20%</p>
          </li>
          <li>
            Comisión de apertura <span>1.200,00 €</span>
            <p class="modal-terms__lista_right">Hasta 80% LTV si es residencial habitual<br>y hasta 60% si no es residente habitual</p>
          </li>
          <li>Importe a financiar <span>120.000,00 €</span></li>
          <li>
            Importe no financiado <span>83.020,95 €</span>
            <p class="modal-terms__lista_right">Diferencia entre el precio vivienda<br> y el importe de la hipoteca + total<br> gastos constitución hipoteca + total<br> gastos compraventa</p>
          </li>
          <li>
            Compensación por amortización parcial o total <span>0%</span>
          </li>
          <li>
            Comisión por subrogración <span>0,05%</span>
            <p class="modal-terms__lista_right">En los primeros 5 años y de 0,25%<br> el resto de años</p>
          </li>
        </ul>
        <p class="modal-terms__footer">Simulación válida para personas residentes en España. No Residentes consultar a la entidad.<br>Simulación válida sólo para nuevas hipotecas.</p>
      </div>
    </div>
  </div>
</div>
