<div class="modal fade modal-expenses" id="modal-mortgage-expenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-expenses_width">
      <div class="modal-header modal-expenses__header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-expenses__title mt-15 mb-40">
          <h4>HIPOTECA FIJA</h4>
          <p>Gastos asociados</p>
        </div>

        <div class="model-expenses__table">
          <table class="table">
            <tr>
              <th></th>
              <th>COMPRAVENTA</th>
              <th>HIPOTECA</th>
            </tr>
            <tr>
              <td>IMPUESTOS</td>
              <td>12.000,00 €</td>
              <td>1.680,00 €</td>
            </tr>
            <tr>
              <td>NOTARIO</td>
              <td>750,00 €</td>
              <td>900,00 €</td>
            </tr>
            <tr>
              <td>REGISTRO</td>
              <td>400,00 €</td>
              <td>0,00 €</td>
            </tr>
            <tr>
              <td>GESTORÍA</td>
              <td>508,20 €</td>
              <td>508,20 €</td>
            </tr>
            <tr>
              <td>TASACIÓN</td>
              <td>0,00 €</td>
              <td>332,75 €</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>13.658,20 €</td>
              <td>3.420,95 €</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
