<div class="modal fade modal-alert" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-terms__header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mb-30">
          <h4 class="modal-alert__title">AVISO</h4>
        </div>
        <p class="modal-alert__description">Lamentamos informarte de que no tenemos una valoración de la direción que has introducido.</p>
        <div class="text-center mt-35 mb-20">
          <button class="btn btn-default" type="button" name="button">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
