<div class="modal fade modal-authorize" id="modal-contract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-terms__header">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt-15 mb-40">
          <h4 class="modal-authorize__title">AVISO</h4>
          <p class="modal-authorize__subtitle">Actualmente COINC sólo ofrece hipotecas con un único titular.</p>
        </div>
        <p class="modal-authorize__description">Según los datos que has introducido sería necesario que en la hipoteca estuviese también tu cónyuge. No obstante, si lo deseas, <span>podemos enviar tus datos a Bankinter</span> para que se pongan en contacto contigo y te hagan una <span>oferta de la financiación que necesitas.</span>
        </p>
        <div class="modal-authorize__buttons">
           <div class="clearfix">
             <div class="halfcol">
               <button data-dismiss="modal" class="btn btn-default pull-right" type="reset" name="button">Volver</button>
             </div>
             <div class="halfcol">
               <button data-dismiss="modal" class="btn btn-primary pull-left" type="submit" name="button">Autorizar</button>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
