<div class="container container_custom pdt-40">
  <div class="my-dashboard-section__header">
    <h2>Mi <span>hipoteca COINC</span></h2>
    <p>Completar la solicitud de mi hipoteca</p>
  </div>
  <div class="my-dashboard-section__body">
    <img src="images/casa-mano.png" class="body__icon">
    <div class="body__title">
      <h2>IMPORTE SOLICITADO</h2>
      <span>200.000 €</span>
    </div>
    <div class="body__details">
      <div class="detail-item">
        <p>1.448<span>€</span></p>
        <span>Primeros 12 meses</span>
      </div>
      <div class="detail-item">
        <p>1.448<span>€</span></p>
        <span>Resto de meses</span>
      </div>
      <div class="detail-item">
        <p>30 <span>años</span></p>
        <span>Plazo</span>
      </div>
      <div class="detail-item">
        <p>1,17<span>%</span></p>
        <span>T.A.E</span>
      </div>

    </div>
    <div class="text-center">
      <div class="clearfix">
        <div class="halfcol">
          <button class="btn btn-primary pull-right mb-40" type="button" name="button">Continuar tu solicitud</button>
        </div>
        <div class="halfcol">
          <button class="btn btn-default pull-left mb-40" type="button" name="button">Contacto</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pdb-40">
    <div class="my-dashboard-section__footer">
      <img src="images/icons/info.png" class="footer__icon">
      <p>Ver información sobre esta oferta</p>
    </div>
  </div>
</div>
