<div class="container container_custom pdt-40">
  <div class="my-dashboard-section__header">
    <h2>Mi <span>hipoteca COINC</span></h2>
    <p>Cómo va mi hipoteca</p>
  </div>
  <div class="my-dashboard-section__body">
    <img src="images/casa-nubes.png" class="body__icon">
    <div class="body__title">
      <h2>IMPORTE SOLICITADO</h2>
      <span>200.000 €</span>
    </div>
    {% include '/includes/_request-state-line.html'%}
    <div class="text-center">
      <div class="clearfix">
        <div class="halfcol">
          <button class="btn btn-primary pull-right" type="button" name="button">Resumen de tu solicitud</button>
        </div>
        <div class="halfcol">
          <button class="btn btn-default pull-left" type="button" name="button">Contacto</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pdb-40">
    <div class="my-dashboard-section__footer">
      <p>Fecha estimada para firmar tu hipoteca</p>
      <div class="footer__date">
        <p>30/06/2017</p>
      </div>
    </div>
  </div>
</div>
