<div class="container container_custom pdt-40">
  <div class="row">
    <div class="my-mortgage-panel__header">
      <h2>Mi <span>hipoteca COINC</span></h2>
      <p>Cómo va mi hipoteca</p>
    </div>
  </div>
  <div class="row">
    <div class="my-mortgage-panel__body alternate-bg">
      <img src="images/casa-nubes.png" class="my-mortgage-panel__body__icon">
      <div class="my-mortgage-panel__body__header">
        <h2>IMPORTE SOLICITADO</h2>
        <span>200.000 €</span>

      </div>
      <div class="my-mortgage-panel__body__footer text-center">
        <div class="clearfix">
          <div class="halfcol">
            <button class="btn btn-primary pull-right" type="submit" name="button">Resumen de tu solicitud</button>
          </div>
          <div class="halfcol">
            <button class="btn btn-default pull-left" type="submit" name="button">Contacto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pdb-40">
    <div class="my-mortgage-panel__footer alternate-bg">
      <p>Fecha estimada para firmar tu hipoteca</p>
      <div class="my-mortgage-panel__footer__date">
        <p>30/06/2017</p>
      </div>
    </div>
  </div>
</div>
