<div class="request-state request-state_step-3 request-state_alert">
  <ul class="request-state__list">
    <li class="state-item state-item_previous">
      <div class="state-item__icon"></div>
      <span class="tooltip-action" data-toggle="tooltip" data-placement="top" title="Estamos viendo la identificación de la vivienda a hipotecar, la identidad del titular o titulares de los derechos inscritos sobre la misma –pleno dominio, hipoteca, usufructo,…- y la extensión, naturaleza y limitaciones.">Estudio</span>
    </li>
    <li class="state-item state-item_previous">
      <div class="state-item__icon"></div>
      <span class="tooltip-action" data-toggle="tooltip" data-placement="top" title="Estamos viendo la identificación de la vivienda a hipotecar, la identidad del titular o titulares de los derechos inscritos sobre la misma –pleno dominio, hipoteca, usufructo,…- y la extensión, naturaleza y limitaciones.">Nota simple</span>
    </li>
    <li class="state-item state-item_current">
      <div class="state-item__icon"></div>
      <span>Tasación</span>
    </li>
    <li class="state-item">
      <div class="state-item__icon"></div>
      <span>Preparación de la firma</span>
    </li>
    <li class="state-item">
      <div class="state-item__icon"></div>
      <span>Firma</span>
    </li>
    <li class="state-item">
      <div class="state-item__icon"></div>
      <span>Liquidación de gastos</span>
    </li>
  </ul>
  <div class="request-state__line">
    <div class="state-progress"></div>
  </div>
</div>
