<div class="section-documentation pdt-40">
  <div class="row">
    <a href="#" class="col-xs-6 section-documentation__download">
      <p>Descargar guía de acceso al préstamo hipotecario</p>
    </a>
    <a href="#" class="col-xs-6 section-documentation__see">
      <p>Ver documentación necesaria para el estudio</p>
    </a>
  </div>
  <div class="row">
    <div class="section-documentation__print">
      <p>Si lo deseas puedes <a href="#">imprimir esta simulación</a></p>
    </div>
  </div>
</div>
