.indent2 {
  display: block;
  left: -9999em;
  line-height: 0;
  position: absolute;
  text-indent: -9999em;
}

.invisible {
  visibility        : hidden;
}

.offscreen {
  position          : absolute;
  top               : -99999999px;
  left              : -99999999px;
  margin            : 0;
  padding           : 0;
  height            : 0;
  border            : 0;
  font              : 0px/0 a;
}

.textindent {
  text-indent: -9999px;
  overflow: hidden;
}

.removeClear {
  clear: none !important;
}