<div class="box__solid-line box__verifycard">
    <p class="box__info box__dashed-line">Para garantizar la seguridad de tu pago, necesitamos verificar tu identidad. </p>
    <form>
        <div class="icon-form">
            <img src="./images/icono-cerrar.png" />
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="box__info-blue">
            <p><span>Sigue las instrucciones en el correo</span> que enviaremos a la dirección indicada.</p>
        </div>
        <button type="submit" class="btn btn__green gt-15 gb-20"><span>Recuperar contraseña</span></button>
    </form>
</div>