@charset "utf-8";.cbn_no{display:none}
.cbn_buscador{display:block;position:absolute;z-index:10000;right:0;top:5em;width:300px;padding-right:5px;border:0}
.cbn_input{float:right;width:160px;padding:2px 15px 2px 25px;background:#eaeaea 7px 5px no-repeat;border-radius:20px;border:1px solid #c6d2db;box-shadow:inset 1px 2px 4px rgba(0,0,0,0.2)}
.cbn_focus{border:1px solid #9ecbe2;box-shadow:0 0 6px #abdcff,inset 1px 1px 4px rgba(0,0,0,0.1);background-image:url('../img/lupa.gif')}
input#s{width:100%;border:0;border-radius:20px;background:transparent;height:16px;color:#b4bdc4;text-shadow:0 1px 1px #fff}
input#s:focus{outline:0}
#cbn_clear,.cbn_clear{position:absolute;top:6px;right:12px;z-index:5;display:none;width:12px;height:12px;overflow:hidden;background: left top no-repeat;border:0}
#cbn_clear:hover,.cbn_clear:hover{background-image:url()}
.cbn_autocompletado{position:absolute;z-index:10000;width:44em;right:.3em;top:2.3em;text-align:left;background:#fff;padding:.3em 0 0;border:1px solid #fff;background:#126891;font-size:1em;line-height:1.2em;box-shadow:-1px 1px 7px #000;border-radius:.3em}
.cbn_autocompletado a{display:block;padding:4px 4px 4px 20px;background:#fff;text-decoration:underline;float:none;clear:both;color:#007ac5;text-align:left}
.cbn_autocompletado a:hover{color:#00aceb}
.cbn_autocompletado a:after,.cbn_autocompletado a:before{display:block;overflow:hidden;clear:both;content:'';line-height:0}
.cbn_autocompletado h3{display:block;background:#126891;margin:0;padding:4px 4px 2px;color:#fff;font-size:1em;line-height:1.2em}
.cbn_autocompletado h4{display:block;margin:0;padding:4px 4px 2px 15px;background:#fff url() .4em center no-repeat;color:#000;font-size:1em;font-weight:bolder;line-height:1.2em}
.cbn_autocompletado ul{display:inline;padding:0}
.cbn_autocompletado li{list-style:none;display:inline}
.cbn_autocompletado .cbn_marco{position:relative;text-align:left;background:#fff}
.cbn_autocompletado .cbn_block{background:#fff;padding-bottom:4px;color:#000;text-decoration:none}
.cbn_autocompletado .cbn_img a,.cbn_autocompletado .cbn_img a:hover{position:relative;color:#000;text-decoration:none}
.cbn_autocompletado .cbn_img a em{display:block;clear:right;padding-bottom:4px;font-weight:bolder;font-style:normal;color:#007ac5;text-decoration:underline;font-size:1.2em}
.cbn_autocompletado .cbn_img a:hover em{color:#00aceb}
.cbn_autocompletado img{position:absolute;top:4px;left:14px;width:40px;height:40px;clear:none;margin:0}
.cbn_autocompletado .cbn_txt{display:block;height:40px;padding-left:48px;clear:both}
*>.cbn_autocompletado .cbn_txt{height:auto;min-height:40px;clear:none}
.cbn_autocompletado a:hover{background:#eef4f7}
.cbn_autocompletado .cbn_vertodo{display:block;padding:4px;background:#fff;clear:both;border-top:1px dotted #4b88a9;text-align:right;font-size:.8em}
.cbn_autocompletado .selected{background:#dee}