@media screen and (max-width : 320px) {
.tabs ul li div{
	margin:0;
	position:relative;
	width:94%!important;
	
	}		
	}

@media screen and (max-width : 480px) {
/*tabs*/	
.tabs h2.min{
	display:block!important;
	width:33%!important;
	background:#fff;
	position:absolute!important;
	height:30px;
	background:#F0ECED;
	border-bottom:0px solid #FFF;
	padding-top:10px;
	padding-bottom:15px;

	text-align:center;
	text-transform:none;		
	}
.tabs h2.min span{
	display:none;
	}	
.box-grey .tabs ul li li{
	width:88%!important;
	border: 2px solid #F0ECEB;
	padding-top:10px!important;
	padding-bottom:10px!important;
	margin-left:1%;
	}
.box-grey .tabs ul li a.button-destacado.orange span{
	padding:1%;
	width:20px!important;
	display:block;
	
	}	

.box-grey .tabs ul li span:first-child{
	padding:1%;
	width:90%!important;
	display:block;
	
	}	
.tabs li:nth-child(2) h2{
	left:33%;
	
	}	
.tabs li:nth-child(3) h2{
	left:66%;
}
.tabs h2.min span{
	background: none;
    float: right;
    height: 20px;
    width: 20px;	
	}
.tabs h2.min.on span{
	background: none;
	}			
.tabs ul li div{
	margin:0;
	position:relative;
	top:40px!important;
	
	}	
.box-grey .tabs ul {
	padding:0;
	}	
.box-grey .tabs ul li{
	margin-top:5px;
	margin-bottom:5px;
	width:95%;
	
	}	
	

/*tabs*/	
	
}
@media screen 
and (min-width : 480px) 
and (max-width : 768px) {
.tabs ul li div {
    margin: 0;
    position: relative;
    top: 30px;
    width: 100%;
}
}
@media only screen and (min-width: 768px) { 

}	
@media only screen and (min-width: 1024px) {	

}	