.module {
  width: 426px;
  position: absolute;
  z-index: 5;
  padding-top: 10px;

  &.slideup {
    @include slideup2();
    padding-top: 0;
    @include transition(all 0.45s, padding-top 1s);
  }
  &.slidedown {
    @include slidedown2();
  }

  .flip-container {
      z-index: 5;
      border: 1px solid $colorModBorder;
      padding-left: 1px\9;
      background-color: $colorModBack;
      height: 100%;
      @include css3-prefix(perspective, 2000px);
      &::before, &::after {
        bottom: auto;
        position: absolute;
        display: inline-block;
        content: " ";
      }
      &::before {
          @include triangle(0, 10px, 10px, 10px, $colorModBorder);
          top: -10px;
          left: 12px;
      }
      &::after {
          @include triangle(0, 9px, 9px, 9px, $colorModBack);
          top: -9px;
          left: 13px;
      }
      .flipper {
        z-index: 5;
        position: inherit;
        position: relative\9;
        overflow: hidden;
      }
  }

  .module-content {
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    &.slideup {
      @include slideup2();
    }
    &.slidedown {
      @include slidedown2();
    }
    .module-inner-content {
      background-color: $colorModBack;
      .slideup & {
        padding-top: 0;
        border: 0;
        @include transition(all 0.45s);
        &::before, &::after {
          display: none;
        }
      }

      .element-container, .subelement-container {
        font-size: 16px;
        cursor: pointer;
      }
      .element-container, .element-container-alerts {
        height: 52px;
        padding-top: 5px;
        padding-left: 22px;
        padding-right: 15px;
        & > div {
          display: table-cell;
          vertical-align: middle;
          height: 100%;
        }
        &.slideup {
          background-color: $colorModBack;
        }
        &.slidedown {
          background-color: $colorModSecond;
        }
        .icon-container {
          width: 6%;
          padding-right: 8px;
        }
        .name-container {
          width: 95%;
          .name {
            padding-left: 8px;
          }
        }
      }
      .element-container .triangle-container {
        padding-right: 15px;
        .triangle {
          @include triangle(6px, 0, 5px, 5px, $colorDetPrimary);
          display: inline-block;
          &.slidedown {
            @include triangle(0, 6px, 5px, 5px, $colorDetPrimary);
          }
        }
      }
      .element-container-alerts {
        font-size: 16px;
        .icon-container {
            cursor: pointer;
            padding-left: 8px;
        }
      }
      .subelement-container {
        display: block;
        border: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: $colorModCuat;
        &.slideup {
          @include slideup2();
          border: 0;
        }
        &.slidedown {
          @include slidedown2();
        }
        .content {
          display: table;
          height: 52px;
          padding-left: 66px;
          padding-right: 30px;
          border-bottom: 1px solid $colorModBorder;
          & > div {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
          }
        }
        .icon-container {
          width: 6%;
          padding-right: 8px;
        }
        .name-container {
          width: 95%;
          .name {
            padding-left: 8px;
          }
          .from-to {
            width: 85px;
            height: 35px;
            margin: 0 8px;
            color: $colorDetPrimary;
            border-color: $colorModInputBorder;
            font-size: 13px;
            &::-webkit-input-placeholder{
              font-style: italic;
              color: $colorModTer;
            }
            &::-moz-placeholder{
              font-style: italic;
              color: $colorModTer;
            }
            &:-ms-input-placeholder{
              font-style: italic;
              color: $colorModTer;
            }

            &:-moz-placeholder {
              font-style: italic;
              color: $colorModTer;
            }
          }
        }
      }

    }
    input[type="text"] {
      text-align: center;
      font-family: $fontBold;
      color: $colorModPrimary;
      padding-top: 2px;
      border: 1px solid $colorModBorderInput;
    }
  }
  &.right .flip-container{
    &::before {
        @include triangle(0, 10px, 10px, 10px, $colorModBorder);
        right: 12px;
        left: auto;
    }
    &::after {
        @include triangle(0, 9px, 9px, 9px, $colorModBack);
        right: 13px;
        left: auto;
    }
  }
}

.button-module {
  background-color: transparent;
  border: 1px solid $black;
  height: 37px;
  width: 173px;
  font-size: 15px;
  border-radius: 20px;
  outline: none;
  @include transition(all 0.2s);
  &:hover {
    border: 0;
    background-color: $colorModButBack;
    color: $white;
  }
}
