

.botones_nv{
    border: 0;
				border-radius: 5px;
				/*width: 125px;*/
				/*height: 28px;*/
				color: #FFF;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				font-size: 1.0em;
				padding: 10px;
                overflow: visible;
				background-color: #6B9834;
				background: -moz-linear-gradient(top, #bfccd6, #426885);
    			/* Chrome, Safari:*/
    			background: -webkit-gradient(linear, left top, left bottom, from(#bfccd6), to(#426885));
    			/* MSIE */
    			filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bfccd6', EndColorStr='#426885', GradientType=0); 
	
	
							}
								
								
	
	


.boton_verde {
								border: 0;
								border-radius: 5px;
								/*width: 125px;*/
								/*height: 28px;*/
								color: #FFF;
								font-weight: bold;
								text-align: center;
								cursor: pointer;
								font-size: 1.1em;
								padding: 10px;
                overflow: visible;
							
	background-color: #6B9834;
								background: -moz-linear-gradient(top, #86B24F, #467610);
    							/* Chrome, Safari:*/
    							background: -webkit-gradient(linear, left top, left bottom, from(#86B24F), to(#467610));
    							/* MSIE */
    							filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#86B24F', EndColorStr='#467610', GradientType=0); 
							}

.grey	{color:#666;
					}


/* popupModalMovil */
#popupModalMovil {
				z-index:1000;
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				width:100%;
				background: url(SAN_SIA_IMG_FONDO-MOVILES.png);	
				display:none;
			}
      
#popUpWellcome {
				z-index:1000;
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				width:100%;
				background: url(SAN_SIA_IMG_FONDO-MOVILES.png);	
				display:none;
			}
      
#containerCenter{
  position: absolute;
  top: 50%;
  left:50%;
  margin-left:-330px;
  margin-top:-250px;
  border: black 15px solid;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/* SON080302*/
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
    margin-top: -5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,116,0,0.25);
	/*margin-top: -6px;*/
	/*background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);*/
	background-color: rgb(255,116,0);
	background-color: rgba(255,116,0,0.92);
	/*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));*/
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	margin-top: -7px;
	border-right-color: #fff;
	border-right-color: rgba(255, 116, 0, 0);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(123,115,95);
	border-top-color: rgba(123,115,95,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(123,115,95);
	border-bottom-color: rgba(123,115,95,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	border-right-color: rgba(255, 116, 0, 0.92);
    margin-left: -6px;
    margin-top: 6px;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(123,115,95);
	border-left-color: rgba(123,115,95,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(255,116,0,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(255,116,0,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(255,116,0,0.92);
	}
}