@charset "UTF-8";
/* CSS Document */
/*.caja h2, h3	{padding:0px; margin:0px; width:100px;}*/
.cabeceraFlexible						{position:relative;}
.cabeceraFlexible .imgCabecera	{position:absolute; z-index:0; display:block; top:0px; left:0px;}
.cabeceraFlexible .imgCabecera img	{position:absolute; top:0px; left:0px;}

.cabeceraFlexible .caja			{
	border:0px solid #030;
	background:none;
	display:block;
	float:left;
	width:8.4em;
	margin:5px;
	padding:0.8em;
	z-index:10;
	position:relative;
	height:auto;
}

.cabeceraFlexible .cajaBottom	{
	background:none;
	color:#030;
	z-index:2;
	display:block;
	clear:both;
	position:absolute;
	z-index:20;
	width:235px;
	display:inline-block;
	height:2.5em;
	bottom:1.5em;
	padding:0.8em;
	color:#fff;
	left:0.8em;
}
.cabeceraFlexible .caja.morada	{background-color:#c64dc2;}
.cabeceraFlexible .caja.deepSkyBlue	{background-color:DeepSkyBlue;}
.cabeceraFlexible .caja.springGreen	{background-color:#00FF7F;;}
.cabeceraFlexible .caja.magenta	{background-color:#FF00FF;}
.cabeceraFlexible .cajaBottom.morada	{background-color:#c64dc2;}

.cabeceraFlexible .cajaBottom.deepSkyBlue	{background-color:DeepSkyBlue;}
.cabeceraFlexible .cajaBottom.springGreen	{background-color:#00FF7F;;}
.cabeceraFlexible .cajaBottom.magenta	{background-color:#FF00FF;}

.cabeceraFlexible .cajaBottom.right				{right:5px; bottom:1.5em; margin-left:270px;}
.cajaBottom.left				{left:1em; bottom:1.5em; }

.cabeceraFlexible h2		{color:#FFF; text-align:left; font-size:1.2em; padding-bottom:0px; margin:0px}
.cabeceraFlexible .caja	h3		{color:#FFF; text-align:left; font-size:1em;padding-bottom:10px; border:0px solid #060; padding:0px; top:-8px; display:block; position:relative;}


.cabeceraFlexible.right .caja			{float:right; margin-right:13px}



.cajaTrans			{
	display:block;
	width:50%;
	height:200px;
	z-index:20;
	position:absolute;
	background:#fff;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	z-index:9;
	top:0px;
	left:0px;
					} 
.morado			{color:#c64dc2;}
.deepSkyBlue {color:DeepSkyBlue;}
.springGreen {color:#00FF7F;}
.magenta{color:#FF00FF;}

.cuerpoFlexible span.destacado{float:left; display:block; width:200px; padding:10px; min-height:auto; color:#fff;}
.cuerpoFlexible h2		{color:#FFF; text-align:left; font-size:1.2em; padding-bottom:0px; margin:0px; width:100%;}
.cuerpoFlexible h3		{color:#FFF; text-align:left; font-size:1em; padding-bottom:0px; margin:0px; font-weight:bold; padding-top:10px; font-weight:normal;}
.cuerpoFlexible h2.destacadoCaja	{width:200px; float:left;}
.fondomorado			{background-color:#c64dc2; color:#fff;}
.fondodeepSkyBlue			{background-color:deepSkyBlue; color:#fff;}
.fondospringGreen		{background-color:#00FF7F; color:#fff;}
.fondomagenta			{background-color:#FF00FF; color:#fff;}

.cuerpoFlexible span.texto {
    float: right;
    margin-right: -60px;
    margin-top: 10px;
    width: 26em;
}
.bloqueFlexible		{clear:both; margin-bottom:-1px; display:inline-block; width:100%; border:#030 0px solid; margin-top:7px;}
.bloqueFlexible img {display:block; float:left;}
ul.listaFlexible	{padding-left:0px; border:0px solid #060; display:block; float:left; padding-left:20px; margin-left:20px;}
ul.listaFlexible	li{list-style:circle; list-style-type:circle;}



ol.listaFlexible	{padding:0px; margin-left:0px; border:0px solid #060; display:block; float:left; padding-left:20px; margin-left:80px;}
ol.listaFlexible	li{list-style:decimal; }

#flashcontent		{width:220px; border:0px solid #090; float:left;}


/** Carousel 2 **/
div.jMyCarousel{
	/*margin:auto;*/
	border:0px solid #060;
	
}

div.jMyCarousel ul{
	/*background-color:#000;*/	
}

div.jMyCarousel ul li{
	margin:0px;
	border:0px solid #444;
	line-height:0px;
	padding:0px;
	float:left;
	padding:6px;
	
}

div.jMyCarousel ul li a{ /* in case of link */
	display:block;
	float:left;
	border:0px;	
	margin:0px;
	padding:0px;
	
}

div.jMyCarousel ul li a img{
	display:block;
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	
}
div.jMyCarousel .prev{
	background: url('../images/flechaleft_cm.gif') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
	margin-left:-5px;
	margin-top:-20px;
}

div.jMyCarousel .next{
	background: url('../images/flecharight_cm.gif') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
	margin-top:-20px;
	
	
}

div.jMyCarousel .up{
	background: url() center center no-repeat;
	width:61px;
	height:40px;
	border:0px;
}

div.jMyCarousel .down{
	background: url() center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}
/**/
div.jMyCarousel2{
	/*margin:auto;*/
	border:0px solid #060;
	
}

div.jMyCarousel2 ul{
	/*background-color:#000;*/	
	margin:0px;
	padding:0px;
}

div.jMyCarousel2 ul li{
	margin:0px;
	border:0px solid #444;
	line-height:0px;
	padding:0px;
	float:left;
	padding:6px;
	
}

div.jMyCarousel2 ul li a{ /* in case of link */
	display:block;
	float:left;
	border:0px;	
	margin:0px;
	padding:0px;
	
}

div.jMyCarousel2 ul li a img{
	display:block;
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	
}
div.jMyCarousel2 .prev{
	background: url('../images/flechaLeft.gif') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
	margin-left:-5px;
	margin-top:-20px;
}

div.jMyCarousel2 .next{
	background: url('../images/flechaRight.gif') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
	margin-top:-20px;
	
}

div.jMyCarousel2 .up{
	background: url() center center no-repeat;
	width:61px;
	height:40px;
	border:0px;
}

div.jMyCarousel2 .down{
	background: url() center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

.jMycarrousel{
	float:left;
	display:block;
  height:auto
}
.jMycarrousel img{
	
	width:140px;
	
}
/**/
.destacado	{padding:10px;} 
.destacado	h3{width:100%;}
.lineDown	{border-bottom:2px solid #FFF; width:100%; padding-top:5px; .botones	 }
.bloqueFlexible	table{width:100%; padding:1px; margin:1px;}
.bloqueFlexible	td{padding:4px; background:#CCC; border-left:1px solid #FFF; border-bottom:1px solid #FFF;}
td.fondomorado			{background-color:#c64dc2; color:#fff;}
td.fondodeepSkyBlue			{background-color:deepSkyBlue; color:#fff;}
td.fondospringGreen		{background-color:#00FF7F; color:#fff;}
td.fondomagenta			{background-color:#FF00FF; color:#fff;}








td.vacia				{background:none;}
.textoCarrusel			{display:block; clear:both; margin-top:2px; border:0px solid #0C0; line-height:18px; width:140px; padding:0px;  height:auto;position:relative;}

.botones {z-index:0;}

ul.galeria	{padding:0px; margin:0px;}
ul.galeria li {
    display: block;
    float: left;
    margin-left: 8px;
}
.contCarrusel	{border:0px solid #090; height:auto; width:545px; }
.contCarrusel	{float:left; display:block;}
.textoGaleria	h2{color:#009bdb;}
.textoGaleria	{display:block; float:left; border:0px solid #090; width:300px; padding:5px;}

span#flexControl 	{color:#009bdb; cursor:pointer;}

li.fotoCarrusel{width:160px; height:auto!important; margin:0px; padding:0px;}
.jMycarrousel {
    
    margin: 0 0 0 20px;
    padding: 10px 0 0 20px;
}
.flechaRIGHT     {position:absolute;right:0px;top:72px;z-index:20;}
.flechaLEFT     {position:absolute;left:8px;z-index:20;top:72px;margin-left:-18px;}
#contenedorslider2 {
   
    clear: both;
    height: 131px;
    padding: 11px;
    position: relative;
}
#contenedorslider1		{border:0px solid #030; height:190px; clear:both; position:relative; padding:10px;}

ul.jMycarrousel	{border:0px;}
#sliderinferior.jMycarrousel { border:1px solid #030;padding:0px; margin:0px; padding-left:20px; margin-left:1px; padding-top:10px; padding-bottom:0px;}
#sliderinferior2.jMycarrousel { border:1px solid #030;padding:0px; margin:0px; padding-left:20px; margin-left:1px; padding-top:10px; padding-bottom:0px;}
#sliderinferior3.jMycarrousel {
    
    margin: 0 0 0 4px;
    padding: 12px 0 0 5px;
}

/**/
.cabeceraFlexible				{border:0px solid #F06; display:block; padding:5px; height:200px; position:relative; float:none; clear:both;  left:0px;}

.cabeceraFlexible.right .cajasRight{float:right; position:absolute; z-index:100; left:0px;}


ul.listado		{
	z-index:20;
	width:50%;
	border:0px solid #000;
	position:relative;
	left:270px;
	top:10px;
}
ul.listado  li	{list-style:circle; margin-left:0em; font-size:1.2em;}	
.cabeceraFlexible .cajaTrans.right{
	right:0px;
	float:right;
	left:270px;
	border:0px solid #90F;
	margin:0px;
	padding-left:20px;
	position:absolute;
}

.cabeceraFlexible.right 			{border:0px solid #F06; display:block; padding:5px; height:200px; position:relative; float:none; clear:both; float:none; left:0px; width:98%;}
ul.listadoCabecera {
    border: 0 solid #000000;
    left: 63px;
    position: relative;
    top: 10px;
    width: 67%;
    z-index: 20;
}
.videoCentrado{
    left:50%;
    margin-bottom:20px;
}
.videoIzquierda{
    float:left;
    margin-bottom:20px;

}
.videoDerecha{
    float:right;
    margin-bottom:20px;

}
.carruselAbajoPF img.flechaLEFT {
    border: 0 none;
    cursor: pointer;
    float: left;
    margin-left: -25px;
    margin-top: -1.4em;
    padding-left: 0;
    padding-right: 0;
}
.carruselAbajoPF img.flechaRIGHT {
    border: 0 none;
    cursor: pointer;
    float: right;
    margin-top: -1.4em;
    padding-left: 0;
    padding-right: 2em;
    position: absolute;
    right: -39px;
}
.carruselAbajoPF {
    border: 1px solid #92B254;
    left: 18px;
    margin-left: -9px;
    width: 490px;
    z-index: 0;
    top:0px;
}