// Vars and modules
@import "variables/all";
@import "modules/all";

.coinc-mortgage {
  $page-min-width: 950px;
  min-width: $page-min-width;
  background-color: $colorGray-200;
  font-family: "AkkuratStd";
  font-size: 14px;
  line-height: 1.42857;

  p {
    padding: 0;
  }

  .font-small {
    font-size: 14px;
  }
  .color-gray {
    color: $colorDarkGray;
  }

  .container_custom {
    min-width: $page-min-width;
    max-width: $page-min-width;
    margin: 0 auto;
    position: relative;
  }

  .container_custom-dashboard {
    min-width: $page-min-width + 10px;
    max-width: $page-min-width + 10px;
    margin: 0 auto;
    position: relative;
  }

  .mortgage-documentation {
    &__save-later {
      padding-bottom: 85px;
      a {
        color: $colorGray-450;
        text-decoration: underline;
        &:hover {
          color: $colorGray-450;
        }
      }
    }
  }


  // Vendor sass files
  @import "../../../node_modules/family.scss/source/src/_family.scss";
  @import "custom_bootstrap";
  @import "../../../bower_components/seiyria-bootstrap-slider/src/sass/bootstrap-slider";

  // Src files
  @import "components/all";
  @import "partials/all";
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity(.5); }
}
