/* line 2, ../../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 10, ../../sass/_tiempoDeEspera.scss */
span.arrow-grey {
  right: 0px;
}
@media screen and (max-width: 480px) {
  /* line 10, ../../sass/_tiempoDeEspera.scss */
  span.arrow-grey {
    margin-right: 0 !important;
    top: 18%;
  }
}

@media screen and (max-width: 768px) {
  /* line 22, ../../sass/_tiempoDeEspera.scss */
  .hidden-phone {
    display: none;
  }
}

/* line 29, ../../sass/_tiempoDeEspera.scss */
#chartSanitas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

/* line 36, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, .todos article ul li div.tiempoDeEspera dl, div.tiempoDeEspera span.tiempoDeEspera-data dl, .box-tiempoDeEspera .container-tiempoDeEspera dl {
  display: inline-block;
  margin: 0 0 10px 0;
  width: 90%;
  max-width: 700px;
  *zoom: 1;
}
/* line 8, ../../sass/_mixins.scss */
dl.dl-tiempoDeEspera:before, .todos article ul li div.tiempoDeEspera dl:before, div.tiempoDeEspera span.tiempoDeEspera-data dl:before, .box-tiempoDeEspera .container-tiempoDeEspera dl:before, dl.dl-tiempoDeEspera:after, .todos article ul li div.tiempoDeEspera dl:after, div.tiempoDeEspera span.tiempoDeEspera-data dl:after, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../../sass/_mixins.scss */
dl.dl-tiempoDeEspera:after, .todos article ul li div.tiempoDeEspera dl:after, div.tiempoDeEspera span.tiempoDeEspera-data dl:after, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  clear: both;
}
/* line 45, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .todos article ul li div.tiempoDeEspera dl dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt,
dl.dl-tiempoDeEspera dd,
.todos article ul li div.tiempoDeEspera dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd,
.box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  display: inline-block;
  color: #177abe;
}
/* line 52, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, .todos article ul li div.tiempoDeEspera dl dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
  width: 120px;
  margin-top: 9px;
}
@media screen and (max-width: 480px) {
  /* line 59, ../../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera dt:empty, .todos article ul li div.tiempoDeEspera dl dt:empty, div.tiempoDeEspera span.tiempoDeEspera-data dl dt:empty, .box-tiempoDeEspera .container-tiempoDeEspera dl dt:empty {
    margin-top: 0px;
    display: none;
  }
}
/* line 65, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  margin-left: 0px;
}
/* line 69, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  width: 70%;
}
@media screen and (max-width: 480px) {
  /* line 69, ../../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera dd, .todos article ul li div.tiempoDeEspera dl dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    margin-top: 9px;
    padding-left: 20px;
  }
}

/* line 84, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime, .todos article ul li div.tiempoDeEspera dl.iconTime, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime, .tiempoDeEspera-detalle dl {
  width: 100%;
}
/* line 87, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dt, .todos article ul li div.tiempoDeEspera dl.iconTime dt, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dt, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dt, .tiempoDeEspera-detalle dl dt {
  padding-left: 20px;
  background: url('../../img/site_sanitas_movil/reloj-azul.png?1379595043');
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 140px;
  line-height: 15px;
}
/* line 95, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dt span, .todos article ul li div.tiempoDeEspera dl.iconTime dt span, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dt span, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dt span, .tiempoDeEspera-detalle dl dt span {
  display: none;
}
/* line 100, ../../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera.iconTime dd, .todos article ul li div.tiempoDeEspera dl.iconTime dd, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dd, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dd, .tiempoDeEspera-detalle dl dd {
  width: 70%;
  line-height: 15px;
}
@media screen and (max-width: 480px) {
  /* line 100, ../../sass/_tiempoDeEspera.scss */
  dl.dl-tiempoDeEspera.iconTime dd, .todos article ul li div.tiempoDeEspera dl.iconTime dd, div.tiempoDeEspera span.tiempoDeEspera-data dl.iconTime dd, .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime dd, .tiempoDeEspera-detalle dl dd {
    padding-left: 40px;
  }
}

/* line 119, ../../sass/_tiempoDeEspera.scss */
hgroup.todos.centros.listado article li div div.tiempoDeEspera {
  width: 90%;
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  /* line 119, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 90%;
    font-size: 10px;
  }
  /* line 128, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span.tiempoDeEspera-data {
    font-size: 10px;
  }
  /* line 133, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera span:nth-last-child(2) {
    width: 100px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  /* line 119, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div div.tiempoDeEspera {
    width: 99%;
  }
}

/* line 150, ../../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera {
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 5px 0 0 0;
  padding: 0;
  border: none;
  width: 60%;
  /*@media screen and (max-width: 480px)
  {
  	width: 60%;
  }*/
}
/* line 164, ../../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera dl {
  width: 100%;
}
/* line 168, ../../sass/_tiempoDeEspera.scss */
.todos article ul li div.tiempoDeEspera dl dd {
  width: 65%;
  min-width: 120px;
}

/* line 180, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data {
  margin-top: 5px;
  font-size: 10px !important;
}
/* line 185, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl {
  margin-left: 30px;
}
/* line 191, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dt:first-child,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd:first-child {
  margin-top: 0px;
}
/* line 195, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dd {
  width: 60%;
}
/* line 201, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:before, div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:after {
  clear: both;
}
/* line 207, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 213, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 221, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:nth-last-child(1) {
  margin-top: 5px;
}
/* line 225, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data span {
  font-size: inherit;
  color: #5078be;
}
/* line 230, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data strong.header {
  display: block;
  line-height: 12px;
  vertical-align: top;
  color: #50b3ec;
  font-size: inherit;
  min-width: 210px;
}
/* line 241, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data i.icon-espera {
  background: url('../../img/site_sanitas_movil/espera.png?1379595043');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
/* line 251, ../../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data > p:nth-of-type(2) {
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  /* line 178, ../../sass/_tiempoDeEspera.scss */
  div.tiempoDeEspera {
    padding-left: 10px !important;
  }
}

/* line 268, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera {
  background: #a8cce6 !important;
  padding: 0 !important;
  width: 98% !important;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  cursor: hand;
}
/* line 280, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera {
  background-color: #FFF;
  margin: 0 3% 3% 3% !important;
  padding: 10px 2% !important;
  display: block !important;
  float: none !important;
  width: 90% !important;
  font-size: 11px !important;
}
/* line 291, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera p {
  width: 60%;
}
@media screen and (max-width: 480px) {
  /* line 291, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera p {
    width: 93%;
  }
}
/* line 301, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera > p {
  margin-top: 0px;
}
/* line 305, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera span.arrow.right {
  display: inline-block;
  float: right;
}
/* line 311, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl {
  padding-left: 65px;
  background: url('../../img/site_sanitas_movil/espera.png?1379595043');
  background-repeat: no-repeat;
  *zoom: 1;
  width: 75%;
  min-height: 60px;
}
/* line 8, ../../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:before, .box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../../sass/_mixins.scss */
.box-tiempoDeEspera .container-tiempoDeEspera dl:after {
  clear: both;
}
@media screen and (max-width: 480px) {
  /* line 311, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl {
    width: 250px;
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    background-size: 25px 25px;
    padding-left: 30px;
    min-height: 35px;
  }
  /* line 328, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
    width: 110px;
  }
  /* line 332, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt:first-child {
    margin-top: 0px;
  }
  /* line 337, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera dl dt,
  .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    font-size: 10px !important;
  }
}
@media screen and (min-width: 767px) {
  /* line 280, ../../sass/_tiempoDeEspera.scss */
  .box-tiempoDeEspera .container-tiempoDeEspera {
    background-image: url('../../img/site_sanitas_movil/medicos.jpg?1379595043');
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
/* line 353, ../../sass/_tiempoDeEspera.scss */
.box-tiempoDeEspera h2 {
  color: #255072;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 0 8px 0;
  text-indent: 3%;
}

/* line 370, ../../sass/_tiempoDeEspera.scss */
.box-advice {
  margin: 2% 10%;
  width: 78%;
  border: 1px solid black;
  background-color: white;
}
/* line 376, ../../sass/_tiempoDeEspera.scss */
.box-advice p {
  margin: 15px;
  padding-right: 0;
  color: #104c71;
  text-align: center;
}

/* line 384, ../../sass/_tiempoDeEspera.scss */
.container-article {
  margin-left: 10px;
}

/* line 395, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle dl dt, .tiempoDeEspera-detalle dl dd {
  color: #636363;
  margin-top: 9px;
}
/* line 401, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle h2 {
  font-family: 'GothamMediumRegular';
  text-transform: none;
  font-size: 11px;
  margin-bottom: 10px;
}
/* line 409, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images {
  width: 98%;
  margin: 0 0 20px 0;
  padding: 0;
  *zoom: 1;
}
/* line 8, ../../sass/_mixins.scss */
.tiempoDeEspera-detalle .container-images:before, .tiempoDeEspera-detalle .container-images:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../../sass/_mixins.scss */
.tiempoDeEspera-detalle .container-images:after {
  clear: both;
}
/* line 416, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img {
  display: inline-block;
}
/* line 421, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img:nth-last-child(2) {
  width: 100%;
}
/* line 428, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .container-images img:nth-last-child(1) {
  width: 100%;
}
/* line 436, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia {
  margin-top: 15px;
}
/* line 440, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia .grafico {
  width: 95%;
  *zoom: 1;
}
/* line 8, ../../sass/_mixins.scss */
.tiempoDeEspera-detalle .grafico-afluencia .grafico:before, .tiempoDeEspera-detalle .grafico-afluencia .grafico:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../../sass/_mixins.scss */
.tiempoDeEspera-detalle .grafico-afluencia .grafico:after {
  clear: both;
}
/* line 447, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia form {
  margin-bottom: 20px;
  width: 100%;
}
/* line 452, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia form .filterchart {
  margin: 15px 0;
  clear: both;
}
/* line 457, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia form .otroscentros {
  margin: 20px 0 10px 0;
  clear: both;
}
/* line 464, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .grafico-afluencia .selectData {
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 472, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle i.icon-calendar {
  background: url('../../img/site_sanitas_movil/calendar.png?1379595043');
  -webkit-background-size: 32px 32x;
  -moz-background-size: 32px 32x;
  -o-background-size: 32px 32x;
  background-size: 32px 32x;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-left: 33px;
  background-repeat: no-repeat;
}
/* line 485, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .filterchart span {
  padding: 10px 10px 10px 0;
}
/* line 489, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .filterchart select {
  margin: 10px 20px 10px 0px;
}
/* line 497, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .otroscentros span {
  padding: 10px 10px 10px 0px;
}
/* line 501, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-detalle .otroscentros select {
  margin: 10px 10px 10px 0px;
}

/* line 513, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera {
  background-image: none;
}
/* line 517, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl {
  width: 44%;
}
@media screen and (max-width: 800px) {
  /* line 517, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  /* line 517, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl {
    padding-left: 30px;
    margin-bottom: 10px !important;
  }
}
/* line 530, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl {
  min-height: 50px !important;
}
/* line 534, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera.iconTime, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.iconTime, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera .tiempoDeEspera-detalle dl, .tiempoDeEspera-detalle .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl {
  min-height: 60px;
}
@media screen and (max-width: 1210px) {
  /* line 539, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera.first, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.first {
    margin-bottom: 0px;
  }
}
/* line 547, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera.last, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.last {
  background-image: none;
  padding-left: 0px;
}
@media screen and (max-width: 1210px) {
  /* line 547, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera.last, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.last {
    padding-left: 65px;
  }
}
@media screen and (max-width: 480px) {
  /* line 547, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.dl-tiempoDeEspera.last, .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl.last {
    padding-left: 30px;
  }
}
/* line 561, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl dt {
  width: 100px;
}
/* line 565, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
  width: 45%;
}
@media screen and (max-width: 1210px) {
  /* line 565, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  /* line 565, ../../sass/_tiempoDeEspera.scss */
  .tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl dd {
    padding-left: 20px;
    width: 85%;
  }
}
/* line 577, ../../sass/_tiempoDeEspera.scss */
.tiempoDeEspera-urgencias .box-tiempoDeEspera .container-tiempoDeEspera dl dd strong {
  font-size: 18px;
  font-weight: normal;
}

/* line 588, ../../sass/_tiempoDeEspera.scss */
.button-destacado.blue.more {
  margin-bottom: 10px;
  margin-top: 0px;
}

@media only screen and (min-width: 1024px) {
  /* line 594, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div {
    min-height: 105px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 594, ../../sass/_tiempoDeEspera.scss */
  hgroup.todos.centros.listado article li div {
    min-height: 105px;
  }
}

/* Modificaciones version Movil - Jqplot */
/* Custom css*/
/* line 609, ../../sass/_tiempoDeEspera.scss */
.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
  background-color: #ffffff !important;
  border: solid 2px #0178C8 !important;
  padding: 5px !important;
  z-index: 100;
  text-align: center !important;
}

/*Reset Properties*/
/* line 618, ../../sass/_tiempoDeEspera.scss */
.box-white canvas {
  clear: both !important;
  width: auto !important;
  height: auto !important;
}

/* line 625, ../../sass/_tiempoDeEspera.scss */
.jqplot-x2axis {
  /*margin-top: 25px !important;
  margin-bottom: -10px !important;*/
}

/* line 630, ../../sass/_tiempoDeEspera.scss */
.flexible {
  margin-top: 30px !important;
  max-width: 100% !important;
  /*min-width: 240px !important;*/
}

/* line 635, ../../sass/_tiempoDeEspera.scss */
.jqplot-base-canvas {
  width: 100% !important;
}

@media all and (max-width: 460px) {
  /* line 640, ../../sass/_tiempoDeEspera.scss */
  .jqplot-point-label {
    font-size: .5em !important;
  }

  /* line 643, ../../sass/_tiempoDeEspera.scss */
  .jqplot-axis {
    font-size: .5em !important;
  }

  /* line 646, ../../sass/_tiempoDeEspera.scss */
  .jqplot-x2axis {
    display: none;
  }
}
