{% extends "/includes/_user_prompt.html" %}

<!-- Inicio modulo "ack" -->
{% block avatar_img %}
<div class="avatar-image">
    <img src="images/avatar-example-v2.png" alt="..." />
</div>
{% endblock %}

{% block content %}
  <div class="ack-target">
    <h4 class="title-part-1">Asunto: </h4>
    <h4 class="title-part-2">Consulta sobre el alta</h4>
    <p class="target-text">
      Buenos días, a small river named Duven flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.
    </p>
    <div class="timestamp-group">
      <label>Enviado el </label>
      <label class="date-text">27/10/16 19:10</label>
    </div>
  </div>
{% endblock %}
<!-- Fin modulo "ack" -->
