<!-- Inicio módulo "code-msg" -->
<div class="support-msg">
  <div class="icon-container">
    <i class="icon-support-team"></i>
  </div>

  <div class="content">
    <span class="title">Hola Yolanda</span>

    <p class="text">
      Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.<br />
      <br />
      Atentamente,<br />
      El equipo COINC
    </p>


    <div class="sms-request-wrapper contact-button-wrapper">
      <input type="button" class="contact-button" value="Recibir Clave"/>
    </div>

    <div class="timestamp-group">
      <label>Enviado el </label>
      <label class="date-text">28/10/16 10:20</label>
    </div>

    <div class="submit-button-support-msg">
      <div class="contact-button-wrapper">
        <input type="submit" class="contact-button" value="RESPONDER" />
        <i class="contact-button-arrow-icon"></i>
      </div>
    </div>

  </div>
</div>
<!-- Fin módulo "code-msg" -->
