<div class="row-fluid">
    <div class="span11">
        <h4>Buscar evento</h4>
        <form class="form-inline">
            <label for="title">
                Título: <input ng-model="query.title" type="text" id="title" name="title">
            </label>
            <label for="tags">
                Tags: <input ng-model="query.tags" type="text" id="tags" name="tags" class="input-medium">
            </label>
            <!--<a class="btn btn-success" href="#"><i class="icon-search icon-white"></i> Buscar</a>-->
        </form>
    </div>
    <div class="span13">
        <h4>Ordenar eventos</h4>
        <form class="form-inline">
            <label for="orderField">
                <select ng-model="orderField" id="orderField" name="orderField">
                    <option value="title">Nombre del evento</option>
                    <option value="dateStart">Fecha de inicio</option>
                    <option value="dateStart">Fecha de inicio</option>
                </select>
            </label>
            <label for="orderField">
                <div class="hide">Ordenar: </div>
                <select ng-model="orderReverse">
                    <option value="false">Ascendente</option>
                    <option value="true">Descendente</option>
                </select>
            </label>
        </form>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Título</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Descripcion</th>
        <th>URL del evento</th>
        <th>Asistentes</th>
        <th>Tags</th>
        <th>Dirección del evento</th>
        <th>Id interno</th>
        <th>Acciones</th>
    </tr>
    <tr ng-repeat="obj in events | filter:query | orderBy:orderField:orderReverse">
        <td>{{obj.title}}</td>
        <td>{{obj.dateStart}}</td>
        <td>{{obj.dateEnd}}</td>
        <td class="wrapword">{{obj.description}}</td>
        <td class="wrapword"><a href="{{obj.urlEvent}}" target="_blank">{{obj.urlEvent}}</a></td>
        <td>{{obj.audience}}</td>
        <td>{{obj.tags}}</td>
        <td>{{obj.address}}</td>
        <td>{{obj.id}}</td>
        <td>
            <div class="group-buttons-table">
            <a class="btn btn-success btn-small" href="/backend/event-edit.jsp?id={{obj.id}}"><i class="icon-edit icon-white"></i> Editar</a>
            <a class="btn btn-warning btn-small" href="javascript:deleteEvent('{{obj.id}}')"><i class="icon-trash icon-white"></i> Borrar</a>
        </div>
        </td>
    </tr>
</table>