
<form>
<strong>Buscar</strong>

Titulo: <input ng-model="query.titulo">


<strong>Ordenar</strong>
 <select ng-model="orderField">
 		<option value="title">Nombre del evento</option>
        <option value="dateStart">Fecha de inicio</option>
    </select>
    <select ng-model="orderReverse">
 		<option value="false">Ascendente</option>
        <option value="true">Descendente</option>
    </select>

</form>

<!--
<span class="mini">{{var1}}</span>


<article class="eventList">
	   <h1>Evento 1</h1>
	   <small>25/10/2012</small>
	   <div class="contentEventList">
	    <img src="img/events/events3.jpg" class="pull-left" />
	    <p>Ut eu erat feugiat, auctor arcu non, euismod enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur orci vel ante tristique ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere sollicitudin mi, sit amet ultricies felis aliquam non</p>
	  </div>
	</article>

-->

<div class="span11" ng-repeat="obj in events | filter:query | orderBy:orderField:orderReverse" ng-include src=" '/src/views/_event-detail.html' ">

</div>

<!--
<ul>
    <li ng-repeat="obj in events | filter:query | orderBy:orderField:orderReverse">
    	<div ng-include src=" 'src/views/_event-detail.html' "></div>
    </li>
</ul>-->


