/* line 2, ../sass/_tiempoDeEspera.scss */
.pull-right {
  float: right !important;
}

/* line 6, ../sass/_tiempoDeEspera.scss */
.pull-left {
  float: left !important;
}

/* line 13, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera, div.tiempoDeEspera span.tiempoDeEspera-data dl, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl {
  display: inline-block;
  width: 225px;
  margin: 0px;
}
/* line 19, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt,
dl.dl-tiempoDeEspera dd,
div.tiempoDeEspera span.tiempoDeEspera-data dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dd,
div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dd {
  display: inline-block;
  color: #666666;
  line-height: 12px;
}
/* line 25, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dt, div.tiempoDeEspera span.tiempoDeEspera-data dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt {
  width: 120px;
}
/* line 29, ../sass/_tiempoDeEspera.scss */
dl.dl-tiempoDeEspera dd, div.tiempoDeEspera span.tiempoDeEspera-data dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dd, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dd {
  margin-left: 0px;
}

/*
*
*	div.tiempoDeEspera
*
*/
/* line 42, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera {
  margin: 0px;
  padding: 0px;
}
/* line 46, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales {
  font-size: 12px;
  display: inline-block;
  background-color: #e6e6e6;
  padding: 0px 0px 5px 0px;
  margin-top: 1px;
  vertical-align: top;
  width: 293px;
}
/* line 56, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl {
  margin-left: 10px;
  color: #666666;
}
/* line 62, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades dl dt:first-child, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales dl dt:first-child {
  margin-top: 0px;
}
/* line 68, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p {
  *zoom: 1;
  margin: 0px 0 0 0px;
  font-size: inherit;
}
/* line 8, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:before, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:before, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:before, div.tiempoDeEspera span.tiempoDeEspera-data p:after, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:after, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:after, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:after, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:after {
  clear: both;
}
/* line 74, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p span:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p span:nth-last-child(1) {
  display: block;
  float: left;
}
/* line 80, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p span:nth-last-child(2), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p span:nth-last-child(2) {
  display: block;
  width: 110px;
  float: left;
}
/* line 88, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades p:nth-last-child(1), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales p:nth-last-child(1) {
  margin-top: 0px;
}
/* line 92, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data span, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades span, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales span {
  font-size: inherit;
  color: #5078be;
}
/* line 98, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades strong.header, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales strong.header {
  display: block;
  line-height: 15px;
  vertical-align: top;
  color: #155577;
  font-size: inherit;
  padding: 5px 10px;
}
/* line 107, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades i.icon-espera, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales i.icon-espera {
  background: url('../images/espera.png?1376029198');
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  -o-background-size: 25px 25px;
  background-size: 25px 25px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 119, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data a, div.tiempoDeEspera span.tiempoDeEspera-data-especialidades a, div.tiempoDeEspera span.tiempoDeEspera-data-hospitales a {
  text-decoration: underline;
}
/* line 126, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image, div.tiempoDeEspera span.tiempoDeEspera-image-especialidades, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital {
  display: inline-block;
  padding: 0px 8px 0px 10px;
  vertical-align: top;
}
/* line 131, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-especialidades i.icon-espera-web, div.tiempoDeEspera span.tiempoDeEspera-image-unhospital i.icon-espera-web {
  background: url('../images/espera-2.png?1376031185');
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  -o-background-size: 60px 60px;
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
/* line 142, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-especialidades > p:nth-of-type(2), div.tiempoDeEspera span.tiempoDeEspera-data-hospitales > p:nth-of-type(2) {
  margin-bottom: 10px;
}
/* line 148, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-data-especialidades {
  width: 440px !important;
}
/* line 154, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-especialidades {
  padding: 0px 8px 0px 0px !important;
}
/* line 161, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital {
  width: 60px !important;
}
/* line 165, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital i.icon-espera-40 {
  background: url('../images/espera-2.png?1376031185');
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  display: inline-block;
  padding: 10px 0px 0px 1px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 175, ../sass/_tiempoDeEspera.scss */
div.tiempoDeEspera span.tiempoDeEspera-image-unhospital a {
  color: #007ac5 !important;
  float: left;
}

/* line 185, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas {
  *zoom: 1;
  width: 423px;
  display: inline-block !important;
  border: 0px !important;
}
/* line 8, ../sass/_mixins.scss */
.cajasDestacadas:before, .cajasDestacadas:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.cajasDestacadas:after {
  clear: both;
}
/* line 190, ../sass/_tiempoDeEspera.scss */
.cajasDestacadas div.cajaDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 197, ../sass/_tiempoDeEspera.scss */
.cajasDereHospitales {
  display: inline-block !important;
  border: 0px !important;
}

/* line 201, ../sass/_tiempoDeEspera.scss */
.includeExternal {
  *zoom: 1;
}
/* line 8, ../sass/_mixins.scss */
.includeExternal:before, .includeExternal:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 15, ../sass/_mixins.scss */
.includeExternal:after {
  clear: both;
}

/* line 204, ../sass/_tiempoDeEspera.scss */
.dobleAnchoEspera {
  width: 408px !important;
  border-radius: 6px;
  border: #89969F 1px solid;
  margin: 5px 0px;
  padding: 5px;
}

/* line 213, ../sass/_tiempoDeEspera.scss */
span.tiempoDeEspera-data-hospitales {
  width: 293px !important;
  margin-top: 10px !important;
}
/* line 218, ../sass/_tiempoDeEspera.scss */
span.tiempoDeEspera-data-hospitales strong.header {
  display: inline-block !important;
  padding: 10px 10px 0px 0px !important;
}
/* line 222, ../sass/_tiempoDeEspera.scss */
span.tiempoDeEspera-data-hospitales a {
  color: #007ac5 !important;
}
