    <meta charset="utf-8">
    <div class="control-group">
        <label class="control-label" for="namePlace">Nombre Lugar</label>
        <div class="controls">
            <input type="text" id="namePlace" name="namePlace" ng-model="place.namePlace"   />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="typePlace">Tipo de Lugar</label>
        <div class="controls">
            <input type="text" id="typePlace" name="typePlace" ng-model="place.typePlace"   />
        </div>
    </div>
    
    <fieldset>
        <legend>Localización</legend>
         <div class="control-group">
            <label class="control-label" for="address">Dirección</label>
            <div class="controls">
                <input type="text" id="street" name="street" placeholder="" ng-model="place.street" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="zipcode">Código Postal</label>
            <div class="controls">
                <input type="text" id="zipcode" name="zipcode" placeholder=""  ng-model="place.zipcode">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">Ciudad</label>
            <div class="controls">
                <input type="text" id="city" name="city" placeholder="" ng-model="place.city">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">País</label>
            <div class="controls">
                <input type="text" id="country" name="country" placeholder="" ng-model="place.country" >
            </div>
        </div>

       <div class="control-group">

            <div class="controls form-action">                 
                 <button type="button" class="btn btn-success btn-small" ng-click="handleClick(place.latitude, place.longitud,place.street, place.zipcode, place.city, place.country)">Ubicar en Google Maps</button>                 
            </div>
        </div>
    </fieldset>
	<fieldset>
        <legend>Detalles Lugar</legend>
    <div class="control-group">        
        <div class="controls">
            <textarea rows="4" cols="30" name="description" id="description" ng-model="place.description" ></textarea>
        </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>Datos Contacto</legend>
     <div class="control-group">
        <label class="control-label" for="contactName">Persona de Contacto </label>
        <div class="controls">
            <input type="text" id="contactName" name="contactName" ng-model="place.name"   />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="typePlace">Email de Contacto</label>
        <div class="controls">
            <input type="text" id="contactEmail" name="contactEmail" ng-model="place.email"   />
        </div>
    </div>
	</fieldset>    

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary ">Guardar Lugar</button>
        </div>
    </div>

    <pre>place -> {{place | json}}</pre>

    <pre>places -> {{places | json}}</pre>


    <div modal="placeModal" close="closeModal()" options="optsModal">
        <div class="modal-header" ng-hide="hideInfoModal">
            <h2>Lugar de Interes: {{place.id}}</h2>
        </div>
        <div class="modal-body" >
            <p ng-hide="hideInfoModal">El evento ha sido guardado correctamente.</p>
            <h2 ng-show="hideInfoModal" ng-class="{error:errorModal}">
                {{textStatusModal}}
            </h2>
        </div>
        <div class="modal-footer" ng-hide="hideInfoModal">
            <a ng-click="closeModal()" class="btn btn-primary">Aceptar</a>
        </div>
    </div>
