<div class="row-fluid">

    <div class="span9" >

		<!--ejecutamos el formulario con ng-submit utilizando la función upDateEvent()
		e incluímos el formulario con la directiva ng-include, en este caso el archivo
		que está en '/src/views/events/_event-form.html-->

		<form class="form-horizontal" id="edit-form" ng-submit="updatePlace()" ng-include="'/src/views/places/_place-form.html'"></form>

	</div>

	<div class="span15">
        <div class="mapWrapper">
            <div id="map-canvas"></div>
        </div>         
    </div>

</div>