<div class="row-fluid">

    <div class="span9" >

		<!--ejecutamos el formulario con ng-submit utilizando la funcion de ng-submit()
		e incluímos el formulario con la directiva ng-include, en este caso el archivo
		que está en '/src/views/events/_event-form.html-->

		<form class="form-horizontal" id="edit-form" ng-submit="insertPlaceLocation()" ng-include="'/src/views/places/_place-form.html'"></form>

	</div>

	 <!-- google maps -->
    <div ng-controller="PlaceMapController">
        <div id="map_canvas" ui-map="myMap" class="span15 map_canvas" ui-options="mapOptions" ui-event="{'map-idle' : 'onMapIdle()'}"></div>
        <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]" ui-event="{'map-click': 'markerClicked(marker)'}"></div>
        <!--<pre>rootscope -> {{rootscope | json}}</pre>-->
    </div>
    <!-- EO google maps -->

</div>