<meta charset="utf-8">
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span11">
            <h4>Buscar Lugar</h4>
        </div>
        <div class="span13">
            <h4>Ordenar Lugares</h4>
            <form class="form-inline">
                <label for="orderField">
                    <select ng-model="orderField" id="orderField" name="orderField">
                        <option value="namePlace" selected>Nombre del evento</option>
                        <option value="typePlace">Fecha de inicio</option>
                    </select>
                </label>
                <label for="orderField">
                    <div class="hide">Ordenar: </div>
                    <select ng-model="orderReverse">
                        <option value="false">Ascendente</option>
                        <option value="true" selected>Descendente</option>
                    </select>
                </label>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span24">
            <table class="table table-striped">
                <tr>
                    <th>Nombre Lugar</th>
                    <th>Tipo Lugar</th>
                    <th>Descripcion</th>
                    <th>Dirección del evento</th>
                    <th>Datos Contacto</th>
                    <th>Id interno</th>
                    <th>Acciones</th>
                </tr>

                <tr ng-hide="is_backend_ready">
                    <td colspan="10">Cargando...</td>
                </tr>

                <!--si no hay usuarios que mostrar, con la directiva ng-show comprobamos
                el array usuarios y mostramos un mensaje-->
                <tr ng-show="places.length == 0">
                     <td colspan="10">No hay datos que mostrar</h2>
                </tr>

                <tr ng-repeat="obj in places | filter:query | orderBy:orderField:orderReverse" ng-show="is_backend_ready">
                    <td>{{obj.namePlace}}</td>
                    <td>{{obj.typePlace}}</td>
                    <td class="wrapword">{{obj.description}}</td>
                    <td class="wrapword">{{obj.fullAddress}}</td>
                    <td class="wrapword">{{obj.name}}</td>
                    <td>{{obj.id}}</td>
                    <td>
                        <div class="group-buttons-table">
                            <a class="btn btn-success btn-small" href="#/place-edit/{{obj.id}}"><i class="icon-edit icon-white"></i> Editar</a>
                            <a class="btn btn-warning btn-small" ng-click="openModalRemove(obj.id,obj.namePlace,obj.description)"><i class="icon-trash icon-white"></i> Borrar</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div modal="deletePlaceModal" close="closeModalRemove()" options="optsModal">
    <div class="modal-header" ng-hide="hideInfoModal">
        <h2>¿Estas seguro que quieres eliminar el evento con id: {{idPlaceDialog}} ?</h2>
    </div>
    <div class="modal-body" >
        <dl ng-hide="hideInfoModal">
            <dd><p>{{titleDialog}}</p></dd>
            <dd><p>{{descriptionDialog}}</p></dd>
        </dl>
        <h2 ng-show="hideInfoModal" ng-class="{error:errorModal}">
            {{textStatusModal}}
        </h2>
    </div>
    <div class="modal-footer" ng-hide="hideInfoModal">
        <button class="btn btn-warning cancel" ng-click="closeModalRemove()">Cancelar</button>
        <button class="btn btn-warning cancel" ng-click="deletePlaceRemote(idPlaceDialog)">Confirmar</button>
    </div>
</div>