<!-- include src/views/places/places-list-front.html -->
<div class="span16">
    <div class="row-fluid place-grid">
    	<div class="span24">
			<tabset>
				<tab heading="Todos los Lugares" select='filterCriteria={}'></tab>		
				<tab heading="Centro Convenciones" select='filterCriteria.typePlace="Centro Convenciones"'></tab>
				<tab heading="Gimnasio" select='filterCriteria.typePlace="Gimnasio"'></tab>
				<tab heading="Museo" select='filterCriteria.typePlace="Museo"'></tab>
				<tab heading="Restaurante" select='filterCriteria.typePlace="Restaurante"'></tab>
			     <!-- tab ng-repeat="placetab in placesToFilter() | filter:filterPlaces" heading="{{placetab.typePlace}}" select='filterCriteria.typePlace="{{placetab.typePlace}}"'>
			     {{placetab.typePlace}} 
    			</tab -->
			</tabset>    
		</div>
		<div class="row-fluid span24 conference-listing">
	        <div ng-repeat="placesPerCat in placesToFilter() | filter:filterCriteria | filter:filterPlaces | orderBy:orderField:orderReverse" class="row-fluid date-listing conference-listing interactive-listing-container" >
	        	<div class="span12">	        	    
	        		<h3 class="placeListTitle">{{placesPerCat.typePlace}}</h3>
	        		<div class="place-list place-{{placesPerCat.typePlace | acronimoLugar}}"></div>
	        	</div>
	        	<div class="span12 place-border">
		        	<ol ng-repeat="place in places | filter:placesCatFilter(placesPerCat.typePlace) | orderBy:orderField:orderReverse">
		        		<li class="conference">
							<h4><a href="places.jsp#/place-detail/{{place.id}}">{{place.namePlace}}</a></h4>
							<p class="location">
								{{place.fullAddress}}
							</p>							
						</li>
		        	</ol>
		        </div>
	    	</div>
	    </div>	  
  	</div>
</div>
<div class="span8">
    <div class="row-fluid">

    </div>
</div>

<!-- EO include src/views/places/places-list-front.html -->