<!-- include src/views/events/front/events-list.html -->
<div class="span16">
    <div class="row-fluid">
    	<div class="span24">
    		<tabset>
			    <tab heading="Todos los Lugares" select='filterCriteria={}'></tab>			    
			</tabset>
		</div>
		<div class="row-fluid span24 conference-listing">
	        <div ng-repeat="placesPerCat in placesToFilter() | filter:filterPlaces | orderBy:orderField:orderReverse" class="row-fluid date-listing conference-listing interactive-listing-container" >
	        	<div class="span8 day-label">
	        		<h3>{{placesPerCat.typePlace}}</h3>
	        	</div>
	        	<div class="span16 day-schedule">
		        	<ol ng-repeat="place in places | filter:placesCatFilter(placesPerCat.typePlace) | orderBy:orderField:orderReverse">
		        		<li class="conference interactive-listing">
							<h4><a href="#/place-detail/{{place.id}}">{{place.namePlace}}</a></h4>
							<p class="location">
								<a href="#">{{place.fullAddress}}</a>
							</p>							
						</li>
		        	</ol>
		        </div>
	    	</div>
	    </div>	  
  	</div>
</div>

<!-- EO include src/views/places/places-list.html -->