<meta charset="utf-8">
<div class="control-group">
	<label class="control-label" for="nameSlider">Titulo Slider</label>
	<div class="controls">
		<input type="text" id="nameSlider" name="nameSlider"
			ng-model="banner.title" />
	</div>
</div>
<fieldset>
	<legend>Contenido Slider</legend>
	<div class="control-group">
		<label class="control-label" for="content">Contenido</label>
		<div class="controls">
			<textarea rows="4" cols="30" name="content" id="content"
				ng-model="banner.content"></textarea>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Detalles Slider</legend>
	<div class="control-group">
		<label class="control-label" for="contactName">Url Imagen </label>
		<div class="controls">
			<input type="text" id="urlImg" name="urlImg" ng-model="banner.urlImg" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="url">Url Contenido</label>
		<div class="controls">
			<input type="text" id="url" name="url" ng-model="banner.url" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="buttonText">Texto Boton</label>
		<div class="controls">
			<input type="text" id="buttonText" name="buttonText" ng-model="banner.buttonText" />
		</div>
	</div>
</fieldset>

<div class="control-group">
	<div class="controls">
		<button type="submit" class="btn btn-primary ">Guardar Lugar</button>
	</div>
</div>

<pre>banner -> {{banner | json}}</pre>

<pre>bannerList -> {{bannerList | json}}</pre>
