<meta charset="utf-8">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span24">
            <table class="table table-striped">
                <tr>
                    <th>Titulo Slider</th>
                    <th>Contenido</th>
                    <th>URL</th>
                    <th>URLImg</th>
                    <th>buttonText</th>
                    <th>Acciones</th>
                </tr>

                <tr ng-hide="is_backend_ready">
                    <td colspan="10">Cargando...</td>
                </tr>

                <!--si no hay usuarios que mostrar, con la directiva ng-show comprobamos
                el array usuarios y mostramos un mensaje-->
                <tr ng-show="bannerList.length == 0">
                     <td colspan="10">No hay datos que mostrar</h2>
                </tr>

                <tr ng-repeat="banner in bannerList" ng-show="is_backend_ready">
                    <td>{{banner.title}}</td>
                    <td>{{banner.content}}</td>
                    <td>{{banner.url}}</td>
                    <td>{{banner.urlImg}}</td>
                    <td>{{banner.buttonText}}</td>
                    <td>{{banner.id}}</td>
                    <td>
                        <div class="group-buttons-table">
                            <a class="btn btn-success btn-small" href="#/banner-edit/{{banner.id}}"><i class="icon-edit icon-white"></i> Editar</a>
                            <a class="btn btn-warning btn-small" ng-click="removeBanner(banner.id)"><i class="icon-trash icon-white"></i> Borrar</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>