{% extends "/base/_base.html" %}
{% block phone %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title">CONTACTO</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      {% include '/includes/modules/_msg.html' %}
      {% include '/includes/modules/_subscribe-v3.html' %}
    </div>
    <div class="col-sm-4 hidden-xs">
      {% include '/includes/_side-menu.html' %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>&nbsp;</p>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
        Launch demo modal
      </button>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  {% include '/includes/modules/_login.html' %}
</div>

{% endblock %}
