{% extends "/base/_base.html" %}
{% block phone %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {% include '/includes/modules/_msg.html' %}
      {% include '/includes/modules/_send_message.html' %}
      {% include '/includes/modules/_ack.html' %}
      {% include '/includes/modules/_sms.html' %}
      {% include '/includes/modules/_subscribe.html' %}
      {% include '/includes/modules/_msg_status.html' %}
      {% include '/includes/modules/_support_msg.html' %}
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
  Launch demo modal
</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
  Launch demo modal
</button>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  {% include '/includes/modules/_login.html' %}
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  {% include '/includes/modules/_call_us_popup.html' %}
<div>
  
{% endblock %}
