<div class="detail-header">
  <section class="section-header container">
    {% set MES = CALENDARIO[0] %}
    {% set MES_SIG = CALENDARIO[1] %}
    {% set PRESUPUESTO = MES.PRESUPUESTOS[0] %}
    {% set PRESUPUESTO_SIG = MES_SIG.PRESUPUESTOS[0] %}
    <div class="info-present">
      <div class="icon-container">
        <i class="{{ PRESUPUESTO.ICONO }}"></i>
      </div>
      <div class="resume-text">
        <span class="type">{{ PRESUPUESTO.TITLE }}</span>
        <span class="month">{{ MES.MES_COMPLETO }}</span>
      </div>
      <div class="money">
        <span class="price">{{ PRESUPUESTO.PREVISTO }},</span>
        <span class="decimal">{{ PRESUPUESTO.PREVISTO_DECIMAL }}</span>
        <span class="coin">€</span>
      </div>
      <div class="modify"><i data-id="1" class="edit-present icon-edit-white"></i></div>
    </div>
    <div class="edit-present-container slideup">
      <div class="triangle-container">
        <div class="triangle"></div>
      </div>
      <div class="box-container">
        <div class="text-container">
          <span class="text">Ajuste manual para este mes</span>
        </div>
        <div class="edit-text-container">
          <input type="text" class="edit-text" value="{{ PRESUPUESTO.PREVISTO }},{{PRESUPUESTO.PREVISTO_DECIMAL}}"></input>
        </div>
        <div class="coin-container">
          <span class="text">€</span>
        </div>
        <div class="icon-container">
            <i class="icon-check-circle check-edit"></i>
        </div>
      </div>
    </div>
    <div class="bar-container">
      {% if PRESUPUESTO.PORCENTAJE <= 100 %}
        {% if PRESUPUESTO.PORCENTAJE == 100 %}
          <span class="triangulo_izq full"></span>
        {% endif %}
        <div class="progress border-radius-less">
          <div class="progress-bar border-radius-less" role="progressbar" aria-valuenow="{{ PRESUPUESTO.PORCENTAJE }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ PRESUPUESTO.PORCENTAJE }}%"></div>
          {% if PRESUPUESTO.PORCENTAJE > 0 and PRESUPUESTO.PORCENTAJE != 100 %}
            <span class="triangulo_izq"></span>
          {% endif %}
        </div>
        <div class="text-container">
          <div class="bar-text-container expected">
            <div class="text-content">
              <span class="number primary">{{ PRESUPUESTO.PREVISTO }}</span>,
            </div>
            <div class="text-content">
              <span class="decimal primary">{{ PRESUPUESTO.PREVISTO_DECIMAL }}</span>
            </div>
            <div class="text-content">
              <span class="coin secondary">€</span>
            </div>
          </div>
          <div class="bar-text-container spent">
            <div class="text-content">
              <span class="number primary">{{ PRESUPUESTO.GASTADO }}</span>,
            </div>
            <div class="text-content">
              <span class="decimal primary">{{ PRESUPUESTO.GASTADO_DECIMAL }}</span>
            </div>
            <div class="text-content">
              <span class="coin secondary">€</span>
            </div>
          </div>
        </div>
      {% else %}
        {% if (PRESUPUESTO.PORCENTAJE - 200) >= 0 %}
          {% set value = 0 %}
          {% set width = 100 %}
        {% else %}
          {% set value = (200 - PRESUPUESTO.PORCENTAJE) %}
          {% set width = (PRESUPUESTO.PORCENTAJE - 100) %}
        {% endif %}
        <div class="progress over-loaded border-radius-less">
          <div class="progress-bar border-radius-less" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%"></div>
        </div>
        <div class="line-container">
          <div class="dotted-line" style="width: {{ width }}%"></div>
        </div>
        <div class="bar-text-container">
          <div class="value"><strong>{{ PRESUPUESTO.DIFERENCIA }}<span class="decimal">,00</span>€</strong></div>
        </div>
      {% endif %}
    </div>
    <div class="bottom-content">
      <div class="info-future">
        <div class="resume-text">
          <span class="prevision">PREVISIÓN</span>
          <span class="month">{{ MES_SIG.MES_COMPLETO }}</span>
        </div>
        <div class="money">
          <span class="price">{{ PRESUPUESTO_SIG.PREVISTO }}</span>
          <span class="coin">€</span>
        </div>
        <div class="modify"><i data-id="2" class="icon-edit-white"></i></div>
      </div>
      <div class="plan-container">
        <button class="btn btn-plan-container">
          <div class="icon-container">
            <i class="icon-arrow-down-white"></i>
          </div>
          PLANIFICAR INGRESO
        </button>
      </div>
    </div>
  </section>
</div>
