<section class="container month-calendar">
  <h1>SEPTIEMBRE</h1>
  <table>
    <tr>
      <th colspan="2">
        <div class="icon-container">
          <i class="fa fa-calendar-o fa-3x"></i>
          <span class="number-inside-calendar">17</span>
        </div>
      </th>
    </tr>
    <tr>
      <td>AHORRADO ESTE MES</td>
      <td>GASTADO ESTE MES</td>
    </tr>
    <tr>
      <td>1.000<span class="currency">€</span></td>
      <td>0<span class="currency">€</span></td>
    </tr>
  </table>
</section>
