<div class="presupuestos">
    <div class="container">

      <h3>Mis <span class="hightlight">presupuestos</span></h3>

      <div class="tab-content">
        {% for MES in CALENDARIO %}
            <div id="section{{ loop.index }}_else" class="tab-pane fade {% if loop.revindex0 == 1 %} in active {% endif %}">
              <div class="content-title-calendar">
                <div>
                  {% if loop.last or loop.revindex0 == 1 %}
                    Total de gastos previstos <span class="hightlight">{{ MES.TOTAL_PRESUPUESTADO }}€</span>
                  {% else %}
                    Gasto total <span class="hightlight">{{ MES.TOTAL_GASTADO }}€</span> de <span>{{ MES.TOTAL_PRESUPUESTADO }}€</span> presupuestado
                  {% endif %}
                </div>
                <div class="show_calendar">
                  {% if loop.last == 1 %}
                    Previsión de presupuesto futuro
                  {% elif loop.revindex0 != 1 %}
                    Presupuesto pasado
                  {% endif %}
                  <a class="calendary-interaction">{{ MES.MES_COMPLETO }} <i class="icon-calendar-new"></i></a>
                </div>
              </div>
          </div>
        {% endfor %}
      </div>

      <ul class="nav nav-tabs calendary slideup">
        {% for MES in CALENDARIO %}
          {% if MES.LBL_MES == "ENE" %}
            <li><span data-toggle="tab">2015</span></li>
          {% endif %}
          <li class="{% if loop.last %} future {% endif %} {% if loop.revindex0 == 1 %} active {% endif %}">
            <a data-toggle="tab" href="#section{{ loop.index }}" data-target="#section{{ loop.index }}, #section{{ loop.index }}_else, #section{{ loop.index }}_bar">{{ MES.LBL_MES }}</a>
            {% if MES.MODIFICADO %}
              <div class="modificado"></div>
            {% endif %}
            <div class="muesca"></div>
            <div class="muesca"></div>
          </li>
        {% endfor %}
      </ul>


      <div class="tab-content">
        {% for MES in CALENDARIO %}
          <div id="section{{ loop.index }}_bar" class="progress-bar-content tab-pane fade {% if loop.revindex0 == 1 %} in active {% endif %} {% if loop.last %} hidden {% endif %}">
            {% if MES.TOTAL_PORCENTAJE <= 100 %}
              {% if MES.TOTAL_PORCENTAJE == 100 %}
                <span class="triangulo_izq full"></span>
              {% endif %}
              <div class="progress border-radius-less">
                <div class="progress-bar border-radius-less" role="progressbar" aria-valuenow="{{ MES.TOTAL_PORCENTAJE }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ MES.TOTAL_PORCENTAJE }}%"></div>
                {% if MES.TOTAL_PORCENTAJE > 0 and MES.TOTAL_PORCENTAJE != 100 %}
                  <span class="triangulo_izq"></span>
                {% endif %}
                <div class="bar-text-container right" style="{% if MES.TOTAL_PORCENTAJE <= 100 and MES.TOTAL_PORCENTAJE > 85 %} position: absolute; margin-left: {{ 101 - MES.TOTAL_PORCENTAJE }}% {% endif %}">
                  <span class="bar-spent">Gastado </span><span class="bar-money-spent">{{ MES.TOTAL_GASTADO }}€</span>
                </div>
              </div>
            {% else %}
              {% if (MES.TOTAL_PORCENTAJE - 200) >= 0 %}
                {% set value = 0 %}
                {% set width = 100 %}
              {% else %}
                {% set value = (200 - MES.TOTAL_PORCENTAJE) %}
                {% set width = (MES.TOTAL_PORCENTAJE - 100) %}
              {% endif %}
              <span class="triangulo_izq-overload"></span>
              <div class="progress over-loaded border-radius-less">
                <div class="progress-bar border-radius-less" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%"></div>
              </div>
              {% if value > 15 %}
                <div class="line-text-container">
                  <div class="dotted-line" style="width: {{ width }}%"></div>
                  <div class="bar-text-container dark">
                    <span class="bar-spent">Gastado </span><span class="bar-money-spent">{{ MES.TOTAL_GASTADO }}€</span>
                  </div>
                </div>

              {% else %}
                <div class="dotted-line-right" style="width: {{ 100 - width }}%"></div>
                <div class="bar-text-container-right dark">
                  <i class="icon-warning warning"></i><span class="bar-spent">Gastado </span><span class="bar-money-spent">{{ MES.TOTAL_GASTADO }}€</span>
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="tab-content">
        {% for MES in CALENDARIO %}
          <div id="section{{ loop.index }}" class="targets tab-pane fade {% if loop.revindex0 == 1 %} in active {% endif %}">
            {% set parentloop = loop %}
            {% for PRESUPUESTO in MES.PRESUPUESTOS %}
              <div class="col-xs-4">
                {% if parentloop.last %}
                  <div class="target-presupuesto target-future flip-container">
                    <div class="flipper">
                      <div class="info-general front">
                        <div class="container-icon"><div class="img-circle"><i class="{{ PRESUPUESTO.ICONO }}"></i></div></div>
                        <div class="info">
                          <h5>{{ PRESUPUESTO.TITLE }}</h5>
                          <div>
                            <span class="value value{{loop.index~parentloop.index}}">{{ PRESUPUESTO.PREVISTO }}</span>,<span class="decimal decimal{{loop.index~parentloop.index}}">00</span> €
                          </div>
                        </div>
                        <div class="modify"><i data-id="{{loop.index~parentloop.index}}" class="icon-edit"></i></div>
                      </div>
                      <div class="info-general back">
                          <div class="info modify-info">Ajuste manual<br />para este mes.</div>
                          <div class="info modify-data">
                            <label for="my-input{{loop.index~parentloop.index}}" class="label-input" id="label-input{{loop.index~parentloop.index}}">
                              <span class="value value{{loop.index~parentloop.index}}">{{ PRESUPUESTO.PREVISTO }}</span>,<span class="decimal decimal{{loop.index~parentloop.index}}">00</span>
                            </label>
                            <input id="init-value{{loop.index~parentloop.index}}" type="hidden" name="name" value="{{ PRESUPUESTO.PREVISTO }}"/>
                            <input class="my-input" data-id="{{loop.index~parentloop.index}}" id="my-input{{loop.index~parentloop.index}}" type="text" name="name" value="" data-inputmask="'alias': 'numeric', 'digits': 2, 'digitsOptional': false, 'groupSeparator': '.', 'radixPoint': ',', 'autoGroup': true" />

                            <span class="euro-label">€</span>

                          </div>
                          <div class="modify"><i class="icon-check-circle check-future"></i></div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <a href="javascript:void(0);" class="target-presupuesto">
                    <div class="info-general">
                      <div class="container-icon"><div class="img-circle"><i class="{{ PRESUPUESTO.ICONO }}"></i></div></div>
                      <div class="info"><h5>{{ PRESUPUESTO.TITLE }}</h5><div class="value"><span class="number">{{ PRESUPUESTO.PREVISTO }}</span><span class="decimal">,00</span><span class="euro-label">€</span></div></div>
                    </div>
                    <div class="data-progress">
                      {% if PRESUPUESTO.PORCENTAJE <= 100 %}
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ PRESUPUESTO.PORCENTAJE }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ PRESUPUESTO.PORCENTAJE }}%"></div>
                          {% if PRESUPUESTO.PORCENTAJE > 0 %}
                            <span class="triangulo_izq"></span>
                          {% endif %}
                        </div>
                      {% else %}
                        {% if (PRESUPUESTO.PORCENTAJE - 200) >= 0 %}
                          {% set value = 0 %}
                          {% set width = 100 %}
                        {% else %}
                          {% set value = (200 - PRESUPUESTO.PORCENTAJE) %}
                          {% set width = (PRESUPUESTO.PORCENTAJE - 100) %}
                        {% endif %}
                        <div class="progress over-loaded">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%"></div>
                        </div>
                        <div class="line-container">
                          <div class="dotted-line" style="width: {{ width }}%"></div>
                        </div>
                        <div class="bar-text-container">
                          <div class="value"><strong><span class="number">{{ PRESUPUESTO.DIFERENCIA }}</span><span class="decimal">,00</span><span class="euro-label">€</span></strong></div>
                        </div>
                      {% endif %}
                      <div class="value"><strong><span class="number">{{ PRESUPUESTO.GASTADO }}</span><span class="decimal">,00</span><span class="euro-label">€</span></strong></div>
                    </div>
                  </a>
                {% endif %}
              </div>
            {% endfor %}
            {% if loop.revindex0 == 1 %}
              <div class="col-xs-4">
                <a href="javascript:void(0);" class="target-presupuesto new-presupuesto">
                  <div class="info-general">
                    <div class="img-circle"><i class="icon-cross-white"></i></div>
                    <h4>DOMICILIAR RECIBO</h4>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

    </div>

</div>
