<div class="presupuestos empty">
    <div class="container">

      <h3>Mis <span class="hightlight">presupuestos</span></h3>

      <div class="content-title-calendar">Aún no has asociado ningún recibo a tu cuenta <span class="coinc">COINC</span></div>

      <table class="no-presupuestos">
        <tr>
          <td>
            <i class="icon-files-add"></i>
          </td>
          <td>
            Puedes seguir tus gastos de forma sencilla en COINC. Solo tienes que indicar tu nº de cuenta <strong>ES88 8888 8888 88 8888888888</strong> a tus proveedores y traer tus recibos de forma gratuita.
          </td>
        </tr>
      </table>

    </div>
</div>
