<form class="sms-verify">
	<div class="box__dashed-line box__desktop box__sms">
		<article class="card-info">
			<h1>Carolina Mendez Garcia</h1>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-4">
					<p class="type">Tarjeta</p>
					<p class="value">Visa BP</p>
				</div>
				<div class="col-xs-8 col-sm-5">
					<p class="type">Número de tarjeta</p>
					<p class="value">**** ***** **** 5469</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<p class="type">Fecha Caducidad</p>
					<p class="value">02/18</p>
				</div>
			</div>
		</article>
		<div class="box__dashed-line box__tablet sms-info">
			<div class="row">
				<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
					<p>Introduce el código de 6 dígitos enviado  por SMS a tu móvil</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
					<div class="form-group">
						<label for="code">Código de seguridad</label>
						<input type="text" class="form-control" id="code">
					</div>
				</div>
				<div class="col-xs-12 sms-buttons visible-xs visible-sm text-center">
					<button type="submit" class="btn btn__green btn__accept"><span>Aceptar</span></button>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="#">Si no ha llegado el SMS</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row sms-buttons">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 text-center">
			<button class="btn btn__white btn__close"><span>Cerrar</span></button>
		</div>
		<div class="col-xs-6 hidden-xs hidden-sm">
			<button type="submit" class="btn btn__green btn__accept"><span>Aceptar</span></button>
		</div>
	</div>
</form>