<div class="box__dashed-line box__desktop box__sms">
	<article class="card-info">
		<h1>Carolina Mendez Garcia</h1>
		<div class="row">
			<div class="col-xs-3">
				<p class="type">Tarjeta</p>
				<p class="value">Visa BP</p>
			</div>
			<div class="col-xs-5">
				<p class="type">Número de tarjeta</p>
				<p class="value">**** ***** **** 5469</p>
			</div>
			<div class="col-xs-4">
				<p class="type">Fecha Caducidad</p>
				<p class="value">02/18</p>
			</div>
		</div>
	</article>
	<form class="box__dashed-line box__tablet">
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4 text-center">
				<p>Introduce el código de 6 dígitos enviado  por SMS a tu móvil</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<div class="form-group">
					<label for="code">Código de seguridad</label>
					<input type="text" class="form-control" id="code">
				</div>
			</div>
			<div class="col-xs-4">
				<a href="#">Si no ha llegado el SMS</a>
			</div>
		</div>
	</form>
</div>