.form-control {
    height: 44px;
    cursor: text;
    padding: 18px 24px 0;
    &, &:focus {
        border-color: $green500;
        box-shadow: none;
    }
    @media(max-width: $screen-sm-max) {
        padding: 18px 18px 0;
    }
}
.form-group {
    margin-bottom: 17px;

    @keyframes active {
        from {
            @include unactivateLabelForm();
        }
        to {
            @include activateLabelForm();
        }
    }
    @keyframes unactive {
        from {
            @include activateLabelForm();
        }
        to {
            @include unactivateLabelForm();
        }
    }
    label {
        @include unactivateLabelForm();
        position: absolute;
        padding: 0 24px;
        cursor: text;
        margin: 0;
        animation-name: unactive;
        animation-duration: 0.2s;
        &.active {
            @include activateLabelForm();
            animation-name: active;
            animation-duration: 0.2s;
        }
        @media(max-width: $screen-sm-max) {
            padding: 0px 18px;
        }
    }
}