<form novalidate="novalidate" style="display:none;" id="j_id4358357_214999bb" name="j_id4358357_214999bb" method="post" action="/coinc/contacta-con-nosotros" enctype="application/x-www-form-urlencoded">
  <footer>
    <div class="container">
      <div class="row hidden-xs pre-footer">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <p>QUÉ ES COINC</p>
          <ul>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-ahorrar-mas-rapido">Cómo llegar a tu meta más rápido
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/tu-dinero-siempre-disponible">Cuando quieras tu dinero
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-funciona-coinc">Tutorial
          </a>

            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/preguntas-frecuentes">Preguntas frecuentes
          </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <p>DESCUENTOS EN COMERCIOS</p>
          <ul>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-funciona-el-club-de-ahorradores">Cómo funciona
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-acceder-al-club-de-ahorradores">Cómo acceder al club
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/cheque-regalo-amazon">Cheque regalo de Amazon.es
          </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <p>COMPARTE TUS METAS</p>
          <ul>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/que-es-una-meta-coinc">Metas
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-comparto-una-meta">Compartir una meta
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/donde-puedo-compartir-una-meta">Dónde compartir una meta
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/como-crear-un-bote-comun-o-meta-colectiva">Hacer un bote común
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/participar-en-un-bote-comun-o-meta-colectiva">Participar en un bote común
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/administrar-un-bote-comun-o-meta-colectiva">Administrar un bote común
          </a>
            </li>
            <li>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/seguir-el-progreso-del-bote-comun-o-meta-colectiva">Seguir el progreso del bote común
        </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-lg-3-link">
          <div class="pull-right">
            <p>
              <a href="/coinc/contacta-con-nosotros" class="btn-block footer-link">CONTACTO</a>
            </p>
            <p>
              <a target="_blank" href="https://ahorrador.int.bankinter.bk/web/coinc/sala-de-prensa" class="btn-block footer-link">PRENSA</a>
            </p>
            <ul class="social">
              <li class="pull-left">
                <a class="blog" href="https://blog.coinc.es"></a>
              </li>
              <li class="pull-left">
                <a class="facebook" href="https://www.facebook.com/COINC.ES"></a>
              </li>
              <li class="pull-left">
                <a class="twitter" href="https://twitter.com/coinc_es"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row hidden-lg hidden-md visible-sm hidden-xs pre-footer">
        <ul class="social">
          <li class="pull-left">
            <a class="blog" href="https://blog.coinc.es"></a>
          </li>
          <li class="pull-left">
            <a class="facebook" href="https://www.facebook.com/COINC.ES"></a>
          </li>
          <li class="pull-left">
            <a class="twitter" href="https://twitter.com/coinc_es"></a>
          </li>
        </ul>
      </div>


      <div class="row dotted">
        <div class="copyright">
          <ul class="pull-left">
            <li class="copy hidden-xs">© COINC. Todos los derechos reservados.</li>
            <li class="hidden-xs">I</li>
            <li>
              <a target="_blank" href="/coinc/aviso-legal">Legal
            </a>
            </li>
          </ul>
        </div>


        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 pull-right">
          <a target="_blank" href="#" class="navbar-brand-50 pull-right"></a>
        </div>
      </div>
    </div>
  </footer><input type="hidden" name="j_id4358357_214999bb_SUBMIT" value="1" /><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="XUZF9atRZzkcFwrW3KGn3yMQ2aNRlnMwVMME+EmgbFKy2wIqHlywI10Cm4haxNAikOArB0WGL03trqFOBc8fvnL5ZvPmiFrmu8rZAeVOtnEQzbPrVcnnH6dw1jbN5pxeGmQA6+CBISbLYPsJOVmxzdfEux1IcRHbyw6LEg=="
  />
</form>
