<div class="module-inner-content receipt-detail-content">

  <div class="top-container">

    <div class="text-container">
      {% if MOVIMIENTO.IMAGE %}
      <span class="img">
        <img src="{{ MOVIMIENTO.IMAGE }}" />
      </span>
      {% endif %}
      <span class="title">
        {{ MOVIMIENTO.TEXT }}
        {% if MOVIMIENTO.SUBTEXT %}
          <span class="subtitle">
            {{ MOVIMIENTO.SUBTEXT }}
          </span>
        {% endif %}
      </span>
    </div>

  </div>

  <div class="info-container">
    <div class="info-heading-detail">
      <span class="date">{{ MOVIMIENTO.DATE }}</span>
      <span class="amount{% if MOVIMIENTO.GASTO %} expense{% endif %}">
        <span class="">{{ MOVIMIENTO.NUMBER }},</span><span class="decimal">{{ MOVIMIENTO.DECIMAL }}€</span>
      </span>
    </div>
    <div class="info-detail">
      <span>{{ MOVIMIENTO.DETALLE1 }}</span>
      <span>{{ MOVIMIENTO.DETALLE2 }}</span>
      <span>{{ MOVIMIENTO.DETALLE3 }}</span>
    </div>
  </div>

  {% if MOVIMIENTO.GASTO %}
  <div class="bottom-container">
    <div class="buttons-group">
      <button class="btn btn-default pull-right">Financiar</button>
    </div>
  </div>
  {% endif %}

</div>
