.user-prompt-wrapper {
  .user-prompt-content {
    padding-right: 30px;
  }
  .avatar-group {
    top: -13px;
    .avatar-decorator {
      display: none;
    }
    .avatar-image {
      margin-left: 0;
      border-width: 2px;
      width: 37px;
      height: 37px;
      background-color: $white;
      position: relative;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
