.msg,
.support-msg{
	position: relative;
	margin-top: 5px;

	.icon-container{
		position: absolute;
		top: -6px;
		margin: 0;
		padding: 0;

		.icon-support-team {
			@include border-radius(39px);
			margin: 0;
			padding: 0;
			z-index: 10;
			background: $white url(../images/support-team.png) no-repeat scroll center bottom;
			height: 37px;
			width: 37px;
			border: 1px solid $black;
			border-width: 2px;
			display: block;
		}
	}

	.content{
		@include border-radius(8px);
		margin: 0;
		z-index: 5;
		background-color:$orange200;
		margin-top:6px;
		padding: 8px 29px 14px 50px;

		.title{
			margin: 0;
			padding: 0;
			font-family: $font;
			color: $black;
			font-size: 15px;
	    line-height: 1.2;
	    font-weight: 600;
	    padding-top: 7px;
		}
		.text{
			margin: 0;
			padding: 0;
	    font-family: $fontLight;
			color: $black;
			font-weight: normal;
			font-size: 15px;
	    padding-top: 9px;
	    letter-spacing: normal;
	    line-height: 1.2;
		}
	}
}

.support-msg{
	.icon-container{
		right: 0;
	}

	.content{
		padding: 18px 26px 14px 26px;

		.sms-request-wrapper{
			margin-top: 8px;
			overflow: visible;

			.contact-button{
				@include background-gradient-vertical($contact-brown-400, $contact-brown-600);
				margin-top: 14px;
				padding: 0 19px 0 18px;
			}

			a{
				text-decoration: none;

				span{
					color: $black;
					padding-left: 6px;
					font-size: 13px;
					letter-spacing: -0.5px;
					text-decoration: underline;
				}

				.sms-request-ico{
					background: transparent url(../images/sms.png) no-repeat scroll 0 0;
					display: inline-block;
					width: 11px;
					height: 11px;
					margin-left: 16px;
				}
			}
		}

		.addons{
			@include border-radius(8px);
			border: 1px solid $contact-gray-300;
			background-color: $white;
			margin-top: 20px;

			.addon-wrapper{
				position: relative;
				margin-bottom: 4px;
				min-height: 65px;
				.addon-ico{
					background: transparent url(../images/addon-ico.png) no-repeat scroll 0 0;
					display: inline-block;
					height: 42px;
					width: 29px;
					vertical-align: top;
					margin: 11px 14px;
					position: absolute;
					left: 0;
				}

				.element{
			    width: 100%;
					padding-left: 60px;
					padding-right: 5px;
					display: inline-block;
					vertical-align: top;

					.name{
						display: block;
	    			font-family: $font;
						font-size: 15px;
						font-weight: bold;
						color: $grey200;
						padding: 13px 0 0 1px;
						letter-spacing: 0.4px;
				    overflow: hidden;
    				text-overflow: ellipsis;
					}
					.description{
						display: block;
						font-size: 14px;
						color: $gray600;
						letter-spacing: 0.2px;
					}
				}
			}
		}

		.timestamp-group{
			padding: 25px 0 0 0;
			margin-bottom: 20px;

			label{
				font-family: $font;
				font-size: 13px;
				color:$contact-blue-400;
				margin-top: 1px;
				letter-spacing: normal;
				padding: 0;
			}

			.date-text{
				font-family: $fontBold;
				letter-spacing: normal;
				font-weight: bold;
				padding-left: 6px;
				letter-spacing: normal;
			}
		}

		.submit-button-support-msg{
			position: relative;
			height: 10px;

			.contact-button-wrapper{
				position: absolute;
				top: -24px;
				right: 0;

				.contact-button{
					@include background-gradient-vertical($contact-green-400, $contact-green-600);
					margin-top: 0;
					margin-left: 0;
					padding: 0 35px 0 20px;
				}
			}
		}
	}
}

.user-prompt-wrapper{
	position: relative;

	.avatar-group{
		position: absolute;
		top: 0;
		left: 0;

		.avatar-image{
			@include border-radius(32px);
			border: 7px solid $black;
			width: 64px;
			height: 64px;
			margin-left: 3px;
		}

		.avatar-decorator{
			@include border-radius(2px);
			border: 4px solid $black;
			width: 62px;
			height: 7px;
			display: block;
			position: absolute;
			top: 57px;
			left: 4px;
		}
	}

	.user-prompt-content{
		@include border-radius(8px);
		@include box-shadow-mixin(2px, 2px, 2px);
		margin: 30px 0 0 85px;
		padding: 30px;
		background-color: $contact-brown-100;

		label{
			color:$black;
			font-weight: normal;
			padding: 0;
			margin: 0;
			font-size: 13.5px;
			letter-spacing: 0.1px;
			margin-top: 14px;
		}

		select{
			 height: 30px;
			 margin-top: 1px;
			 display: block;
			 background-color: $white;
			 color: $contact-green-500;
			 width: 391px;
		}

		.line-input{
			display: block;
			height: 30px;
			width: 391px;
			padding: 0 5px;
			font-size: 14px;
		}

		.form-line {
			margin-bottom: 15px;
		}

		.name-group{
			@include dialog-placeholder(14px, $contact-brown-300, 0, 0);

			.line-input{
				margin-top: 10px;
			}
		}

		.username-group{
			@include dialog-placeholder(14px, $contact-brown-300, 0, 0);

			label{
				margin-top: 12px;
			}

			.line-input{
				margin-top: 2px;
			}
		}

		.email-group{
			@include dialog-placeholder(14px, $contact-brown-300, 0, 0);

			label{
				margin-top: 10px;
			}

			.line-input{
				margin-top: 2px;
			}
		}

		.related-group{
			label{
				margin-top: 8px;
			}

			select{
				margin-top: 2px;
			}
		}

		.inputs-border{
			@include border-radius(1px);
			border: 1px solid $contact-brown-200;
		}

		.textarea-group{
			margin: 0;
			padding: 0;

			@include dialog-placeholder(14px, $contact-brown-300, 0, 0);

			textarea{
				width: 100%;
				margin-top: 2px;
				padding: 4px 5px;
				font-size: 14px;
				resize: none;
			}
		 }

		.input-file-group{
			margin: 13px 0 0 1px;
			display: inline-block;

			.input-file-hidden{
				display: none;
			}

			.input-file-icon{
				background: transparent url(../images/file-input.png) no-repeat scroll 0 0;
				width: 27px;
				height: 27px;
				display: inline-block;
				cursor: pointer;
				margin: 0;
			}

			.input-file-text{
				cursor: pointer;
				margin-top: 4px;
				margin-left: 3px;
				vertical-align: top;
				letter-spacing: 0;
				text-decoration: underline;
			}
		}

		.radio-group{
			float: right;
			margin-top: 4px;
		}

		.left-radio-group{
			margin-top: 4px;
		}

		.radio-group,
		.left-radio-group{
			label {
				display: inline-block;
				cursor: pointer;
				position: relative;
				font-size: 13px;
			  letter-spacing: normal;
				padding-top: 2px;
				padding-left: 30px;
			  vertical-align: middle;
			  line-height: 1.2;
			  margin-top: 10px;
			}
			input[type=radio] {
				display: none;
			}
			label:before {
				@include border-radius(10px);
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 14px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 1px;
				background-color: $contact-brown-400;
				box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
			}
			input[type=radio]:checked + label:before {
					content: "\2022";
					text-align: center;
					color: $black;
					font-size: 35px;
					line-height: 18px;
					padding-top: 1px;
					padding-left: 0.5px;
			}

			a{
				color: $black;
				text-decoration: underline;
			}
		}

		.submit-button-subscribe{
			position: relative;
			height: 11px;

			.contact-button-wrapper{
				position: absolute;
				top: -24px;
				right: 0;

				.contact-button{
					right: 27px;
				}
			}
		}

		.ack-target{
			padding-top: 1px;

			.title-part-1{
				display: inline-block;
			}

			.title-part-2{
				display: inline-block;
				font-weight: bold;
			}

			.target-text{
				padding-top: 0;
			}

			.timestamp-group{
				margin-bottom: -20px;
				padding: 0;

				label{
					font-size: 14px;
					color:$contact-blue-400;
					letter-spacing: normal;
					padding: 0;
				}

				.date-text{
					font-weight: bold;
					padding-left: 6px;
					letter-spacing: normal;
				}
			}
		}

		.sms{
			padding-top: 13px;

			.title{
				display: block;
				font-size: 14px;
			}

			label{
				margin: 0;
			}

			.phone-input{
				height: 30px;
				width: 230px;
				margin-top: 4px;
				padding: 10px 5px;
				font-size: 14px;
			}

			a{
				display: inline-block;
				padding: 9px 0 0 19px;
				font-size: 13px;
				vertical-align: top;
				color: $black;
				text-decoration: none;
			}

			.question-ico{
				background: transparent url(../images/question-mark.png) no-repeat scroll 0 0;
				width: 21px;
				height: 21px;
				display: inline-block;
				vertical-align: top;

			}

			.text{
				margin: 1px 0 0 4px;
				letter-spacing: 0;
				text-decoration: underline;
			}

			.feedback{
				font-size: 15px;
				margin-top: 5px;
				display: inline-block;
				color: $colorTimeWarning;
			}

			.contact-button-wrapper{
				position: relative;
				margin-top: 14px;

				.contact-button{
					@include background-gradient-vertical($contact-green-400, $contact-green-600);
					padding: 0 49px 0 39px;
					float: right;
				}

				.contact-button-arrow-icon{
					right: 29px;
				}
			}

		}

		.send-message-form{
			.contact-button-wrapper{
				position: relative;
				margin-top: 20px;

				.contact-button{
					@include background-gradient-vertical($contact-green-400, $contact-green-600);
					@include box-shadow-mixin(0px, -3px, 2px, rgba(0, 0, 0, 0.4), inset);
					padding: 0 49px 0 39px;
					float: right;
				}

				.contact-button-arrow-icon{
					right: 29px;
				}
			}
		}
	}

	.user-prompt-after-content{
		margin-left: 85px;

		.ack-msg{
			position: relative;
			margin-top: 18px;
			display: inline-block;
			height: 29px;

			.icon-info{
				@include border-radius(17px);
				position: absolute;
				top: -3px;
		    left: -3px;
				background: $contact-blue-300 url(../images/info-ico.png) no-repeat scroll 0 0;
				width: 33px;
				height: 33px;
				border: 2px solid $white;
				display: inline-block;
				vertical-align: top;
				background-position: center;
			}

			.texts{
				@include border-radius(7px);
				background-color: $contact-blue-100;
				border: 1px solid transparent;
				margin: 0;
				display: inline-block;
				vertical-align: top;
		    padding: 7px 19px 7px 37px;

				label,
				span {
					color:$contact-blue-400;
					line-height: 18px;
					font-size: 13px;
					font-weight: normal;
					padding: 0;
					margin:0;
				}

				.text-part1{
					font-weight: bold;
				}
			}
		}
	}
}

.interests{
	overflow: hidden;

	.title{
		color: $contact-green-500;
		font-size: 16px;
		letter-spacing: 0.3px;
		font-weight: bold;
		margin: 15px 0 4px 0;
		display: block;
	}

	ul{
		margin: 0;

		li{
			display: block;
			font-weight: bold;
			font-size: 16px;
			border-bottom: 1px solid $contact-gray-350;
			padding: 15px 0 11px 0;
			width: 100%;


			a{
				color: $black;
				text-decoration: none;
			}
		}
	}
}

.call_us_wrapper{
	padding: 17px 0;

	a{
		text-decoration: none;

		.call_us_ico{
			background: transparent url(../images/call_us.png) no-repeat scroll 0 0;
			height: 15px;
			width: 19px;
			display: inline-block;
			margin: 10px 0 0 20px;
		}

		.text{
			text-decoration: underline;
			color: $black;
			padding: 6px 0 0 9px;
			letter-spacing: -0.87px;
			vertical-align: top;
			font-size: 15px;
			display: inline-block;
		}
	}
}

.msg-status-wrapper{
	height: 37px;
	.status-group {
		float: right;
	}
	.status-group,
	.status-group-v2 {
		.ball{
			@include border-radius(9px);
			display: inline-block;
			height: 17px;
			width: 17px;
			background-color: $contact-yellow-500;
			vertical-align: top;
			margin: 13px 3px;
		}

		label{
			color: $black;
			letter-spacing: -0.4px;
			margin: 13px 3px;
			padding: 0;
			vertical-align: top;
		}
	}
}

.links_wrapper_l1{
	@include border-radius(8px);
	box-shadow: inset 0 -1px 1px 0 $contact-gray-400, 0 3px 0 0 $contact-gray-300;
	overflow: auto;
	border: 1px solid $contact-gray-200;
	margin-top: 15px;

	ul{
		margin: 0;
	}

	.folder-ico{
		background: transparent url(../images/folder-ico.png) no-repeat scroll 0 0;
		display: inline-block;
		width: 16px;
		height: 11px;
	}

	.sms-ico{
		background: transparent url(../images/sms.png) no-repeat scroll 0 0;
		display: inline-block;
		width: 11px;
		height: 11px;

	}

	.clip-ico{
		background: transparent url(../images/clip.png) no-repeat scroll 0 0;
		display: inline-block;
		width: 10px;
		height: 13px;
		margin-left: 4px;
	}

	.element{
		padding-left: 8px;
	}

	li {
		display: block;
		width: 100%;

		a {
			@include transition-easy();
			color: $black;
			font-weight: bold;
			display: block;
			height: 60px;
			overflow: hidden;
			text-decoration: none;
			font-size: 11px;
			border-top: 1px dotted $contact-gray-250;
			padding: 24px 0;
			margin: 0 20px
		}

		&:first-child a {
			border-top: 0;
		}


		ul li a{
			@include transition-easy();
			height: 0;
			border-top: 0;
			padding: 0 11px;
			margin: 0;
			font-size: 13px;
			font-weight: normal;
		}

		&:hover {
			background-color: $contact-green-500;

			a{
				color: $white;
			}

			ul li{
				background-color: $contact-brown-50;

				a{
					@include transition-easy();
					height: 30px;
					color: $black;
					text-decoration: underline;
					padding: 10px 11px;
					font-size: 13px;
					font-weight: normal;
				}

				ul li a{
					@include transition-easy();
					height: 0;
					padding: 0 22px;
				}

				&:hover{
					ul li a{
						height: 35px;
						color: $black;
						text-decoration: underline;
						padding: 10px 22px;
					}
				}
			}
		}
	}
}

.contact-button-wrapper{
	overflow: auto;

	.contact-button{
		@include border-radius(15px);
		height: 35px;
		color: $white;
		cursor: pointer;
		font-size: 14px;
	}

	.contact-button-arrow-icon{
		background: transparent url(../images/arrow-right.png) no-repeat scroll 0 0;
		position: absolute;
		z-index: 10;
		height: 9px;
		width: 8px;
		right: 47px;
		top: 13px;
		right: 17px;
	}
}
