.modal-content {
  .user-ico {
    background-image: url("../images/support-team.png");
  }
  .popup-group {
    .popup-header {
      .login-header {
        text-align: center;
        .logo-coinc {
          position: relative;
          left: 0; 
        }
      }
    }
    .popup-content {
      .login {
        border-width: 3px;
        padding-left: 20px;
        padding-right: 20px;
        form {
          width: auto;
          label {
            font-weight: normal;
          }
          .input-data {
            border-color: $grey500;
          }
        }
        .later {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}
