.user-prompt-wrapper {
  .user-prompt-content {
    margin-left: 0;
    select,
    .line-input {
      width: 100%;
    }
    .sms {
      .phone-input {
        width: 100%;
      }
    }
    .radio-group {
      float: none;
    }
    .submit-button-subscribe {
      height: auto;
      .contact-button-wrapper {
        top: 0;
      }
    }
  }
  .user-prompt-after-content {
    margin-left: 0;
    .ack-msg {
      height: auto;
    }
  }
}
.support-msg {
  .content {
    .submit-button-support-msg {
      height: auto;
      text-align: right;
      .contact-button-wrapper {
        position: relative;
        top: 0;
      }
    }
  }
}
