.alerts-module-content {
  font-size: 13px;
  & > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top-alert-container {
    padding-top: 27px;
    padding-bottom: 20px;
    border-bottom: 2px solid $colorModBorder;
    height: 165px;
    & > div, .text-container > span {
      float: left;
      width: 100%;
    }

    .title {
      font-size: 17px;
      font-family: $fontBold;
    }
    .text {
      color: $colorModPenta;
      margin-top: 17px;
    }
    .header-table-container {
      color: $colorModPrimary;
      font-family: $fontBold;
      margin-top: 33px;
      & > div {
        display: inline-block;
      }
      .pull {
        width: 60%;
      }
      .app {
        margin-left: 13px;
      }
      .mail {
        margin-left: 28px;
      }
      .sms {
        float: right;
      }
    }
  }


  .body-container {
    padding-top: 16px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid $colorModBorder;
    .table-container {
      display: inline-block;
      .fila-alert {
        display: table;
        height: 26px;
        width: 100%;
        display: inline-block;
        & > div {
          display: inline-block;
          float: left;
        }
        .text-container {
          width: 63%;
          display: table;
          text-align: left;
          font-size: 12px;
          & > div {
            display: inline-block;
            vertical-align: middle;
          }
        }
        input {
          height: 20px;
          text-align: center;
          font-family: $fontBold;
          color: $colorModPrimary;
          padding-top: 2px;
        }
        .input-money {
          width: 34px;
        }
        .input-percent {
          width: 28px;
        }
        .checkbox-container {
          width: 34%;
          margin-left: 8px;
          .checkbox-content {
            float: left;
            width: 20px;
            height: 20px;
            background-color: $white;
            border: 1px solid $colorModBorder;
          }
          .checkbox-content:nth-child(n+2) {
            margin-left: 27%;
          }
        }
      }
    }
  }


  .top-container {
    height: 80px;
  }

  input[type="checkbox"] {
    display: none;
  }
  .label-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  input[type="checkbox"] + .label-checkbox {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="checkbox"]:checked + .label-checkbox {
    background: transparent url("../images/sprite.png") no-repeat scroll -312px -181px;
    padding: 4px 6px;
  }

}
