/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
html {
    background: $grey300;
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    background: $white;
    padding-bottom: 80px;
    @media(min-width: $screen-tablet) {
        max-width: $containerDesktop;
    }
    @media(max-width: $screen-xs-max) {
        min-width: $containerPhone;
    }
}
.container {
    padding-top: 35px;
}
a {
    &, &:hover, &:focus {
        color: $green500;
        font-size: 16px;
    }
}
// .container {
//     position: relative;
// }

// .container .navbar-header,
// .container .navbar-collapse {
//     margin-right: 0;
//     margin-left: 0;
// }
