/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
html {
    background: $grey300;
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    background: $white;
    padding-bottom: 80px;
    font-family: $fontCoinc;
    @media(max-width: $screen-xs-max) {
        min-width: $containerPhone;
    }
}
h1 {
    font-family: $fontCoinc;
}
.container {
    padding-top: 35px;
}
a {
    &, &:hover, &:focus {
        color: $green500;
        font-size: 16px;
    }
}
p {
    font-weight: $fontWeightLight;
    color: $black-800;
    letter-spacing: -1px;
    word-spacing: 2px;
}