.box__solid-line {
    @include border-radius(2px);
    border: 1px solid $green500;
}

.box__dashed-line {
    border: 1px dashed $grey600;
}

.box__desktop {
    @media(max-width: $screen-sm-max) {
        border: 0;
    }
}

.box__tablet{
    @media(max-width: $screen-xs-max), (min-width: $screen-desktop) {
        border: 0;
    }
}

.box__info {
    max-width: 410px;
    margin: 0 auto 21px;
    padding: 18px 40px;
    font-size: 18px;
    text-align: center;
    color: $black-800;
    @media(max-width: $screen-sm-max) {
        margin-bottom: 35px;
    }
}

.box__login {
    max-width: 630px;
    margin: 0 auto;
    padding: 43px 0 20px;
    @media(min-width: $screen-tablet) and (max-width: $screen-sm-max) {
        max-width: 492px;
        margin-top: 45px;
        padding-top: 56px;
        padding-bottom: 75px;
    }
    @media(max-width: $screen-xs-max) {
        padding-top: 0;
        padding-bottom: 5px;
        border: 0;
    }
}

.box__warning {
    max-width: 580px;
    margin: 0 auto;
    padding: 20px 15px 13px;
}

.box__sms {
    max-width: 900px;
    margin: 0 auto 34px;
    padding: 24px 0 5px;
    @media(max-width: $screen-sm-max) {
        margin-bottom: 46px;
    }
    @media(max-width: $screen-xs-max) {
        padding-top: 0;
        margin-bottom: 17px;
    }
}