.box__solid-line {
    @include border-radius(2px);
    border: 1px solid $green500;
}

.box__dashed-line {
    border: 1px dashed $grey600;
}

.box__desktop {
    @if($versionDesktop) {
        @media(max-width: $screen-sm-max) {
            border: 0;
        }
    }
    @if($versionPhone) {
        ,.box__tablet {
            border: 0;
        }
    }
}

@if($versionDesktop) {
    .box__tablet{
        @media (min-width: $screen-desktop) {
            border: 0;
        }
    }
}

.box__info {
    text-align: center;
    color: $black-800;
    @if($versionDesktop) {
        max-width: 410px;
        font-size: 18px;
        padding: 18px 40px;
        margin: 0 auto 21px;
        @media(max-width: $screen-sm-max) {
            margin-bottom: 35px;
        }
    }
    @if($versionPhone) {
        max-width: 325px;
        font-size: 16px;
        padding: 7px 18px;
        margin: 0 auto 20px;
    }
}

.box__login {
    max-width: 630px;
    margin: 0 auto;
    @if($versionDesktop) {
        padding: 43px 0 20px;
        @media(max-width: $screen-sm-max) {
            max-width: 492px;
            margin-top: 45px;
            padding-top: 56px;
            padding-bottom: 75px;
        }
    }
    @if($versionPhone) {
        padding: 0px 0 5px;
        border: 0;
    }
}

.box__warning {
    max-width: 580px;
    margin: 0 auto;
    padding: 20px 15px 13px;
}

.box__sms {
    max-width: 900px;
    @if($versionDesktop) {
        margin: 0 auto 34px;
        padding: 24px 0 5px;
        @media(max-width: $screen-sm-max) {
            margin-bottom: 46px;
        }
    }
    @if($versionPhone) {
        margin: 0 auto 11px;
        padding: 0 0 5px;
    }
}