flip-container, .front, .back {
  height: 100%;
}

.flip-container {
  border: 1px solid #ccc;
  @include css3-prefix(perspective, 1000px);
  &.hover {
    .front {
      @include css3-prefix(transform, rotateY(180deg));
    }
    .back {
      @include css3-prefix(transform, rotateY(0deg));
    }
  }
  .flipper {
    position: relative;
    height: 100%;
    @include css3-prefix(transition, 0.5s);
    @include css3-prefix(transform-style, preserve-3d);
  }
  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    @include css3-prefix(backface-visibility, hidden);
    @include css3-prefix(transition, 0.5s);
    @include css3-prefix(transform-style, preserve-3d);
    @include css3-prefix(transform, rotateY(0deg));
  }
  .front {
    background: $white;
    z-index: 2;
    @include css3-prefix(transform, rotateY(0deg));
  }

  .back {
    background: $white;
    @include css3-prefix(transform, rotateY(-180deg));
  }
}
