.detail-header {
  padding: 20px;
  background-color: $colorDetPrimary;

  .info-present {
    width: 100%;
    float: left;
    * {
      display: inline-block;
      float: left;
    }
    i {

    }
    .resume-text {
      .type {
      }
      .month {
      }
    }
    .price {
    }
    .coin {

    }
    .modify {

    }
  }
  .bar-container {
    float: left;
    width: 100%;
    @include progress-bar(24px, $colorDetSecond, $colorDetTer);
  }
}
