.detail-header {
  padding: 20px;
//  background-color:

  .info-present {
    width: 100%;
    float: left;
    * {
      display: inline-block;
      float: left;
    }
    i {

    }
    .resume-text {
      .type {
      }
      .month {
      }
    }
    .price {
    }
    .coin {

    }
    .modify {

    }
  }
}
