.detail-header {
  background-color: $colorDetPrimary;
  font-family: $fontBold;
  .section-header {
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    //display: none;
    @include transition(opacity 0.45s linear);
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.actived {
      opacity: 1;
      display: block;
      height: 390px;
      padding-top: 26px;
      padding-bottom: 50px;
    }

  }
  .modify > i {
    cursor: pointer;
    height: 20px;
    display: inline-block;
    &.edit-present {
      display: table-cell;
    }
    &.icon-return-circle, &.icon-return-circle-orange {
      height: 30px;
    }
  }
  .info-present {
    width: 100%;
    height: 20px;
    display: table;
    margin-bottom: 31px;
    & > div {
      vertical-align: bottom;
    }
    * {
      display: table-cell;
    }
    .icon-container {
        width: 0;
        vertical-align: middle;
        text-align: center;
        padding-right: 15px;
    }
    .resume-text {
      width: 10px;
      line-height: 21px;
      & > span {
        width: 100%;
        text-transform: uppercase;
        font-size: 18px;
      }
      .type {
        color: $colorDetSecond;
        float: left;
      }
      .month {
        color: $colorDetCuater;
      }
    }
    .money {
      width: 10px;
      padding-left: 5px;
      & > span {
        color: #FFF;
      }
      .price {
        font-size: 50px;
        line-height: 40px;
      }
      .decimal {
        font-size: 40px;
        vertical-align: bottom;
        line-height: 33px;
      }
      .coin {
        vertical-align: bottom;
        height: 100%;
        line-height: 16px;
        padding-bottom: 2px;
        padding-left: 4px;
        font-size: 20px;
      }
    }
    .modify {
      vertical-align: bottom;;
      text-align: right;
      height: 10px;
      padding-left: 16px;
      padding-bottom: 3px;
    }
  }
  .edit-present-container {
    position: absolute;
    width: $dimenDetLargeFull;
    top: 116px;
    &.slideup {
      @include slideup();
    }
    &.slidedown {
      @include slidedown(102px);
    }
    & > div {
      position: relative;
      float: left;
      width: 100%;
    }
    .triangle {
      width: 10px;
      margin-left: 30%;
      @include triangle(0, 10px, 10px, 10px, $colorDetBackground);
    }
    .box-container-edit, .box-container-return {
      background-color: $colorDetBackground;
      vertical-align: middle;
      display: table;
      height: 92px;
      padding-left: 20%;
      padding-right: 20%;
      color: $grey300;
      .hidden {
        display: none;
      }
      & > div {
        display: table-cell;
        vertical-align: middle;
      }
      .text-container {
        width: 245px;
        font-size: 18px;
        &.large {
            width: 302px;
            font-size: 14px;
            padding-right: 10px;
        }
      }
      .icon-container {
        text-align: right;
        padding-right: 50px;
      }
      .edit-text-container {
        text-align: right;
        width: 150px;
        padding-bottom: 10px;
        input {
          width: 120px;
          height: 28px;
          text-align: center;
          background-color: $colorDetBackground;
          color: $colorDetSecond;
          font-size: 20px;
          border-bottom: 1px solid $gray600;
          border-left: none;
          border-top: none;
          border-right: none;
          &:focus {
            outline-offset: 0;
            outline: none!important;
          }
        }
      }
      .return-text-container {
        width: 10px;
        padding-bottom: 5px;
        font-size: 30px;
        color: $colorDetSecond;
      }
      .coin-container {
        font-size: 13px;
        padding-top: 5px;
        padding-left: 5px;
      }
      i {
        display: inline-block;
        cursor: pointer;
      }

    }
  }
  .bar-container {
    float: left;
    width: 100%;
    @include progress-bar(42px, $colorDetSecond, $colorDetTer);
    .text-container {
      margin-top: 9px;
      font-family: $fontBold;
      font-size: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .right {
      float: right;
    }
    .line-container {
      width: $dimenDetBarLarge;
      float: right;
      .bar-text-container {
        margin-top: 9px;
        font-family: $fontBold;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
        display: table;
        & > div {
          display: table-cell;
          vertical-align: middle;
        }
        &.expected {
          padding-left: 10px;
        }
        .icon-container {
          padding-right: 10px;
          display: inline-block;
        }
      }
    }
    .dotted-line {
      float: left;
      border-right-style: dotted;
      border-right-color: $colorPresPrimary;
      background: transparent;
      height: 67px;
      margin-left: 2px;
      margin-top: -41px;
      border-right-width: 2px;
      &.right {
        float: right;
        border-left-width: 2px;
      }
    }
    .bar-text-container {
      & > div {
        float: left;
      }
      &.spent {
        float: right;
        color: $colorDetSecond;
        .secondary {
          color: $colorDetCuater;
        }
        &.right {
          margin-top: 5px;
          & > div {
            display: table-cell;
            float: none;
          }
        }
      }
      &.expected {
        float: left;
        color: $colorDetCuater;
        .secondary {
          color: $colorDetSecond;
        }
        &.right {
          float: right;
        }
      }
      .number {
        font-size: 20px;
      }
      .decimal {
        font-size: 14px;
      }
      .coin {
        font-size: 14px;
        margin-left: 3px;
      }
      .text {
        font-size: 14px;
        margin-left: 10px;
        font-family: $font;
        color: $colorDetSecond;
      }
    }
  }
  .bottom-content {
    float: left;
    width: 100%;
    margin-top: 50px;
    .flip-container {
      border: 0;
    }
    .info-future {
      display: table;
      color: $colorDetPenta;
      background-color: $colorDetPrimary;
      float: left;
      margin-top: 7px;
      & > div {
        display: table-cell;
      }
      .resume-text {
        float: left;
        line-height: 14px;
        padding-top: 2px;
        & > span {
          float: left;
          clear: both;
          text-transform: uppercase;
          font-size: 13px;
          margin-left: 2px;
        }
        .month {
          color: $colorDetCuater;
          margin-left: 3px;
        }
      }
      .money {
        float: left;
        .price {
          font-size: 34px;
          margin-left: 6px;
          line-height: 35px;
        }
        .coin {
          font-size: 14px;
        }
      }
      .modify {
        vertical-align: bottom;
        padding-bottom: 5px;
        padding-left: 12px;
        i {
          height: 20px;
        }
      }
      .modify-info {
        font-size: 13px;
        padding-left: 0;
      }
      .modify-data {
        vertical-align: middle;
        font-size: 13px;
        padding-left: 6px;
        text-align: center;
        & > label {
          padding: 0;
          margin: 0;
          font-size: 20px;
          color: $colorDetPenta;
        }
        & > input {
          width: 80px;
          height: 28px;
          text-align: center;
          font-size: 20px;
          border-bottom: 1px solid $gray600;
          border-left: none;
          border-top: none;
          border-right: none;
          display: none;
          background-color: transparent;
          color: $colorDetSecond;
          &:focus {
            outline-offset: 0;
            outline: none!important;
          }
        }
        .euro-label {
          height: 32px;
          vertical-align: bottom;
        }
      }
    }
    .plan-container {
      float: right;
      .btn-plan-container {
        background-color: transparent;
        border-radius: 0;
        color: $colorDetCuater;
        border: 1px solid $colorDetCuater;
        height: 42px;
        width: 250px;
        font-size: 14px;
        text-align: left;
        padding-left: 32px;
        @include transition(all 0.2s);
        @include border-radius(20px);
        i {
          margin-right: 12px;
        }
        span {
          vertical-align: middle;
          padding-top: 4px;
          padding-left: 2px;
          letter-spacing: 1px;
        }
        &:hover {
          border-color: transparent;
          background-color: $colorModButBack;
          color: $white;
        }
      }
    }
  }

  .info-container {
    margin-top: 38px;
    &.short {
      float: left;
      width: $dimenDetInfoWidth;
      .edit-present-container {
        width: $dimenDetInfoWidth;
      }
      .line-container {
        width: $dimenDetBarShort;
      }
      .box-container-edit {
        padding-left: 5%;
        padding-right: 5%;
        .icon-container {
          text-align: right;
          width: 50px;
        }
        .coin-container {
          width: 15px;
        }
      }
      .triangle-container .triangle {
        margin-left: 60%;
      }
    }
  }
  .hidden {
    display: none;
  }
  .tip-container {
    width: $dimenDetTipWidth;
    height: $dimenDetTipWidth;
    padding: 52px 40px;
    float: right;
    font-family: $font;
    background-color: $colorDetSecond;
    text-align: center;
    font-size: 20px;
    color: $colorDetCuater;
    & > div {
      float: left;
    }
    .title {
      width: 100%;
    }
    .title-bold {
      font-family: $fontBold;
    }
    .subtitle-container {
      margin-top: 36px;
      line-height: 30px;
      .text-big {
        font-size: 24px;
      }
      .number {
        font-size: 30px;
        font-family: $fontBold;
      }
    }
    .button-container {
      margin-top: 32px;
      width: 100%;
      button {
        height: 42px;
        width: 180px;
        color: $colorDetSecond;
        padding-top: 10px;
        @include border-radius(20px);
      }
    }
  }
  .warning {
    display: inline-block;
  }

}
