header {
    .container {
        padding: 0;
    }
    .header__logo {
        background: $black-900;
        @if($versionDesktop) {
            padding: 17px 23px;
            img {
                height: 32px;
            }
        }
        @if($versionPhone) {
            padding: 12px 23px;
            img {
                height: 25px;
            }
        }
    }
    .header__title {
        background: $green500;
        h1 {
            color: $white;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            @if($versionDesktop) {
                padding: 19px 0;
                font-size: 25px;
            }
            @if($versionPhone) {
                padding: 16px 0;
                font-size: 16px;
            }
        }
    }
}