//Margin-top
.mgt-5 {
	margin-top: 5px !important;
}
.mgt-10 {
	margin-top: 10px !important;
}
.mgt-15 {
	margin-top: 15px !important;
}
.mgt-20 {
	margin-top: 20px !important;
}
.mgt-25 {
	margin-top: 25px !important;
}
.mgt-30 {
	margin-top: 30px !important;
}
.mgt-35 {
	margin-top: 35px !important;
}
.mgt-40 {
	margin-top: 40px !important;
}
.mgt-45 {
	margin-top: 45px !important;
}
.mgt-50 {
	margin-top: 50px !important;
}
.mgt-55 {
	margin-top: 55px !important;
}
.mgt-60 {
	margin-top: 60px !important;
}
.mgt-65 {
	margin-top: 65px !important;
}
.mgt-70 {
	margin-top: 70px !important;
}
.mgt-85 {
	margin-top: 85px !important;
}
.mgt-90 {
	margin-top: 90px !important;
}

//Margin-button
.mgb-5 {
	margin-bottom: 5px !important;
}
.mgb-10 {
	margin-bottom: 10px !important;
}
.mgb-15 {
	margin-bottom: 15px !important;
}
.mgb-20 {
	margin-bottom: 20px !important;
}
.mgb-25 {
	margin-bottom: 25px !important;
}
.mgb-65 {
	margin-bottom: 65px !important;
}
.mgb-50 {
	margin-bottom: 50px !important;
}
.mgb-75 {
	margin-bottom: 75px !important;
}

//Margin-left
.mgl-10 {
	margin-left: 10px !important;
}


// margins-along (top-bottom)
.ma-50 {
    margin-top:     50px   !important;
    margin-bottom:  50px   !important;
}

// margins-wide (left-right)
.pw-0 {
    margin-right: 0 !important;
    margin-left:  0 !important;
}


//Padding-top
.pdt-5 {
	padding-top: 5px !important;
}
.pdt-10 {
	padding-top: 10px !important;
}
.pdt-15 {
	padding-top: 15px !important;
}
.pdt-20 {
	padding-top: 20px !important;
}
.pdt-25 {
	padding-top: 25px !important;
}
.pdt-35 {
	padding-top: 35px !important;
}
.pdt-40 {
	padding-top: 40px !important;
}
.pdt-50 {
	padding-top: 50px !important;
}
.pdt-55 {
	padding-top: 55px !important;
}
.pdt-65 {
	padding-top: 65px !important;
}
.pdt-80 {
	padding-top: 80px !important;
}
.pdt-85 {
	padding-top: 85px !important;
}
.pdt-90 {
	padding-top: 90px !important;
}

//Padding-button
.pdb-5 {
	padding-bottom: 5px !important;
}
.pdb-10 {
	padding-bottom: 10px !important;
}
.pdb-15 {
	padding-bottom: 15px !important;
}
.pdb-20 {
	padding-bottom: 20px !important;
}
.pdb-25 {
	padding-bottom: 25px !important;
}
.pdb-35 {
	padding-bottom: 35px !important;
}
.pdb-40 {
	padding-bottom: 40px !important;
}
.pdb-45 {
	padding-bottom: 45px !important;
}
.pdb-50 {
	padding-bottom: 50px !important;
}
.pdb-55 {
	padding-bottom: 55px !important;
}
.pdb-60 {
	padding-bottom: 60px !important;
}
.pdb-65 {
	padding-bottom: 65px !important;
}
.pdb-90 {
	padding-bottom: 90px !important;
}
.pdb-95 {
	padding-bottom: 95px !important;
}

// paddings-left
.pdl-25 {
	padding-left: 25px !important;
}


// paddings-along (top-bottom)
.pa-10 {
    padding-top:     10px   !important;
    padding-bottom:  10px   !important;
}
.pa-15 {
    padding-top:     15px   !important;
    padding-bottom:  15px   !important;
}
.pa-50 {
    padding-top:     50px   !important;
    padding-bottom:  50px   !important;
}

// paddings-wide (left-right)
.pw-0 {
    padding-right: 0 !important;
    padding-left:  0 !important;
}
