.box__login {
    form {
        width: 266px;
        margin: 0 auto;
    }
}
.info-form {
    font-weight: normal;
    text-align: center;
    @if($versionDesktop) {
        font-size: 22px;
        margin-bottom: 22px;
        @media(max-width: $screen-sm-max) {
            margin-bottom: 42px;
        }
    }
    @if($versionPhone) {
        font-size: 16px;
        margin-bottom: 23px;
    }
}