/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
html {
    background: $gre300;
}
body {
    margin: 0 auto;
    background: $white;
    @if $showDesktop {
        min-width: $containerDesktop;
        max-width: $containerDesktop;
    }
    @if $showPhone {
        min-width: $containerPhone;
        max-width: $containerPhone;
    }
}
.container {
    position: relative;
}

// .container .navbar-header,
// .container .navbar-collapse {
//     margin-right: 0;
//     margin-left: 0;
// }
