$colorNotifPrimary: rgb(18, 13, 14);

.zonaNotificaciones {
    .confirm-container {
        width: 100%;
        height: 16px;
        margin-top: 12px;
    }
    .botonera-selector {
        height: 50px;
        & > div {
            display: table;
            float: left;
            height: 100%;
        }
    }
    .dropdown-container {
        width: 35%;
    }
    .check-selection {
        width: 30%;
    }
    .dropdown-head {
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }
    .text-head {
        color: $colorNotifPrimary;
    }
}
