.pie-chart-container {
  float: left;
  .pie-chart {
    float: left;
    .chart {
      display: block;
      //width: 192px;
      //height: 192px;
      float: left;
      cursor: pointer;
    }
    .icons-container {
      position: relative;
      float: left;
      cursor: pointer;
      i {
        position: absolute;
      }
    }

    .chartData {
      display: none;
    }

  }
}
