.presupuestos {
  color: $grey300;
  font-family: $fontBold;
  .content-title-calendar {
    display: table;
    vertical-align: bottom;
    width: 100%;
    font-family: $fontLight;
    &>div {
      display: table-cell;
      &.show_calendar {
        font-family: $font;
        text-align: right;
        font-size: 13px;
        color: $colorPresPrimary;
        a {
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;
          color: $grey300;
          &:hover {
            color: $colorPresPrimary;
          }
        }
      }
    }
  }
  h3, .content-title-calendar {
    font-size: 28px;
    .hightlight {
      color: $colorPresPrimary;
      font-family: $fontBold;
    }
  }
  .content-title-calendar .title_calendar {
    font-family: $fontLight;
    strong {
      font-family: $fontBold;
    }
  }
  .target-presupuesto {
    border: 1px solid $grey950;
    background: $white;
    display: inherit;
    font-weight: bold;
    text-decoration: none;
    height: 215px;
    @include box-shadow (0, 1px, 0, $grey800);
    @include transition (border 0.2s);
    @include border-radius(3px);
    &.target-future {
      height: 85px;
      @include transition (height 3s);
      .info-general {
        border-bottom: none;
      }
    }
    .info-general {
      border-bottom: 1px solid $grey850;
      padding: 20px 15px;
      display: table;
      width: 100%;
      .info {
        padding-left: 12px;
        display: table-cell;
        vertical-align: middle;
        & > span {
          color: $grey300;
          font-size: 15px;
        }
        .value {
          color: $grey500;
          font-size: 20px;
          .decimal {
            font-size: 11px;
          }
        }
      }
      .img-circle {
        display: table-cell;
        background-color: $colorPresPrimary;
        height: 53px;
        width: 53px;
        position: relative;
        i {
          width: 50%;
          height: 50%;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
        }
      }
      .modify {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
      }
    }
    .data-progress {
      padding: 10px 15px 40px;
      .value {
        font-size: 30px;
        color: $grey300;
        text-align: right;
        .decimal {
          font-size: 15px;
        }
      }
      .progress {
        height: 8px;
        .triangulo_izq {
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          border-right: 4px solid $colorPresPrimary;
        }
        .progress-bar {
          background: $colorPresPrimary;
        }
      }
    }
    &:hover {
      text-decoration: none;
      border: 1px solid $colorPresPrimary;
    }
  }
  .progress-bar-content {
    height: 60px;
    .progress {
      height: 24px;
      &.closed {
        display: none;
      }
      &.open {
        display: block;
      }
      .progress-bar {
        background: $colorPresSecond;
      }
      .triangulo_izq {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: $colorPresSecond;
      }
      .bar-text-container {
        float: right;
        margin-right: 10px;
      }
      &.over-loaded {
        background: $colorPresPrimary;
        .progress-bar {
          background: $colorPresSecond;
        }
      }
    }
    .bar-text-container {
      display:inline-block;
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 10px;
      .bar-money-spent {
        color: $colorPresPrimary;
        font-size: 12px;
      }
      .bar-spent {
        color: $colorPresSecond;
        font-size: 12px;
      }
    }
    .triangulo_izq {
      border-bottom: 12px solid;
      border-top: 12px solid;
      border-right: 12px solid;
    }
    & > .triangulo_izq {
      float: left;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-right-color: $colorPresPrimary;
    }
    .dotted-line {
      float: left;
      border-right-style: dotted;
      border-right-color: $colorPresPrimary;
      background: transparent;
      height: 45px;
      margin-left: 13px;
      margin-top: -32px;
      border-right-width: 2px;
    }
  }
  
}
