.prestamo-detail-container {
  i {
    display: inline-block;
  }
  &.slideup {
    @include slideup();
  }
  &.slidedown {
    @include slidedown(500px);
    //overflow-y: auto;
  }
  .prestamo-detail-content {
    text-align: left;
    & > div {
      border-bottom: 1px solid $colorModBorder;
      padding-left: 20px;
      padding-right: 20px;
      display: table;
      width: 100%;
    }
    .top-container {
      height: 80px;
      padding-top: 29px;
      padding-left: 22px;
      padding-bottom: 18px;
      & > div {
        display: table-cell;
        vertical-align: middle;
      }
      .text-container {
        color: $colorModPrimary;
        width: 85%;
        padding-bottom: 10px;
        & > div, & > span {
          position: relative;
          width: 100%;
        }
        .title {
          font-size: 16px;
          font-family: $fontBold;
          width: 100%;
        }
      }
      & > .icon-container {
        float: right;
        margin-top: 1px;
        a {
          display: inline-block;
        }
      }
    }
    .element-container, .subelement-container, .element-container-alerts {
      height: 52px;
      font-size: 16px;
      padding-left: 22px;
      padding-right: 15px;
      cursor: pointer;
    }
    .element-container, .element-container-alerts {
      padding-top: 5px;
      & > div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }
      &.slideup {
        background-color: $colorModBack;
      }
      &.slidedown {
        background-color: $colorModSecond;
      }
      .icon-container {
        width: 6%;
        padding-right: 8px;
      }
      .name-container {
        width: 95%;
        .name {
          padding-left: 8px;
        }
      }
    }
    .subelement-container {
      display: block;
      border: 0;
      background-color: $colorModCuat;
      &.slideup {
        @include slideup();
        border: 0;
      }
      &.slidedown {
        @include slidedown(52px);
        border-bottom: 1px solid $colorModBorder;
      }
      .content {
        display: table;
        height: 100%;
        padding-left: 40px;
        & > div {
          display: table-cell;
          vertical-align: middle;
          height: 100%;
        }
      }
      .icon-container {
        width: 6%;
        padding-right: 8px;
      }
      .name-container {
        width: 95%;
        .name {
          padding-left: 8px;
        }
      }
    }
    .bottom-container {
      display: table;
      height: 80px;
      border: 0;
      & > div {
        display: table-cell;
        vertical-align: middle;
      }
      .prestamo {
        float: right;
      }
      .button-container {
        padding-top: 2px;
        padding-left: 2px;
      }
    }
  }
}
