.presupuestos {
  color: $grey300;
  font-family: $font;
  .content-title-calendar {
    display: table;
    vertical-align: bottom;
    width: 100%;
    font-family: $fontLight;
    &>div {
      display: table-cell;
      &.show_calendar {
        font-family: $font;
        text-align: right;
        font-size: 13px;
        color: $colorPresPrimary;
        a {
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;
          color: $grey300;
          i {
            margin-left: 7px;
          }
          &:hover {
            color: $colorPresPrimary;
          }
        }
      }
    }
  }
  h3, .content-title-calendar {
    font-size: 28px;
    span {
      font-family: $fontBold;
    }
    .hightlight {
      color: $colorPresPrimary;
      font-family: $fontBold;
    }
  }
  .content-title-calendar .title_calendar {
    font-family: $fontLight;
  }
  .target-presupuesto {
    border: 1px solid $grey950;
    background: $white;
    display: inherit;
    font-weight: bold;
    text-decoration: none;
    height: 215px;
    @include box-shadow (0, 1px, 0, $grey800);
    @include transition (border 0.2s);
    @include border-radius(3px);
    &.target-future {
      height: 85px;
      border: none;
      .info-general {
        border-bottom: none;
        padding: 15px;
      }
      &:hover {
        border: none;
      }
    }
    .info-general {
      border-bottom: 1px solid $grey850;
      padding: 20px 15px;
      display: table;
      width: 100%;
      &>div {
        display: table-cell;
      }
      .container-icon {
        width: 55px;
      }
      .info {
        padding-left: 12px;
        vertical-align: middle;
        font-size: 20px;
        color: $grey500;
        & > span {
          color: $grey300;
          font-size: 15px;
        }
        .value {
          font-size: 20px;
        }
        .decimal {
          font-size: 11px;
        }
      }
      .img-circle {
        background-color: $colorPresPrimary;
        height: 53px;
        width: 53px;
        position: relative;
        i {
          width: 50%;
          height: auto;
          top: 50%;
          margin: 0px auto;
          position: absolute;
          left: 50%;
          @include css3-prefix(transform, translate(-50%, -50%));
        }
      }
      .modify {
        vertical-align: middle;
        text-align: right;
      }
      .modify-info {
        font-size: 13px;
        padding-left: 0;
        color: $grey300;
      }
      .modify-data {
        vertical-align: middle;
        font-size: 13px;
        padding-left: 0;
        color: $grey300;
        text-align: center;
        label {
          color: $grey500;
          padding: 0;
          margin: 0;
          font-size: 20px;
        }
        input {
          width: 90px;
          text-align: center;
          color: $grey500;
          font-size: 20px;
          border-bottom: 1px solid $gray600;
          display: none;
        }
      }
    }
    .data-progress {
      padding: 10px 15px 40px;
      .value {
        font-size: 30px;
        color: $grey300;
        text-align: right;
        .decimal {
          font-size: 15px;
        }
      }
      .progress {
        height: 8px;
        .triangulo_izq {
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          border-right: 4px solid $colorPresPrimary;
        }
        .progress-bar {
          background: $colorPresPrimary;
        }
      }
    }
    &:hover {
      text-decoration: none;
      border: 1px solid $colorPresPrimary;
    }
  }
  .progress-bar-content {
    height: 50px;
    .progress {
      height: 24px;
      margin-bottom: 0px;
      &.closed {
        display: none;
      }
      &.open {
        display: block;
      }
      .progress-bar {
        background: $colorPresSecond;
      }
      .triangulo_izq {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: $colorPresSecond;
      }
      .bar-text-container {
        float: right;
        margin-right: 10px;
      }
      &.over-loaded {
        background: $colorPresPrimary;
        .progress-bar {
          background: $colorPresSecond;
        }
      }
    }
    .bar-text-container {
      display:inline-block;
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 10px;
      .bar-money-spent {
        color: $colorPresPrimary;
        font-family: $fontBold;
        font-size: 12px;
      }
      .bar-spent {
        color: $colorPresPrimary;
        font-family: $font;
        font-size: 12px;
      }
      &.dark {
        .bar-money-spent {
          color: $colorPresTer;
        }
        .bar-spent {
          color: $colorPresTer;
        }
      }
    }
    .bar-text-container-right {
      @extend .bar-text-container;
      float: right;
      margin-right: 10px;
    }
    .triangulo_izq {
      border-bottom: 12px solid;
      border-top: 12px solid;
      border-right: 12px solid;
    }
    & > .triangulo_izq {
      float: left;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-right-color: $colorPresPrimary;
    }
    .dotted-line {
      float: left;
      border-right-style: dotted;
      border-right-color: $colorPresPrimary;
      background: transparent;
      height: 45px;
      margin-left: 12px;
      margin-top: -24px;
      border-right-width: 2px;
    }
    .dotted-line-right {
      float: right;
      border-left-style: dotted;
      border-left-color: $colorPresPrimary;
      background: transparent;
      height: 45px;
      margin-top: -24px;
      border-left-width: 2px;
    }
  }
}
