.presupuestos {
  color: $grey300;
  font-family: $font;
  background-color: $gray990;
  a:focus {
    outline-offset: none;
    outline: none;
  }
  .targets > div {
    padding-bottom: 20px;
    &:nth-child(3n+1) {
      padding-left: 0;
    }
    &:nth-child(3n) {
      padding-right: 0;
    }
    &:nth-child(3n-1) {
      padding: 0 7px;
    }
  }
  .content-title-calendar {
    display: table;
    vertical-align: bottom;
    width: 100%;
    font-family: $fontLight;
    &>div {
      display: table-cell;
      &.show_calendar {
        font-family: $font;
        text-align: right;
        font-size: 13px;
        color: $colorPresPrimary;
        a {
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;
          color: $grey300;
          i {
            margin-left: 7px;
          }
          &:hover {
            color: $colorPresPrimary;
          }
        }
      }
    }
  }
  h3, .content-title-calendar {
    font-size: 28px;
    span {
      font-family: $fontBold;
    }
    span.coinc {
      font-size: 23px;
    }
    .hightlight {
      color: $colorPresPrimary;
      font-family: $fontBold;
    }
  }
  .content-title-calendar .title_calendar {
    font-family: $fontLight;
  }

  .target-presupuesto {
    border: 1px solid $grey950;
    border-bottom: 1px solid $grey800;
    background: $white;
    display: inherit;
    font-weight: bold;
    text-decoration: none;
    height: 215px;
    @include transition (border 0.2s);
    @include border-radius(3px);
    &.target-future {
      height: 85px;
      width: 276px;
      .info-general {
        border-bottom: none;
        padding: 15px;
      }
    }
    .info-general {
      border-bottom: 1px solid $grey850;
      padding: 20px 15px;
      display: table;
      width: 100%;
      &>div {
        display: table-cell;
      }
      .container-icon {
        width: 55px;
      }
      .info {
        padding-left: 12px;
        vertical-align: middle;
        font-size: 20px;
        color: $grey500;
        & > h5 {
          color: $grey300;
          font-size: 15px;
          font-weight: normal;
          font-family: $fontBold;
          margin: 0px;
          margin-top: 10px;
        }
        .value {
          font-size: 20px;
        }
        .decimal {
          font-size: 11px;
        }
      }
      .img-circle {
        background-color: $colorPresPrimary;
        height: 53px;
        width: 53px;
        position: relative;
        i {
          width: 50%;
          height: auto;
          top: 50%;
          margin: 0px auto;
          position: absolute;
          left: 50%;
          @include css3-prefix(transform, translate(-50%, -50%));
        }
      }
      .modify {
        vertical-align: middle;
        text-align: right;
      }
      .modify-info {
        font-size: 13px;
        padding-left: 0;
        color: $grey300;
      }
      .modify-data {
        vertical-align: middle;
        font-size: 13px;
        padding-left: 0;
        color: $grey300;
        text-align: center;
        label {
          color: $grey500;
          padding: 0;
          margin: 0;
          font-size: 20px;
        }
        input {
          width: 80px;
          height: 28px;
          text-align: center;
          color: $grey500;
          font-size: 20px;
          border-bottom: 1px solid $gray600;
          border-left: none;
          border-top: none;
          border-right: none;
          display: none;
        }
        .euro-label {
          height: 32px;
          vertical-align: bottom;
        }
      }
    }
    .data-progress {
      padding: 10px 20px 40px;
      @include progress-bar(8px, $colorPresPrimary, $colorPresTer);
      .value {
        display: inline-block;
        font-size: 30px;
        color: $grey300;
        text-align: right;
        float: right;
        margin-top: 15px;
        .decimal {
          font-size: 15px;
        }
      }
      .bar-text-container {
        position: absolute;
        .value {
          font-size: 16px;
          text-align: left;
          float: left;
          margin-top: 10px;
          .decimal {
            font-size: 7px;
          }
        }
      }
      .line-container {
        width: 100%;
        position: relative;
        .dotted-line {
          float: left;
          border-right-style: dotted;
          border-right-color: $colorPresTer;
          background: transparent;
          height: 8px;
          border-right-width: 2px;
          position: absolute;
        }
      }
    }
    &:hover {
      text-decoration: none;
      border: 1px solid $colorPresPrimary;
    }
    &.new-presupuesto {
      border: 1px dashed $grey700;
      display: table;
      width: 100%;
      .info-general {
        display: table-cell;
        vertical-align: middle;
        border: none;
        .img-circle {
          margin: 0 auto;
          display: block;
        }
        h4 {
          text-align: center;
          color: $colorPresPrimary;
          font-size: 14px;
        }
      }
    }
  }
  .progress-bar-content {
    height: 75px;
    @include progress-bar(24px, $colorPresSecond, $colorPresPrimary);
    .bar-text-container {
      display:inline-block;
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 10px;
      .warning {
        margin-right: 5px;
      }
      .bar-money-spent {
        color: $colorPresPrimary;
        font-family: $fontBold;
        font-size: 12px;
      }
      .bar-spent {
        color: $colorPresPrimary;
        font-family: $font;
        font-size: 12px;
      }
      &.dark {
        .bar-money-spent {
          color: $colorPresTer;
        }
        .bar-spent {
          color: $colorPresTer;
        }
      }
    }
    .bar-text-container-right {
      @extend .bar-text-container;
      float: right;
      margin-right: 10px;
    }
    .line-text-container {
      width: 908px;
      float: right;
    }
    .dotted-line {
      float: left;
      border-right-style: dotted;
      border-right-color: $colorPresPrimary;
      background: transparent;
      height: 45px;
      margin-left: 2px;
      margin-top: -24px;
      border-right-width: 2px;
    }
    .dotted-line-right {
      float: right;
      border-left-style: dotted;
      border-left-color: $colorPresPrimary;
      background: transparent;
      height: 45px;
      margin-top: -24px;
      border-left-width: 2px;
    }
  }

  table.no-presupuestos {
    border: 1px dashed $colorPresPrimary;
    border-collapse: collapse;
    color: $colorPresPrimary;
    height: 120px;
    margin-top: 40px;
    td {
      border: 1px dashed $colorPresPrimary;
      padding: 0 35px;
      line-height: 1.5;
      vertical-align: middle;
      &:hover {
        border: 1px solid $colorPresPrimary;
      }
    }
    &:hover {
      border: 1px solid $colorPresPrimary;
    }
  }

}
