.detail-proveedores {
  background-color: $colorDetBackTer;
  i {
    display: inline-block;
  }
  .proveedores-container {
    position: relative;
    padding-bottom: 46px;
    .proveedores-header {
      height: 83px;
      text-align: center;
      font-family: $fontBold;
      font-size: 14px;
      letter-spacing: 1px;
      color: $colorDetPrimary;
      margin-top: 52px;
      .icon-container {
        margin-bottom: 8px;
      }

      .dot-container {
        margin-top: 17px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 10px;
        visibility: visible;
        @include transition(opacity 0.45s linear, height 0.45s linear);
        &.ocult {
          opacity: 0;
          height: 0;
          cursor: auto;
        }
        .dot {
          @include border-radius(10px);
          opacity: 1;
          display: inline-block;
          position: relative;
          float: left;
          background-color: $colorDetPrimary;
          height: 4px;
          width: 4px;
          &.second, &.third {
            margin-left: 5px;
          }
        }
        &:hover .dot {
          background-color: $colorDetSecond;
        }
      }
    }

    .proveedores-content {
      padding-top: 6px;
      font-family: $font;
      &.slideup {
        @include slideup();
      }
      &.slidedown {
        @include slidedown(240px);
      }
      .elements-box {
        display: inline-block;
        width: 100%;
      }
      .element-container {
        display: table;
        vertical-align: middle;
        width: 43%;
        height: 48px;
        margin-right: 7%;
        margin-bottom: 7px;
        padding-left: 5px;
        float: left;
        border-bottom: 1px solid $colorDetBorderDark;
        & > div {
          display: table-cell;
          vertical-align: middle;
        }
        &.right {
          margin-right: 0;
          margin-left: 7%;
        }
        & > .text-container {
          font-size: 14px;
        }
        i {
          float: right;
          cursor: pointer;
        }
      }

      .icon-ex-container {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 44px;
        i {
          cursor: pointer;
        }
      }


      // MODULE ALERTS
      .module {
        margin-top: 36px;
        left: 0;
        color: $colorDetPenta;
        &.right {
          left: auto;
          right: 0;
        }

        .module-inner-content{
          border-color: $colorModBorderDark;
          &::before {
              @include triangle(0, 10px, 10px, 10px, $colorModBorderDark);
              top: 1px;
              right: 17px;
              left: auto;
          }
          &::after {
              @include triangle(0, 9px, 9px, 9px, $colorModBack);
              top: 2px;
              right: 18px;
              left: auto;
          }
        }
      }

    }
  }
}
