.progress {
    @include border-radius(20px);
    background-color: $grey900;
    height: 25px;
    margin: 10px 0;
    box-shadow: none;
}

.progress-bar {
	@include border-radius-separate(0, 20px, 0, 20px);
	float: right;
  box-shadow: none;
}

.triangulo_izq {
    width: 0;
    height: 0;
    border-bottom: 14px solid transparent;  /* left arrow slant */
    border-top: 13px solid transparent; /* right arrow slant */
    border-right:14px solid $black; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    float: right;
}

.values-progress-bar {
    overflow: hidden;
    height: 40px;
    .value {
        font-weight: bold;
        font-size: 25px;
    }
    .pull-left {
        text-align: left;
        color: $black;
    }
    .pull-right {
        text-align: right;
        .value {
            color: $black;
        }
    }
}
