.sms-verify {
    .card-table {
        padding: 0 30px;
        border-top: 2px solid $white;
    }
    .card-cell  {
        padding-top: 13px;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        &:first-child {
            border-left: 0;
        }
        &:last-child {
            border-right: 0;
        }
    }
    .card-info {
        h1 {
            font-weight: $fontWeightLight;
            font-size: 48px;
            text-align: center;
            word-spacing: -6px;
            letter-spacing: -1px;
            color: $green500;
            margin-top: 10px;
            margin-bottom: 18px;
        }
        .type {
            font-size: 16px;
            color: $black-800;
            margin-bottom: 2px;
        }
        .value {
            font-weight: $fontWeightNormal;
            font-size: 24px;
            color: $grey550;
            letter-spacing: -1px;
            margin-bottom: 13px;
        }
        p {
            margin-bottom: 7px;
        }
        max-width: 647px;
        margin: 0 auto 16px;
        background: $grey-100;
        padding: 10px 0 0;
    }
    .sms-info {
        p {
            font-weight: $fontWeightNormal;
            font-size: 16px;
            color: $black-800;
            margin-bottom: 16px;
        }
    }
    .btn {
        max-width: 266px;
    }
    @media(min-width: $screen-desktop) {
        .btn__close {
            float: right;
            margin-right: 44px;
        }
        .btn__accept {
            margin-left: 44px;
        }
        a {
            padding: 10px 0;
            display: inline-block;
        }
    }
    @media(max-width: $screen-sm-max) {
        .card-info {
            margin-bottom: 28px;
        }
        .sms-info {
            padding: 61px 0 68px;
            max-width: 647px;
            margin: 0 auto;
            p {
                font-size: 22px;
                margin-bottom: 31px;
            }
        }
        a {
            display: block;
            text-align: center;
        }
        .btn__accept {
            margin-top: 15px;
            margin-bottom: 27px;
        }
    }
    @media(max-width: $screen-xs-max) {
        .card-info {
            h1 {
                font-size: 24px;
            }
            .type {
                font-size: 14px;
            }
            .value {
                font-size: 16px;
            }
        }
        .sms-info {
            max-width: 266px;
            margin: 0 auto;
            padding: 5px 0;
            p {
                font-size: 15px;
                margin-bottom: 19px;
            }
        }
    }
}