.icon-download {
	background: transparent url("../images/sprite.png") no-repeat 0px 0px;
	padding: 9px 20px;
}

.icon-close {
	background: transparent url("../images/sprite.png") no-repeat -41px -16px;
	padding: 10px 10px;
}

.icon-download-big {
	background: transparent url("../images/sprite.png") no-repeat scroll 5px -32px;
	padding: 35px;
}

.icon-sms {
	background: transparent url("../images/sprite.png") no-repeat scroll -61px 1px;
	padding: 2px 12px;
}

.icon-final-step {
	background: transparent url("../images/sprite.png") no-repeat scroll -64px -39px;
	padding: 20px 35px;
	display: inline;
}

.icon-detail-prestamo {
    background: transparent url("../images/sprite.png") no-repeat scroll -85px 2px;
    padding: 6px 14px;
}

.icon-close-red {
    background: transparent url("../images/sprite.png") no-repeat scroll -62px -20px;
    padding: 2px 9px;
}

.icon-check {
	background: transparent url("../images/sprite.png") no-repeat scroll -110px -20px;
	padding: 2px 11px;
}

.icon-pdf-times {
    background: transparent url("../images/sprite.png") no-repeat scroll -43px -103px;
    padding: 22px;
}
.icon-pdf-download-white {
    background: transparent url("../images/sprite.png") no-repeat scroll 2px -101px;
    padding: 22px;
}
.icon-pink {
    background: transparent url("../images/sprite.png") no-repeat scroll -47px -146px;
    padding: 13px 20px;
}
.icon-calendar {
    background: transparent url("../images/sprite.png") no-repeat scroll -116px 2px;
    padding: 3px 7px;
    margin-right: 5px;
}
.icon-car-red {
	background: transparent url("../images/sprite.png") no-repeat scroll 5px -150px;
	padding: 12px 24px;
}
.icon-car-white {
	background: transparent url("../images/sprite.png") no-repeat scroll 5px -177px;
	padding: 12px 24px;
}
.icon-edit {
	background: transparent url("../images/sprite.png") no-repeat scroll -97px -152px;
  padding: 5px 12px;
	&.icon-hover {
		background: transparent url("../images/sprite.png") no-repeat scroll -97px -174px;
	}
}
.icon-check-circle {
    background: transparent url("../images/sprite.png") no-repeat scroll -136px -3px;
    padding: 10px 16px;
		&.icon-hover {
			background: transparent url("../images/sprite.png") no-repeat scroll -170px -3px;
		}
}
.icon-return-circle {
	background: transparent url("../images/sprite.png") no-repeat scroll -136px -36px;
	padding: 10px 16px;
	&.icon-hover {
		background: transparent url("../images/sprite.png") no-repeat scroll -170px -36px;
	}
}
.icon-calendar-new {
    background: transparent url("../images/sprite.png") no-repeat scroll -170px -168px;;
    padding: 10px 13px;
		&.icon-hover {
				background: transparent url("../images/sprite.png") no-repeat scroll -138px -168px;
		}
}
