.verisign {
    text-align: right;
    img {
        height: 48px;
        @media(max-width: $screen-xs-max) {
            height: 35px;
        }
    }
}

.verisign__ctablet {
    @media(min-width: $screen-desktop) {
        margin-top: -30px;
    }
    @media(max-width: $screen-sm-max) {
        text-align: center;
        margin-top: 65px;
    }
    @media(max-width: $screen-xs-max) {
        text-align: center;
        margin-top: 45px;
    }
}

.verisign__cphone {
    @media(max-width: $screen-xs-max) {
        text-align: center;
        margin-top: 65px;
    }
}