{% extends "/base/_base.html" %}
{% block content %}
<div class="container_general" id="dashboard">
    <DIV class="zonaNotificaciones"><BR>
        <DIV class="container">
            <DIV class="caja_notificaciones  ok ">
                <DIV class="titular">
                    <SPAN></SPAN>
                    <A><SPAN></SPAN></A>
                    <FORM action="/coinc/menu-inicio" method="post">
                        <A><A class="ui-commandlink cerrar-notificacion visible" href="https://was1.pre.bankinter.bk:8443/coinc/menu-inicio#"></A>
                        <INPUT type="hidden" value="1"/>
                        <INPUT type="hidden" value="e6nO04VxLYgJKhDs/Tyf+MGmW4i8wzipjZq9w+fLvgpIak41hmaZ3scEjhR/3foGcFvg1LWDHGqdH0LN1GJul6gsQLjYhwUC44anbMTDqoamMmksylNsCA1NZOE22h8TMG0++C/4QKDxZNdS"/>
                    </FORM>
                </DIV>
                <DIV class="contenido mostrar-menos alertas_genericas">Hemos cargado el
                    <B>primer recibo de <STRONG>EDICIONES EL PAIS, S.L.</STRONG></B> por importe de
                    <STRONG>57,10 €</STRONG> en la caja COINC.<BR>Asignado en la categoría Ocio y
                    deporte y con periodicidad mensual que puedes cambiar.
                </DIV>
                <DIV class="puntos_suspensivos no-visible">...</DIV>
                <div class="confirm-container">
                    <span class="confirm-text hidden">Tu domiciliación ha sido cambiada</span>
                </div>
                <DIV class="botonera-selector">
                    <div class="dropdown-container budget">
                        <div class="dropdown-head">
                            <span class="text-head">Vivienda</span>
                        </div>
                        <div class="dropdown-content">
                            <ul class="dropdown-list hidden">
                                <li><span>Formación</span></li>
                                <li><span>Tarjeta</span></li>
                                <li><span>Seguros</span></li>
                                <li><span>Otros</span></li>
                                <li><span>Educación</span></li>
                                <li><span>Préstamos</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dropdown-container monthly">
                        <div class="dropdown-head">
                            <span class="text-head">Mensual</span>
                        </div>
                        <div class="dropdown-content">
                            <ul class="dropdown-list hidden">
                                <li><span>Bimensual</span></li>
                                <li><span>Trimestral</span></li>
                                <li><span>Semestral</span></li>
                                <li><span>Anual</span></li>
                                <li><input type="text" class="input-month"/></li>
                            </ul>
                        </div>
                    </div>
                    <div class="check-selection">
                        <div class="icon-container">
                            <i class="icon-check"></i>
                        </div>
                    </div>
                </DIV>
            </DIV>
            <DIV class="caja_notificaciones  aviso ">
                <DIV class="titular">
                    <SPAN></SPAN>
                    <A>
                        <SPAN></SPAN>
                    </A>
                    <FORM action="/coinc/menu-inicio" method="post" novalidate="novalidate">
                        <A class="ui-commandlink cerrar-notificacion visible" href="https://was1.pre.bankinter.bk:8443/coinc/menu-inicio#">
                        </A>
                        <INPUT type="hidden" value="1"/>
                        <INPUT type="hidden" value="e6nO04VxLYgJKhDs/Tyf+MGmW4i8wzipjZq9w+fLvgpIak41hmaZ3scEjhR/3foGcFvg1LWDHGqdH0LN1GJul6gsQLjYhwUC44anbMTDqoamMmksylNsCA1NZOE22h8TMG0++C/4QKDxZNdS"/>
                    </FORM>
                </DIV>
                <DIV class="contenido mostrar-menos">
                    <STRONG>CLARA MATILDE ROMBAL
                        LARRAÑAGA
                    </STRONG>, administrador de la meta <STRONG>Nuestro bebé</STRONG>, ha
                    retirado 3,00€ de la meta colectiva el 31/05/2016.
                </DIV>
                <DIV class="puntos_suspensivos no-visible">...</DIV>
                <DIV class="botonera">
                    <A href="https://was1.pre.bankinter.bk:8443/coinc/menu-inicio#">
                        <SPAN class="alternar-btn mas no-visible"></SPAN>
                    </A>
                    <DIV class="acciones-formulario"></DIV>
                </DIV>
            </DIV>
        </DIV>
    </DIV>
    <DIV class="test-zona">
    </DIV>
</div>
{% endblock %}
