{% extends "/base/_base.html" %}
{% from "/components/_verising.html" import visa as verising %}
{% from "/components/_warning.html" import message %}

{% block content %}
	{{ message('La autenticación de tu tarjeta no se ha podido realizar.',
		'<p><span>Si continúa el error,</span> <span>revisa que tu tarjeta no haya caducado o no esté operativa.</span></p>
		<p><span>Para cualquier consulta,</span> <span>llama al teléfono gratuito  902 88 30 15</span> <span>o entra en www.coinc.es</span></p>',
		'Cerrar'
	) }}
	{{ verising() }}
{% endblock %}