{% extends "/base/_base.html" %}
{% from "/components/_verising.html" import visa as verising %}
{% from "/components/_warning.html" import message %}

{% block content %}
	{{ message('La autenticación de tu tarjeta no se ha podido realizar.',
		'<p>Si continúa el error,<br /> revisa que tu tarjeta no haya caducado o no esté operativa.</p>
		<p>Para cualquier consulta,<br /> llama al teléfono gratuito  902 88 30 15<br /> o entra en www.coinc.es</p>',
		'Cerrar'
	) }}
	{{ verising() }}
{% endblock %}