{% extends "/base/_base.html" %}

{% block content %}
<div class="secundary-bg pdt-40 pdb-40">
  <div class="container container_custom">
      <div class="banner banner__image_right">
        <div class="banner__content banner__content_right">
          <span class="title">CLUB COINC</span>
          <span class="subtitle">Encuentra los mejores descuentos para
          tus compras.</span>
        </div>
      </div>
      <div class="banner banner__image_left">
        <div class="banner__content banner__content_left">
          <span class="title">CHEQUE AMAZON</span>
          <span class="subtitle">Para cualquier compra que realices en la tienda
          de amazon.es, llévate un 4% de regalo.</span>
        </div>
      </div>
  </div>
</div>
{% endblock %}
