{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_card-info.html" as cardInfo %}
{% import "components/_input-pin-code.html" as inputCode %}

{% extends "/base/_base.html" %}

{% block content %}
  {{ cardInfo.content('pdt-45 pdb-45', 'YOLANDA ALONSO', '4966,43**.***.4006', 'CONSULTAR PIN') }}
  {{ textBlock.text('pdt-70 pdb-70', 'Introduce el código que te hemos enviado al móvil para visualizar tu PIN en pantalla.') }}
  {{ inputCode.content('', '', 'Ver PIN') }}
{% endblock %}
