{% import "/components/_title-text-multicolor.html" as textBlock %}

{% extends "/base/_base.html" %}

{% block content %}

  <div class="secundary-bg">
    {{ textBlock.text('Pide ya tu ', 'tarjeta COINC', 'Tenla siempre a mano para tus', 'gastos del día a día.', 'pdb-30') }}

    <div class="container container_custom">
      <p class="tiles-banner__title pdb-40">Decide cómo quieres pagar</p>
      <div class="tiles-banner">
        <div class="tbanner tbanner_ribbon">
          <div class="tbanner__content">
            <span class="title">Al contado</span>
            <span class="subtitle">Con una comisión anual de 30€</span>
          </div>
        </div>
        <div class="tbanner">
          <div class="tbanner__content">
            <span class="title">En cómodos plazos</span>
            <span class="subtitle">Paga como quieras. Sin comisión</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container container_custom">
      <div class="buttons-group pdt-60 pdb-90">
        <div class="halfcol">
          <button class="btn btn-default pull-right" type="reset" name="button">Cancelar</button>
        </div>
        <div class="halfcol">
          <button class="btn btn-primary pull-left" type="submit" name="button">Solicitar</button>
        </div>
      </div>
    </div>

  </div>

  <section class="advantages pdt-80 pdb-80">
    <h2 class="advantages__title mt-50">Conoce todas las ventajas</h2>
    {% include "/includes/_tiles-grid.html" %}
    <p class="advantages__clarification">
      * Devolución anual. TAE del 25,34% aplicado sobre todas las compras
      aplazadas. Tipo de interés nominal 22,80%. Para una compra por importe de
      500€ realizada con pago aplazado a través de 11 cuotas de 46,99€, importe
      total adeudado 565,02€.
    </p>
    <p class="advantages__legal">
      Financiación ofrecida por Bankinter Conumer Finance EFC., SA., Establecimiento
      Financiero de Crédito inscrito en el Banco de España bajo el nº8832 con
      domicilio social en Avda. de Bruselas 12 28108 Alcobendas Madrid e inscrita
      en el Registro Mercantil de Madrid al Tomo 22.729, Folio 181, Hoja número
      M-259543 y con CIF número A82650672.
    </p>
  </section>

  {% include "/includes/_select-payment.html" %}
{% endblock %}
