{% import "/components/_title-text-multicolor.html" as textBlock %}
{% import "/components/_input-slider.html" as slider %}
{% import "/components/_paginator.html" as paginator %}
{% import "components/_progress-step-bar.html" as progressStepBar %}
{% extends "/base/_base.html" %}

{% block content %}
{{ progressStepBar.bar(2, 1) }}
<section class="secundary-bg">
  {{ textBlock.text('Paga como quieras ', 'sin comisión', 'Elige la forma de pago que prefieras', '') }}
</section>

{% include "/includes/_select-payment.html" %}

<div class="secundary-bg text-center pdt-70 pdb-100">
  {{ slider.slider(2.50, 99, 2.50, 0.01, '%', '', 'percentageSlider', 'no') }}
  {{ slider.slider(100, 500, 150, 1, '€', '', 'quantitySlider', 'no') }}
  {{ paginator.set('1','2','mt-50 mb-20') }}
  <button class="btn btn-primary" type="submit" name="button">Continuar</button>
  <p class="clarification mt-70">
    Las cantidades aplazadas reducen el límite de su tarjeta en los siguientes
    meses hasta su pago total.
  </p>
  <p class="clarification">
    El tipo de interés nominal que se aplica en
    el pago aplazado, es el marcado en el contrato de tu tarjeta de crédito que
    puedes consultar en <a href="#">Contratos y notificaciones de la web.</a>
  </p>
</div>

{% endblock %}
