{% extends "/base/_base.html" %}

{% block content %}
<div class="container container_custom">
  <div class="dashboard">
    <div class="dashboard__item dashboard__item_col_1 dashboard__item_card_coinc">
      <img src="images/card.png" alt="coinccard" class="img-responsive" />
    </div>
    <div class="dashboard__item dashboard__item_col_1"></div>
    <div class="dashboard__item dashboard__item_col_1">
      <div class="card-addons">
        <p>¿Aún no pagas con tu móvil?</p>
        <div class="btn-group clearfix">
          <div class="halfcol">
            <button class="btn btn-default pull-right">Descúbrelo</button>
          </div>
          <div class="halfcol">
            <button class="btn btn-default pull-left">Descargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
