{% extends "/base/_base.html" %}

{% block content %}
<div class="container container_custom pdt-50">
  <div class="dashboard">
    <div class="dashboard__item dashboard__item_col_1 dashboard__item_card_coinc">
      <img src="images/card.png" alt="coinccard" class="img-responsive" />
    </div>
    <article class="dashboard__item dashboard__item_col_1">
      <a href="#" class="abstract-detail-card">
        <header class="abstract-detail-card__info abstract-detail-card__info_circle_card">
          <h2>Visa Oro</h2>
          <p class="abstract-detail-card__value">
            <span class="abstract-detail-card__number">1200</span>
            <span class="abstract-detail-card__decimal">,00</span>
            <span class="abstract-detail-card__symbol">€</span>
          </p>
        </header>
        <div class="data-progress">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <p class="abstract-detail-card__value">
            <span class="abstract-detail-card__number">550</span>
            <span class="abstract-detail-card__decimal">,00</span>
            <span class="abstract-detail-card__symbol">€</span>
          </p>
        </div>
        <footer>Sept 2016</footer>
      </a>
    </article>
    <div class="dashboard__item dashboard__item_col_1"></div>
  </div>
</div>
{% endblock %}
