{% extends "/base/_base.html" %}

{% block content %}
<div class="secundary-bg">
  <div class="container container_custom pdt-50 pdb-50">
    <div class="dashboard">
      <div class="dashboard__item dashboard__item_col_1 dashboard__item_card_coinc">
        <img src="images/card.png" alt="coinccard" class="img-responsive" />
      </div>
      <article class="dashboard__item dashboard__item_col_1">
        {% include "/include/_abstract-detail-card.html
      </article>
      <div class="dashboard__item dashboard__item_col_1"></div>
    </div>
  </div>
</div>
{% endblock %}
