{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_card-info.html" as cardInfo %}
{% import "components/_title-multicolor.html" as titleMulticolor %}
{% import "components/_input-pin-code.html" as inputCode %}

{% extends "/base/_base.html" %}

{% block content %}
  {{ cardInfo.content('pdt-45 pdb-45', 'YOLANDA ALONSO', '4966,43**.***.4006', 'BLOQUEAR MI TARJETA') }}
  {{ titleMulticolor.title('', 'Verificación') }}
  {{ textBlock.text('pdt-30 pdb-30', 'Introduce el código que te hemos enviado al móvil para completar el bloqueo de tu tarjeta.') }}
  {{ inputCode.content('pd-75', 'true', 'Bloquear') }}

{% endblock %}
