{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_card-info.html" as cardInfo %}
{% import "/components/_address-to-send.html" as sendTo %}
{% import "components/_paginator.html" as paginator %}
{% import "components/_title-multicolor.html" as titleMulticolor %}
{% extends "/base/_base.html" %}

{% block content %}
  {{ cardInfo.content('pdt-45 pdb-45', 'YOLANDA ALONSO', '4966,43**.***.4006', 'BLOQUEAR MI TARJETA') }}
  {{ titleMulticolor.title('Indica el', 'motivo') }}
  {{ textBlock.text('pdt-30 pdb-30', 'Por favor, indica por qué quieres bloquear tu tarjeta.') }}
  <div class="secundary-bg">
    <div class="container">
      {% include "/includes/_select-reason.html" %}
    </div>
  </div>
  <section class="address-section">
    <div class="address-to-send">
      <div class="secundary-bg">
        <h3 class="text-center">Aquí recibirás tu nueva tarjeta</h3>
      </div>
      {{ sendTo.address('Calle Orense 18, 8ºA', '28020 Madrid', 'MADRID - España') }}
    </div>

    <div class="change-address-form hidden">
      <div class="secundary-bg">
        <h3 class="text-center">Introduce tus datos para que te enviemos aquí tu nueva tarjeta</h3>
      </div>
      <div class="form-container">
        {% include "/includes/_form-address.html" %}
      </div>
    </div>

    {{ paginator.set('1','2','') }}

    <div class="container text-center">
      <div class="clearfix">
        <div class="halfcol">
          <button class="btn btn-default pull-right" type="reset" name="button">Atrás</button>
        </div>
        <div class="halfcol">
          <button class="btn btn-primary pull-left" type="submit" name="button">Continuar</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
