{% import "/components/_text-green-block.html" as textBlock %}
{% import "/components/_title-multicolor.html" as titleMulticolor %}
{% extends "/base/_page.html" %}

{% block content %}
{{ titleMulticolor.title('Listado de', 'páginas','') }}
<section class="pdb-30">
  {{ textBlock.text('', 'Activar mi tarjeta') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="active-card.html">
        <span>Activación de tarjeta <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="actived-card.html">
        <span>Tarjeta activada <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Bloquear mi tarjeta') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="disable-card.html">
        <span>Bloquear Tarjeta <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="disable-card-page2.html">
        <span>Bloquear Tarjeta - Introducir código <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
      <a class="list-group-item" href="disabled-card.html">
        <span>Tarjeta bloqueada <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 3</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Consultar PIN') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="checkpin-code.html">
        <span>Solicitar PIN <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="showpin-code.html">
        <span>Ver PIN <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Contratar tarjeta') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="contract-card.html">
        <span>Contratar Tarjeta <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 0</span>
      </a>
      <a class="list-group-item" href="contract-card-page1.html">
        <span>Contratar Tarjeta - Forma de pago <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="contract-card-page2.html">
        <span>Contratar Tarjeta - Introducir código <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
      <a class="list-group-item" href="contract-card-final.html">
        <span>Contratar Tarjeta <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 3</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Dashboard') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="dashboard.html">
        <span>Dashboard <span class="label label-primary">Ok</span></span>
        <span class="badge">Todos los casos</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Detalle tarjeta') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="card-detail.html">
        <span>Detalle tarjeta <span class="label label-danger">No ok</span></span>
        <span class="badge">Vista</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Mi tarjeta no funciona') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="card-not-workin-1.html">
        <span>Mi tarjeta no funciona - Dirección <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="card-not-workin-2.html">
        <span>Mi tarjeta no funciona - Introducir código <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
      <a class="list-group-item" href="card-not-workin-3.html">
        <span>Mi tarjeta no funciona - Confirmación <span class="label label-primary">Ok</span></span>
        <span class="badge">Paso 3</span>
      </a>
    </div>
  </div>
</section>
<section class="pdb-30">
  {{ textBlock.text('', 'Modificar límites y condiciones') }}
  <div class="container container_custom pdt-30 pdb-30">
    <div class="list-group">
      <a class="list-group-item" href="modify-card-conditions-1.html">
        <span>Modificar límites y condiciones - Datos <span class="label label-danger">No ok</span></span>
        <span class="badge">Paso 1</span>
      </a>
      <a class="list-group-item" href="modify-card-conditions-2.html">
        <span>Modificar límites y condiciones - Introducir código <span class="label label-danger">No ok</span></span>
        <span class="badge">Paso 2</span>
      </a>
      <a class="list-group-item" href="modify-card-conditions-3.html">
        <span>Modificar límites y condiciones - Confirmación <span class="label label-danger">No ok</span></span>
        <span class="badge">Paso 3</span>
      </a>
      <a class="list-group-item" href="modify-card-conditions-3-1.html">
        <span>Modificar límites y condiciones - Confirmación 2 <span class="label label-danger">No ok</span></span>
        <span class="badge">Paso 3</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
