{% import "components/_progress-step-bar.html" as progressStepBar %}
{% import "/components/_card-info.html" as cardInfo %}
{% import "/components/_input-slider.html" as slider %}
{% import "/components/_paginator.html" as paginator %}

{% extends "/base/_base.html" %}
{% block content %}
  {{ progressStepBar.bar(2, 1) }}
  {{ cardInfo.content('pdt-45 pdb-45', 'YOLANDA ALONSO', '4966,43**.***.4006', 'CAMBIAR LÍMITES Y FORMA DE PAGO DE TU TARJETA') }}
  {% include "includes/_payment-amount.html" %}
  {% include '/includes/_paid-form.html' %}

  <div class="slider-content text-center pdt-45 pdb-100">
    {{ slider.slider(2.5, 99, 2.5, 0.1, '%', '', 'percentageSlider', 'no') }}
    {{ slider.slider(18, 1000, 18, 1, '€', '', 'quantitySlider', 'no') }}
    <p class="clarification mt-70">
      Las cantidades aplazadas reducen el límite de su tarjeta en los siguientes
      meses hasta su pago total.
    </p>
    <p class="clarification">
      El tipo de interés nominal que se aplica en
      el pago aplazado, es el marcado en el contrato de tu tarjeta de crédito que
      puedes consultar en <a href="#">Contratos y notificaciones de la web.</a>
    </p>
    {{ paginator.set('1','2','mt-30 mb-30') }}
    <button class="btn btn-primary" type="submit" name="button">Continuar</button>
  </div>
{% endblock %}
